Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

rename ibc module name for autocli fixes
  app/app.go
Due: none

ci: fix SUT
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: re-enable trigger on PR and push
  .github/workflows/software-upgrade-test.yml
Due: none

chore: fix some function names in comment
  x/leveragelp/keeper/pool.go
  x/perpetual/keeper/pool.go
  x/perpetual/types/calc_funding_rate.go
  x/tradeshield/keeper/pending_spot_order.go
Due: none

chore: fix some function names in comment (#1038)
  x/leveragelp/keeper/pool.go
  x/perpetual/keeper/pool.go
  x/perpetual/types/calc_funding_rate.go
  x/tradeshield/keeper/pending_spot_order.go
Due: none

fix: swap DenomIn and DenomOut in order execution functions and replace MinAmount with MaxAmount
  x/tradeshield/keeper/pending_spot_order.go
Due: none

swap by denom test for out route
  x/amm/keeper/msg_server_swap_by_denom_test.go
Due: amm_transactions

add more amm tests
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
Due: amm_keeper

fix swap-by-denom response
  x/amm/keeper/msg_server_swap_by_denom.go
Due: amm_transactions

adding forge for mainnet
  forge/forge.mainnet.json
Due: none

fixing typo
  forge/forge.mainnet.json
  forge/forge.testnet.json
Due: none

adding forge for mainnet (#1041)
  forge/forge.mainnet.json
Due: none

[Dev-19] Tier package keeper coverage was increased (#1006)
  x/tier/keeper/keeper_test.go
  x/tier/keeper/msg_server_set_portfolio_test.go
  x/tier/keeper/query_calculate_discount_test.go
  x/tier/keeper/query_get_amm_price_test.go
  x/tier/keeper/query_get_consolidated_price_test.go
  x/tier/keeper/query_get_users_pool_data_test.go
  x/tier/keeper/query_leverage_lp_total_test.go
  x/tier/keeper/query_liquid_total_test.go
  x/tier/keeper/query_params_test.go
  x/tier/keeper/query_perpetual_test.go
  x/tier/keeper/query_rewards_total_test.go
  x/tier/keeper/query_staked_pool_test.go
  x/tier/keeper/query_staked_test.go
Due: tier_transactions, tier_keeper, tier_queries

ci: auto retrieve latest post snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

fix slippage amount
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: none

Ci/fix sut (#1037)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

fix tests
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: perpetual_queries

change slippage values
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: amm_transactions, amm_keeper

slippage updates
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: none

[Amm]: Fix slippage amount (#1042)
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: amm_transactions, amm_keeper, perpetual_queries

Fix swap command and enhance balance handling
  x/amm/client/cli/tx_swap_by_denom.go
  x/amm/keeper/msg_server_swap_by_denom.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/types/expected_keepers.go
Due: amm_transactions, tradeshield_transactions

remove
  api/elys/tokenomics/inflation_entry.pulsar.go
  proto/elys/tokenomics/inflation_entry.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/inflation_entry.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/transferhook/types/query.pb.go
Due: none

update tests
  x/estaking/keeper/abci_test.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
  x/tokenomics/client/cli/query_time_based_inflation_test.go
  x/tokenomics/genesis_test.go
  x/tokenomics/keeper/msg_server_genesis_inflation_test.go
  x/tokenomics/keeper/msg_server_time_based_inflation_test.go
  x/tokenomics/migrations/v2_migration.go
  x/tokenomics/types/genesis_test.go
  x/tokenomics/types/messages_genesis_inflation.go
  x/tokenomics/types/messages_genesis_inflation_test.go
  x/tokenomics/types/messages_time_based_inflation.go
  x/tokenomics/types/messages_time_based_inflation_test.go
Due: estaking_lifecycle, masterchef_lifecycle, tokenomics_transactions, tokenomics_queries

Refactor CmdCreateSpotOrder to correct base and quote denomination assignment
  x/tradeshield/client/cli/tx_spot_order.go
Due: none

Fix swap command and enhance balance handling (#1043)
  x/amm/client/cli/tx_swap_by_denom.go
  x/amm/keeper/msg_server_swap_by_denom.go
  x/tradeshield/client/cli/tx_spot_order.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/types/expected_keepers.go
Due: amm_transactions, tradeshield_transactions

migrate
  api/elys/tokenomics/time_based_inflation.pulsar.go
  proto/elys/tokenomics/time_based_inflation.proto
  x/tokenomics/keeper/time_based_inflation.go
  x/tokenomics/migrations/v3_migration.go
  x/tokenomics/module.go
  x/tokenomics/types/time_based_inflation.pb.go
Due: none

add a check for weight worse
  x/amm/types/swap_out_amt_given_in.go
Due: none

more changes
  x/amm/keeper/query_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/masterchef/keeper/apr_denom.go
Due: amm_queries

Add get-heighliner target to Makefile and update CI workflow to include it
  .github/workflows/test.yml
  Makefile
Due: none

Add end-to-end testing workflow and update unit testing workflow
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

ci: fix e2e
  .github/workflows/e2e.yml
Due: none

Enhance CreateSpotOrder to emit events and return OrderId on market buy execution
  x/tradeshield/keeper/msg_server_spot_order.go
Due: tradeshield_transactions

adding airdrop structure
  api/elys/commitment/airdrop.pulsar.go
  x/commitment/types/airdrop.pb.go
Due: none

Enhance CreateSpotOrder to emit events and return OrderId on market b… (#1045)
  x/tradeshield/keeper/msg_server_spot_order.go
Due: tradeshield_transactions

updating version
  app/setup_handlers.go
Due: none

adding test cases
  x/commitment/keeper/airdrops_test.go
Due: none

Add airdrop query tests
  x/commitment/client/cli/query_airdrop_test.go
Due: commitment_queries
