Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

ci: use mainnet/testnet snapshots on create snapshot workflow
  .github/workflows/create-release-and-testnet-deploy.yml
  .github/workflows/rollback-devnet.yml
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
  .github/workflows/unit-test-and-coverage.yml
Due: none

add autocli query for masterchef
  x/masterchef/autocli.go
  x/masterchef/client/cli/query.go
  x/masterchef/client/cli/query_apr.go
  x/masterchef/client/cli/query_aprs.go
  x/masterchef/client/cli/query_aprs_test.go
  x/masterchef/client/cli/query_cmds.go
  x/masterchef/client/cli/query_list_fee_info.go
  x/masterchef/client/cli/query_pool_rewards.go
  x/masterchef/client/cli/query_show_fee_info.go
  x/masterchef/module.go
Due: masterchef_queries

add autocli query for oracle module
  x/oracle/autocli.go
  x/oracle/client/cli/query.go
  x/oracle/client/cli/query_asset_info.go
  x/oracle/client/cli/query_band_price_result.go
  x/oracle/client/cli/query_params.go
  x/oracle/client/cli/query_price.go
  x/oracle/client/cli/query_price_feeder.go
  x/oracle/module.go
Due: oracle_queries

add autocli query for perpetual module
  x/perpetual/autocli.go
  x/perpetual/client/cli/query.go
  x/perpetual/client/cli/query_close_estimation.go
  x/perpetual/client/cli/query_get_positions.go
  x/perpetual/client/cli/query_get_positions_by_pool.go
  x/perpetual/client/cli/query_get_positions_by_pool_test.go
  x/perpetual/client/cli/query_get_positions_for_address.go
  x/perpetual/client/cli/query_get_positions_for_address_test.go
  x/perpetual/client/cli/query_get_positions_test.go
  x/perpetual/client/cli/query_get_status.go
  x/perpetual/client/cli/query_get_status_test.go
  x/perpetual/client/cli/query_get_whitelist.go
  x/perpetual/client/cli/query_get_whitelist_test.go
  x/perpetual/client/cli/query_is_whitelisted.go
  x/perpetual/client/cli/query_is_whitelisted_test.go
  x/perpetual/client/cli/query_mtp.go
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/client/cli/query_open_estimation.go
  x/perpetual/client/cli/query_params.go
  x/perpetual/client/cli/query_params_test.go
  x/perpetual/client/cli/query_pool.go
  x/perpetual/client/cli/query_pool_test.go
  x/perpetual/module.go
Due: perpetual_queries

add autocli query for tier module
  x/tier/autocli.go
  x/tier/client/cli/query.go
  x/tier/client/cli/query_calculate_discount.go
  x/tier/client/cli/query_get_all_prices.go
  x/tier/client/cli/query_get_amm_price.go
  x/tier/client/cli/query_get_consolidated_price.go
  x/tier/client/cli/query_get_locked_order.go
  x/tier/client/cli/query_get_users_pool_data.go
  x/tier/client/cli/query_leverage_lp_total.go
  x/tier/client/cli/query_liquid_total.go
  x/tier/client/cli/query_params.go
  x/tier/client/cli/query_perpetual.go
  x/tier/client/cli/query_portfolio.go
  x/tier/client/cli/query_rewards_total.go
  x/tier/client/cli/query_staked.go
  x/tier/client/cli/query_staked_pool.go
  x/tier/module.go
Due: tier_queries

add autocli query for tokenomics module
  x/tokenomics/autocli.go
  x/tokenomics/client/cli/query.go
  x/tokenomics/client/cli/query_airdrop.go
  x/tokenomics/client/cli/query_airdrop_test.go
  x/tokenomics/client/cli/query_genesis_inflation.go
  x/tokenomics/client/cli/query_genesis_inflation_test.go
  x/tokenomics/client/cli/query_params.go
  x/tokenomics/client/cli/query_time_based_inflation.go
  x/tokenomics/client/cli/query_time_based_inflation_test.go
  x/tokenomics/module.go
Due: tokenomics_queries

add autocli query for tradeshield module
  x/tradeshield/autocli.go
  x/tradeshield/client/cli/query.go
  x/tradeshield/client/cli/query_params.go
  x/tradeshield/client/cli/query_pending_perpetual_order.go
  x/tradeshield/client/cli/query_pending_perpetual_order_for_address.go
  x/tradeshield/client/cli/query_pending_perpetual_order_test.go
  x/tradeshield/client/cli/query_pending_spot_order.go
  x/tradeshield/client/cli/query_pending_spot_order_for_address.go
  x/tradeshield/client/cli/query_pending_spot_order_test.go
  x/tradeshield/module.go
Due: tradeshield_queries

add autocli query for transferhook module
  x/transferhook/autocli.go
  x/transferhook/client/cli/query.go
  x/transferhook/module.go
Due: transferhook_queries

ci: use info mainnet/testnet given used branch
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

ci: cache key function of branch
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

ci: use mainnet/testnet snapshots on create snapshot workflow (#1076)
  .github/workflows/create-release-and-testnet-deploy.yml
  .github/workflows/rollback-devnet.yml
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
  .github/workflows/unit-test-and-coverage.yml
Due: none

ci: use mainnet applied endpoint
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

ci: use mainnet applied endpoint (#1077)
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

claim rewards when commitment is changed
  x/estaking/keeper/hooks.go
Due: none

keep fees in pool
  x/perpetual/keeper/mtp_borrow_interest.go
Due: none

remove perp from masterchef
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
Due: masterchef_lifecycle

chore: use errors.New to replace fmt.Errorf with no parameters
  x/amm/types/genesis.go
  x/amm/types/message_feed_multiple_external_liquidity.go
  x/amm/types/message_swap_by_denom.go
  x/amm/types/params.go
  x/amm/types/pool.go
Due: none

handle error
  x/tradeshield/keeper/msg_server_execute_orders.go
Due: tradeshield_transactions

handle
  x/leveragelp/keeper/msg_server_close_positions.go
  x/perpetual/keeper/msg_server_close_positions.go
Due: leveragelp_transactions, perpetual_transactions

Add autocli tx command for amm module
  x/amm/autocli.go
Due: none

add autocli tx for burner module
  x/burner/autocli.go
Due: none

Add autocli tx for commitment module
  x/commitment/autocli.go
Due: none

Add autocli tx for estaking module
  x/estaking/autocli.go
  x/estaking/module.go
Due: none

Add autocli tx for leveragelp module
  x/leveragelp/autocli.go
Due: none

Add autocli tx for masterchef module
  x/masterchef/autocli.go
Due: none

Add autocli tx for oracle module
  x/oracle/autocli.go
Due: none

adding queries for chain and pools tvl
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  proto/elys/masterchef/query.proto
  x/masterchef/client/cli/query.go
  x/masterchef/client/cli/query_cmds.go
  x/masterchef/keeper/query_all_liquidity_pool_tvl.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
  x/tier/types/query.pb.go
Due: masterchef_queries

updating query response
  api/elys/masterchef/query.pulsar.go
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/query_all_liquidity_pool_tvl.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/query.pb.go
Due: masterchef_queries

Add autocli tx for perpetual module
  x/perpetual/autocli.go
Due: none

Add autocli tx for tier module
  x/tier/autocli.go
  x/tier/module.go
Due: none

fix autocli tx in perpetual
  x/perpetual/autocli.go
Due: none

Add autocli tx for tradeshield module
  x/tradeshield/autocli.go
Due: none

[Bug]: Claim rewards when commitment is changed (#1078)
  x/estaking/keeper/hooks.go
Due: none

Buy orders error handling (#1081)
  x/leveragelp/keeper/msg_server_close_positions.go
  x/perpetual/keeper/msg_server_close_positions.go
  x/tradeshield/keeper/msg_server_execute_orders.go
Due: leveragelp_transactions, perpetual_transactions, tradeshield_transactions

migration
  x/tradeshield/migrations/v7_migration.go
  x/tradeshield/module.go
Due: none

comment
  x/perpetual/keeper/close_test.go
Due: none

cleanup and fixes
  x/amm/autocli.go
  x/burner/autocli.go
  x/commitment/autocli.go
  x/epochs/autocli.go
  x/estaking/autocli.go
  x/leveragelp/autocli.go
  x/masterchef/autocli.go
  x/oracle/autocli.go
  x/perpetual/autocli.go
  x/tokenomics/autocli.go
  x/tradeshield/autocli.go
Due: none

review changes
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/mtp_borrow_interest.go
Due: none

add comment
  x/tradeshield/migrations/v7_migration.go
Due: none

Delete orders (#1083)
  x/tradeshield/migrations/v7_migration.go
  x/tradeshield/module.go
Due: none
