Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

add messages
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_perform_action.go
Due: none

rename
  x/tier/keeper/keeper.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_users_pool_data.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/keeper/msg_withdraw.go
Due: tier_keeper, tier_queries

updating burn wallet address
  x/commitment/keeper/msg_server_claim.go
Due: commitment_transactions

Burn Elys from airdrop wallet (#1307)
  x/commitment/keeper/msg_server_claim.go
  x/commitment/migrations/v12_migration.go
  x/commitment/module.go
Due: commitment_transactions

vote
  .github/workflows/vote.yml
Due: none

update readme
  readme.md
Due: none

patch
  x/perpetual/keeper/begin_blocker.go
Due: perpetual_lifecycle

updating goreleaser
  .goreleaser.yaml
Due: none

add query
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/query_grpc.pb.go
  proto/elys/vaults/query.proto
  x/vaults/module/module.go
  x/vaults/types/codec.go
  x/vaults/types/query.pb.go
  x/vaults/types/query.pb.gw.go
Due: none

add positions query for vaults
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/query_vault.go
Due: none

Add query (#1312)
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/query_grpc.pb.go
  proto/elys/vaults/query.proto
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/query_vault.go
  x/vaults/module/module.go
  x/vaults/types/codec.go
  x/vaults/types/query.pb.go
  x/vaults/types/query.pb.gw.go
Due: none

add queries to autocli
  x/vaults/module/autocli.go
Due: none

update readme (#1310)
  .goreleaser.yaml
  readme.md
Due: none

vote
  .github/workflows/vote.yml
  proposal.json
Due: none

add query tests
  x/vaults/keeper/query_vault.go
  x/vaults/keeper/query_vault_test.go
  x/vaults/keeper/unwind.go
Due: none

boiler code for begin blocker and withdraw tests
  x/vaults/keeper/begin_blocker_test.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/keeper/msg_withdraw_test.go
Due: none

implementing order fees
  api/elys/clob/market.pulsar.go
  api/elys/clob/order.pulsar.go
  proto/elys/clob/market.proto
  proto/elys/clob/order.proto
  proto/elys/clob/query.proto
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/fees.go
  x/clob/keeper/liquidations.go
  x/clob/keeper/margin_pnl_test.go
  x/clob/keeper/msg_server_markets.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/prices_test.go
  x/clob/types/market.pb.go
  x/clob/types/order.pb.go
  x/clob/types/trade.go
Due: none

implementing order fees
  x/clob/keeper/fees.go
Due: none

more conflict fixes
  app/preblocker.go
  go.mod
  go.sum
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/calc_out_route_spot_price_test.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/oracle.go
  x/amm/types/amm_price_test.go
Due: amm_transactions

add query to cli
  x/vaults/module/autocli.go
Due: none

withdraw flow
  x/vaults/keeper/begin_blocker_test.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/msg_withdraw_test.go
Due: none

add happy flow tests
  x/vaults/keeper/flow_test.go
  x/vaults/keeper/msg_withdraw.go
Due: none

add address
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/vault.proto
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/types/errors.go
  x/vaults/types/vault.pb.go
Due: none

Vaults (#1313)
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/vault.proto
  x/vaults/keeper/begin_blocker_test.go
  x/vaults/keeper/flow_test.go
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/msg_withdraw_test.go
  x/vaults/keeper/query_vault.go
  x/vaults/keeper/query_vault_test.go
  x/vaults/keeper/unwind.go
  x/vaults/module/autocli.go
  x/vaults/types/errors.go
  x/vaults/types/vault.pb.go
Due: none

remove duplicate event during spot order market buy
  x/tradeshield/keeper/msg_server_spot_order.go
Due: tradeshield_transactions

Remove duplicate event during spot order market buy (#1314)
  x/tradeshield/keeper/msg_server_spot_order.go
Due: tradeshield_transactions

add tests
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/msg_withdraw_test.go
Due: none

fixing open price when adding collateral to an already existing position
  x/perpetual/keeper/open.go
Due: none

fixing model for perpetual counter
  api/elys/perpetual/genesis.pulsar.go
  api/elys/perpetual/pool.pulsar.go
  api/elys/perpetual/query.pulsar.go
  api/elys/perpetual/query_grpc.pb.go
  proto/elys/perpetual/genesis.proto
  proto/elys/perpetual/pool.proto
  proto/elys/perpetual/query.proto
  x/perpetual/autocli.go
  x/perpetual/genesis.go
  x/perpetual/keeper/check_max_open_positions.go
  x/perpetual/keeper/check_max_open_positions_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate_merge_mtp.go
  x/perpetual/keeper/perpetual_counter.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/query_perpetual_counter.go
  x/perpetual/keeper/query_perpetual_counter_test.go
  x/perpetual/keeper/repay.go
  x/perpetual/keeper/reset_store.go
  x/perpetual/keeper/whitelist.go
  x/perpetual/migrations/v17_migration.go
  x/perpetual/migrations/v18_migration.go
  x/perpetual/module.go
  x/perpetual/types/genesis.pb.go
  x/perpetual/types/keys.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/query.pb.gw.go
Due: perpetual_keeper, perpetual_queries

fixing open price func
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/open.go
Due: none

todo
  x/vaults/keeper/begin_blocker.go
Due: none

Perp fixes (#1315)
  api/elys/perpetual/genesis.pulsar.go
  api/elys/perpetual/pool.pulsar.go
  api/elys/perpetual/query.pulsar.go
  api/elys/perpetual/query_grpc.pb.go
  proto/elys/perpetual/genesis.proto
  proto/elys/perpetual/pool.proto
  proto/elys/perpetual/query.proto
  x/perpetual/autocli.go
  x/perpetual/genesis.go
  x/perpetual/keeper/check_max_open_positions.go
  x/perpetual/keeper/check_max_open_positions_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate_merge_mtp.go
  x/perpetual/keeper/perpetual_counter.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/query_perpetual_counter.go
  x/perpetual/keeper/query_perpetual_counter_test.go
  x/perpetual/keeper/repay.go
  x/perpetual/keeper/reset_store.go
  x/perpetual/keeper/whitelist.go
  x/perpetual/migrations/v17_migration.go
  x/perpetual/migrations/v18_migration.go
  x/perpetual/module.go
  x/perpetual/types/genesis.pb.go
  x/perpetual/types/keys.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/query.pb.gw.go
Due: perpetual_keeper, perpetual_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
