Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add comment
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
Due: amm_keeper

Update event name and emit internal swapInfo event without deducting fees (#1411)
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/events.go
  x/amm/types/pool_join_pool.go
Due: amm_keeper

Update validator_tx_fee.go
  app/ante/validator_tx_fee.go
Due: none

Update validator_tx_fee_test.go
  app/ante/validator_tx_fee_test.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

adding in memory order book
  api/elys/clob/tx.pulsar.go
  api/elys/clob/tx_grpc.pb.go
  app/app.go
  go.mod
  proto/elys/clob/tx.proto
  x/clob/abci/proposal.go
  x/clob/abci/vote_extension.go
  x/clob/autocli.go
  x/clob/keeper/batch_operations.go
  x/clob/keeper/keeper.go
  x/clob/keeper/memory_orderbook.go
  x/clob/keeper/msg_server_execute_matched_orders.go
  x/clob/keeper/msg_server_order.go
  x/clob/keeper/order.go
  x/clob/module.go
  x/clob/types/codec.go
  x/clob/types/tx.pb.go
Due: none

adding in memory order book
  x/clob/FINAL_MEMORY_ORDERBOOK.md
  x/clob/MEMORY_ORDERBOOK_OPTIMIZATION.md
  x/clob/POINTER_OPTIMIZATION.md
  x/clob/vote_extension_integration.md
Due: none

making perpetual safety factor per pool
  api/elys/perpetual/params.pulsar.go
  api/elys/perpetual/pool.pulsar.go
  api/elys/perpetual/tx.pulsar.go
  go.work.sum
  proto/elys/perpetual/params.proto
  proto/elys/perpetual/pool.proto
  proto/elys/perpetual/tx.proto
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/get_net_open_interest_test.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_update_enabled_pools.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/keeper/reset_store.go
  x/perpetual/keeper/reset_store_test.go
  x/perpetual/migrations/v19_migration.go
  x/perpetual/migrations/v23_migration.go
  x/perpetual/module.go
  x/perpetual/types/msg_update_enabled_pools.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/pool_test.go
  x/perpetual/types/tx.pb.go
  x/tier/keeper/keeper_test.go
  x/tradeshield/keeper/keeper_test.go
Due: perpetual_transactions, perpetual_lifecycle, perpetual_keeper, tier_keeper, tradeshield_keeper

making perpetual safety factor per pool
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/process_open.go
Due: none

making perpetual safety factor per pool
  x/perpetual/keeper/mtp.go
  x/perpetual/types/params.go
Due: none

making perpetual safety factor per pool (#1412)
  api/elys/perpetual/params.pulsar.go
  api/elys/perpetual/pool.pulsar.go
  api/elys/perpetual/tx.pulsar.go
  go.work.sum
  proto/elys/perpetual/params.proto
  proto/elys/perpetual/pool.proto
  proto/elys/perpetual/tx.proto
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/get_net_open_interest_test.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_update_enabled_pools.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/reset_store.go
  x/perpetual/keeper/reset_store_test.go
  x/perpetual/migrations/v19_migration.go
  x/perpetual/migrations/v23_migration.go
  x/perpetual/module.go
  x/perpetual/types/msg_update_enabled_pools.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/pool_test.go
  x/perpetual/types/tx.pb.go
  x/tier/keeper/keeper_test.go
  x/tradeshield/keeper/keeper_test.go
Due: perpetual_transactions, perpetual_lifecycle, perpetual_keeper, tier_keeper, tradeshield_keeper

splitting perps liquidation in 2 parts
  api/elys/perpetual/types.pulsar.go
  proto/elys/perpetual/types.proto
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/types/types.pb.go
Due: perpetual_transactions

chore: remove redundant word in x/perpetual/spec/02_mechanism.md
  x/perpetual/spec/02_mechanism.md
Due: none

splitting perps liquidation in 2 parts
  api/elys/perpetual/params.pulsar.go
  proto/elys/perpetual/params.proto
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/keeper/repay.go
  x/perpetual/migrations/v23_migration.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/tier/keeper/keeper.go
  x/tier/types/expected_keepers.go
Due: perpetual_queries, tier_keeper

fixing for closing ratio on liquidation
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
Due: none

fixing for closing ratio on liquidation
  x/perpetual/keeper/mtp.go
Due: none

splitting liquidation in 2
  x/perpetual/keeper/add_collateral.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/repay.go
Due: perpetual_transactions

splitting liquidation in 2
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/msg_server_add_collateral_test.go
Due: perpetual_transactions

Create audit.md
  audit/audit.md
Due: none

add Hacken audit
  audit/Hacken_Elys_audit_report.pdf
Due: none

Rename audit.md to readme.md
  audit/readme.md
Due: none

Correcting minimum liabilities ratio check for perps
  x/perpetual/keeper/hooks_amm.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/pool_health_test.go
Due: none

Correcting minimum liabilities ratio check for perps
  x/perpetual/keeper/pool_health_test.go
Due: none

chore: fix some typos in comment
  scripts/test_scripts/leveragelp/query.sh
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/spec/02_mechanism.md
  x/vaults/keeper/vault.go
Due: none

refund
  app/setup_handlers.go
Due: none

chore: fix some typos in comment (#1415)
  scripts/test_scripts/leveragelp/query.sh
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/spec/02_mechanism.md
  x/vaults/keeper/vault.go
Due: none

fixing for SUT
  x/perpetual/migrations/v22_migration.go
Due: none

updating queries
  api/elys/perpetual/query.pulsar.go
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/query_pool.go
  x/perpetual/types/query.pb.go
Due: perpetual_queries

adding new price feeders
  app/setup_handlers.go
Due: none

making first liqudiation closing ratio as param
  api/elys/perpetual/params.pulsar.go
  proto/elys/perpetual/params.proto
  x/perpetual/keeper/force_close.go
  x/perpetual/migrations/v22_migration.go
  x/perpetual/migrations/v23_migration.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
Due: none

adding skip trigger boolean
  x/perpetual/keeper/add_collateral.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_add_collateral_test.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_open.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_close_estimation_test.go
  x/perpetual/keeper/query_get_positions_by_pool_test.go
  x/perpetual/keeper/query_get_positions_for_address_test.go
  x/perpetual/keeper/query_get_positions_test.go
  x/perpetual/keeper/query_mtp_test.go
  x/perpetual/keeper/repay.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/types/expected_keepers.go
Due: perpetual_transactions, perpetual_queries

updating logic for add collateral and close position
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/msg_server_add_collateral.go
Due: perpetual_transactions

refactor: replace []byte(fmt.Sprintf) with fmt.Appendf
  x/amm/types/keys.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: none

updating logic for add collateral and close position
  x/perpetual/keeper/msg_server_add_collateral.go
Due: perpetual_transactions
