Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

fixing int and dec conversions
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/msg_server_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in_test.go
  x/amm/keeper/update_pool_for_swap.go
  x/leveragelp/keeper/position_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils.go
  x/perpetual/client/cli/tx_update_stop_loss.go
  x/perpetual/client/cli/tx_update_take_profit_price.go
Due: leveragelp_queries, amm_transactions

changes for devnet
  app/setup_handlers.go
Due: none

Update apply_join_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
Due: none

fixing int and dec conversions (#1240)
  app/setup_handlers.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/msg_server_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in_test.go
  x/amm/keeper/update_pool_for_swap.go
  x/leveragelp/keeper/position_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils.go
  x/perpetual/client/cli/tx_update_stop_loss.go
  x/perpetual/client/cli/tx_update_take_profit_price.go
Due: leveragelp_queries, amm_transactions

auto deploy to devnet
  .github/workflows/devnet-deploy.yml
Due: none

vote
  .github/workflows/voteDevnet.yml
Due: none

fixing taker fees and weight balance reward queries
  api/elys/amm/query.pulsar.go
  api/elys/leveragelp/query.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/leveragelp/query.proto
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/query_swap_estimation.go
  x/amm/keeper/query_swap_estimation_by_denom.go
  x/amm/types/pool_join_pool.go
  x/amm/types/query.pb.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_queries, amm_queries

join pool fees
  x/amm/types/pool_join_pool.go
Due: none

fix
  x/amm/types/pool_calc_join_pool_shares.go
  x/amm/types/pool_join_pool.go
Due: none

add comment
  x/amm/types/pool_join_pool.go
Due: none

auto deploy to devnet (#1241)
  .github/workflows/devnet-deploy.yml
  api/elys/amm/query.pulsar.go
  api/elys/leveragelp/query.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/leveragelp/query.proto
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/query_swap_estimation.go
  x/amm/keeper/query_swap_estimation_by_denom.go
  x/amm/types/pool_calc_join_pool_shares.go
  x/amm/types/pool_join_pool.go
  x/amm/types/query.pb.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_queries, amm_queries

vote
  .github/workflows/vote.yml
Due: none

optimizing pow 10 function
  utils/math.go
  x/amm/keeper/estimate_price.go
  x/masterchef/keeper/apr_denom.go
  x/oracle/keeper/price.go
  x/tier/keeper/query_get_consolidated_price.go
Due: tier_queries

optimizing power functions
  utils/math.go
  utils/math_test.go
  utils/pow.go
  utils/pow_approx.go
  utils/pow_approx_test.go
  utils/pow_test.go
  x/amm/keeper/query_join_pool_estimation_test.go
  x/amm/types/constants.go
  x/amm/types/pow_approx_test.go
  x/amm/types/pow_test.go
  x/amm/types/solve_constant_function_invariant.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/amm/types/utils.go
  x/amm/types/utils_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
Due: amm_queries

fix test case
  x/leveragelp/keeper/query_get_position_test.go
Due: leveragelp_queries

optimizing further GetDenomPrice
  utils/math.go
  x/oracle/keeper/price.go
Due: none

apr fixes
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/apr_stable_stake.go
Due: none

chore: fix some typos in comment
  codecov.yml
  scripts/test_scripts/masterchef/query.sh
  x/masterchef/keeper/keeper.go
Due: masterchef_keeper

fixing margin and realized PnL settlements
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/liquidations.go
  x/clob/keeper/margin_pnl.go
  x/clob/keeper/margin_pnl_test.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/sub_account.go
  x/clob/types/market.go
  x/clob/types/market_test.go
  x/clob/types/perpetual.go
  x/clob/types/trade.go
Due: none

add doc for SettleMarginAndRPnL
  x/clob/README.md
Due: none

add doc for SettleRealizePnL
  x/clob/README.md
Due: none

apr fixes (#1242)
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/apr_stable_stake.go
Due: none

logging
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/leveragelp/keeper/position_close.go
Due: amm_queries

logging
  app/setup_handlers.go
Due: none

logging
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/pool_join_pool.go
Due: amm_queries

join pool query non oracle pool fix
  x/amm/types/pool_join_pool.go
Due: none

logging values
  x/amm/types/calc_exit_pool.go
  x/amm/types/swap_out_amt_given_in.go
Due: none

logging values
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_swap_estimation_by_denom.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_queries

logging values
  x/amm/types/swap_out_amt_given_in.go
Due: none

logging values
  x/amm/types/calc_out_amt_given_in.go
Due: none

logging values
  x/amm/types/calc_exit_pool.go
Due: none

logging values
  x/amm/keeper/query_exit_pool_estimation.go
Due: amm_queries
