Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add
  x/amm/keeper/keeper_exit_pool.go
Due: amm_keeper

test
  x/tradeshield/keeper/msg_server_update_params_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/params.go
Due: tradeshield_transactions

migration fix (#1185)
  app/app.go
  app/export.go
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  app/oracle.go
  app/preblocker.go
  app/setup_handlers.go
  go.mod
  go.sum
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_stake.go
  x/commitment/keeper/msg_server_unstake.go
Due: commitment_transactions, commitment_keeper

Update command (#1183)
  readme.md
Due: none

fixing test case
  x/stablestake/keeper/msg_server_unbond_test.go
Due: stablestake_transactions

fixing upgrade version
  app/setup_handlers.go
Due: none

Fix max vesting cancellation (#1188)
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
  x/commitment/types/events.go
Due: commitment_transactions

adding interest event attribute
  x/stablestake/keeper/debt.go
Due: none

refactor: use a more straightforward return value (#1160)
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_keeper, amm_queries

updating go versions
  .github/workflows/devnet-deploy.yml
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
  Makefile
Due: none

Add tolerance to limit orders (#1162)
  api/elys/amm/tx.pulsar.go
  api/elys/tradeshield/params.pulsar.go
  proto/elys/amm/tx.proto
  proto/elys/tradeshield/params.proto
  x/amm/keeper/msg_server_swap_by_denom.go
  x/amm/types/tx.pb.go
  x/tradeshield/keeper/msg_server_update_params_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/migrations/v9_migration.go
  x/tradeshield/module.go
  x/tradeshield/types/errors.go
  x/tradeshield/types/params.go
  x/tradeshield/types/params.pb.go
Due: amm_transactions, tradeshield_transactions

add days
  api/elys/amm/query.pulsar.go
  proto/elys/amm/query.proto
  x/amm/keeper/query_pool.go
  x/amm/keeper/track_weight_breaking_slippage.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
Due: amm_queries

x days avg
  api/elys/amm/query.pulsar.go
  api/elys/amm/query_grpc.pb.go
  api/elys/masterchef/query.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/masterchef/query.proto
  x/amm/keeper/query.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/fee_info.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/expected_keepers.go
Due: amm_queries, tier_queries

add to query
  proto/elys/amm/query.proto
  x/amm/autocli.go
Due: none

vote on testnet
  .github/workflows/vote.yml
Due: none

add wasm params in upgrade handler
  app/app.go
  app/setup_handlers.go
Due: none

update
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/migrations/v9_migration.go
Due: stablestake_transactions

deposit denom
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v9_migration.go
Due: none

Weight balance bonus fixes and add events (#1182)
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/query_swap_estimation_by_denom.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/events.go
Due: amm_keeper, amm_queries

adding config for price feeder
  price_feeder/price-feeder-testnet.toml
  price_feeder/price-feeder-us-testnet.toml
  price_feeder/price-feeder-us.toml
  price_feeder/price-feeder.toml
Due: none

renaming files
  price_feeder/price_feeder.toml
  price_feeder/price_feeder_testnet.toml
  price_feeder/price_feeder_us.toml
  price_feeder/price_feeder_us_testnet.toml
Due: none

adding config for price feeder (#1191)
  price_feeder/price_feeder.toml
  price_feeder/price_feeder_testnet.toml
  price_feeder/price_feeder_us.toml
  price_feeder/price_feeder_us_testnet.toml
Due: none

upgrade wasmd module to v0.53.2 from v0.51.0
  go.mod
  go.sum
Due: none

add wasm module's snapshot related code
  app/app.go
Due: none

add contract upload and instantiate script with dummy wasm contract
  scripts/test_scripts/cosmwasm/cw_template.wasm
  scripts/test_scripts/cosmwasm/upload-contract.sh
Due: none

removing mexc and crypto for ojo oracle sources
  app/oracle.go
Due: none

Elys/v2.2.0 (#1178)
  .github/workflows/devnet-deploy.yml
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
  Makefile
  app/setup_handlers.go
  go.mod
  go.sum
  x/amm/migrations/v12_migration.go
  x/perpetual/keeper/close_test.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/msg_server_unbond_test.go
Due: stablestake_transactions

unit test fixes and withdraw reward fix
  x/estaking/keeper/hooks.go
  x/estaking/types/expected_keepers.go
  x/leveragelp/types/msgs_test.go
  x/leveragelp/types/params_test.go
Due: none

removing mexc and crypto for ojo oracle sources (#1192)
  app/oracle.go
Due: none

review updates
  api/elys/amm/query.pulsar.go
  api/elys/amm/query_grpc.pb.go
  proto/elys/amm/query.proto
  x/amm/autocli.go
  x/amm/keeper/query.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
  x/masterchef/keeper/fee_info.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/keys.go
Due: amm_queries, tier_queries

comment
  proto/elys/amm/query.proto
Due: none

add wasmbinding
  app/keepers/keepers.go
  wasmbindings/client/register_custom_plugins.go
  wasmbindings/externals/auth/messenger.go
  wasmbindings/externals/auth/querier.go
  wasmbindings/externals/auth/query_addresses.go
  wasmbindings/types/custom_message_decorator.go
  wasmbindings/types/custom_querier.go
  wasmbindings/types/dispatch_msg.go
  wasmbindings/types/new_query_plugin.go
  wasmbindings/types/types.go
Due: none

add wasmbinding for wasm module
  x/amm/client/wasm/messenger.go
  x/amm/client/wasm/msg_create_pool.go
  x/amm/client/wasm/msg_exit_pool.go
  x/amm/client/wasm/msg_join_pool.go
  x/amm/client/wasm/msg_swap_by_denom.go
  x/amm/client/wasm/msg_swap_exact_amount_in.go
  x/amm/client/wasm/msg_swap_exact_amount_out.go
  x/amm/client/wasm/querier.go
  x/amm/client/wasm/query_balance.go
  x/amm/client/wasm/query_denom_liquidity.go
  x/amm/client/wasm/query_denom_liquidity_all.go
  x/amm/client/wasm/query_exit_pool_estimation.go
  x/amm/client/wasm/query_in_route_by_denom.go
  x/amm/client/wasm/query_join_pool_estimation.go
  x/amm/client/wasm/query_out_route_by_denom.go
  x/amm/client/wasm/query_params.go
  x/amm/client/wasm/query_pool.go
  x/amm/client/wasm/query_pool_all.go
  x/amm/client/wasm/query_slippage_track.go
  x/amm/client/wasm/query_slippage_track_all.go
  x/amm/client/wasm/query_swap_estimation.go
  x/amm/client/wasm/query_swap_estimation_by_denom.go
Due: amm_queries

update scripts
  scripts/test_scripts/cosmwasm/upload-contract.sh
  scripts/test_scripts/vote.sh
Due: none

auto cli update
  x/amm/autocli.go
Due: none

Apr inconsistencies (#1189)
  api/elys/amm/query.pulsar.go
  api/elys/amm/query_grpc.pb.go
  api/elys/masterchef/query.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/masterchef/query.proto
  x/amm/autocli.go
  x/amm/keeper/query.go
  x/amm/keeper/query_pool.go
  x/amm/keeper/track_weight_breaking_slippage.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/fee_info.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/expected_keepers.go
  x/tier/types/keys.go
Due: amm_queries, tier_queries

migration
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v9_migration.go
Due: stablestake_transactions

bumping cosmos sdk and ibc version
  go.mod
  go.sum
Due: none

Stablestake migration for testnet denom (#1193)
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v9_migration.go
Due: stablestake_transactions
