Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

chore: fix some minor issues in comments
  app/preblocker.go
  x/commitment/keeper/commitments_test.go
  x/commitment/keeper/msg_server_vest_liquid_test.go
  x/perpetual/client/cli/tx_open.go
Due: commitment_transactions

[Perpetual]: Add closing price [at execution] (#1369)
  x/amm/types/mocks/oracle_keeper.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/query_close_estimation.go
Due: perpetual_transactions, perpetual_queries

fix
  x/perpetual/keeper/estimate_and_repay.go
Due: none

add taker fee param in perps
  api/elys/perpetual/params.pulsar.go
  go.mod
  go.sum
  proto/elys/perpetual/params.proto
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/perpetual/keeper/amm.go
  x/perpetual/migrations/v21_migration.go
  x/perpetual/module.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
Due: none

set
  x/perpetual/keeper/keeper.go
  x/perpetual/migrations/v21_migration.go
  x/perpetual/types/params.go
Due: perpetual_keeper

fix
  x/perpetual/keeper/query_open_estimation_test.go
Due: perpetual_queries

Fix perp and taker fees calculation during close (#1368)
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

add usdc price in close events
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
Due: perpetual_transactions

Add taker fee param in perps (#1375)
  api/elys/perpetual/params.pulsar.go
  go.mod
  go.sum
  proto/elys/perpetual/params.proto
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/migrations/v21_migration.go
  x/perpetual/module.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
Due: perpetual_keeper, perpetual_queries

Calculate net pnl and add pnl attributes in close events (#1373)
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
Due: perpetual_transactions

address
  x/masterchef/migrations/v7_migration.go
Due: none

taker manager
  x/masterchef/migrations/v7_migration.go
Due: none

add logs
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/types/events.go
Due: perpetual_transactions

[Perpetual]: Add events in perpetual close positions message (#1377)
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/types/events.go
Due: perpetual_transactions

ojo fix
  app/app.go
  app/keepers/keepers.go
Due: none

ojo fix (#1378)
  app/app.go
  app/keepers/keepers.go
Due: none

close at execution price
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: none

comments and fix
  x/leveragelp/keeper/msg_server_close_positions.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: leveragelp_transactions, perpetual_keeper

chore: fix some minor issues in comments (#1374)
  app/preblocker.go
  x/commitment/keeper/commitments_test.go
  x/commitment/keeper/msg_server_vest_liquid_test.go
  x/perpetual/client/cli/tx_open.go
Due: commitment_transactions

emit
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
Due: none

PR 1368 changes https://github.com/elys-network/elys/pull/1368
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

PR 1369 changes https://github.com/elys-network/elys/pull/1369
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/query_close_estimation.go
Due: perpetual_transactions, perpetual_queries

PR 1373 changes https://github.com/elys-network/elys/pull/1373
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
Due: perpetual_transactions

PR 1376 changes https://github.com/elys-network/elys/pull/1376
  api/elys/masterchef/params.pulsar.go
  api/elys/masterchef/tx.pulsar.go
  api/elys/masterchef/tx_grpc.pb.go
  proto/elys/masterchef/params.proto
  proto/elys/masterchef/tx.proto
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/msg_server.go
  x/masterchef/migrations/v7_migration.go
  x/masterchef/module.go
  x/masterchef/types/params.go
  x/masterchef/types/params.pb.go
  x/masterchef/types/params_test.go
  x/masterchef/types/tx.pb.go
Due: masterchef_transactions, masterchef_lifecycle

PR 1377 changes https://github.com/elys-network/elys/pull/1377
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/types/events.go
Due: perpetual_transactions

1379 changes
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none

1380 changes
  x/leveragelp/keeper/msg_server_close_positions.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: leveragelp_transactions, perpetual_keeper

test
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: none

PR 1379 (#1381)
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: none

PR 1380 (#1382)
  x/leveragelp/keeper/msg_server_close_positions.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: leveragelp_transactions, perpetual_keeper

add interest amount event in open consolidate
  x/perpetual/keeper/open_consolidate.go
Due: none

Add comments and fix (#1380)
  x/leveragelp/keeper/msg_server_close_positions.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: leveragelp_transactions, perpetual_keeper

add interest amount in usd and other missing attributes
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
Due: perpetual_transactions

Add interest amount event (#1384)
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
Due: perpetual_transactions
