Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

Update devnet-deploy.yml (#1302)
  .github/workflows/devnet-deploy.yml
Due: none

Update devnet-deploy.yml
  .github/workflows/devnet-deploy.yml
Due: none

add event
  x/commitment/keeper/msg_server_claim.go
  x/commitment/types/events.go
Due: commitment_transactions

Read data & set it on-chain (#1300)
  api/elys/commitment/airdrop.pulsar.go
  api/elys/commitment/params.pulsar.go
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  proto/elys/commitment/airdrop.proto
  proto/elys/commitment/params.proto
  proto/elys/commitment/query.proto
  proto/elys/commitment/tx.proto
  x/commitment/autocli.go
  x/commitment/keeper/msg_server_claim.go
  x/commitment/keeper/msg_server_claim_reward_program_test.go
  x/commitment/keeper/msg_server_update_airdrop_params.go
  x/commitment/keeper/query_rewards_program.go
  x/commitment/keeper/rewards.go
  x/commitment/migrations/rewards_program.go
  x/commitment/migrations/v11_migration.go
  x/commitment/module.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/codec.go
  x/commitment/types/errors.go
  x/commitment/types/events.go
  x/commitment/types/keys.go
  x/commitment/types/params.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions, commitment_queries

add checks for oracle asset info entry
  x/oracle/keeper/msg_server_create_asset_info.go
Due: oracle_transactions

testing
  .github/workflows/create-release.yml
Due: none

error
  x/assetprofile/keeper/query_entry.go
  x/burner/keeper/epoch_hooks.go
Due: assetprofile_queries

add retry and timeout for curl in goreleaser
  .goreleaser.yaml
Due: none

vote
  .github/workflows/vote.yml
Due: none

commitment module
  x/commitment/keeper/commit_liquid_tokens.go
  x/commitment/keeper/deposit_liquid_tokens.go
  x/commitment/keeper/msg_server_uncommit_tokens.go
Due: commitment_transactions

add codec
  x/vaults/keeper/unwind.go
  x/vaults/types/codec.go
Due: none

fix
  x/commitment/keeper/msg_server_vest_liquid_test.go
Due: commitment_transactions

remove gov restriction on asset addition from assetprofile and oracle module
  x/assetprofile/keeper/msg_server_add_entry.go
  x/oracle/keeper/msg_server_create_asset_info.go
Due: assetprofile_transactions, oracle_transactions

updating read me
  UPGRADING.md
  readme.md
Due: none

updating read me (#1306)
  UPGRADING.md
  readme.md
Due: none

replacing curl with wget
  .goreleaser.yaml
Due: none

reverting: replacing curl with wget
  .goreleaser.yaml
Due: none

add store
  app/setup_handlers.go
Due: none

comment
  x/vaults/keeper/unwind.go
Due: none

burn elys
  x/commitment/keeper/msg_server_claim.go
  x/commitment/migrations/v12_migration.go
  x/commitment/module.go
Due: commitment_transactions

amount
  x/commitment/keeper/msg_server_claim.go
Due: commitment_transactions

elys
  x/commitment/keeper/msg_server_claim.go
Due: commitment_transactions

go
  go.mod
  go.sum
Due: none

:fix
  x/vaults/keeper/msg_deposit_test.go
Due: none

add 10 to 11
  x/commitment/module.go
Due: none

fixing release issue
  .goreleaser.yaml
Due: none

fixing release issue (#1309)
  .goreleaser.yaml
Due: none

Error handling improvements for AssetProfile, Burner, Commitment (#1305)
  x/assetprofile/keeper/query_entry.go
  x/burner/keeper/epoch_hooks.go
  x/commitment/keeper/commit_liquid_tokens.go
  x/commitment/keeper/deposit_liquid_tokens.go
  x/commitment/keeper/msg_server_uncommit_tokens.go
  x/commitment/keeper/msg_server_vest_liquid_test.go
Due: assetprofile_queries, commitment_transactions

adding order owners key value
  api/elys/clob/genesis.pulsar.go
  api/elys/clob/order.pulsar.go
  api/elys/clob/perpetual.pulsar.go
  proto/elys/clob/genesis.proto
  proto/elys/clob/order.proto
  proto/elys/clob/perpetual.proto
  x/clob/genesis.go
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/liquidations_test.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/order.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/order_owner.go
  x/clob/keeper/perpetual_owner.go
  x/clob/keeper/sub_account.go
  x/clob/types/genesis.pb.go
  x/clob/types/keys.go
  x/clob/types/order.go
  x/clob/types/order.pb.go
  x/clob/types/order_owner.go
  x/clob/types/perpetual.pb.go
Due: none

Add CLOB queries (#1299)
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  proto/elys/clob/query.proto
  x/clob/keeper/query_perpetual_adl.go
  x/clob/keeper/query_perpetual_order.go
  x/clob/keeper/query_prices.go
  x/clob/types/errors.go
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
Due: none

withdraw
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/unwind.go
Due: none

add query
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/query_grpc.pb.go
  proto/elys/vaults/query.proto
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/query_vault.go
  x/vaults/types/query.pb.go
  x/vaults/types/query.pb.gw.go
Due: none

add queries in autocli
  x/clob/autocli.go
Due: none

fix perpetual order query
  x/clob/keeper/query_perpetual_order.go
Due: none
