Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add leverageamount
  api/elys/leveragelp/pool.pulsar.go
  go.sum
  proto/elys/leveragelp/pool.proto
  x/leveragelp/keeper/msg_server_add_pool.go
  x/leveragelp/keeper/pool.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/migrations/v20_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/pool.go
  x/leveragelp/types/pool.pb.go
Due: leveragelp_transactions

migration
  x/leveragelp/migrations/v19_migration.go
  x/leveragelp/migrations/v20_migration.go
  x/leveragelp/module.go
Due: none

add stable apr
  api/elys/masterchef/query.pulsar.go
  go.sum
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/query.go
  x/masterchef/types/expected_keepers.go
  x/masterchef/types/query.pb.go
Due: masterchef_queries

refactor: use a more straightforward return value
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_keeper, amm_queries

Add stable apr (#1180)
  api/elys/masterchef/query.pulsar.go
  go.sum
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/query.go
  x/masterchef/types/expected_keepers.go
  x/masterchef/types/query.pb.go
Due: masterchef_queries

Add leveraged Amount fields for query (#1179)
  api/elys/leveragelp/pool.pulsar.go
  proto/elys/leveragelp/pool.proto
  x/leveragelp/keeper/msg_server_add_pool.go
  x/leveragelp/keeper/pool.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/migrations/v19_migration.go
  x/leveragelp/types/pool.go
  x/leveragelp/types/pool.pb.go
Due: leveragelp_transactions

updating ojo
  app/oracle.go
  go.mod
  go.sum
Due: none

Add swap fees event (#1169)
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_exit_pool_state_change_test.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/estimate_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/events.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
Due: amm_keeper, amm_queries

updating versions
  go.mod
  go.sum
Due: none

add taker fee via route
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
Due: amm_keeper

change expected
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: masterchef_lifecycle

change
  x/amm/migrations/v12_migration.go
Due: none

updating go mod
  go.mod
  go.sum
Due: none

setting upgrade name
  app/setup_handlers.go
Due: none

weight balance bonus
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_keeper, amm_queries

taker fee
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/events.go
Due: none

Taker fee routes and change min slippage (#1181)
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/migrations/v12_migration.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: amm_keeper, masterchef_lifecycle

add tolerance and migration
  api/elys/tradeshield/params.pulsar.go
  proto/elys/tradeshield/params.proto
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/migrations/v9_migration.go
  x/tradeshield/module.go
  x/tradeshield/types/params.pb.go
Due: none

remove comments
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_keeper, amm_queries

update command
  readme.md
Due: none

migration was updated
  app/oracle.go
Due: none

perpetual key fixes and order matching fixes
  api/elys/clob/perpetual.pulsar.go
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  api/elys/clob/subaccount.pulsar.go
  proto/elys/clob/perpetual.proto
  proto/elys/clob/query.proto
  proto/elys/clob/subaccount.proto
  x/clob/autocli.go
  x/clob/keeper/exchange.go
  x/clob/keeper/genesis.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/msg_server_sub_account.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/query_perpetuals.go
  x/clob/keeper/sub_account.go
  x/clob/types/keys.go
  x/clob/types/perpetual.go
  x/clob/types/perpetual.pb.go
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
  x/clob/types/subaccount.pb.go
  x/clob/types/trade.go
Due: none

voting on proposal
  .github/workflows/vote.yml
Due: none

add recovery amount to out amount
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

migration fix
  app/setup_handlers.go
Due: none

upgrade ojo
  go.mod
  go.sum
Due: none

clob spot order execution
  api/elys/clob/order.pulsar.go
  api/elys/clob/perpetual.pulsar.go
  api/elys/clob/tx.pulsar.go
  api/elys/clob/tx_grpc.pb.go
  proto/elys/clob/order.proto
  proto/elys/clob/perpetual.proto
  proto/elys/clob/tx.proto
  x/clob/cli/place_limit_order.go
  x/clob/cli/place_market_order.go
  x/clob/cli/tx.go
  x/clob/keeper/exchange.go
  x/clob/keeper/genesis.go
  x/clob/keeper/market_orders.go
  x/clob/keeper/msg_server_sub_account.go
  x/clob/keeper/order_matching.go
  x/clob/types/codec.go
  x/clob/types/market.go
  x/clob/types/msgs.go
  x/clob/types/order.go
  x/clob/types/order.pb.go
  x/clob/types/perpetual.pb.go
  x/clob/types/trade.go
  x/clob/types/tx.pb.go
Due: none

fix clob exchange and market execution
  api/elys/clob/perpetual.pulsar.go
  api/elys/clob/tx.pulsar.go
  proto/elys/clob/perpetual.proto
  proto/elys/clob/tx.proto
  x/clob/cli/place_market_order.go
  x/clob/keeper/exchange.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/query_perpetuals.go
  x/clob/types/perpetual.go
  x/clob/types/perpetual.pb.go
  x/clob/types/tx.pb.go
Due: none

fix commitment module staking keeper bug
  app/app.go
  app/export.go
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_stake.go
  x/commitment/keeper/msg_server_unstake.go
  x/tier/keeper/keeper.go
Due: commitment_transactions, commitment_keeper, tier_keeper

Revert "fix commitment module staking keeper bug"
  app/app.go
  app/export.go
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_stake.go
  x/commitment/keeper/msg_server_unstake.go
  x/tier/keeper/keeper.go
Due: commitment_transactions, commitment_keeper, tier_keeper

fix commitment module staking keeper bug
  app/app.go
  app/export.go
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_stake.go
  x/commitment/keeper/msg_server_unstake.go
Due: commitment_transactions, commitment_keeper

adding extra logs
  app/preblocker.go
Due: none

updates
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_queries

fix
  x/amm/keeper/keeper_join_pool_no_swap.go
Due: amm_keeper

fix max vesting cancellation
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
Due: commitment_transactions

add cancelled amount as event attributes
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/types/events.go
Due: commitment_transactions

Ojo upgrade (#1186)
  app/oracle.go
  go.mod
  go.sum
Due: none

updating ojo version
  go.mod
  go.sum
Due: none
