Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

making insurance fund individual for each pool in perpetual
  api/elys/perpetual/params.pulsar.go
  proto/elys/perpetual/params.proto
  x/perpetual/client/cli/tx_update_params.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/migrations/v15_migration.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/pool.go
Due: perpetual_keeper

todo
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/vault.go
Due: none

adding logic for payment from insurance fund
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/types/events.go
Due: none

events for insurance
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/types/events.go
Due: none

tests
  x/amm/types/amm_price_test.go
Due: none

test
  x/tradeshield/keeper/msg_server_execute_order_test.go
Due: tradeshield_transactions

fix
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/calc_out_route_spot_price_test.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
Due: amm_transactions

Update x/perpetual/types/pool.go
  x/perpetual/types/pool.go
Due: none

Update vote.yml
  .github/workflows/vote.yml
Due: none

add upfront swap events
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in.go
  x/amm/types/events.go
Due: amm_transactions

adding test cases for open price
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/mtp_open_price_test.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/types/types.go
Due: perpetual_keeper, perpetual_queries

adding test cases for open price
  x/perpetual/keeper/mtp_open_price_test.go
Due: none

updating events
  x/perpetual/keeper/mtp_borrow_interest.go
Due: none

[Amm]: Add normalize get rate and tests (#1283)
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price_test.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/types/amm_price.go
  x/amm/types/amm_price_test.go
Due: amm_transactions

fixing test cases
  x/perpetual/keeper/asset_price_test.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/mtp_open_price_test.go
  x/perpetual/keeper/open_consolidate_test.go
Due: none

chore: fix some function names in comment (#1281)
  x/commitment/keeper/keeper_test.go
  x/commitment/keeper/msg_server_unstake_test.go
  x/commitment/keeper/msg_server_update_vesting_info_test.go
Due: commitment_transactions, commitment_keeper

Add upfront swap events (#1284)
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in.go
  x/amm/types/events.go
Due: amm_transactions

fixing voting power issue
  app/ante/commission.go
Due: none

making insurance fund individual for each pool in perpetual (#1282)
  api/elys/perpetual/params.pulsar.go
  proto/elys/perpetual/params.proto
  x/perpetual/client/cli/tx_update_params.go
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/asset_price_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/mtp_open_price_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/migrations/v15_migration.go
  x/perpetual/types/events.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/pool.go
  x/perpetual/types/types.go
Due: perpetual_keeper, perpetual_queries

fixing voting power issue (#1285)
  app/ante/commission.go
Due: none

fix
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
Due: tradeshield_transactions

[Tradeshield]: Fix batch execution issue (#1286)
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
Due: tradeshield_transactions

improving tag handling for chain upgrade
  app/setup_handlers.go
  app/setup_handlers_test.go
Due: none

improving tag handling for chain upgrade (#1287)
  app/setup_handlers.go
  app/setup_handlers_test.go
Due: none

add actions
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_commit_claimed_rewards.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/types/expected_keepers.go
Due: commitment_transactions

add join pool action tests
  proto/elys/vaults/tx.proto
  x/vaults/keeper/keeper_test.go
  x/vaults/keeper/msg_perform_action_test.go
Due: none

add benchmark
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_add_vault_test.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_deposit_test.go
  x/vaults/keeper/msg_perform_action_test.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

remove port getter and setter
  x/oracle/keeper/keeper.go
Due: oracle_keeper

fee handling
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  app/keepers/keepers.go
  proto/elys/vaults/params.proto
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  testutil/keeper/vaults.go
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

adding provision for cross-margin
  api/elys/clob/subaccount.pulsar.go
  api/elys/clob/tx.pulsar.go
  api/elys/clob/tx_grpc.pb.go
  proto/elys/clob/subaccount.proto
  proto/elys/clob/tx.proto
  proto/elys/leveragelp/tx.proto
  x/clob/cli/deposit.go
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/liquidation_price.go
  x/clob/keeper/liquidation_price_test.go
  x/clob/keeper/msg_server_sub_account.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/sub_account.go
  x/clob/types/sub_account.go
  x/clob/types/subaccount.pb.go
  x/clob/types/tx.pb.go
Due: none

add withdraw strategy by manager
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/keeper/msg_perform_action_test.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

improving enabling pools for leverage lp and perpetuals
  api/elys/leveragelp/tx.pulsar.go
  api/elys/perpetual/tx.pulsar.go
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
  x/leveragelp/keeper/msg_server_update_enabled_pools.go
  x/leveragelp/keeper/msg_server_update_enabled_pools_test.go
  x/leveragelp/types/tx.pb.go
  x/perpetual/keeper/msg_server_update_enabled_pool_test.go
  x/perpetual/keeper/msg_server_update_enabled_pools.go
  x/perpetual/types/tx.pb.go
Due: leveragelp_transactions, perpetual_transactions

add lockup
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

performace fee deduction
  api/elys/vaults/params.pulsar.go
  proto/elys/vaults/params.proto
  x/vaults/keeper/begin_blocker.go
  x/vaults/types/params.pb.go
Due: none

comment
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/msg_withdraw.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
