Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Update release workflow to enable software upgrade proposal creation
  .github/workflows/release.yml
Due: none

Update release workflow to enable software upgrade proposal creation (#1047)
  .github/workflows/release.yml
Due: none

Update CLI examples to use 'bob' as the default user and fix release workflow chain ID
  .github/workflows/release.yml
  x/amm/client/cli/tx_create_pool.go
  x/amm/client/cli/tx_exit_pool.go
  x/amm/client/cli/tx_join_pool.go
  x/amm/client/cli/tx_swap_exact_amount_in.go
  x/amm/client/cli/tx_swap_exact_amount_out.go
  x/amm/client/cli/tx_update_pool_params.go
  x/leveragelp/client/cli/tx_claim_rewards.go
  x/leveragelp/client/cli/tx_close.go
  x/leveragelp/client/cli/tx_open.go
  x/perpetual/client/cli/tx_close.go
  x/perpetual/client/cli/tx_open.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_spot_order.go
Due: none

Update CLI examples to use 'bob' as the default user and fix release … (#1048)
  .github/workflows/release.yml
  x/amm/client/cli/tx_create_pool.go
  x/amm/client/cli/tx_exit_pool.go
  x/amm/client/cli/tx_join_pool.go
  x/amm/client/cli/tx_swap_exact_amount_in.go
  x/amm/client/cli/tx_swap_exact_amount_out.go
  x/amm/client/cli/tx_update_pool_params.go
  x/leveragelp/client/cli/tx_claim_rewards.go
  x/leveragelp/client/cli/tx_close.go
  x/leveragelp/client/cli/tx_open.go
  x/perpetual/client/cli/tx_close.go
  x/perpetual/client/cli/tx_open.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_spot_order.go
Due: none

Update chain ID references from 'elystestnet-1' to 'elysicstestnet-1' across multiple files
  chain/genesis.json
  config.yml
  configs/testnet.yml
  network.md
  readme.md
  scripts/examples/amm/amm.sh
  scripts/examples/commitment/commitment.sh
  scripts/examples/estaking/estaking.sh
  scripts/examples/estaking/snapshot_test.sh
  scripts/examples/incentive/incentive.sh
  scripts/examples/incentive/upgrade.sh
  scripts/examples/leveragelp/leveragelp.sh
  scripts/examples/masterchef/masterchef.sh
  scripts/examples/stablestake/stablestake.sh
  scripts/examples/transferhook/README.md
  scripts/examples/transferhook/config.toml
  scripts/propose/propose.sh
  scripts/testing/variables.sh.example
  troubleshooting.md
  x/commitment/spec/02_usage.md
  x/estaking/spec/02_usage.md
  x/perpetual/spec/03_usage.md
  x/stablestake/spec/03_usage.md
Due: none

apr fixes
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/masterchef/keeper/apr_denom.go
Due: amm_keeper

apr nan
  x/masterchef/keeper/apr_denom.go
Due: none

fix
  x/masterchef/keeper/apr_denom.go
Due: none

Slippage amount and APR nan fixes (#1050)
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/query_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/masterchef/keeper/apr_denom.go
Due: amm_keeper, amm_queries

add events
  x/commitment/keeper/commitments.go
  x/commitment/module.go
  x/estaking/keeper/keeper_burn_edenB.go
  x/estaking/types/events.go
  x/masterchef/migrations/v6_migration.go
Due: estaking_keeper

add div by zero check
  x/amm/types/pool_calc_join_pool_no_swap_shares.go
Due: none

add div by zero check (#1051)
  x/amm/types/pool_calc_join_pool_no_swap_shares.go
Due: none

increase coverage for amm types package
  x/amm/keeper/keeper_create_pool_test.go
  x/amm/types/amm_price_test.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/message_create_pool_test.go
  x/amm/types/message_exit_pool_test.go
  x/amm/types/message_feed_multiple_external_liquidity_test.go
  x/amm/types/message_join_pool_test.go
  x/amm/types/message_swap_by_denom_test.go
  x/amm/types/message_swap_exact_amount_in_test.go
  x/amm/types/message_swap_exact_amount_out_test.go
  x/amm/types/pool_calc_join_pool_no_swap_shares_test.go
Due: amm_keeper

Refactor CLI commands and documentation for consistency and clarity
  architecture.md
  chain/genesis.json
  chain/readme.md
  config.yml
  readme.md
  scripts/examples/amm/amm.sh
  scripts/examples/commitment/commitment.sh
  scripts/examples/estaking/estaking.sh
  scripts/examples/estaking/snapshot_test.sh
  scripts/examples/incentive/incentive.sh
  scripts/examples/incentive/upgrade.sh
  scripts/examples/leveragelp/leveragelp.sh
  scripts/examples/masterchef/masterchef.sh
  scripts/examples/oracle/README.md
  scripts/examples/stablestake/stablestake.sh
  scripts/examples/transferhook/README.md
  scripts/propose/propose.sh
  x/commitment/spec/02_usage.md
  x/estaking/spec/02_usage.md
  x/perpetual/spec/03_usage.md
  x/stablestake/spec/03_usage.md
Due: none

Remove testnet configuration file
  configs/testnet.yml
Due: none

Increase coverage for Amm keeper and types package (#1052)
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/estimate_price_test.go
  x/amm/keeper/fee_test.go
  x/amm/keeper/keeper_create_pool_test.go
  x/amm/keeper/keeper_exit_pool_test.go
  x/amm/keeper/keeper_join_pool_no_swap_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/types/amm_price_test.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/message_create_pool_test.go
  x/amm/types/message_exit_pool_test.go
  x/amm/types/message_feed_multiple_external_liquidity_test.go
  x/amm/types/message_join_pool_test.go
  x/amm/types/message_swap_by_denom_test.go
  x/amm/types/message_swap_exact_amount_in_test.go
  x/amm/types/message_swap_exact_amount_out_test.go
  x/amm/types/pool_calc_join_pool_no_swap_shares_test.go
Due: amm_transactions, amm_keeper

Update CancelPerpetualOrder to return all available balances to the owner
  x/tradeshield/keeper/msg_server_perpetual_order.go
Due: tradeshield_transactions

Update chain ID references from 'elystestnet-1' to 'elysicstestnet-1'… (#1049)
  architecture.md
  chain/genesis.json
  chain/readme.md
  config.yml
  configs/testnet.yml
  network.md
  readme.md
  scripts/examples/amm/amm.sh
  scripts/examples/commitment/commitment.sh
  scripts/examples/estaking/estaking.sh
  scripts/examples/estaking/snapshot_test.sh
  scripts/examples/incentive/incentive.sh
  scripts/examples/incentive/upgrade.sh
  scripts/examples/leveragelp/leveragelp.sh
  scripts/examples/masterchef/masterchef.sh
  scripts/examples/oracle/README.md
  scripts/examples/stablestake/stablestake.sh
  scripts/examples/transferhook/README.md
  scripts/examples/transferhook/config.toml
  scripts/propose/propose.sh
  scripts/testing/variables.sh.example
  troubleshooting.md
  x/commitment/spec/02_usage.md
  x/estaking/spec/02_usage.md
  x/perpetual/spec/03_usage.md
  x/stablestake/spec/03_usage.md
Due: none

Update CancelPerpetualOrder to return all available balances to the o… (#1053)
  x/tradeshield/keeper/msg_server_perpetual_order.go
Due: tradeshield_transactions

fix burn and verify in tests
  x/commitment/keeper/commitments.go
  x/commitment/keeper/commitments_test.go
  x/commitment/module.go
  x/estaking/keeper/keeper_burn_edenB.go
Due: estaking_keeper

edge cases
  x/estaking/keeper/hooks_staking.go
  x/estaking/keeper/keeper_burn_edenB.go
Due: estaking_keeper

remove
  x/masterchef/migrations/v6_migration.go
Due: none

review
  x/commitment/keeper/commitments.go
Due: none

remove deprecated of package io/ioutil
  x/leveragelp/client/cli/tx_add_pool.go
  x/leveragelp/client/cli/tx_close_positions.go
  x/perpetual/client/cli/tx_close_positions.go
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/client/cli/tx_spot_order.go
  x/tradeshield/client/cli/tx_spot_order_test.go
Due: none

restore
  x/commitment/keeper/commitments.go
Due: none

EdenB Burn fixes (#1054)
  x/commitment/keeper/commitments.go
  x/commitment/keeper/commitments_test.go
  x/estaking/keeper/hooks_staking.go
  x/estaking/keeper/keeper_burn_edenB.go
  x/estaking/types/events.go
Due: estaking_keeper

remove deprecated of package io/ioutil (#1055)
  x/leveragelp/client/cli/tx_add_pool.go
  x/leveragelp/client/cli/tx_close_positions.go
  x/perpetual/client/cli/tx_close_positions.go
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/client/cli/tx_spot_order.go
  x/tradeshield/client/cli/tx_spot_order_test.go
Due: none

APR fix (#1056)
  x/masterchef/keeper/apr_denom.go
Due: none

Update version to v1.1.0 and enhance order execution tests
  app/setup_handlers.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/events.go
Due: tradeshield_transactions

Enhance event validation and serialization in order execution tests
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/types/events.go
Due: tradeshield_transactions

Update NextVersion to v1.0.1 in setup_handlers.go
  app/setup_handlers.go
Due: none

add claimed
  api/elys/commitment/airdrop.pulsar.go
  proto/elys/commitment/airdrop.proto
  x/commitment/keeper/airdrop.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/keys.go
Due: none

add tracking
  api/elys/commitment/params.pulsar.go
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  proto/elys/commitment/params.proto
  proto/elys/commitment/query.proto
  proto/elys/commitment/tx.proto
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/query_airdrop.go
  x/commitment/migrations/v7_migration.go
  x/commitment/module.go
  x/commitment/types/params.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions, commitment_queries

claim logic
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/types/errors.go
Due: commitment_transactions

update
  api/elys/commitment/params.pulsar.go
  proto/elys/commitment/params.proto
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/migrations/v6_migration.go
  x/commitment/migrations/v7_migration.go
  x/commitment/types/params.pb.go
Due: commitment_transactions

update
  api/elys/commitment/airdrop.pulsar.go
  api/elys/commitment/params.pulsar.go
  proto/elys/commitment/airdrop.proto
  proto/elys/commitment/params.proto
  x/commitment/keeper/airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/migrations/v7_migration.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/errors.go
  x/commitment/types/keys.go
  x/commitment/types/params.pb.go
Due: commitment_transactions

Refactor order execution events and update event types in Tradeshield module
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/events.go
Due: tradeshield_transactions

add command
  x/commitment/client/cli/tx.go
  x/commitment/client/cli/tx_claim_airdrop.go
  x/commitment/types/message_claim_airdrop.go
  x/commitment/types/message_claim_airdrop_test.go
Due: none

add cli test
  x/commitment/client/cli/tx_claim_airdrop_test.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
