Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

fixing execution price (#1321)
  x/perpetual/autocli.go
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/mtp_health.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/mtp_open_price_test.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_merge_mtp.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/repay.go
  x/perpetual/types/mtp.go
Due: perpetual_transactions, perpetual_keeper, perpetual_queries

adding tx to unjail
  api/elys/estaking/tx.pulsar.go
  api/elys/estaking/tx_grpc.pb.go
  api/elys/perpetual/genesis.pulsar.go
  app/keepers/keepers.go
  proto/elys/estaking/tx.proto
  proto/elys/perpetual/genesis.proto
  x/estaking/autocli.go
  x/estaking/client/cli/tx.go
  x/estaking/keeper/keeper.go
  x/estaking/keeper/msg_server.go
  x/estaking/types/codec.go
  x/estaking/types/expected_keepers.go
  x/estaking/types/message_unjail_governor.go
  x/estaking/types/tx.pb.go
  x/perpetual/types/genesis.pb.go
Due: estaking_transactions, estaking_keeper

adding tx to unjail (#1324)
  api/elys/estaking/tx.pulsar.go
  api/elys/estaking/tx_grpc.pb.go
  api/elys/perpetual/genesis.pulsar.go
  app/keepers/keepers.go
  proto/elys/estaking/tx.proto
  proto/elys/perpetual/genesis.proto
  x/estaking/autocli.go
  x/estaking/client/cli/tx.go
  x/estaking/keeper/keeper.go
  x/estaking/keeper/msg_server.go
  x/estaking/types/codec.go
  x/estaking/types/expected_keepers.go
  x/estaking/types/message_unjail_governor.go
  x/estaking/types/tx.pb.go
  x/perpetual/types/genesis.pb.go
Due: estaking_transactions, estaking_keeper

vote
  .github/workflows/vote.yml
Due: none

perform action fixes
  proto/elys/vaults/tx.proto
  x/masterchef/keeper/abci.go
  x/vaults/autocli.go
  x/vaults/client/cli/cli.go
  x/vaults/client/cli/tx.go
  x/vaults/module.go
Due: masterchef_lifecycle

add liquidate positions tx proto
  api/elys/clob/tx.pulsar.go
  api/elys/clob/tx_grpc.pb.go
  api/elys/clob/types.pulsar.go
  proto/elys/clob/tx.proto
  proto/elys/clob/types.proto
  x/clob/types/tx.pb.go
  x/clob/types/types.pb.go
Due: none

impl liquidate positions tx
  x/clob/keeper/msg_server_liquidate_positions.go
  x/clob/types/msgs.go
Due: none

fix
  api/elys/vaults/genesis.pulsar.go
  api/elys/vaults/params.pulsar.go
  api/elys/vaults/pool.pulsar.go
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/user_data.pulsar.go
  api/elys/vaults/vault.pulsar.go
  x/vaults/types/genesis.pb.go
  x/vaults/types/params.pb.go
  x/vaults/types/pool.pb.go
  x/vaults/types/query.pb.go
  x/vaults/types/tx.pb.go
  x/vaults/types/user_data.pb.go
  x/vaults/types/vault.pb.go
Due: none

add cli commad for liquidate positions
  x/clob/cli/liquidate_positions.go
  x/clob/cli/tx.go
Due: none

add liquidate position msg srvr test
  x/clob/keeper/msg_server_liquidate_positions_test.go
Due: none

restructure perform actions
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  proto/elys/vaults/tx.proto
  x/vaults/client/cli/tx_test.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/types/tx.pb.go
Due: none

update tests
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  proto/elys/vaults/tx.proto
  x/vaults/client/cli/cli.go
  x/vaults/client/cli/tx.go
  x/vaults/client/cli/tx_test.go
  x/vaults/keeper/flow_test.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/keeper/msg_perform_action_test.go
  x/vaults/types/codec.go
  x/vaults/types/tx.pb.go
Due: none

add cli
  x/vaults/autocli.go
  x/vaults/client/cli/cli.go
  x/vaults/client/cli/tx.go
  x/vaults/client/cli/tx_test.go
  x/vaults/keeper/flow_test.go
  x/vaults/keeper/msg_perform_action_test.go
  x/vaults/keeper/msg_withdraw_test.go
Due: none

fixing placing order, deposits and withdraws
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  api/elys/clob/tx.pulsar.go
  proto/elys/clob/query.proto
  proto/elys/clob/tx.proto
  x/amm/types/mocks/oracle_keeper.go
  x/clob/cli/place_market_order.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/funding_rate.go
  x/clob/keeper/funding_rate_test.go
  x/clob/keeper/health.go
  x/clob/keeper/liquidations.go
  x/clob/keeper/liquidations_test.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/msg_server_sub_account.go
  x/clob/keeper/oracle.go
  x/clob/keeper/order.go
  x/clob/keeper/order_owner.go
  x/clob/keeper/order_test.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/perpetual_owner.go
  x/clob/keeper/query_orders.go
  x/clob/keeper/query_params.go
  x/clob/keeper/query_perpetual_order.go
  x/clob/keeper/sub_account.go
  x/clob/types/codec.go
  x/clob/types/keys.go
  x/clob/types/order.go
  x/clob/types/perpetual.go
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
  x/clob/types/sub_account.go
  x/clob/types/tx.pb.go
  x/oracle/keeper/price_test.go
  x/perpetual/keeper/close_test.go
Due: none

test
  x/vaults/keeper/msg_perform_action_test.go
  x/vaults/keeper/msg_withdraw_test.go
Due: none

adding more unit testing
  x/clob/keeper/funding_rate_test.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/margin_pnl_test.go
  x/clob/keeper/order_test.go
  x/clob/keeper/query_perpetuals.go
Due: none

add query protos for perpetuals with liquidation price
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  api/elys/clob/types.pulsar.go
  proto/elys/clob/query.proto
  proto/elys/clob/types.proto
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
  x/clob/types/types.pb.go
Due: none

impl all perpetuals with liquidation price query
  x/clob/keeper/query_perpetuals.go
  x/clob/types/keys.go
Due: none

add query tests
  x/clob/keeper/query_perpetuals_test.go
Due: none

update autocli for query
  x/clob/autocli.go
Due: none

remove cacheCtx and rename proto file
  proto/elys/clob/liquidation.proto
  x/clob/keeper/msg_server_liquidate_positions.go
Due: none

end blocker
  x/vaults/keeper/begin_blocker.go
  x/vaults/module.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/vault_address.go
Due: none

add market base denom in query response
  api/elys/clob/perpetual.pulsar.go
  proto/elys/clob/perpetual.proto
  x/clob/keeper/query_perpetuals.go
  x/clob/types/perpetual.pb.go
Due: none

claim
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/msg_claim_rewards.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/types/vault_address.go
Due: none

fix rate formula
  x/perpetual/keeper/pool.go
Due: none

fix test
  x/perpetual/keeper/borrow_rate_test.go
Due: none

add comment
  x/clob/keeper/msg_server_liquidate_positions.go
Due: none

Add Clob Liquidate positions tx (#1325)
  api/elys/clob/liquidation.pulsar.go
  api/elys/clob/tx.pulsar.go
  api/elys/clob/tx_grpc.pb.go
  proto/elys/clob/liquidation.proto
  proto/elys/clob/tx.proto
  x/clob/cli/liquidate_positions.go
  x/clob/cli/tx.go
  x/clob/keeper/msg_server_liquidate_positions.go
  x/clob/keeper/msg_server_liquidate_positions_test.go
  x/clob/types/liquidation.pb.go
  x/clob/types/msgs.go
  x/clob/types/tx.pb.go
Due: none

fixing accounted pool
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/open_test.go
Due: none

fixing unjail governor
  x/estaking/keeper/msg_server.go
Due: estaking_transactions

fixing reset perpetual function
  x/perpetual/keeper/reset_store.go
  x/perpetual/migrations/v19_migration.go
  x/perpetual/module.go
Due: none

add more tests
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/begin_blocker_test.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/types/errors.go
Due: none

fix
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/begin_blocker_test.go
Due: none

remove empty pool ids check from validate basic from masterchef's MsgClaimRewards
  x/masterchef/types/message_claim_rewards.go
Due: none

feat: add leverage tx to claim all rewards for user
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  x/leveragelp/client/cli/tx.go
  x/leveragelp/client/cli/tx_claim_all_rewards.go
  x/leveragelp/keeper/msg_server_claim_rewards.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/tx.pb.go
Due: leveragelp_transactions

add tests
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/types/msgs_test.go
Due: leveragelp_transactions

add query
  api/elys/perpetual/query.pulsar.go
  api/elys/perpetual/query_grpc.pb.go
  go.mod
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/query.pb.gw.go
Due: perpetual_queries

[Perps]: Fix rate formula (#1327)
  x/perpetual/keeper/borrow_rate_test.go
  x/perpetual/keeper/pool.go
Due: none

add tests
  api/elys/perpetual/query.pulsar.go
  go.mod
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_by_final_test.go
  x/perpetual/types/query.pb.go
Due: perpetual_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
