Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

remove module
  x/transferhook/autocli.go
  x/transferhook/genesis.go
  x/transferhook/keeper/grpc_query_params.go
  x/transferhook/keeper/grpc_query_params_test.go
  x/transferhook/keeper/keeper.go
  x/transferhook/keeper/keeper_test.go
  x/transferhook/keeper/params.go
  x/transferhook/keeper/params_test.go
  x/transferhook/keeper/swap.go
  x/transferhook/keeper/swap_test.go
  x/transferhook/migrations/new_migrator.go
  x/transferhook/migrations/v2_migration.go
  x/transferhook/module.go
  x/transferhook/module_ibc.go
  x/transferhook/spec/01_concepts.md
  x/transferhook/spec/02_usage.md
  x/transferhook/spec/03_keeper.md
  x/transferhook/spec/04_protobuf_definitions.md
  x/transferhook/spec/05_functions.md
  x/transferhook/spec/README.md
  x/transferhook/types/codec.go
  x/transferhook/types/errors.go
  x/transferhook/types/events_ibc.go
  x/transferhook/types/genesis.go
  x/transferhook/types/genesis.pb.go
  x/transferhook/types/genesis_test.go
  x/transferhook/types/keys.go
  x/transferhook/types/params.go
  x/transferhook/types/params.pb.go
  x/transferhook/types/parser.go
  x/transferhook/types/parser_test.go
  x/transferhook/types/query.pb.go
  x/transferhook/types/query.pb.gw.go
Due: transferhook_keeper, transferhook_queries

remove transferhook wiring
  .github/workflows/unit-test-and-coverage.yml
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  codecov.yml
  docs/static/openapi.yml
Due: none

remove transferhook store
  app/setup_handlers.go
Due: none

add migration
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/migrations/v6_migration.go
  x/masterchef/module.go
Due: none

use iterator
  x/masterchef/keeper/pool_rewards_accum.go
Due: none

fix validate checks
  x/amm/types/message_swap_exact_amount_in.go
  x/amm/types/message_swap_exact_amount_in_test.go
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/message_swap_exact_amount_out_test.go
  x/amm/types/message_upfront_swap_exact_amount_in.go
  x/amm/types/message_upfront_swap_exact_amount_in_test.go
Due: none

add more checks
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/message_swap_exact_amount_out_test.go
Due: none

refactoring
  x/amm/types/constants.go
  x/amm/types/pool_join_pool.go
  x/stablestake/types/debt.go
Due: none

logging error
  x/masterchef/keeper/pool_rewards_accum.go
Due: none

fixing migration
  x/masterchef/keeper/pool_rewards_accum.go
Due: none

[Masterchef]: Rewards fix (#1234)
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/migrations/v6_migration.go
  x/masterchef/module.go
Due: masterchef_lifecycle

fixing store upgrades migration
  app/setup_handlers.go
Due: none

Add more checks in Validate basic for Swap Messages (#1232)
  x/amm/types/message_swap_exact_amount_in.go
  x/amm/types/message_swap_exact_amount_in_test.go
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/message_swap_exact_amount_out_test.go
  x/amm/types/message_upfront_swap_exact_amount_in.go
  x/amm/types/message_upfront_swap_exact_amount_in_test.go
Due: none

vote on testnet proposal
  .github/workflows/vote.yml
Due: none

Update vote.yml
  .github/workflows/vote.yml
Due: none

logging elr
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
Due: amm_transactions

logging elr
  app/setup_handlers.go
Due: none

voting on testnet
  .github/workflows/vote.yml
Due: none

chore: fix some comments
  app/preblocker.go
  dockernet/config.sh
  x/amm/utils/can_create_module_account_at_addr.go
  x/estaking/modules/distribution/module.go
  x/masterchef/keeper/apr_denom.go
  x/oracle/keeper/band_request.go
Due: none

adding fix for leverage lp
  app/keepers/keepers.go
  testutil/keeper/leveragelp.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
Due: leveragelp_keeper, leveragelp_queries

adding fix for leverage lp
  x/leveragelp/keeper/hooks_amm.go
Due: none

making stop loss enable as module params
  api/elys/leveragelp/params.pulsar.go
  proto/elys/leveragelp/params.proto
  x/leveragelp/keeper/msg_server_update_stop_loss.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/migrations/v20_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/params.go
  x/leveragelp/types/params.pb.go
Due: leveragelp_transactions

making stop loss enable as module params
  x/leveragelp/types/params.go
Due: none

adding fix for leverage lp (#1237)
  api/elys/leveragelp/params.pulsar.go
  app/keepers/keepers.go
  proto/elys/leveragelp/params.proto
  testutil/keeper/leveragelp.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/msg_server_update_stop_loss.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/migrations/v20_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/params.go
  x/leveragelp/types/params.pb.go
Due: leveragelp_transactions, leveragelp_keeper, leveragelp_queries

vote
  .github/workflows/vote.yml
Due: none

chore: fix some comments (#1235)
  app/preblocker.go
  dockernet/config.sh
  x/amm/utils/can_create_module_account_at_addr.go
  x/estaking/modules/distribution/module.go
  x/masterchef/keeper/apr_denom.go
  x/oracle/keeper/band_request.go
Due: none

fix amount
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_keeper, amm_queries

apr
  x/amm/keeper/apply_join_pool_state_change.go
Due: none

Weight rewards fix (#1238)
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_keeper, amm_queries

renaming total deposit to net amount
  api/elys/stablestake/pool.pulsar.go
  api/elys/stablestake/query.pulsar.go
  app/keepers/keepers.go
  proto/elys/stablestake/pool.proto
  proto/elys/stablestake/query.proto
  testutil/keeper/stablestake.go
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/apr_stable_stake.go
  x/masterchef/keeper/query_all_liquidity_pool_tvl.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/expected_keepers.go
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/interest_rate.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/keeper.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_add_pool.go
  x/stablestake/keeper/msg_server_add_pool_test.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_bond_test.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/keeper/msg_server_update_pool_test.go
  x/stablestake/keeper/params.go
  x/stablestake/keeper/pool.go
  x/stablestake/keeper/query.go
  x/stablestake/keeper/query_borrow_ratio.go
  x/stablestake/keeper/query_borrow_ratio_test.go
  x/stablestake/keeper/query_pool_test.go
  x/stablestake/keeper/tvl.go
  x/stablestake/migrations/v9_migration.go
  x/stablestake/types/pool.pb.go
  x/stablestake/types/query.pb.go
  x/tier/keeper/keeper_test.go
Due: leveragelp_transactions, leveragelp_keeper, masterchef_lifecycle, masterchef_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, tier_keeper

fixing portfolio for generalized lp
  x/tier/keeper/portfolio.go
Due: none

fixes for devnet
  app/setup_handlers.go
Due: none

fixing leverage lp query
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/query_committed_tokens_locked.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/query.pb.gw.go
Due: leveragelp_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
