Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

vote on devnet
  .github/workflows/voteDevnet.yml
Due: none

add whitelisted stargate queries in wasmbinding
  app/keepers/keepers.go
  wasmbindings/client/register_stargate_queries.go
  wasmbindings/types/custom_querier.go
  wasmbindings/types/export_test.go
  wasmbindings/types/stargate_whitelist.go
Due: none

fix query path
  wasmbindings/types/stargate_whitelist.go
Due: none

changes for testnet rollback
  app/app.go
  app/setup_handlers.go
Due: none

hacken audit fixes
  x/amm/types/keys.go
  x/oracle/keeper/abci.go
Due: oracle_lifecycle

fix exitPool method
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/msg_server_exit_pool.go
Due: amm_transactions, amm_keeper

add stargate query test
  wasmbindings/types/query_plugin_test.go
Due: none

overriding SUT tags due to testnet issue
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

fixing test cases
  x/amm/types/mocks/oracle_keeper.go
Due: none

Swap estimation Amm query for exact amount out (#1204)
  api/elys/amm/query.pulsar.go
  api/elys/amm/query_grpc.pb.go
  proto/elys/amm/query.proto
  x/amm/autocli.go
  x/amm/keeper/query_swap_estimation_exact_amount_out.go
  x/amm/keeper/query_swap_estimation_exact_amount_out_test.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
Due: amm_queries

Adarsh/upfront swap (#1202)
  api/elys/amm/params.pulsar.go
  api/elys/amm/tx.pulsar.go
  api/elys/amm/tx_grpc.pb.go
  proto/elys/amm/params.proto
  proto/elys/amm/tx.proto
  x/amm/client/cli/tx.go
  x/amm/client/cli/tx_upfront_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in_test.go
  x/amm/keeper/params.go
  x/amm/keeper/params_test.go
  x/amm/keeper/query_test.go
  x/amm/migrations/v10_migration.go
  x/amm/migrations/v12_migration.go
  x/amm/migrations/v13_migration.go
  x/amm/module.go
  x/amm/types/errors.go
  x/amm/types/message_upfront_swap_exact_amount_in.go
  x/amm/types/message_upfront_swap_exact_amount_in_test.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/tx.pb.go
Due: amm_transactions, amm_queries

leveragelp fixs
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/begin_blocker_test.go
  x/leveragelp/keeper/position.go
  x/stablestake/migrations/v9_migration.go
Due: leveragelp_lifecycle

set order
  app/app.go
Due: none

remove wasm gas register decorator
  app/ante/ante.go
Due: none

remove wasmKeeper from handlerOption and upgrade wasvm version
  app/ante/handler_options.go
  app/app.go
  go.mod
  go.sum
Due: none

fixing test cases
  x/amm/keeper/batch_processing_test.go
Due: none

order
  app/app.go
Due: none

using cache context in begin blocker for leveragelp (#1203)
  x/leveragelp/keeper/begin_blocker.go
Due: leveragelp_lifecycle

Fix exitPool keeper method (#1211)
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/msg_server_exit_pool.go
Due: amm_transactions, amm_keeper

hacken audit fixes (#1210)
  x/amm/keeper/batch_processing_test.go
  x/amm/types/keys.go
  x/oracle/keeper/abci.go
Due: oracle_lifecycle

Leveragelp fixes (#1214)
  app/app.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/begin_blocker_test.go
  x/leveragelp/keeper/position.go
  x/stablestake/migrations/v9_migration.go
Due: leveragelp_lifecycle

fixing migration
  x/commitment/keeper/total_supply.go
  x/commitment/migrations/v10_migration.go
  x/commitment/migrations/v11_migration.go
  x/commitment/module.go
Due: none

fixing migration
  x/commitment/module.go
Due: none

Track total vested eden (#1201)
  api/elys/commitment/commitments.pulsar.go
  api/elys/commitment/query.pulsar.go
  proto/elys/commitment/commitments.proto
  proto/elys/commitment/query.proto
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_vest.go
  x/commitment/keeper/msg_server_vest_now.go
  x/commitment/keeper/query.go
  x/commitment/keeper/total_supply.go
  x/commitment/migrations/v10_migration.go
  x/commitment/types/commitments.pb.go
  x/commitment/types/query.pb.go
Due: commitment_transactions, commitment_queries

update goreleaser config and Makefile
  .goreleaser.yaml
  Makefile
Due: none

Add vault module spec (#1205)
  x/vault/vault.md
Due: none

Update goreleaser config and Makefile for cosmwasm (#1215)
  .goreleaser.yaml
  Makefile
Due: none

fixing devnet deploy
  .github/workflows/devnet-deploy.yml
Due: none

fixing devnet deploy (#1216)
  .github/workflows/devnet-deploy.yml
Due: none

add boilerplate
  api/elys/strategy/module/module.pulsar.go
  api/elys/vaults/module/module.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/vaults/genesis.proto
  proto/elys/vaults/module/module.proto
  proto/elys/vaults/params.proto
  proto/elys/vaults/query.proto
  proto/elys/vaults/tx.proto
  testutil/keeper/vaults.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_server.go
  x/vaults/keeper/msg_server_test.go
  x/vaults/keeper/msg_update_params.go
  x/vaults/keeper/msg_update_params_test.go
  x/vaults/keeper/params.go
  x/vaults/keeper/params_test.go
  x/vaults/keeper/query.go
  x/vaults/keeper/query_params.go
  x/vaults/keeper/query_params_test.go
  x/vaults/module/autocli.go
  x/vaults/module/genesis.go
  x/vaults/module/genesis_test.go
  x/vaults/module/module.go
  x/vaults/module/simulation.go
  x/vaults/simulation/helpers.go
  x/vaults/types/codec.go
  x/vaults/types/errors.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/genesis.go
  x/vaults/types/genesis.pb.go
  x/vaults/types/genesis_test.go
  x/vaults/types/keys.go
  x/vaults/types/msg_update_params.go
  x/vaults/types/params.go
  x/vaults/types/params.pb.go
  x/vaults/types/query.pb.go
  x/vaults/types/query.pb.gw.go
  x/vaults/types/tx.pb.go
  x/vaults/types/types.go
  x/vaults/vault.md
Due: none
