Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

fixing test cases
  x/leveragelp/keeper/msg_server_open_test.go
Due: leveragelp_transactions

making exit lockup time as module parameter
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/params.go
  x/amm/keeper/pool_share.go
  x/amm/migrations/v11_migration.go
  x/amm/module.go
  x/amm/types/params.pb.go
Due: none

making exit lockup time as module parameter
  x/amm/migrations/v11_migration.go
  x/amm/types/params.go
Due: none

fixing error and check max leverage ratio only after adding lp (#1148)
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_open_test.go
Due: leveragelp_transactions

making exit lockup time as module parameter (#1149)
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/params.go
  x/amm/keeper/pool_share.go
  x/amm/migrations/v11_migration.go
  x/amm/module.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
Due: none

change final weight
  x/amm/types/weight_fees.go
Due: none

change initial to final weight (#1150)
  x/amm/types/weight_fees.go
Due: none

taker fees
  api/elys/parameter/params.pulsar.go
  proto/elys/parameter/params.proto
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/expected_keepers.go
  x/parameter/migrations/v6_migration.go
  x/parameter/module.go
  x/parameter/types/params.pb.go
Due: none

taker fees
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: amm_keeper, amm_queries

updtae
  api/elys/parameter/params.pulsar.go
  proto/elys/parameter/params.proto
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/update_pool_for_swap.go
  x/parameter/migrations/v6_migration.go
  x/parameter/types/params.pb.go
Due: none

voting testnet proposal
  .github/workflows/vote.yml
Due: none

removing validation for asset string in oracle prices
  x/oracle/types/messages_price.go
Due: none

removing validation for asset string in oracle prices (#1151)
  x/oracle/types/messages_price.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

tests
  x/leveragelp/keeper/msg_server_open_test.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/query_pool_test.go
Due: leveragelp_transactions, stablestake_queries

tests
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/types/message_add_pool_test.go
  x/stablestake/types/message_update_pool_test.go
Due: none

move
  x/stablestake/keeper/debt_test.go
Due: none

coverage
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/interest_rate_test.go
Due: none

cov
  .github/workflows/unit-test-and-coverage.yml
Due: none

feat: add support to cosmwasm for sdk v50 sdk
  app/ante/ante.go
  app/ante/handler_options.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  go.mod
  go.sum
Due: none

add min slippage
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/migrations/v12_migration.go
  x/amm/module.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_transactions

test
  x/amm/types/calc_exit_pool_test.go
Due: none

add tests
  x/amm/types/params.go
  x/amm/types/params_test.go
Due: none

version
  x/amm/module.go
Due: none

add validations
  x/amm/types/params.go
Due: none

fix sequence in ojo price feeder
  go.mod
  go.sum
Due: none

fix(wasm): add setup handler to add wasm store, add missing wasm options
  app/app.go
  app/setup_handlers.go
  app/test_setup.go
  cmd/elysd/cmd/config.go
  cmd/elysd/cmd/root.go
Due: none

test: fix tests
  app/simulation_test.go
  testutil/network/network.go
Due: none

updating read me
  readme.md
Due: none

updating read me (#1155)
  readme.md
Due: none

update tests
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/params.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: leveragelp_transactions, amm_transactions, amm_keeper, perpetual_queries

add fee fields
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_queries

[Amm]: Add validations (#1154)
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/params.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: leveragelp_transactions, amm_transactions, amm_keeper, perpetual_queries

refactor: using slices.Contains to simplify the code (#1120)
  x/amm/types/params.go
Due: none

[LeverageLp]: Add Price Impact and Swap Fee (#1156)
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_queries

updating cosmos, comet, ics versions
  app/modules.go
  go.mod
  go.sum
Due: none

[Amm]: Add a parameter for min slippage (#1153)
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/migrations/v12_migration.go
  x/amm/module.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/params_test.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_transactions

[Perpetual]: Funding fee fixes (#1112)
  api/elys/perpetual/types.pulsar.go
  proto/elys/perpetual/types.proto
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/types/types.pb.go
Due: perpetual_lifecycle

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
