Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Discount Fee - adjustments (#964)
  proto/elys/tier/userdata.proto
  x/tier/keeper/portfolio.go
  x/tier/types/types.go
  x/tier/types/userdata.pb.go
Due: none

[Commitment]: Do not allow vested tokens to be staked (#965)
  app/keepers/keepers.go
  testutil/keeper/commitment.go
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_stake.go
Due: commitment_transactions, commitment_keeper

[Perpetual]: Remove toPay storage and code (#966)
  proto/elys/perpetual/query.proto
  proto/elys/perpetual/types.proto
  x/perpetual/client/cli/query.go
  x/perpetual/client/cli/query_get_all_to_pay.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/query_get_all_to_pay.go
  x/perpetual/keeper/query_get_all_to_pay_test.go
  x/perpetual/migrations/v13_migration.go
  x/perpetual/module.go
  x/perpetual/types/errors.go
  x/perpetual/types/keys.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/query.pb.gw.go
  x/perpetual/types/types.pb.go
Due: none

add test cases for open consolidate
  x/perpetual/keeper/open_consolidate_test.go
Due: none

Exported genesis validation fix (#934)
  x/amm/keeper/get_internal_keepers.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/migrations/v7_migration.go
  x/amm/module.go
  x/amm/types/expected_keepers.go
  x/amm/types/new_pool_address.go
  x/amm/utils/create_module_account.go
Due: amm_keeper

fix open_test
  x/perpetual/keeper/open_test.go
Due: none

Add Checks in UpdateTakeProfitPrice and UpdateStopLossPrice keeper functions (#973)
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
Due: none

add more tests
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/external_incentive_test.go
Due: masterchef_lifecycle

query tests
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/query_test.go
Due: masterchef_lifecycle

Refactor perpetual test and add more test cases (#977)
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/get_epoch_position_test.go
  x/perpetual/keeper/get_net_open_interest_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_dewhitelist_test.go
  x/perpetual/keeper/msg_server_whitelist_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/open_test.go
Due: none

fixing test cases and refactoring names
  proto/elys/assetprofile/query.proto
  x/assetprofile/client/cli/query_entry.go
  x/assetprofile/client/cli/query_entry_test.go
  x/assetprofile/client/cli/suite_test.go
  x/assetprofile/keeper/query_entry.go
  x/assetprofile/keeper/query_entry_test.go
  x/assetprofile/spec/04_protobuf_definitions.md
  x/assetprofile/spec/05_functions.md
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/query.pb.gw.go
  x/masterchef/types/params_test.go
Due: none

fixing query pulsar
  api/elys/assetprofile/query.pulsar.go
  api/elys/assetprofile/query_grpc.pb.go
  go.mod
Due: none

Avkr003/protocol revenue (#969)
  api/elys/assetprofile/query.pulsar.go
  api/elys/assetprofile/query_grpc.pb.go
  go.mod
  proto/elys/assetprofile/query.proto
  testutil/network/network.go
  x/accountedpool/client/cli/query_accounted_pool_test.go
  x/amm/client/cli/query_denom_liquidity_test.go
  x/amm/client/cli/query_pool_test.go
  x/assetprofile/client/cli/suite_test.go
  x/assetprofile/keeper/query_entry.go
  x/assetprofile/keeper/query_entry_test.go
  x/assetprofile/spec/04_protobuf_definitions.md
  x/assetprofile/spec/05_functions.md
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/query.pb.gw.go
  x/burner/client/cli/query_history_test.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/module.go
  x/masterchef/types/params.go
  x/masterchef/types/params_test.go
  x/perpetual/client/cli/query_get_whitelist_test.go
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/client/cli/query_pool_test.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/types/generate_close_event.go
  x/tokenomics/client/cli/query_airdrop_test.go
  x/tokenomics/client/cli/query_genesis_inflation_test.go
  x/tokenomics/client/cli/query_time_based_inflation_test.go
  x/tradeshield/client/cli/query_pending_perpetual_order_test.go
  x/tradeshield/client/cli/query_pending_spot_order_test.go
Due: masterchef_lifecycle

merging with main
  api/elys/amm/params.pulsar.go
  api/elys/amm/pool.pulsar.go
  api/elys/amm/pool_params.pulsar.go
  api/elys/amm/tx.pulsar.go
  go.mod
Due: none

add more tests
  x/masterchef/client/cli/query_apr_test.go
  x/masterchef/client/cli/query_aprs_test.go
  x/masterchef/client/cli/query_cmds_test.go
  x/masterchef/client/cli/suite_test.go
Due: none

upgrade dep
  go.mod
  go.sum
Due: none

merging with main
  x/amm/keeper/params.go
  x/amm/migrations/v7_migration.go
  x/amm/migrations/v8_migration.go
  x/amm/module.go
Due: none

fixing migration issues
  x/amm/keeper/pool.go
  x/amm/migrations/v7_migration.go
Due: none

remove as we will switch to autocli
  x/masterchef/client/cli/query_apr_test.go
  x/masterchef/client/cli/query_cmds_test.go
Due: none

Upgrade dep (#978)
  go.mod
  go.sum
Due: none

add msg server tests
  x/masterchef/keeper/keeper.go
  x/masterchef/keeper/msg_server_test.go
Due: masterchef_transactions, masterchef_keeper

docs: improve proto command instruction
  go.mod
  readme.md
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/transferhook/types/query.pb.go
Due: none

docs: minor
  readme.md
Due: none

ignore pulsar files
  codecov.yml
Due: none

Ignore pulsar files (#980)
  codecov.yml
Due: none

Docs/improve proto generation instructions (#979)
  go.mod
  readme.md
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/transferhook/types/query.pb.go
Due: none

adding more validation for amm msgs
  x/amm/types/message_exit_pool.go
  x/amm/types/message_feed_multiple_external_liquidity.go
  x/amm/types/message_join_pool.go
  x/amm/types/message_swap_by_denom.go
  x/amm/types/message_swap_exact_amount_in.go
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/message_update_params.go
Due: none

fixing unit test cases
  x/amm/types/message_swap_by_denom.go
  x/amm/types/message_swap_by_denom_test.go
  x/amm/types/message_swap_exact_amount_in_test.go
  x/amm/types/message_swap_exact_amount_out_test.go
Due: none

add tests
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/msg_server_test.go
  x/masterchef/keeper/query_test.go
Due: masterchef_transactions, masterchef_lifecycle

E2E: Increase masterchef coverage (#976)
  x/masterchef/client/cli/query_aprs_test.go
  x/masterchef/client/cli/suite_test.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/keeper.go
  x/masterchef/keeper/msg_server_test.go
  x/masterchef/keeper/query_test.go
Due: masterchef_transactions, masterchef_lifecycle, masterchef_keeper

add testsuite for tradeshield tests and remove mockery
  x/tradeshield/keeper/msg_server_test.go
  x/tradeshield/keeper/params_test.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_params_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
Due: none

feat(tradeshield): lock order amount when creating an order
  app/keepers/keepers.go
  testutil/keeper/tradeshield.go
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/tradeshield/genesis_test.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/msg_server_test.go
  x/tradeshield/keeper/params_test.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_params_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
  x/tradeshield/types/order.go
Due: none

fixing unit test cases
  x/masterchef/keeper/query_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
Due: none

feat(tradeshield): lock order amount when creating an order (#983)
  app/keepers/keepers.go
  testutil/keeper/tradeshield.go
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/tradeshield/genesis_test.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/msg_server_test.go
  x/tradeshield/keeper/params_test.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_params_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
  x/tradeshield/types/order.go
Due: none

fix tradeshield test for updated logic
  x/tradeshield/keeper/params_test.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order_test.go
Due: none

update query test, Added todo
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
