Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

fixing unit test cases
  x/clob/keeper/keeper_test.go
  x/clob/keeper/liquidations.go
  x/clob/keeper/liquidations_test.go
  x/clob/keeper/sub_account.go
  x/clob/types/order.go
Due: none

add interval and enable boolean for taker fees
  api/elys/parameter/params.pulsar.go
  proto/elys/parameter/params.proto
  x/masterchef/keeper/abci.go
  x/parameter/migrations/v7_migration.go
  x/parameter/module.go
  x/parameter/types/params.go
  x/parameter/types/params.pb.go
Due: masterchef_lifecycle

swap message
  api/elys/masterchef/tx.pulsar.go
  api/elys/masterchef/tx_grpc.pb.go
  proto/elys/masterchef/tx.proto
  x/masterchef/keeper/msg_swap_burn_taker.go
  x/masterchef/types/tx.pb.go
Due: none

message removal
  api/elys/masterchef/tx.pulsar.go
  api/elys/masterchef/tx_grpc.pb.go
  proto/elys/masterchef/tx.proto
  x/masterchef/keeper/msg_swap_burn_taker.go
  x/masterchef/types/tx.pb.go
Due: none

update params
  api/elys/parameter/tx.pulsar.go
  proto/elys/parameter/tx.proto
  x/parameter/keeper/msg_server.go
  x/parameter/types/tx.pb.go
Due: parameter_transactions

setting max-bondable amount for vaults
  app/keepers/keepers.go
  x/leveragelp/keeper/params.go
  x/stablestake/keeper/keeper.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_bond_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/types/expected_keepers.go
Due: stablestake_transactions, stablestake_keeper

adding query for max-bondable amount
  api/elys/stablestake/query.pulsar.go
  api/elys/stablestake/query_grpc.pb.go
  proto/elys/stablestake/query.proto
  x/stablestake/keeper/query_pool.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/query.pb.gw.go
Due: stablestake_queries

adding query for max-bondable amount
  x/stablestake/autocli.go
Due: none

adding query for max-bondable amount
  x/stablestake/keeper/msg_server_bond.go
Due: stablestake_transactions

fixing error
  x/stablestake/keeper/query_pool.go
Due: stablestake_queries

fixing test cases
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
Due: leveragelp_transactions, leveragelp_keeper, leveragelp_queries

fixing test cases
  x/tier/keeper/query_get_users_pool_data_test.go
  x/tier/keeper/query_leverage_lp_total_test.go
  x/tier/keeper/query_staked_test.go
Due: tier_queries

fixing test cases
  x/stablestake/keeper/query_pool_test.go
Due: stablestake_queries

error
  x/vaults/keeper/msg_deposit.go
  x/vaults/types/errors.go
Due: none

minor review change
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

refactor: replace append slice manipulation with slices.Delete
  x/commitment/types/commitments.go
  x/masterchef/keeper/msg_server.go
Due: masterchef_transactions

fixes
  app/modules.go
  x/vaults/autocli.go
  x/vaults/genesis.go
  x/vaults/genesis_test.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/module.go
  x/vaults/simulation.go
Due: none

fixes
  x/masterchef/keeper/abci.go
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_withdraw.go
Due: masterchef_lifecycle

remove'
  x/vaults/genesis_test.go
Due: none

fixing for 0 take profit price ans stop loss price
  x/perpetual/types/mtp.go
Due: none

Node Syncing Issues: Taker fee swaps (#1316)
  api/elys/parameter/params.pulsar.go
  api/elys/parameter/tx.pulsar.go
  proto/elys/parameter/params.proto
  proto/elys/parameter/tx.proto
  x/masterchef/keeper/abci.go
  x/parameter/keeper/msg_server.go
  x/parameter/migrations/v7_migration.go
  x/parameter/module.go
  x/parameter/types/params.go
  x/parameter/types/params.pb.go
  x/parameter/types/tx.pb.go
Due: masterchef_lifecycle, parameter_transactions

Avkr003/vaults (#1317)
  api/elys/stablestake/query.pulsar.go
  api/elys/stablestake/query_grpc.pb.go
  app/keepers/keepers.go
  proto/elys/stablestake/query.proto
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/params.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/stablestake/autocli.go
  x/stablestake/keeper/keeper.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_bond_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/keeper/query_pool.go
  x/stablestake/keeper/query_pool_test.go
  x/stablestake/types/expected_keepers.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/query.pb.gw.go
  x/tier/keeper/query_get_users_pool_data_test.go
  x/tier/keeper/query_leverage_lp_total_test.go
  x/tier/keeper/query_staked_test.go
Due: leveragelp_transactions, leveragelp_keeper, leveragelp_queries, stablestake_transactions, stablestake_keeper, stablestake_queries, tier_queries

fixing for 0 take profit price ans stop loss price (#1320)
  x/perpetual/types/mtp.go
Due: none

fixing execution price
  x/perpetual/keeper/query_close_estimation.go
Due: perpetual_queries

add reward mechanism ds
  api/elys/vaults/pool.pulsar.go
  proto/elys/vaults/pool.proto
  proto/elys/vaults/query.proto
  x/vaults/keeper/hooks_vaults.go
  x/vaults/keeper/reward_pool.go
  x/vaults/keeper/user_reward_info.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/keys.go
  x/vaults/types/pool.pb.go
  x/vaults/types/reward_pool.go
  x/vaults/types/user_reward_info.go
Due: none

add claim reward and hooks for user actions
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  proto/elys/vaults/tx.proto
  x/vaults/keeper/hooks_user_actions.go
  x/vaults/keeper/msg_claim_rewards.go
  x/vaults/types/events.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/tx.pb.go
Due: none

get reward
  x/vaults/keeper/hooks_user_actions.go
  x/vaults/keeper/msg_claim_rewards.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/types/expected_keepers.go
Due: none

error handling
  x/estaking/keeper/hooks.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/types/errors.go
Due: none

fixing take profit price overwrite
  x/perpetual/keeper/open_consolidate_merge_mtp.go
Due: none

fixing auto cli
  x/perpetual/autocli.go
Due: none

ics upgrade
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  go.mod
  go.sum
  x/estaking/modules/staking/module.go
Due: none

Error handling for epoch, estaking, leveragelp (#1322)
  x/estaking/keeper/hooks.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/types/errors.go
Due: none

ics upgrade
  app/keepers/keepers.go
Due: none

ics upgrade
  app/app.go
  app/export.go
  app/modules.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

ics upgrade (#1323)
  app/app.go
  app/export.go
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  go.mod
  go.sum
  x/estaking/modules/staking/module.go
Due: none

fix
  x/vaults/keeper/begin_blocker.go
Due: none

optimizing for big dec in perpetuals
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/mtp_health.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/mtp_open_price_test.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_merge_mtp.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/repay.go
  x/perpetual/types/mtp.go
Due: perpetual_transactions, perpetual_keeper, perpetual_queries

fix nil err
  x/perpetual/keeper/mtp.go
Due: none
