Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

add tests
  x/commitment/keeper/airdrops_test.go
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
Due: commitment_transactions

add more tests
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
Due: commitment_transactions

chore: fix comment
  x/tradeshield/keeper/pending_spot_order.go
Due: none

add more cases
  x/commitment/keeper/msg_server_claim_airdrop_test.go
Due: commitment_transactions

add total claimed query
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  proto/elys/commitment/query.proto
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/query_airdrop_claimed.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
Due: commitment_transactions, commitment_queries

add query
  x/commitment/client/cli/query.go
  x/commitment/client/cli/query_total_airdrop_claimed.go
Due: commitment_queries

migration
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
  x/commitment/migrations/v7_migration.go
Due: commitment_transactions

review changes
  api/elys/commitment/tx.pulsar.go
  proto/elys/commitment/tx.proto
  x/commitment/keeper/airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
  x/commitment/types/message_claim_airdrop.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

change amount
  x/commitment/keeper/airdrop.go
  x/commitment/migrations/v7_migration.go
Due: none

revert
  api/elys/commitment/tx.pulsar.go
  proto/elys/commitment/tx.proto
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
  x/commitment/module.go
  x/commitment/types/message_claim_airdrop.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions, commitment_keeper

remove
  x/commitment/keeper/keeper.go
  x/commitment/module.go
Due: commitment_keeper

add missing airdrop address and balance
  x/commitment/migrations/missing_airdrop.go
  x/commitment/migrations/v7_migration.go
Due: none

change
  api/elys/commitment/tx.pulsar.go
  proto/elys/commitment/tx.proto
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
  x/commitment/types/message_claim_airdrop.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

chore: fix comment (#1059)
  x/tradeshield/keeper/pending_spot_order.go
Due: none

Airdrop claim (#1058)
  api/elys/commitment/airdrop.pulsar.go
  api/elys/commitment/params.pulsar.go
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  proto/elys/commitment/airdrop.proto
  proto/elys/commitment/params.proto
  proto/elys/commitment/query.proto
  proto/elys/commitment/tx.proto
  x/commitment/client/cli/query.go
  x/commitment/client/cli/query_total_airdrop_claimed.go
  x/commitment/client/cli/tx.go
  x/commitment/client/cli/tx_claim_airdrop.go
  x/commitment/client/cli/tx_claim_airdrop_test.go
  x/commitment/keeper/airdrop.go
  x/commitment/keeper/airdrops_test.go
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
  x/commitment/keeper/query_airdrop.go
  x/commitment/keeper/query_airdrop_claimed.go
  x/commitment/migrations/missing_airdrop.go
  x/commitment/migrations/v6_migration.go
  x/commitment/migrations/v7_migration.go
  x/commitment/module.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/errors.go
  x/commitment/types/keys.go
  x/commitment/types/message_claim_airdrop.go
  x/commitment/types/message_claim_airdrop_test.go
  x/commitment/types/params.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions, commitment_queries

fix: Display order price event attribute in JSON (#1057)
  app/setup_handlers.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/events.go
Due: tradeshield_transactions

add kol distribution
  api/elys/commitment/airdrop.pulsar.go
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  proto/elys/commitment/airdrop.proto
  proto/elys/commitment/query.proto
  proto/elys/commitment/tx.proto
  x/commitment/keeper/airdrop.go
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/keeper/query.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/keys.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions, commitment_queries

logic
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/types/errors.go
Due: commitment_transactions

add cli
  api/elys/commitment/tx.pulsar.go
  proto/elys/commitment/tx.proto
  x/commitment/client/cli/tx.go
  x/commitment/client/cli/tx_claim_kol.go
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/types/message_claim_kol.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

tests
  x/commitment/client/cli/tx_claim_kol_test.go
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/keeper/msg_server_claim_kol_test.go
  x/commitment/types/message_claim_kol_test.go
Due: commitment_transactions

tests
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/keeper/msg_server_claim_kol_test.go
Due: commitment_transactions

increase coverage for accountedpool keeper
  x/accountedpool/keeper/accounted_pool_update_test.go
  x/accountedpool/keeper/hooks_amm_test.go
  x/accountedpool/keeper/hooks_leveragelp_test.go
Due: none

add data
  api/elys/commitment/params.pulsar.go
  proto/elys/commitment/params.proto
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/migrations/missing_airdrop.go
  x/commitment/migrations/v7_migration.go
  x/commitment/types/params.pb.go
Due: commitment_transactions

update gov proposal
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  proto/elys/commitment/tx.proto
  x/commitment/client/cli/tx.go
  x/commitment/client/cli/tx_update_airdrop_params.go
  x/commitment/keeper/msg_server_update_airdrop_params.go
  x/commitment/types/message_update_airdrop_params.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

enable
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/types/errors.go
Due: commitment_transactions

fix
  x/commitment/keeper/msg_server_claim_airdrop_test.go
  x/commitment/keeper/msg_server_claim_kol_test.go
Due: commitment_transactions

query
  x/commitment/client/cli/query.go
  x/commitment/client/cli/query_kol.go
Due: commitment_queries

update wallet
  x/commitment/keeper/msg_server_claim_kol.go
Due: commitment_transactions

diff time for kol distr
  api/elys/commitment/params.pulsar.go
  api/elys/commitment/tx.pulsar.go
  proto/elys/commitment/params.proto
  proto/elys/commitment/tx.proto
  x/commitment/client/cli/tx_update_airdrop_params.go
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/keeper/msg_server_update_airdrop_params.go
  x/commitment/migrations/v7_migration.go
  x/commitment/types/message_update_airdrop_params.go
  x/commitment/types/params.pb.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

fix
  x/commitment/keeper/msg_server_claim_kol_test.go
Due: commitment_transactions

testing addresses
  x/commitment/migrations/missing_airdrop.go
  x/commitment/migrations/v7_migration.go
Due: none

testnet data
  x/commitment/migrations/missing_airdrop.go
  x/commitment/migrations/v7_migration.go
Due: none

Testnet addresses (#1061)
  x/commitment/migrations/v7_migration.go
Due: none

KOL distribution (#1060)
  api/elys/commitment/airdrop.pulsar.go
  api/elys/commitment/params.pulsar.go
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  proto/elys/commitment/airdrop.proto
  proto/elys/commitment/params.proto
  proto/elys/commitment/query.proto
  proto/elys/commitment/tx.proto
  x/commitment/client/cli/query.go
  x/commitment/client/cli/query_kol.go
  x/commitment/client/cli/tx.go
  x/commitment/client/cli/tx_claim_kol.go
  x/commitment/client/cli/tx_claim_kol_test.go
  x/commitment/client/cli/tx_update_airdrop_params.go
  x/commitment/keeper/airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop.go
  x/commitment/keeper/msg_server_claim_airdrop_test.go
  x/commitment/keeper/msg_server_claim_kol.go
  x/commitment/keeper/msg_server_claim_kol_test.go
  x/commitment/keeper/msg_server_update_airdrop_params.go
  x/commitment/keeper/query.go
  x/commitment/migrations/missing_airdrop.go
  x/commitment/migrations/v7_migration.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/errors.go
  x/commitment/types/keys.go
  x/commitment/types/message_claim_kol.go
  x/commitment/types/message_claim_kol_test.go
  x/commitment/types/message_update_airdrop_params.go
  x/commitment/types/params.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions, commitment_queries

Add deployment workflow for MainNet
  .github/workflows/devnet-deploy.yml
  .github/workflows/mainnet-deploy.yml
  .github/workflows/release-and-testnet-deploy.yml
Due: none

chore: update next version
  app/setup_handlers.go
Due: none

Add deployment workflow for MainNet (#1062)
  .github/workflows/devnet-deploy.yml
  .github/workflows/mainnet-deploy.yml
  .github/workflows/release-and-testnet-deploy.yml
  app/setup_handlers.go
Due: none

Enhance deployment workflows and upgrade command
  .github/workflows/mainnet-deploy.yml
  .github/workflows/release-and-testnet-deploy.yml
  cmd/elysd/cmd/upgrade.go
Due: none

allowing all messages to be expedited
  app/ante/gov_expedited_ante.go
Due: none

allowing all messages to be expedited (#1064)
  app/ante/gov_expedited_ante.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
