Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

fixing test cases
  x/perpetual/client/cli/query_get_positions_by_pool_test.go
  x/perpetual/client/cli/query_get_positions_for_address_test.go
  x/perpetual/client/cli/query_get_positions_test.go
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/client/cli/query_pool_test.go
  x/perpetual/keeper/check_same_asset_position_test.go
Due: none

fixing migrations
  app/setup_handlers.go
  x/perpetual/migrations/v10_migration.go
Due: none

masterchef tests were fixed
  x/masterchef/cover.out
  x/masterchef/genesis_test.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/apr_pool_test.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/fee_info_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
  x/masterchef/keeper/pool_reward_info_test.go
  x/masterchef/keeper/pool_rewards_accum_test.go
  x/masterchef/keeper/pool_test.go
  x/masterchef/keeper/user_reward_info_test.go
Due: masterchef_lifecycle

masterchef tests were fixed
  app/test_setup.go
  x/tokenomics/keeper/msg_server_time_based_inflation.go
Due: tokenomics_transactions

masterchef tests were fixed
  x/masterchef/cover.out
Due: none

fixing migrations
  app/setup_handlers.go
  proto/elys/leveragelp/pool.proto
  x/leveragelp/keeper/pool.go
  x/leveragelp/keeper/position.go
  x/leveragelp/migrations/v12_migration.go
  x/leveragelp/migrations/v13_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/pool.pb.go
  x/perpetual/keeper/open.go
Due: none

oracle tests were fixed
  x/oracle/genesis_test.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/msg_server_price_test.go
Due: oracle_transactions, oracle_keeper

update
  proto/elys/amm/params.proto
  x/amm/keeper/msg_server_create_pool.go
  x/amm/migrations/v5_migration.go
  x/amm/types/errors.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
Due: amm_transactions

test(commitment): increase coverage from 40 to 57%
  x/commitment/keeper/commitments.go
  x/commitment/keeper/commitments_test.go
  x/commitment/keeper/deposit_liquid_tokens_test.go
  x/commitment/keeper/keeper_test.go
Due: commitment_keeper

edge cases fixes
  x/perpetual/keeper/check_same_asset_position.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_close_estimation.go
Due: none

test case fixes
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/process_mtp_test.go
Due: none

fixing edge cases
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
Due: none

stablestake tests were fixed
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_bond_test.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/keeper/params_test.go
Due: stablestake_transactions, stablestake_keeper

some perpetual tests were fixed
  x/perpetual/client/cli/query_get_whitelist_test.go
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/client/cli/tx_dewhitelist_test.go
  x/perpetual/client/cli/tx_update_params_test.go
  x/perpetual/client/cli/tx_whitelist_test.go
  x/perpetual/keeper/calc_total_liabilities_test.go
  x/perpetual/keeper/check_same_asset_position_test.go
  x/perpetual/keeper/get_amm_pool_test.go
  x/perpetual/keeper/get_best_pool_test.go
  x/perpetual/keeper/get_net_open_interest_test.go
  x/perpetual/keeper/invariant_check_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/keeper/query_pool_test.go
  x/perpetual/types/message_update_take_profit_price_test.go
  x/perpetual/types/params_test.go
  x/tier/keeper/portfolio_test.go
Due: none

update
  x/perpetual/spec/bot.md
Due: none

add queries
  proto/elys/masterchef/query.proto
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: none

move queries
  docs/static/openapi.yml
  proto/elys/masterchef/query.proto
  x/masterchef/client/cli/query.go
  x/masterchef/client/cli/query_apr.go
  x/masterchef/client/cli/query_aprs.go
  x/masterchef/client/cli/query_pool_rewards.go
  x/masterchef/keeper/query_apr.go
  x/masterchef/keeper/query_aprs.go
  x/masterchef/keeper/query_pool_rewards.go
Due: none

test(commitments): increased to 73%
  x/commitment/keeper/keeper_test.go
  x/commitment/keeper/msg_server_claim_vesting_test.go
  x/commitment/keeper/msg_server_commit_claimed_rewards_test.go
  x/commitment/keeper/msg_server_stake_test.go
  x/commitment/keeper/msg_server_unstake_test.go
Due: commitment_transactions, commitment_keeper

update
  x/perpetual/types/mocks/amm_keeper.go
  x/perpetual/types/mocks/close_estimation_checker.go
Due: none

update
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/updated_leverage.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/query.pb.go
Due: none

update
  x/perpetual/keeper/updated_leverage.go
  x/perpetual/types/expected_keepers.go
Due: none

add query logic
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/keeper.go
  x/masterchef/keeper/query_apr.go
  x/masterchef/keeper/query_aprs.go
  x/masterchef/keeper/query_pool_rewards.go
Due: masterchef_keeper

fix
  testutil/keeper/masterchef.go
Due: none

cli logic
  app/app.go
  x/masterchef/client/cli/query_apr.go
  x/masterchef/client/cli/query_aprs.go
  x/masterchef/client/cli/query_pool_rewards.go
  x/perpetual/keeper/begin_blocker.go
Due: none

Dev 2033 add updated leverage value (#853)
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/updated_leverage.go
  x/perpetual/types/mocks/amm_keeper.go
  x/perpetual/types/mocks/asset_profile_keeper.go
  x/perpetual/types/mocks/close_estimation_checker.go
  x/perpetual/types/query.pb.go
Due: none

migration fixes
  app/setup_handlers.go
  proto/elys/stablestake/params.proto
  x/leveragelp/keeper/pool.go
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v7_migration.go
  x/stablestake/module.go
  x/stablestake/types/params.go
  x/stablestake/types/params.pb.go
Due: none

migration fixes
  proto/elys/stablestake/params.proto
  x/leveragelp/keeper/msg_server_open.go
  x/stablestake/types/message_update_params_test.go
  x/stablestake/types/params.go
  x/stablestake/types/params.pb.go
Due: leverage_lp_transactions

migration fixes
  app/setup_handlers.go
  x/leveragelp/keeper/pool.go
Due: none

migration fixes (#873)
  app/setup_handlers.go
  proto/elys/stablestake/params.proto
  x/leveragelp/keeper/msg_server_open.go
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v7_migration.go
  x/stablestake/module.go
  x/stablestake/types/message_update_params_test.go
  x/stablestake/types/params.go
  x/stablestake/types/params.pb.go
Due: leverage_lp_transactions

collateral after closing fix
  testutil/keeper/perpetual.go
  x/perpetual/genesis_test.go
  x/perpetual/keeper/borrow_rate_test.go
  x/perpetual/keeper/check_max_open_positions.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_servers_test.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/params_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_params_test.go
  x/perpetual/keeper/query_pool_test.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/message_close.go
  x/perpetual/types/mocks/account_keeper.go
  x/perpetual/types/mocks/amm_keeper.go
  x/perpetual/types/mocks/asset_profile_keeper.go
  x/perpetual/types/mocks/authorization_checker.go
  x/perpetual/types/mocks/bank_keeper.go
  x/perpetual/types/mocks/close_estimation_checker.go
  x/perpetual/types/mocks/close_position_checker.go
  x/perpetual/types/mocks/leverageLP_keeper.go
  x/perpetual/types/mocks/open_checker.go
  x/perpetual/types/mocks/open_define_assets_checker.go
  x/perpetual/types/mocks/position_checker.go
Due: none

migration fixes
  x/leveragelp/keeper/keeper.go
  x/leveragelp/migrations/v13_migration.go
Due: leveragelp_keeper

migration fixes
  x/leveragelp/migrations/v14_migration.go
  x/leveragelp/module.go
Due: none

migration fixes
  x/leveragelp/migrations/v13_migration.go
Due: none

migration fixes
  x/accountedpool/keeper/hooks_leveragelp.go
Due: none

tokenomics tests were fixed
  x/tokenomics/cover.out
  x/tokenomics/keeper/msg_server_airdrop_test.go
  x/tokenomics/keeper/msg_server_genesis_inflation_test.go
  x/tokenomics/keeper/msg_server_time_based_inflation_test.go
Due: tokenomics_transactions

tokenomics tests were fixed
  x/tokenomics/cover.out
Due: none

Avkr003/collateral (#874)
  testutil/keeper/perpetual.go
  x/accountedpool/keeper/hooks_leveragelp.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/migrations/v14_migration.go
  x/leveragelp/module.go
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/genesis_test.go
  x/perpetual/keeper/borrow_rate_test.go
  x/perpetual/keeper/check_max_open_positions.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_servers_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/params_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_params_test.go
  x/perpetual/keeper/query_pool_test.go
  x/perpetual/keeper/updated_leverage.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/message_close.go
  x/perpetual/types/mocks/account_keeper.go
  x/perpetual/types/mocks/amm_keeper.go
  x/perpetual/types/mocks/asset_profile_keeper.go
  x/perpetual/types/mocks/authorization_checker.go
  x/perpetual/types/mocks/bank_keeper.go
  x/perpetual/types/mocks/close_estimation_checker.go
  x/perpetual/types/mocks/close_position_checker.go
  x/perpetual/types/mocks/leverageLP_keeper.go
  x/perpetual/types/mocks/open_checker.go
  x/perpetual/types/mocks/open_define_assets_checker.go
  x/perpetual/types/mocks/position_checker.go
Due: leveragelp_keeper

returning error
  x/accountedpool/keeper/hooks_leveragelp.go
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
