Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

fixing test cases
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none

fixing test cases
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: none

code review comments
  x/tradeshield/migrations/v8_migration.go
Due: none

code review comments
  x/perpetual/autocli.go
Due: none

Add event to track price after swap from non oracle pool (#1335)
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/amm_price.go
  x/amm/types/events.go
  x/amm/types/pool.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

remove repeated code
  x/vaults/keeper/begin_blocker.go
Due: none

remove todo
  x/vaults/keeper/hooks_user_actions.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/query_vault.go
Due: none

fee
  api/elys/vaults/vault.pulsar.go
  proto/elys/leveragelp/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/begin_blocker.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/vault.pb.go
Due: none

Vote
  .github/workflows/vote.yml
Due: none

update ojo version
  go.mod
  go.sum
Due: none

merge fixes
  app/keepers/keepers.go
  app/oracle.go
Due: none

change key for perpetual order storage
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/migrations/v11_migration.go
  x/tradeshield/module.go
  x/tradeshield/types/keys.go
Due: tradeshield_transactions

correcting liquidation price func
  x/clob/keeper/fees_test.go
  x/clob/keeper/health.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/liquidation_price.go
  x/clob/keeper/liquidation_price_test.go
  x/clob/keeper/liquidations.go
Due: none

fix tests
  x/tradeshield/client/cli/tx_execute_orders.go
  x/tradeshield/genesis_test.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_test.go
Due: tradeshield_transactions, tradeshield_queries

fixing unit test cases
  x/epochs/genesis_test.go
Due: none

make perpetual field non nullable in perpetualInfo
  api/elys/clob/perpetual.pulsar.go
  proto/elys/clob/perpetual.proto
  x/clob/keeper/query_perpetuals.go
  x/clob/types/perpetual.pb.go
Due: none

update all perpetual query to get specific market id's perpetuals
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  proto/elys/clob/query.proto
  x/clob/keeper/query_perpetuals.go
  x/clob/types/query.pb.go
Due: none

merge fixes
  x/clob/keeper/query_perpetuals.go
Due: none

add health in perpetual info and update owner perpetual response with perpetualInfo
  api/elys/clob/perpetual.pulsar.go
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  proto/elys/clob/perpetual.proto
  proto/elys/clob/query.proto
  x/clob/keeper/health.go
  x/clob/keeper/query_perpetuals.go
  x/clob/types/perpetual.pb.go
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
Due: none

update tests
  x/clob/keeper/query_perpetuals_test.go
Due: none

add hooks
  app/keepers/keepers.go
  proto/elys/tradeshield/tx.proto
  x/accountedpool/keeper/hooks_perpetual.go
  x/perpetual/types/hooks.go
  x/tradeshield/keeper/hooks_perpetual.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/types/keys.go
Due: tradeshield_transactions

add tests
  x/perpetual/keeper/repay.go
  x/tradeshield/keeper/hooks_perpetual_test.go
Due: none

update perpetual health calculation for short positions
  x/clob/keeper/health.go
Due: none

perpetual process position use case was updated
  Makefile
Due: none

Revert "perpetual process position use case was updated"
  Makefile
Due: none

Add Clob query to get all perpetuals with liquidation price (#1326)
  api/elys/clob/perpetual.pulsar.go
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  proto/elys/clob/perpetual.proto
  proto/elys/clob/query.proto
  x/clob/autocli.go
  x/clob/keeper/health.go
  x/clob/keeper/query_perpetuals.go
  x/clob/keeper/query_perpetuals_test.go
  x/clob/types/keys.go
  x/clob/types/perpetual.pb.go
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
Due: none

fixing unit test cases
  readme.md
  x/perpetual/migrations/v19_migration.go
Due: none

update cancel orders
  api/elys/tradeshield/tx.pulsar.go
  proto/elys/tradeshield/tx.proto
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
  x/tradeshield/types/tx.pb.go
Due: tradeshield_transactions

close percentage
  api/elys/tradeshield/tx.pulsar.go
  api/elys/tradeshield/types.pulsar.go
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: tradeshield_transactions

add tests
  x/tradeshield/keeper/pending_perpetual_order_partial_close_test.go
Due: none

remove checks
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
Due: tradeshield_transactions

fixing msg validations
  x/perpetual/types/message_open.go
  x/tradeshield/types/messages_pending_perpetual_order.go
Due: none

updating params for mainnet migration and fixing query
  x/perpetual/autocli.go
  x/perpetual/client/cli/query.go
  x/perpetual/client/cli/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/migrations/v19_migration.go
Due: perpetual_queries

updating params for mainnet migration
  x/perpetual/migrations/v19_migration.go
Due: none
