Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

test(amm): increased test coverage to 76%
  x/commitment/keeper/msg_server_unstake_test.go
  x/commitment/keeper/msg_server_update_vesting_info_test.go
  x/commitment/keeper/msg_server_vest_liquid_test.go
  x/commitment/keeper/msg_server_vest_now_test.go
  x/commitment/keeper/params.go
  x/commitment/keeper/params_test.go
Due: commitment_transactions

bug fixes
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_open.go
Due: none

migration fixes
  x/accountedpool/keeper/hooks_leveragelp.go
Due: none

Latest perpetual fixes (#875)
  x/accountedpool/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_open.go
Due: none

migration fixes
  app/setup_handlers.go
Due: none

migration fixes (#876)
  app/setup_handlers.go
Due: none

transferhook tests were fixed
  x/transferhook/keeper/keeper_test.go
Due: transferhook_keeper

some tradeshield tests were fixed
  x/tradeshield/client/cli/tx_pending_perpetual_order_test.go
  x/tradeshield/client/cli/tx_update_params.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
Due: none

some perpetual tests were fixed
  x/perpetual/keeper/open_long_test.go
  x/perpetual/types/message_update_take_profit_price_test.go
Due: none

some perpetual tests were fixed
  x/perpetual/client/cli/query_mtp_test.go
Due: none

some perpetual tests were fixed
  x/perpetual/client/cli/query_get_whitelist_test.go
  x/perpetual/client/cli/tx_dewhitelist.go
  x/perpetual/client/cli/tx_dewhitelist_test.go
  x/perpetual/client/cli/tx_update_params.go
  x/perpetual/client/cli/tx_update_params_test.go
  x/perpetual/client/cli/tx_whitelist.go
  x/perpetual/client/cli/tx_whitelist_test.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: none

some perpetual tests were fixed
  app/test_setup.go
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/keeper/invariant_check_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: none

some perpetual tests were fixed
  x/tradeshield/client/cli/tx_update_params_test.go
Due: none

add tests
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/query_apr_test.go
Due: none

remove
  x/perpetual/keeper/begin_blocker.go
Due: none

testing
  x/perpetual/keeper/query_open_estimation.go
Due: none

more tests
  x/masterchef/keeper/query_apr_test.go
Due: none

[Perpetual]: Add spec for triggers (#871)
  x/perpetual/spec/bot.md
Due: none

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

update
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/pool.go
  x/leveragelp/migrations/v15_migration.go
  x/leveragelp/module.go
Due: leverage_lp_transactions

Add testnet file
  forge/forge.testnet.json
Due: none

Try line breaks
  forge/forge.testnet.json
Due: none

Update json
  forge/forge.testnet.json
Due: none

Forge (#878)
  forge/forge.testnet.json
Due: none

fix open interest
  x/perpetual/keeper/get_net_open_interest.go
Due: none

coment
  x/perpetual/keeper/get_net_open_interest.go
Due: none

test(commitment): increase coverage from 40 to 76% (#872)
  x/commitment/keeper/commitments.go
  x/commitment/keeper/commitments_test.go
  x/commitment/keeper/deposit_liquid_tokens_test.go
  x/commitment/keeper/keeper_test.go
  x/commitment/keeper/msg_server_claim_vesting_test.go
  x/commitment/keeper/msg_server_commit_claimed_rewards_test.go
  x/commitment/keeper/msg_server_stake_test.go
  x/commitment/keeper/msg_server_unstake_test.go
  x/commitment/keeper/msg_server_update_vesting_info_test.go
  x/commitment/keeper/msg_server_vest_liquid_test.go
  x/commitment/keeper/msg_server_vest_now_test.go
  x/commitment/keeper/params.go
  x/commitment/keeper/params_test.go
Due: commitment_transactions, commitment_keeper

test(amm): add test cases
  x/amm/keeper/msg_server_create_pool_test.go
Due: amm_transactions

feat: usdc pool check (#868)
  proto/elys/amm/params.proto
  x/amm/keeper/msg_server_create_pool.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/migrations/v5_migration.go
  x/amm/module.go
  x/amm/types/errors.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/params_test.go
Due: amm_transactions

[Perpetual]: Fix open interest (#879)
  x/perpetual/keeper/get_net_open_interest.go
Due: none

add to query
  proto/elys/incentive/genesis.proto
  proto/elys/incentive/query.proto
  proto/elys/incentive/tx.proto
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/get_net_open_interest.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/types/query.pb.go
Due: none

fix
  x/perpetual/keeper/get_net_open_interest.go
Due: none

update
  x/perpetual/keeper/get_net_open_interest.go
Due: none

adding swap fixes
  x/amm/client/cli/query_pool_test.go
  x/amm/client/wasm/query_earn_mining_pool_all.go
  x/amm/genesis_test.go
  x/amm/keeper/abci_test.go
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/calc_out_route_spot_price_test.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_pool.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/pool_test.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/leveragelp/keeper/hooks_amm.go
  x/masterchef/keeper/abci.go
  x/perpetual/keeper/calc_mtp_take_profit_liabilities.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/settle_funding_fee_collection.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/types/expected_keepers.go
  x/transferhook/keeper/swap_test.go
Due: amm_transactions, amm_lifecycle, amm_keeper, masterchef_lifecycle
