Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

call
  x/masterchef/keeper/query_list_fee_info.go
  x/masterchef/keeper/query_show_fee_info.go
Due: none

add query tests
  x/masterchef/keeper/query_show_fee_info_test.go
Due: none

pr review fixes
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close_positions.go
Due: leverage_lp_transactions, leverage_lp_lifecycle

fixing test failing
  x/leveragelp/keeper/hooks_amm.go
Due: none

self review correction
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_remove_pools_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
Due: leverage_lp_transactions, leverage_lp_lifecycle

test case correction
  x/leveragelp/keeper/begin_blocker_test.go
Due: leverage_lp_lifecycle

feat: add dynamic leverage
  proto/elys/leveragelp/types.proto
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/position_test.go
  x/leveragelp/keeper/utils_test.go
  x/leveragelp/types/position.go
  x/leveragelp/types/types.pb.go
Due: leverage_lp_transactions, leverage_lp_lifecycle

update: test
  x/leveragelp/keeper/begin_blocker_test.go
  x/leveragelp/keeper/hooks_amm_test.go
  x/leveragelp/keeper/position_close_test.go
Due: leverage_lp_lifecycle

assets and liability
  x/tier/keeper/portfolio.go
Due: none

update query
  proto/elys/tier/query.proto
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_perpetual.go
  x/tier/types/query.pb.go
Due: none

feat: remove Add Collateral flow
  proto/elys/leveragelp/tx.proto
  wasmbindings/types/types.go
  x/leveragelp/client/cli/tx.go
  x/leveragelp/client/cli/tx_add_collateral.go
  x/leveragelp/client/wasm/messenger.go
  x/leveragelp/client/wasm/msg_add_collateral.go
  x/leveragelp/keeper/msg_server_add_collateral.go
  x/leveragelp/keeper/msg_server_add_collateral_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/migrations/v9_migration.go
  x/leveragelp/module_simulation.go
  x/leveragelp/simulation/add_collateral.go
  x/leveragelp/types/codec.go
  x/leveragelp/types/message_add_collateral.go
  x/leveragelp/types/message_add_collateral_test.go
  x/leveragelp/types/tx.pb.go
Due: leverage_lp_transactions

feat:fix
  app/app.go
Due: none

comment
  x/masterchef/keeper/pool_rewards_accum.go
Due: none

feat: add migration
  proto/elys/leveragelp/types.proto
  x/leveragelp/migrations/v10_migration.go
  x/leveragelp/migrations/v9_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/types.pb.go
Due: none

ci: use real distr data for snap gen
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: set distr param in snap gen
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: enable commitment data within snap gen (#753)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

edge case
  x/leveragelp/keeper/begin_blocker.go
  x/tier/keeper/query_perpetual_test.go
Due: leverage_lp_lifecycle

remove
  x/tier/keeper/query_perpetual_test.go
Due: none

[Bug]: Leverage, Commitment (#747)
  docs/static/openapi.yml
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/keeper/utils_test.go
  x/leveragelp/migrations/v10_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/params.go
Due: leverage_lp_transactions, leverage_lp_lifecycle

fix: mitigate panic caused by must acc address in abci (#750)
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

[Masterchef]: Store 7 days fees and add queries to display (#754)
  docs/static/openapi.yml
  proto/elys/masterchef/query.proto
  proto/elys/masterchef/types.proto
  x/masterchef/client/cli/query.go
  x/masterchef/client/cli/query_list_fee_info.go
  x/masterchef/client/cli/query_show_fee_info.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/fee_info.go
  x/masterchef/keeper/fee_info_test.go
  x/masterchef/keeper/query_list_fee_info.go
  x/masterchef/keeper/query_show_fee_info.go
  x/masterchef/keeper/query_show_fee_info_test.go
  x/masterchef/types/keys.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
  x/masterchef/types/types.pb.go
Due: masterchef_lifecycle

[Tier]: update perpetual response (#756)
  proto/elys/tier/query.proto
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_perpetual.go
  x/tier/types/query.pb.go
Due: none

Add forward calc field for eden rewards query (#751)
  proto/elys/incentive/query.proto
  x/incentive/keeper/queries.go
  x/incentive/types/query.pb.go
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/keeper/pool_rewards_accum_test.go
  x/parameter/keeper/msg_server_update_rewards_data_lifetime.go
  x/parameter/keeper/msg_server_update_rewards_data_lifetime_test.go
Due: parameter_transactions

update: proto
  x/leveragelp/types/types.pb.go
Due: none

Feat/leveragelp hooks (#748)
  app/app.go
  proto/elys/leveragelp/query.proto
  proto/elys/leveragelp/types.proto
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/query_committed_tokens_locked.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/query_get_positions_for_address.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/types/hooks.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/types.pb.go
  x/tier/keeper/hooks_leveragelp.go
  x/tier/keeper/portfolio.go
  x/tier/types/expected_keepers.go
Due: leverage_lp_transactions, leveragelp_keeper

update: doc
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/spec/02_state.md
  x/leveragelp/spec/06_position_workflow.md
Due: leverage_lp_transactions

feat: fix
  x/leveragelp/migrations/v11_mmigration.go
  x/leveragelp/module.go
  x/leveragelp/types/position.go
  x/leveragelp/types/position_test.go
  x/leveragelp/types/tx.pb.go
  x/leveragelp/types/types.pb.go
Due: none

feat: fix test
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/types/position.go
  x/leveragelp/types/position_test.go
Due: leverage_lp_transactions

feat: fix
  x/leveragelp/types/position.go
Due: none

Removing redundant members from masterchef params, add it's test cases, adding validation for ProtocolRevenueAddress BlockedAddress check
  proto/elys/masterchef/incentive.proto
  proto/elys/masterchef/params.proto
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/msg_server.go
  x/masterchef/keeper/params.go
  x/masterchef/keeper/user_reward_info.go
  x/masterchef/migrations/v3_migration.go
  x/masterchef/migrations/v4_migration.go
  x/masterchef/migrations/v5_migration.go
  x/masterchef/module.go
  x/masterchef/types/genesis_test.go
  x/masterchef/types/incentive.pb.go
  x/masterchef/types/message_update_incentive_params.go
  x/masterchef/types/params.go
  x/masterchef/types/params.pb.go
  x/masterchef/types/params_test.go
Due: masterchef_transactions, masterchef_lifecycle

onfeature to only eden rewards can be given to certain pools and not every pool proposed by the community
  docs/static/openapi.yml
  proto/elys/masterchef/pool.proto
  proto/elys/masterchef/tx.proto
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/hooks_amm.go
  x/masterchef/keeper/msg_server_toggle_pool_eden_rewards.go
  x/masterchef/migrations/v5_migration.go
  x/masterchef/module.go
  x/masterchef/module_simulation.go
  x/masterchef/simulation/toggle_pool_eden_rewards.go
  x/masterchef/types/codec.go
  x/masterchef/types/errors.go
  x/masterchef/types/message_toggle_pool_eden_rewards.go
  x/masterchef/types/message_toggle_pool_eden_rewards_test.go
  x/masterchef/types/pool.pb.go
  x/masterchef/types/tx.pb.go
Due: masterchef_transactions, masterchef_lifecycle

fix query
  x/leveragelp/keeper/position.go
Due: none

feat:perpetual add stop loss price
  proto/elys/perpetual/tx.proto
  proto/elys/perpetual/types.proto
  x/perpetual/keeper/msg_server_update_stoploss.go
  x/perpetual/types/msg_add_stop_loss.go
  x/perpetual/types/tx.pb.go
  x/perpetual/types/types.pb.go
Due: none

feat: add test
  proto/elys/perpetual/tx.proto
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/types/codec.go
  x/perpetual/types/message_update_stop_loss_test.go
  x/perpetual/types/msg_add_stop_loss.go
  x/perpetual/types/msgs.go
  x/perpetual/types/tx.pb.go
Due: none

writing migration for MTPs
  x/perpetual/keeper/add_collateral.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_long.go
  x/perpetual/keeper/close_short.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/open_consolidate_long.go
  x/perpetual/keeper/open_consolidate_short.go
  x/perpetual/keeper/query_mtp.go
  x/perpetual/keeper/repay.go
  x/perpetual/migrations/v5_migration.go
  x/perpetual/migrations/v6_migration.go
  x/perpetual/module.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/genesis.go
  x/perpetual/types/keys.go
  x/perpetual/types/types.go
  x/tier/types/expected_keepers.go
Due: none

writing migration for Pools
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/keeper/set_pool.go
  x/perpetual/migrations/v6_migration.go
  x/perpetual/types/genesis.go
  x/perpetual/types/key_pool.go
  x/perpetual/types/keys.go
Due: none

feat: add cli command
  x/perpetual/client/cli/tx.go
  x/perpetual/client/cli/tx_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
Due: none

migration for whitelist keys
  x/perpetual/genesis.go
  x/perpetual/keeper/check_user_authorization.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_dewhitelist.go
  x/perpetual/keeper/msg_server_whitelist.go
  x/perpetual/keeper/query_get_whitelist.go
  x/perpetual/keeper/query_is_whitelisted.go
  x/perpetual/keeper/whitelist.go
  x/perpetual/migrations/v6_migration.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/keys.go
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
