Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

vote
  .github/workflows/vote.yml
Due: none

disable perpetual whitelisting
  app/setup_handlers.go
Due: none

Update v7_migration.go
  x/commitment/migrations/v7_migration.go
Due: none

updating read me
  UPGRADING.md
  readme.md
Due: none

Add interest amount attributes in perpetual events (#1385)
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
Due: perpetual_transactions

Execute based on the final execution price as opposed to the oracle price (#1379)
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: none

updating events
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/types/events.go
Due: perpetual_transactions

updating events
  x/perpetual/keeper/open_consolidate.go
Due: none

updating events (#1387)
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/types/events.go
Due: perpetual_transactions

adding closing ratio in close tx
  api/elys/masterchef/tx.pulsar.go
  api/elys/perpetual/params.pulsar.go
  proto/elys/masterchef/tx.proto
  x/masterchef/types/tx.pb.go
  x/perpetual/client/cli/tx_close.go
  x/perpetual/genesis.go
  x/perpetual/keeper/adl.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/migrations/v22_migration.go
  x/perpetual/module.go
  x/perpetual/types/events.go
  x/perpetual/types/params.pb.go
Due: none

fixing test cases
  x/perpetual/keeper/adl.go
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/end_blocker.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/get_net_open_interest_test.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/keeper/query_get_positions_for_address_test.go
  x/perpetual/migrations/v22_migration.go
  x/perpetual/module.go
  x/perpetual/types/events.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool_test.go
  x/tier/keeper/keeper_test.go
  x/tradeshield/keeper/keeper_test.go
Due: perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_keeper, tradeshield_keeper

optimizing begin blocker for leveragelp
  api/elys/leveragelp/genesis.pulsar.go
  api/elys/leveragelp/types.pulsar.go
  proto/elys/leveragelp/genesis.proto
  proto/elys/leveragelp/types.proto
  x/leveragelp/genesis.go
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/end_blocker.go
  x/leveragelp/keeper/fallback_counter.go
  x/leveragelp/keeper/position.go
  x/leveragelp/migrations/v23_migration.go
  x/leveragelp/types/genesis.pb.go
  x/leveragelp/types/keys.go
  x/leveragelp/types/types.pb.go
Due: leveragelp_lifecycle

fixing unit test case
  x/leveragelp/keeper/adl_test.go
  x/leveragelp/keeper/begin_blocker_test.go
Due: leveragelp_lifecycle

Implement whitelisted addresses so Elys services like price feeder can run without a fee
  app/ante/validator_tx_fee.go
Due: none

Make it so all TXs that are gasless also get the highest TX priority
  app/ante/validator_tx_fee.go
Due: none

Remove oracle import
  app/ante/validator_tx_fee.go
Due: none

Add gassless tests
  app/ante/validator_tx_fee_test.go
Due: none

adding validation logics and remove panics
  x/clob/keeper/funding.go
  x/clob/keeper/funding_rate.go
  x/clob/keeper/order.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/prices.go
  x/clob/keeper/query_markets.go
  x/clob/types/errors.go
  x/clob/types/market.go
  x/clob/types/market_test.go
  x/clob/types/msgs.go
  x/clob/types/trade.go
Due: none

validation improvements and loggings
  x/clob/keeper/end_blocker.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/msg_server_liquidate_positions.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/msg_server_params.go
  x/clob/keeper/msg_server_sub_account.go
  x/clob/keeper/order.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/params.go
  x/clob/keeper/sub_account.go
  x/clob/module.go
  x/clob/types/events.go
  x/clob/types/msgs.go
  x/clob/types/params.go
Due: none

improvement and batch processing
  x/clob/keeper/batch_operations.go
  x/clob/keeper/cache.go
  x/clob/keeper/events.go
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/funding_rate_test.go
  x/clob/keeper/keeper.go
  x/clob/keeper/msg_server_liquidate_positions.go
  x/clob/keeper/msg_server_markets.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/msg_server_sub_account.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/perpetual_market.go
  x/clob/keeper/prices.go
  x/clob/keeper/prices_test.go
  x/clob/keeper/query_perpetuals.go
  x/clob/types/errors.go
  x/clob/types/events.go
Due: none

adding cache
  x/clob/keeper/cache.go
  x/clob/keeper/errors.go
  x/clob/keeper/events.go
  x/clob/keeper/funding_rate.go
  x/clob/keeper/margin_pnl_helpers.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/oracle.go
  x/clob/keeper/order_book.go
  x/clob/keeper/validations.go
  x/clob/types/errors.go
  x/clob/types/events.go
  x/clob/types/order_book.go
Due: none

fix
  x/vaults/keeper/keeper_test.go
Due: none

add perps actions messages
  api/elys/masterchef/tx.pulsar.go
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  go.mod
  proto/elys/masterchef/tx.proto
  proto/elys/vaults/tx.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/vaults/types/query.pb.go
  x/vaults/types/tx.pb.go
Due: none

add action integration
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/types/expected_keepers.go
Due: none

message calls
  app/keepers/keepers.go
  testutil/keeper/vaults.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/vaults/keeper/keeper.go
Due: perpetual_transactions

updating read me
  readme.md
Due: none

Change the address to gov addr
  app/ante/validator_tx_fee.go
  app/ante/validator_tx_fee_test.go
Due: none

updating params
  app/setup_handlers.go
Due: none

add open perpetual tests
  x/vaults/keeper/keeper_test.go
  x/vaults/keeper/msg_perform_action_open_perpetual_test.go
Due: none

improving edge cases handling (division by 0)
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_counter.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/utils.go
Due: none

minor text cleanup (#1386)
  x/commitment/migrations/v7_migration.go
Due: none

add virtual swap events utils
  x/amm/types/events.go
  x/amm/types/utils.go
Due: none

add edge cases for open perps
  x/vaults/keeper/keeper_test.go
  x/vaults/keeper/msg_perform_action_open_perpetual_test.go
Due: none

calculate and add event for virtual swaps at join pool
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_keeper, amm_queries

update tests
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/msg_server_join_pool_test.go
Due: amm_transactions

updating adl iterator
  x/perpetual/keeper/adl.go
  x/perpetual/types/params.go
Due: none

updating adl iterator
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/begin_blocker.go
Due: leveragelp_lifecycle

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
