Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

fixes
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/types/calc_exit_pool.go
Due: none

updating go version
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

refactoring
  app/setup_handlers.go
Due: none

stablestake fixes (#1171)
  x/stablestake/keeper/interest_rate.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/types/errors.go
Due: stablestake_transactions

Fix supply calculation (#1163)
  x/commitment/keeper/total_supply.go
  x/commitment/migrations/v10_migration.go
  x/commitment/module.go
Due: none

workflow fix
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

fix
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
Due: none

fix cli (#1172)
  x/stablestake/client/cli/tx_bond.go
  x/stablestake/client/cli/tx_unbond.go
  x/stablestake/migrations/v9_migration.go
  x/stablestake/types/message_bond.go
  x/stablestake/types/message_bond_test.go
  x/stablestake/types/message_unbond.go
  x/stablestake/types/message_unbond_test.go
Due: none

remove
  x/leveragelp/keeper/position_open.go
Due: none

Leveragelp remove check (#1173)
  x/leveragelp/keeper/position_open.go
Due: none

Add fee events and fixes
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_exit_pool_state_change_test.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
Due: amm_keeper, amm_queries

fix swap_fee nil error
  x/amm/types/calc_exit_pool.go
Due: none

making compulsory to give price feeder config
  cmd/elysd/cmd/root.go
  go.mod
  go.sum
Due: none

updating ojo price-feeder
  go.mod
  go.sum
Due: none

exit pool reflect
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/position_close.go
Due: amm_keeper

join pool
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_keeper

updating ojo version
  go.mod
  go.sum
Due: none

add
  x/amm/keeper/query_exit_pool_estimation.go
  x/leveragelp/types/expected_keepers.go
Due: amm_queries

leveragelp taker fees
  api/elys/amm/query.pulsar.go
  api/elys/leveragelp/query.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/leveragelp/query.proto
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/query.pb.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries, amm_queries

add taker
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/expected_keepers.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_queries

interest rate
  x/stablestake/keeper/interest_rate.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/types/errors.go
Due: stablestake_transactions

fix
  x/stablestake/keeper/msg_server_unbond_test.go
Due: stablestake_transactions

merge
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/migrations/v12_migration.go
  x/amm/module.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/params_test.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: leveragelp_transactions, amm_transactions, amm_keeper, perpetual_queries

Fix cancel vest method (#1159)
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
Due: commitment_transactions

upgrading versions and fixing external liquidity msg validation (#1168)
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
  Makefile
  cmd/elysd/cmd/root.go
  go.mod
  go.sum
  x/amm/types/message_feed_multiple_external_liquidity.go
  x/amm/types/message_feed_multiple_external_liquidity_test.go
Due: none

ojo update
  go.mod
  go.sum
Due: none

Fix grpc exchange rate query (#1177)
  go.mod
  go.sum
Due: none

Parameter for min slippage (#1176)
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/migrations/v12_migration.go
  x/amm/module.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/params_test.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: leveragelp_transactions, amm_transactions, amm_keeper, perpetual_queries

updating ibc-go to v8.6.1
  go.mod
  go.sum
Due: none

updating ibc hooks to v8.0.0
  go.mod
  go.sum
Due: none

review updates
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/update_pool_for_swap.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/events.go
Due: masterchef_lifecycle

fix
  x/amm/keeper/apply_exit_pool_state_change_test.go
Due: none

debug migration
  app/oracle.go
Due: none

Update v6_migration.go
  x/parameter/migrations/v6_migration.go
Due: none
