Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add tests
  x/leveragelp/keeper/add_collateral.go
  x/stablestake/keeper/msg_server_add_pool.go
  x/stablestake/keeper/msg_server_add_pool_test.go
  x/stablestake/keeper/msg_server_update_pool_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/types/errors.go
Due: stablestake_transactions

remove todo
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/types/errors.go
Due: leveragelp_transactions

fixes
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/types/errors.go
Due: leveragelp_transactions

tests
  x/stablestake/keeper/epoch.go
  x/stablestake/keeper/interest_rate.go
  x/stablestake/keeper/params.go
  x/stablestake/types/message_add_pool.go
  x/stablestake/types/message_add_pool_test.go
  x/stablestake/types/message_update_pool.go
Due: none

remove
  x/leveragelp/types/expected_keepers.go
Due: none

tests
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/msg_server_bond_test.go
Due: stablestake_transactions, stablestake_lifecycle

improving test coverage
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/types/types.go
  x/perpetual/types/types_test.go
Due: perpetual_transactions

migration test
  x/masterchef/keeper/hooks_masterchef.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/types/share_denom.go
Due: none

message test
  x/stablestake/types/message_add_pool.go
  x/stablestake/types/message_add_pool_test.go
Due: none

Update x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/mtp_trigger_test.go
Due: none

adding events for perpetual
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/settle_funding_fee.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
Due: perpetual_transactions, perpetual_queries

test(dec34): panics if wrong inputs
  types/dec34.go
  types/dec34_test.go
Due: none

use creators from amm
  api/elys/stablestake/tx.pulsar.go
  app/keepers/keepers.go
  proto/elys/stablestake/tx.proto
  testutil/keeper/stablestake.go
  x/stablestake/keeper/keeper.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_add_pool.go
  x/stablestake/keeper/msg_server_add_pool_test.go
  x/stablestake/keeper/msg_server_bond_test.go
  x/stablestake/types/expected_keepers.go
  x/stablestake/types/message_add_pool.go
  x/stablestake/types/message_add_pool_test.go
  x/stablestake/types/tx.pb.go
Due: stablestake_transactions, stablestake_keeper

add types tests
  x/stablestake/types/message_update_pool_test.go
Due: none

chore: fix some function names in comment
  x/amm/keeper/batch_processing.go
  x/amm/keeper/pool.go
Due: none

chore: fix some function names in comment (#1106)
  x/amm/keeper/batch_processing.go
  x/amm/keeper/pool.go
Due: none

test(perpetual): fix tests
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/perpetual/keeper/close_test.go
Due: none

test: debug
  x/amm/types/calc_in_amt_given_out.go
Due: none

feat(dec34): add ceil method
  types/dec34.go
  types/dec34_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_out_test.go
  x/amm/keeper/route_exact_amount_out_test.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/pool.go
  x/amm/types/swap_in_amt_given_out_test.go
Due: amm_transactions, amm_keeper

test(perpetual): fix tests
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: perpetual_queries

review
  api/elys/stablestake/debt.pulsar.go
  proto/elys/stablestake/debt.proto
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/types/debt.pb.go
Due: none

remove legacy
  api/elys/leveragelp/types.pulsar.go
  api/elys/stablestake/types.pulsar.go
  proto/elys/leveragelp/types.proto
  proto/elys/stablestake/types.proto
  x/leveragelp/keeper/position.go
  x/leveragelp/types/types.pb.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/types/types.pb.go
Due: none

p
  Makefile
Due: none

update devnet deploy
  .github/workflows/devnet-deploy.yml
Due: none

update devnet deploy
  Makefile
Due: none

add events
  x/commitment/keeper/keeper.go
  x/commitment/keeper/keeper_test.go
  x/commitment/types/events.go
Due: commitment_keeper

voting on testnet
  .github/workflows/vote.yml
Due: none

track eden on vest
  api/elys/commitment/params.pulsar.go
  proto/elys/commitment/params.proto
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_vest.go
  x/commitment/keeper/msg_server_vest_now.go
  x/commitment/keeper/params.go
  x/commitment/migrations/v8_migration.go
  x/commitment/types/params.pb.go
Due: commitment_transactions

params test
  x/commitment/keeper/params_test.go
  x/commitment/migrations/v9_migration.go
  x/commitment/module.go
  x/commitment/types/params.go
Due: none

add to burn
  x/commitment/keeper/commitments.go
Due: none

refactor(tradeshield): legacy order price field structure
  api/elys/tradeshield/tx.pulsar.go
  api/elys/tradeshield/types.pulsar.go
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/migrations/v4_migrator.go
  x/tradeshield/migrations/v8_migration.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: none

updating query for borrowed amount
  api/elys/masterchef/query.pulsar.go
  proto/elys/leveragelp/tx.proto
  proto/elys/masterchef/query.proto
  proto/elys/perpetual/tx.proto
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/query.pb.go
Due: masterchef_queries

updating query for borrowed amount
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
Due: none

updating query for borrowed amount
  proto/elys/perpetual/tx.proto
Due: none

test(tradeshield): fix tests
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_test.go
  x/tradeshield/spec/README.md
Due: tradeshield_queries

refactor(tradeshield): add v1 to legacy types
  api/elys/tradeshield/order.pulsar.go
  api/elys/tradeshield/tx.pulsar.go
  api/elys/tradeshield/types.pulsar.go
  proto/elys/tradeshield/order.proto
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_test.go
  x/tradeshield/types/order.pb.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: tradeshield_queries
