Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

changing data type for snapshot
  x/amm/keeper/abci.go
  x/amm/keeper/calc_in_amt_given_out.go
  x/amm/keeper/calc_in_amt_given_out_test.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_amt_given_in.go
  x/amm/keeper/calc_out_amt_given_in_test.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/estimate_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/types/accounted_pool.go
  x/amm/types/amm_price.go
  x/amm/types/amm_price_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: leveragelp_keeper, amm_transactions, amm_lifecycle, amm_keeper, amm_queries

test
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
Due: amm_keeper

adding logs
  x/amm/keeper/pool_share_test.go
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

adding logs
  app/setup_handlers.go
Due: none

more logs
  x/amm/keeper/calc_in_route_spot_price.go
Due: none

logs
  x/amm/keeper/calc_in_route_spot_price.go
Due: none

fixes
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

fix
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
Due: none

changing data type for snapshot
  x/amm/keeper/calc_in_amt_given_out.go
  x/amm/keeper/calc_out_amt_given_in.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: none

further restructuring
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_transactions

further restructuring
  x/amm/types/calc_exit_pool_test.go
Due: none

further restructuring
  x/amm/types/mocks/accounted_pool_keeper.go
Due: none

further restructuring
  x/amm/types/snapshot_pool.go
Due: none

[Amm]: Query fixes (#1273)
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

further restructuring
  x/amm/keeper/pool.go
Due: none

Vote on prop 69
  .github/workflows/vote.yml
Due: none

further restructuring
  x/amm/types/pool_join_pool.go
Due: none

Vote
  .github/workflows/vote.yml
Due: none

vote
  .github/workflows/vote.yml
Due: none

further restructuring
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: none

further restructuring
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_transactions

further restructuring
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/weight_fees.go
Due: none

further restructuring
  x/amm/types/swap_out_amt_given_in_test.go
Due: none

changing data type for snapshot (#1272)
  x/amm/keeper/abci.go
  x/amm/keeper/calc_in_amt_given_out.go
  x/amm/keeper/calc_in_amt_given_out_test.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_amt_given_in.go
  x/amm/keeper/calc_out_amt_given_in_test.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/estimate_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/types/amm_price.go
  x/amm/types/amm_price_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/snapshot_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/amm/types/weight_fees.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: leveragelp_keeper, amm_transactions, amm_lifecycle, amm_keeper, amm_queries

refactor: replace []byte(fmt.Sprintf) with fmt.Appendf
  x/amm/types/keys.go
Due: none

fix interest query
  x/stablestake/keeper/query.go
Due: stablestake_queries

update display name and update variables
  api/elys/masterchef/query.pulsar.go
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/expected_keepers.go
  x/masterchef/types/query.pb.go
  x/stablestake/keeper/tvl.go
  x/stablestake/types/expected_keepers.go
Due: masterchef_queries

fixes
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/expected_keepers.go
  x/stablestake/keeper/tvl.go
Due: masterchef_queries

fix
  x/masterchef/keeper/query_chain_tvl.go
Due: masterchef_queries

Update masterchef' chain_tvl query, fix stablestake borrow-ratio and interest query (#1271)
  api/elys/masterchef/query.pulsar.go
  api/elys/stablestake/query.pulsar.go
  proto/elys/masterchef/query.proto
  proto/elys/stablestake/query.proto
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/expected_keepers.go
  x/masterchef/types/query.pb.go
  x/stablestake/autocli.go
  x/stablestake/keeper/query.go
  x/stablestake/keeper/tvl.go
  x/stablestake/types/expected_keepers.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/query.pb.gw.go
Due: masterchef_queries, stablestake_queries

add checks for zero fees before emmitting events
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/update_pool_for_swap.go
Due: none

Add zero fee check before emitting swap fee event (#1275)
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/update_pool_for_swap.go
Due: none

add query for pending rewards
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  proto/elys/masterchef/query.proto
  x/masterchef/autocli.go
  x/masterchef/keeper/query.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

micro optimization for 10^n
  utils/math.go
  x/amm/keeper/estimate_price.go
  x/assetprofile/types/errors.go
  x/masterchef/keeper/apr_denom.go
  x/perpetual/keeper/asset_price.go
  x/tier/keeper/query_get_consolidated_price.go
Due: tier_queries

add query:
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  go.mod
  go.sum
  proto/elys/masterchef/query.proto
  x/masterchef/autocli.go
  x/masterchef/keeper/query.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

fixing go mod versions
  go.mod
  go.sum
Due: none

upgrading go and library versions
  go.mod
  go.sum
Due: none
