Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

Add new field in params to enable/disable (#1088)
  api/elys/leveragelp/params.pulsar.go
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  api/elys/perpetual/params.pulsar.go
  api/elys/perpetual/tx.pulsar.go
  api/elys/perpetual/tx_grpc.pb.go
  proto/elys/leveragelp/params.proto
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/params.proto
  proto/elys/perpetual/tx.proto
  x/leveragelp/client/cli/tx_update_enabled_pools.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_update_enabled_pools.go
  x/leveragelp/migrations/v17_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/errors.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/params.go
  x/leveragelp/types/params.pb.go
  x/leveragelp/types/params_test.go
  x/leveragelp/types/tx.pb.go
  x/perpetual/client/cli/tx_update_enabled_pools.go
  x/perpetual/keeper/msg_server_open.go
  x/perpetual/keeper/msg_server_update_enabled_pools.go
  x/perpetual/migrations/v14_migration.go
  x/perpetual/migrations/v15_migration.go
  x/perpetual/module.go
  x/perpetual/types/errors.go
  x/perpetual/types/message_update_params.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/params_test.go
  x/perpetual/types/tx.pb.go
Due: leveragelp_transactions, perpetual_transactions

add rpc method impl for update max leverage for pool
  x/leveragelp/keeper/msg_server_update_max_leverage_for_pool.go
  x/leveragelp/keeper/msg_server_update_max_leverage_for_pool_test.go
Due: leveragelp_transactions

update maxLeverage usage from global params to pool's maxLeverage
  x/leveragelp/keeper/position_open.go
Due: none

fixing version upgrades (#1090)
  app/setup_handlers.go
Due: none

Add maxLeverage in pool struct
  api/elys/perpetual/pool.pulsar.go
  proto/elys/perpetual/pool.proto
  x/perpetual/types/pool.pb.go
Due: none

Swap fee exclusion when weight is improving (#1091)
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/params.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/migrations/v10_migration.go
  x/amm/module.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: amm_keeper

reduce testnet upgrade height to 2 days
  .github/workflows/create-release-and-testnet-deploy.yml
Due: none

reduce testnet upgrade height to 2 days (#1092)
  .github/workflows/create-release-and-testnet-deploy.yml
Due: none

add maxLeverage field in perpetual pool
  api/elys/perpetual/query.pulsar.go
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/query_pool_test.go
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/force_close_short_test.go
  x/perpetual/keeper/get_net_open_interest_test.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/types/perpetual_test.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool_test.go
  x/perpetual/types/query.pb.go
Due: perpetual_lifecycle, perpetual_keeper, perpetual_queries

update tests
  x/tier/keeper/keeper_test.go
  x/tradeshield/keeper/keeper_test.go
Due: tier_keeper, tradeshield_keeper

add rpc method to update max leverage for pool
  api/elys/perpetual/tx.pulsar.go
  api/elys/perpetual/tx_grpc.pb.go
  proto/elys/perpetual/tx.proto
  x/perpetual/keeper/msg_server_update_max_leverage_for_pool.go
  x/perpetual/keeper/msg_server_update_max_leverage_for_pool_test.go
  x/perpetual/types/tx.pb.go
Due: perpetual_transactions

fix pool query with LeverageMax
  x/perpetual/keeper/query_pool.go
Due: perpetual_queries

Revert "fixing version upgrades (#1090)"
  app/setup_handlers.go
Due: none

chore: minor
  app/setup_handlers.go
Due: none

ci: split release and deploy to testnet
  .github/workflows/create-release.yml
  .github/workflows/testnet-deploy-2h.yml
  .github/workflows/testnet-deploy-48h.yml
Due: none

fix: introduce upgrade version
  app/setup_handlers.go
Due: none

test: fix tests
  app/setup_handlers.go
  x/amm/client/cli/query_denom_liquidity_test.go
Due: amm_queries

ci: use upgrade version
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/mainnet-deploy-48h.yml
  .github/workflows/testnet-deploy-2h.yml
  .github/workflows/testnet-deploy-48h.yml
  app/setup_handlers.go
  readme.md
Due: none

ci: update localnet version
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

ci: split testnet and release CI workflows (#1094)
  .github/workflows/create-release.yml
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
  .github/workflows/testnet-deploy-2h.yml
  .github/workflows/testnet-deploy-48h.yml
  app/setup_handlers.go
  readme.md
  x/amm/client/cli/query_denom_liquidity_test.go
Due: amm_queries

voting through github workflow
  .github/workflows/vote.yml
Due: none

ci: use highstakes snapshots
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

ci: use highstakes snapshots (#1095)
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

ci: fix snapshot file path
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

ci: fix snapshot file path (#1096)
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

fix: invert denom in and out order
  x/tradeshield/keeper/pending_spot_order.go
Due: none

test(tradeshield): fix unit tests
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/keeper/msg_server_spot_order_test.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_test.go
Due: tradeshield_transactions, tradeshield_queries

test(tradeshield): fix unit tests
  x/tradeshield/types/messages_pending_perpetual_order_test.go
  x/tradeshield/types/messages_pending_spot_order_test.go
Due: none

add legacy pool for migration
  api/elys/perpetual/pool.pulsar.go
  proto/elys/perpetual/pool.proto
  x/perpetual/keeper/pool.go
  x/perpetual/types/pool.pb.go
Due: none

add perpetual pool migration script
  x/perpetual/migrations/v16_migration.go
  x/perpetual/module.go
Due: none

Update x/tradeshield/types/messages_pending_spot_order.go
  x/tradeshield/types/messages_pending_spot_order.go
Due: none

add structure
  api/elys/stablestake/pool.pulsar.go
  proto/elys/stablestake/pool.proto
  x/stablestake/types/pool.pb.go
Due: none

fix list pool perpetual query
  x/perpetual/keeper/query_pool.go
Due: perpetual_queries

fix(amm): support 18 decimals assets
  x/amm/keeper/estimate_price.go
  x/amm/types/amm_price.go
  x/amm/types/expected_keepers.go
  x/amm/types/pool.go
  x/amm/types/pow.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/price.go
  x/perpetual/types/expected_keepers.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/expected_keepers.go
Due: tier_queries

update comments
  x/leveragelp/keeper/msg_server_update_max_leverage_for_pool.go
  x/perpetual/keeper/msg_server_update_max_leverage_for_pool.go
Due: leveragelp_transactions, perpetual_transactions
