Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Estaking simplify and handle errors (#1012)
  x/commitment/keeper/msg_server_cancel_vest.go
  x/estaking/keeper/abci.go
  x/estaking/keeper/keeper_burn_edenB.go
  x/estaking/keeper/keeper_shares.go
  x/estaking/keeper/keeper_shares_test.go
  x/estaking/modules/distribution/module.go
Due: commitment_transactions, estaking_lifecycle, estaking_keeper

fix masterchef swap method
  x/amm/types/params_test.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
Due: masterchef_lifecycle

fix
  x/amm/keeper/keeper_swap_exact_amount_in.go
Due: amm_keeper

handle error
  x/amm/keeper/keeper_swap_exact_amount_in.go
Due: amm_keeper

changing weight breaking fee calculation when there is bonus
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/utils.go
Due: none

fixing test cases
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/swap_in_amt_given_out.go
Due: amm_transactions

remove
  proto/elys/amm/params.proto
  proto/elys/amm/pool.proto
  proto/elys/amm/pool_asset.proto
  proto/elys/amm/pool_params.proto
  proto/elys/masterchef/incentive.proto
  proto/elys/masterchef/params.proto
  proto/elys/masterchef/pool.proto
  x/amm/keeper/estimate_price.go
  x/amm/keeper/msg_server_test.go
  x/amm/keeper/params.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
  x/amm/migrations/v7_migration.go
  x/amm/migrations/v8_migration.go
  x/amm/types/params.pb.go
  x/amm/types/pool.pb.go
  x/amm/types/pool_asset.pb.go
  x/amm/types/pool_params.pb.go
  x/masterchef/types/incentive.pb.go
  x/masterchef/types/params.go
  x/masterchef/types/params.pb.go
  x/masterchef/types/pool.pb.go
Due: amm_transactions

docs: add x modules summary doc
  x/README.md
  x/burner/spec/README.md
  x/tier/spec/README.md
Due: none

fix update pool for swap
  x/amm/keeper/update_pool_for_swap.go
Due: none

update test cases
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_in_test.go
Due: amm_transactions, amm_keeper

docs: add x modules summary doc (#1020)
  x/README.md
  x/burner/spec/README.md
  x/tier/spec/README.md
Due: none

docs: fix links
  x/README.md
Due: none

docs: fix links (#1021)
  x/README.md
Due: none

fix inTokenAfterFee and outTokenAfterFee calculation method to hanle diff of 1 token
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/pool.go
Due: none

docs: minor
  readme.md
Due: none

add check in tests to verify pool asset and balance
  x/amm/keeper/abci_test.go
  x/amm/keeper/apply_exit_pool_state_change_test.go
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
Due: amm_transactions, amm_lifecycle, amm_keeper

fixing test cases
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: amm_keeper, masterchef_lifecycle

ci: manual devnet deploy
  .github/workflows/deploy.yml
Due: none

ci: manual devnet deploy (#1024)
  .github/workflows/deploy.yml
Due: none

fixing fees for non oracle pool
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/types/pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: amm_keeper

fixing fees for non oracle pool
  x/amm/types/swap_out_amt_given_in.go
Due: none

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

token economics implementation with ics
  api/elys/estaking/params.pulsar.go
  app/keepers/keepers.go
  app/modules.go
  app/proposals_whitelisting.go
  proto/elys/estaking/params.proto
  x/commitment/keeper/msg_server_claim_vesting.go
  x/commitment/keeper/msg_server_vest.go
  x/commitment/types/params.go
  x/epochs/types/genesis.go
  x/epochs/types/identifier.go
  x/estaking/keeper/abci.go
  x/estaking/keeper/genesis.go
  x/estaking/keeper/hooks_epoch.go
  x/estaking/keeper/provider_vesting.go
  x/estaking/migrations/v3_migration.go
  x/estaking/migrations/v4_migration.go
  x/estaking/module.go
  x/estaking/modules/distribution/module.go
  x/estaking/modules/staking/module.go
  x/estaking/types/expected_keepers.go
  x/estaking/types/params.go
  x/estaking/types/params.pb.go
  x/masterchef/keeper/abci.go
Due: commitment_transactions, estaking_lifecycle, masterchef_lifecycle

ci: fix
  .github/workflows/software-upgrade-test.yml
Due: none

Adarsh/amm fix temp (#1023)
  x/amm/keeper/abci_test.go
  x/amm/keeper/apply_exit_pool_state_change_test.go
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/pool.go
Due: amm_transactions, amm_lifecycle, amm_keeper

ci: print credentials
  .github/workflows/software-upgrade-test.yml
Due: none

add vest now enabled
  proto/elys/commitment/params.proto
  x/commitment/keeper/msg_server_vest_now.go
  x/commitment/keeper/msg_server_vest_now_test.go
  x/commitment/types/params.go
  x/commitment/types/params.pb.go
Due: commitment_transactions

add cli
  proto/elys/commitment/tx.proto
  x/commitment/client/cli/constants.go
  x/commitment/client/cli/tx_update_enable_vest_now.go
  x/commitment/keeper/msg_server_update_enable_vest_now.go
  x/commitment/types/message_update_enable_vest_now.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

migration
  x/commitment/keeper/msg_server_update_enable_vest_now.go
  x/commitment/keeper/params.go
  x/commitment/migrations/v5_migration.go
  x/commitment/module.go
Due: commitment_transactions

transfer amount during poolasset update and related fixes
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/pool.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/errors.go
  x/amm/types/pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_keeper

fix masterchef ConvertGasFeesToUsdc method
  x/masterchef/keeper/abci.go
  x/masterchef/types/events.go
  x/masterchef/types/expected_keepers.go
Due: masterchef_lifecycle

add test
  x/commitment/keeper/msg_server_test.go
  x/commitment/keeper/msg_server_update_enable_vest_now_test.go
  x/commitment/keeper/query_commitment_vesting_info_test.go
  x/commitment/keeper/query_test.go
Due: commitment_transactions, commitment_queries

fix perpetual module SwapOutAmtGivenIn/out changes
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: none

update test for changed fn
  x/amm/keeper/fee_test.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: none

fixing fees and liquidity changes
  x/amm/keeper/fee.go
  x/amm/keeper/fee_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/expected_keepers.go
Due: amm_keeper, perpetual_keeper, perpetual_queries

fixing test cases
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: perpetual_queries

fix masterchef ConvertGasFeesToUsdc method
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
Due: masterchef_lifecycle

Sending 25% of Stakers Dex revenue of provider chain
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

api update
  api/elys/commitment/params.pulsar.go
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  api/elys/estaking/dex_rewards_tracker.pulsar.go
  api/elys/estaking/incentive.pulsar.go
  api/elys/estaking/params.pulsar.go
  api/elys/tier/query.pulsar.go
  api/elys/tier/query_grpc.pb.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
