Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

fix
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_by_final_test.go
Due: perpetual_queries

remove
  x/perpetual/keeper/query_open_estimation_by_final.go
Due: perpetual_queries

lint
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: perpetual_queries

updating perpetual PoolMaxLiabilitiesThreshold
  x/perpetual/migrations/v19_migration.go
Due: none

add cancel all perpetual orders tx proto
  api/elys/tradeshield/tx.pulsar.go
  api/elys/tradeshield/tx_grpc.pb.go
  proto/elys/tradeshield/tx.proto
  x/tradeshield/types/tx.pb.go
Due: none

feat: impl cancel all pending perpetual orders tx for the owner
  x/tradeshield/client/cli/tx.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/types/messages_pending_perpetual_order.go
Due: tradeshield_transactions

add tests for cancel all pending perpetual orders tx
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
Due: tradeshield_transactions

add rpc proto to cancel all pending limit spot order
  api/elys/tradeshield/tx.pulsar.go
  api/elys/tradeshield/tx_grpc.pb.go
  proto/elys/tradeshield/tx.proto
  x/tradeshield/types/tx.pb.go
Due: none

feat: impl tx to Cancel all pending limit orders
  x/tradeshield/client/cli/tx.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_spot_order.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/types/messages_pending_spot_order.go
Due: tradeshield_transactions

add tests
  x/tradeshield/keeper/msg_server_spot_order_test.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
  x/tradeshield/types/messages_pending_spot_order_test.go
Due: tradeshield_transactions

correcting validation
  x/perpetual/types/message_open.go
Due: none

adding add collateral tx
  api/elys/perpetual/tx.pulsar.go
  api/elys/perpetual/tx_grpc.pb.go
  proto/elys/perpetual/tx.proto
  x/perpetual/client/cli/tx.go
  x/perpetual/client/cli/tx_add_collateral.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/types/codec.go
  x/perpetual/types/events.go
  x/perpetual/types/message_add_collateral.go
  x/perpetual/types/tx.pb.go
Due: perpetual_transactions

feat: Add tx to claim all leverageLP rewards from all positions of a user (#1329)
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  x/leveragelp/client/cli/tx.go
  x/leveragelp/client/cli/tx_claim_all_rewards.go
  x/leveragelp/keeper/msg_server_claim_rewards.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/message_claim_rewards.go
Due: leveragelp_transactions

add empty orders checks
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/msg_server_spot_order_test.go
Due: tradeshield_transactions

fixes
  x/tradeshield/client/cli/tx_spot_order.go
Due: none

register codec for cancel order and leveragelp claim tx
  x/leveragelp/types/codec.go
  x/leveragelp/types/msgs.go
  x/tradeshield/types/codec.go
Due: none

fixing tradeshield for perps
  api/elys/tradeshield/tx.pulsar.go
  api/elys/tradeshield/types.pulsar.go
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/perpetual/client/cli/tx_open_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/types/pool.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_test.go
  x/tradeshield/types/events.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/keys.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: perpetual_queries, tradeshield_transactions, tradeshield_queries

fixing unit test
  x/perpetual/keeper/open_short_test.go
Due: none

fixing unit test
  x/accountedpool/keeper/accounted_pool_update_test.go
Due: none

fixing unit test
  api/elys/perpetual/pool.pulsar.go
  proto/elys/perpetual/pool.proto
  x/perpetual/migrations/v19_migration.go
  x/perpetual/types/pool.pb.go
  x/tier/keeper/query_perpetual_test.go
Due: tier_queries

fixing unit test
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
Due: none

adding test case
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_add_collateral_test.go
Due: perpetual_transactions, perpetual_keeper

adding add collateral tx (#1332)
  api/elys/perpetual/tx.pulsar.go
  api/elys/perpetual/tx_grpc.pb.go
  proto/elys/perpetual/tx.proto
  x/perpetual/client/cli/tx.go
  x/perpetual/client/cli/tx_add_collateral.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_add_collateral_test.go
  x/perpetual/types/codec.go
  x/perpetual/types/events.go
  x/perpetual/types/message_add_collateral.go
  x/perpetual/types/tx.pb.go
Due: perpetual_transactions, perpetual_keeper

updating minimum amount of liability
  api/elys/perpetual/params.pulsar.go
  proto/elys/perpetual/params.proto
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/migrations/v19_migration.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
Due: perpetual_transactions

fixing unit test case
  x/perpetual/keeper/msg_server_add_collateral_test.go
Due: perpetual_transactions

update leverageLP tx name from ClaimAllRewards tx to ClaimAllUserRewards
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  scripts/protocgen-pulsar.sh
  x/leveragelp/client/cli/tx.go
  x/leveragelp/client/cli/tx_claim_all_user_rewards.go
  x/leveragelp/keeper/msg_server_claim_rewards.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/types/codec.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
  x/leveragelp/types/tx.pb.go
Due: leveragelp_transactions

fixing proto
  api/elys/perpetual/query.pulsar.go
  x/perpetual/types/query.pb.go
Due: none

fixing proto
  api/elys/perpetual/query.pulsar.go
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/query_open_estimation.go
  x/perpetual/client/cli/tx_open.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_by_final_test.go
  x/perpetual/types/query.pb.go
Due: perpetual_queries

optimizing oracle module asset price
  x/amm/types/expected_keepers.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/price.go
  x/oracle/migrations/v2_migration.go
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/asset_price_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/types/expected_keepers.go
  x/stablestake/types/expected_keepers.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/expected_keepers.go
Due: perpetual_keeper, tier_queries

[Perpetual]: Add query using final amount (#1330)
  api/elys/perpetual/query.pulsar.go
  api/elys/perpetual/query_grpc.pb.go
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/query_open_estimation.go
  x/perpetual/client/cli/tx_open.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_by_final_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/query.pb.gw.go
Due: perpetual_queries

adding unit test cases
  x/oracle/keeper/price_test.go
Due: none

updating oracle end blocker to have only latest price
  app/setup_handlers.go
  x/oracle/keeper/abci.go
  x/oracle/keeper/abci_test.go
  x/oracle/keeper/price.go
  x/oracle/keeper/price_test.go
Due: oracle_lifecycle

updating comment
  x/oracle/keeper/abci.go
Due: oracle_lifecycle

rewards test
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/begin_blocker_test.go
  x/vaults/keeper/reward_mechanism_test.go
  x/vaults/keeper/reward_pool_test.go
  x/vaults/keeper/unwind.go
  x/vaults/keeper/user_reward_info_test.go
Due: none

updating oracle end blocker to have only latest price and optimizations (#1333)
  app/setup_handlers.go
  x/amm/types/expected_keepers.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/abci.go
  x/oracle/keeper/abci_test.go
  x/oracle/keeper/price.go
  x/oracle/keeper/price_test.go
  x/oracle/migrations/v2_migration.go
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/asset_price_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/types/expected_keepers.go
  x/stablestake/types/expected_keepers.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/expected_keepers.go
Due: oracle_lifecycle, perpetual_keeper, tier_queries

fix test
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
Due: tradeshield_transactions

update mocks
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
