Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

upgrading go version to 1.22.7
  go.mod
Due: none

chore: use errors.New to replace fmt.Errorf with no parameters (#1080)
  x/amm/types/genesis.go
  x/amm/types/message_feed_multiple_external_liquidity.go
  x/amm/types/message_swap_by_denom.go
  x/amm/types/params.go
  x/amm/types/pool.go
Due: none

changing testnet upgrade height 2 days later (50,000 blocks later)
  .github/workflows/create-release-and-testnet-deploy.yml
Due: none

Perpetual fees should stay in pool (#1079)
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/perpetual/keeper/mtp_borrow_interest.go
Due: masterchef_lifecycle

changing testnet upgrade height 3 days later (75000 blocks later)
  .github/workflows/create-release-and-testnet-deploy.yml
Due: none

adding API queries (#1082)
  .github/workflows/create-release-and-testnet-deploy.yml
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  go.mod
  proto/elys/masterchef/query.proto
  x/masterchef/client/cli/query.go
  x/masterchef/client/cli/query_cmds.go
  x/masterchef/keeper/query_all_liquidity_pool_tvl.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
  x/tier/types/query.pb.go
Due: masterchef_queries

fix autocli option cmds by using custom cmds
  x/leveragelp/autocli.go
  x/leveragelp/client/cli/query.go
  x/leveragelp/client/cli/query_open_estimation.go
  x/leveragelp/module.go
  x/masterchef/autocli.go
  x/masterchef/client/cli/query.go
  x/masterchef/client/cli/query_apr.go
  x/masterchef/module.go
  x/oracle/autocli.go
  x/perpetual/autocli.go
  x/perpetual/client/cli/query.go
  x/perpetual/client/cli/query_open_estimation.go
  x/perpetual/module.go
  x/tradeshield/autocli.go
Due: leveragelp_queries, masterchef_queries, perpetual_queries

apply fees
  x/amm/types/pool_join_pool.go
Due: none

update tests
  x/amm/keeper/msg_server_join_pool_test.go
Due: amm_transactions

shares
  x/commitment/keeper/msg_server_uncommit_tokens.go
  x/commitment/migrations/v8_migration.go
  x/commitment/module.go
Due: commitment_transactions

test:
  x/masterchef/keeper/hooks_masterchef_test.go
Due: none

update
  x/masterchef/keeper/hooks_masterchef_test.go
Due: none

fix
  x/commitment/keeper/msg_server_uncommit_tokens_test.go
  x/masterchef/keeper/external_incentive_test.go
Due: commitment_transactions

Single sided liquidity add breaking/recovery (#1085)
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/pool_join_pool.go
Due: amm_transactions

fixing errors
  x/amm/types/message_exit_pool_test.go
  x/amm/types/message_join_pool_test.go
  x/perpetual/types/message_open_test.go
  x/tokenomics/keeper/msg_server_airdrop_test.go
  x/tradeshield/types/message_update_params_test.go
Due: tokenomics_transactions

migrating using iterator
  x/commitment/keeper/params.go
  x/commitment/migrations/v8_migration.go
Due: none

add field in params
  api/elys/leveragelp/params.pulsar.go
  api/elys/perpetual/params.pulsar.go
  proto/elys/leveragelp/params.proto
  proto/elys/perpetual/params.proto
  x/leveragelp/types/params.pb.go
  x/perpetual/types/params.pb.go
Due: none

migration
  x/leveragelp/migrations/v17_migration.go
  x/leveragelp/module.go
  x/perpetual/migrations/v14_migration.go
  x/perpetual/migrations/v15_migration.go
  x/perpetual/module.go
Due: none

add enable check in open messages
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/types/errors.go
  x/perpetual/keeper/msg_server_open.go
  x/perpetual/types/errors.go
Due: leveragelp_transactions, perpetual_transactions

add duplicate checks
  x/leveragelp/types/params.go
  x/leveragelp/types/params_test.go
  x/perpetual/types/params.go
  x/perpetual/types/params_test.go
Due: none

fix
  x/leveragelp/types/params.go
  x/perpetual/types/params.go
Due: none

update params
  api/elys/stablestake/params.pulsar.go
  proto/elys/stablestake/params.proto
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v8_migration.go
  x/stablestake/module.go
  x/stablestake/types/params.pb.go
Due: none

add limit on withdraw
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/types/errors.go
Due: stablestake_transactions

updates
  api/elys/stablestake/params.pulsar.go
  proto/elys/stablestake/params.proto
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/migrations/v8_migration.go
  x/stablestake/module.go
  x/stablestake/types/params.pb.go
Due: stablestake_transactions

remove
  x/stablestake/keeper/params.go
Due: none

fixing version upgrades
  app/setup_handlers.go
Due: none

Shares update (#1086)
  x/commitment/keeper/msg_server_uncommit_tokens.go
  x/commitment/keeper/msg_server_uncommit_tokens_test.go
  x/commitment/keeper/params.go
  x/commitment/migrations/v8_migration.go
  x/commitment/module.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
Due: commitment_transactions

tests
  x/leveragelp/keeper/position_open_test.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
Due: stablestake_transactions

Add pool health checker on stablestake unbonding (#1089)
  x/leveragelp/keeper/position_open_test.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/module.go
  x/stablestake/types/errors.go
Due: stablestake_transactions

add message
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
Due: none

update enabled pools
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  api/elys/perpetual/tx.pulsar.go
  api/elys/perpetual/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
  x/leveragelp/client/cli/tx_update_enabled_pools.go
  x/leveragelp/keeper/msg_server_update_enabled_pools.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/tx.pb.go
  x/perpetual/client/cli/tx_update_enabled_pools.go
  x/perpetual/keeper/msg_server_update_enabled_pools.go
  x/perpetual/types/message_update_params.go
  x/perpetual/types/tx.pb.go
Due: leveragelp_transactions, perpetual_transactions

swap fee exclusion when improving weight
  api/elys/amm/params.pulsar.go
  proto/elys/amm/params.proto
  x/amm/keeper/params.go
  x/amm/migrations/v10_migration.go
  x/amm/module.go
  x/amm/types/params.pb.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: none

default values
  x/amm/types/params.go
Due: none

swap fee in a query
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/swap_in_amt_given_out.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: amm_keeper

tests
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: none

fix
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: none

Add rpc method in proto for update maxLeverage
  proto/elys/leveragelp/tx.proto
Due: none

add proto generated go files
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  x/leveragelp/types/tx.pb.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
