Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add deposit, withdraw messages
  proto/elys/vaults/params.proto
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
Due: none

add proto, api files
  api/elys/strategy/module/module.pulsar.go
  api/elys/vaults/genesis.pulsar.go
  api/elys/vaults/module/module.pulsar.go
  api/elys/vaults/params.pulsar.go
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/query_grpc.pb.go
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/module/module.proto
  proto/elys/vaults/query.proto
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/module/module.go
  x/vaults/types/query.pb.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

vault
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  proto/elys/vaults/tx.proto
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_update_params_test.go
  x/vaults/keeper/params.go
  x/vaults/keeper/vault.go
  x/vaults/types/keys.go
  x/vaults/types/tx.pb.go
Due: none

add share denom
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/types/share_denom.go
Due: none

withdraw flow
  app/keepers/keepers.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/vault.go
  x/vaults/types/errors.go
  x/vaults/types/expected_keepers.go
Due: none

add ojo patches
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
Due: none

add test cases for exchange
  api/elys/clob/market.pulsar.go
  api/elys/clob/perpetual.pulsar.go
  api/elys/clob/tx.pulsar.go
  proto/elys/clob/market.proto
  proto/elys/clob/tx.proto
  x/clob/cli/create_market.go
  x/clob/docs/price.md
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/funding_rate.go
  x/clob/keeper/funding_rate_test.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/margin_pnl.go
  x/clob/keeper/margin_pnl_test.go
  x/clob/keeper/market_test.go
  x/clob/keeper/msg_server_markets.go
  x/clob/keeper/oracle.go
  x/clob/keeper/perpetual_owner.go
  x/clob/keeper/prices.go
  x/clob/keeper/prices_test.go
  x/clob/types/market.go
  x/clob/types/market.pb.go
  x/clob/types/market_test.go
  x/clob/types/msgs.go
  x/clob/types/perpetual.pb.go
  x/clob/types/trade.go
  x/clob/types/tx.pb.go
Due: none

move taker fees to begin block
  x/masterchef/keeper/abci.go
  x/masterchef/module.go
Due: masterchef_lifecycle

comment
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

remove
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

update test
  x/masterchef/keeper/abci_test.go
Due: masterchef_lifecycle

[Bug]: move taker fees to begin block (#1245)
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/module.go
Due: masterchef_lifecycle

join pool query non oracle pool fix (#1246)
  x/amm/types/pool_join_pool.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

settle funding and funding rate test cases
  x/clob/keeper/funding.go
  x/clob/keeper/funding_rate_test.go
  x/clob/keeper/funding_test.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/prices.go
Due: none

fixing join pool swap and taker fees
  x/amm/types/pool_join_pool.go
Due: none

fixing join pool swap and taker fees (#1247)
  x/amm/types/pool_join_pool.go
Due: none

fix for devnet upgrade
  app/setup_handlers.go
Due: none

updating read me
  readme.md
Due: none

add helper price functions
  x/perpetual/keeper/asset_price.go
Due: none

fixes for current asset price in base unit
  x/perpetual/keeper/calc_mtp_take_profit_liabilities.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/mtp_leverage.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/settle_funding_fee_collection.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/types/types.go
Due: perpetual_queries

usd value
  testutil/keeper/vaults.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/types/expected_keepers.go
Due: none

change vault structure
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  app/keepers/keepers.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  testutil/keeper/vaults.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
  x/vaults/types/vault_address.go
Due: none

fix limit price related calculation
  x/perpetual/keeper/query_open_estimation.go
Due: perpetual_queries

fix query open estimation
  x/perpetual/keeper/query_open_estimation.go
Due: perpetual_queries

adding upgrade guide
  UPGRADING.md
Due: none

rate
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_withdraw.go
Due: none

removing wasm addition keys from upgrade handler
  app/setup_handlers.go
Due: none

fixing test cases for prices
  x/clob/keeper/keeper_test.go
  x/clob/keeper/liquidations.go
  x/clob/keeper/margin_pnl_test.go
  x/clob/keeper/prices.go
  x/clob/keeper/prices_test.go
  x/clob/types/perpetual.go
Due: none

create single function for price and denom ratio
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/calc_mtp_take_profit_liabilities.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/mtp_leverage.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/keeper/settle_funding_fee_collection.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
Due: perpetual_transactions, perpetual_queries

update expected keepers and mocks
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: none

fix usd to usdc conversion in asset price function and move cal mtp take profit custody to keeper
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/types/calc_mtp_take_profit_custody.go
  x/perpetual/types/calc_mtp_take_profit_custody_test.go
Due: perpetual_transactions, perpetual_keeper, perpetual_queries

fix test cases
  x/perpetual/keeper/mtp_leverage_test.go
Due: none

Update readme.md
  readme.md
Due: none

fix Get Bonded validator by power function
  app/keepers/ics_staking_keeper.go
Due: none

Post Upgrade Changes (#1249)
  UPGRADING.md
  app/setup_handlers.go
Due: none

fixing exit pool with accounted pool in two tokens
  x/amm/types/calc_exit_pool.go
Due: none

pass on balance reward as token in
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
Due: amm_keeper, masterchef_lifecycle
