Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add slippage
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/pool_join_pool.go
Due: amm_transactions

update tests
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/pool_join_pool.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
Due: leveragelp_transactions, leveragelp_queries, amm_transactions, amm_keeper

improving log
  x/leveragelp/keeper/begin_blocker.go
Due: leveragelp_lifecycle

removing automated chain upgrade
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/mainnet-deploy-48h.yml
  .github/workflows/testnet-deploy-2h.yml
  .github/workflows/testnet-deploy-48h.yml
Due: none

chore(oracle): latest changes from upstream branch and CI update to include price feeder flags
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

removing automated chain upgrade (#1128)
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/mainnet-deploy-48h.yml
  .github/workflows/testnet-deploy-2h.yml
  .github/workflows/testnet-deploy-48h.yml
Due: none

fix
  x/leveragelp/keeper/msg_server_close_test.go
Due: leveragelp_transactions

Add slippage to join pool flow (#1127)
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/pool_join_pool.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
Due: leveragelp_transactions, leveragelp_queries, amm_transactions, amm_keeper

devnet ci fix
  app/setup_handlers.go
Due: none

devnet ci fix (#1129)
  app/setup_handlers.go
Due: none

fixing chain id for devnet
  .github/workflows/devnet-deploy.yml
Due: none

fixing chain id for devnet (#1130)
  .github/workflows/devnet-deploy.yml
Due: none

fixing deposit amount for devnet upgrade
  .github/workflows/devnet-deploy.yml
Due: none

fixing deposit amount for devnet upgrade (#1131)
  .github/workflows/devnet-deploy.yml
Due: none

fix multi hop fees
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/elys_routed_multihop.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
Due: none

update
  x/amm/keeper/create_elys_multihop_expected_swap_outs.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/elys_routed_multihop.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
Due: none

adding fields to close estimation for leverage lp
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

adding fields to close estimation for leverage lp (#1132)
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

weight fixes
  x/amm/types/calc_exit_pool.go
  x/amm/types/weight_fees.go
Due: none

Multi hop fee fixes (#1133)
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/create_elys_multihop_expected_swap_outs.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/elys_routed_multihop.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
Due: none

Weight fixes for exit (#1134)
  x/amm/types/calc_exit_pool.go
  x/amm/types/weight_fees.go
Due: none

fee corrections and events
  x/accountedpool/keeper/hooks_amm.go
  x/accountedpool/keeper/hooks_leveragelp.go
  x/accountedpool/keeper/hooks_perpetual.go
  x/accountedpool/types/events.go
  x/leveragelp/keeper/position_close.go
  x/perpetual/types/events.go
  x/tradeshield/types/events.go
Due: none

fix price
  x/tradeshield/keeper/pending_spot_order.go
Due: none

fix
  x/tradeshield/keeper/pending_spot_order.go
Due: none

disabling accounted pools fix
  x/accountedpool/keeper/hooks_amm.go
  x/accountedpool/keeper/hooks_leveragelp.go
  x/accountedpool/keeper/hooks_perpetual.go
Due: none

Fix limit price (#1136)
  x/tradeshield/keeper/pending_spot_order.go
Due: none

updating exit buffer value
  x/leveragelp/migrations/v18_migration.go
Due: none

fee corrections and events (#1135)
  x/accountedpool/keeper/hooks_amm.go
  x/accountedpool/keeper/hooks_leveragelp.go
  x/accountedpool/keeper/hooks_perpetual.go
  x/accountedpool/types/events.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/migrations/v18_migration.go
  x/perpetual/types/events.go
  x/tradeshield/types/events.go
Due: none

Handle get comet validators
  app/keepers/ics_staking_keeper.go
  go.mod
  go.sum
Due: none

fixing leverage amount
  app/setup_handlers.go
  x/leveragelp/keeper/position_close.go
Due: none

fixing leverage amount (#1137)
  app/setup_handlers.go
  x/leveragelp/keeper/position_close.go
Due: none

removing devnet fix
  app/setup_handlers.go
Due: none

removing devnet fix (#1138)
  app/setup_handlers.go
Due: none

add trigger
  x/leveragelp/keeper/msg_server_claim_rewards.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_update_stop_loss.go
  x/leveragelp/types/events.go
Due: leveragelp_transactions

add check
  x/leveragelp/keeper/msg_server_claim_rewards.go
Due: leveragelp_transactions

add
  x/leveragelp/keeper/msg_server_claim_rewards.go
  x/leveragelp/keeper/msg_server_update_stop_loss.go
Due: leveragelp_transactions

test(oracle): set initial oracle params to ATOM + USDC
  .gitignore
  app/app.go
Due: none

Add trigger (#1139)
  x/leveragelp/keeper/msg_server_claim_rewards.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_update_stop_loss.go
  x/leveragelp/types/events.go
Due: leveragelp_transactions

vote
  .github/workflows/vote.yml
Due: none
