Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

fixing exit pool with accounted pool in two tokens
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
Due: amm_keeper, amm_queries

refactor: use slices.Contains to simplify code
  x/amm/keeper/params.go
  x/leveragelp/keeper/msg_server_open.go
  x/perpetual/keeper/msg_server_open.go
  x/tradeshield/types/message_execute_orders.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_spot_order.go
Due: leveragelp_transactions, perpetual_transactions

refactor and fixes
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/query_open_estimation.go
Due: perpetual_queries

fix tests by adding assetprofile entry
  x/perpetual/keeper/mtp_leverage_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: perpetual_queries

fix
  x/amm/keeper/update_pool_for_swap.go
Due: none

refactor
  x/leveragelp/keeper/position_open.go
Due: none

add comment for using MaxBigdec
  x/amm/types/pool_calc_join_pool_no_swap_shares.go
Due: none

fix for stable stake deposit denom
  app/setup_handlers.go
  x/assetprofile/keeper/fix_entries.go
  x/assetprofile/keeper/fix_entries_test.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/types/expected_keepers.go
Due: stablestake_transactions

adding constants
  utils/constants.go
  x/leveragelp/keeper/utils.go
Due: none

reordering multiplication
  x/leveragelp/keeper/utils.go
Due: none

reordering multiplication
  x/masterchef/keeper/query_pool_rewards.go
Due: masterchef_queries

removing redundant function
  x/perpetual/keeper/calc_min_collateral.go
  x/perpetual/keeper/calc_min_collateral_test.go
Due: none

simplify addition
  x/stablestake/keeper/debt.go
Due: none

fixing unbonding for single user and nothing borrowed
  x/stablestake/keeper/msg_server_unbond.go
Due: stablestake_transactions

improving validation for eureka assets
  x/assetprofile/types/message_add_entry.go
  x/assetprofile/types/message_add_entry_test.go
Due: none

chore: fix some typos in comment (#1243)
  codecov.yml
  scripts/test_scripts/masterchef/query.sh
  x/masterchef/keeper/keeper.go
Due: masterchef_keeper

refactor: use slices.Contains to simplify code (#1254)
  x/amm/keeper/params.go
  x/leveragelp/keeper/msg_server_open.go
  x/perpetual/keeper/msg_server_open.go
  x/tradeshield/types/message_execute_orders.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_spot_order.go
Due: leveragelp_transactions, perpetual_transactions

Update readme.md (#1250)
  readme.md
Due: none

improving DS
  api/elys/burner/history.pulsar.go
  proto/elys/burner/history.proto
  x/burner/keeper/history.go
  x/burner/migration/new_migrator.go
  x/burner/migration/v2_migration.go
  x/burner/module.go
  x/burner/types/history.pb.go
  x/burner/types/keys.go
Due: none

removing redundant code
  app/setup_handlers.go
Due: none

fixing test cases
  x/burner/genesis_test.go
  x/burner/keeper/burn_test.go
  x/burner/keeper/history_test.go
  x/burner/keeper/query_history_test.go
  x/burner/types/genesis_test.go
Due: burner_queries

removing map from burner and improving DS (#1230)
  api/elys/burner/history.pulsar.go
  api/elys/burner/query.pulsar.go
  proto/elys/burner/history.proto
  proto/elys/burner/query.proto
  x/burner/autocli.go
  x/burner/genesis_test.go
  x/burner/keeper/burn.go
  x/burner/keeper/burn_test.go
  x/burner/keeper/history.go
  x/burner/keeper/history_test.go
  x/burner/keeper/query_history.go
  x/burner/keeper/query_history_test.go
  x/burner/migration/new_migrator.go
  x/burner/migration/v2_migration.go
  x/burner/module.go
  x/burner/types/genesis.go
  x/burner/types/genesis_test.go
  x/burner/types/history.pb.go
  x/burner/types/key_history.go
  x/burner/types/keys.go
  x/burner/types/query.pb.go
  x/burner/types/query.pb.gw.go
Due: burner_queries

fix
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
Due: masterchef_lifecycle

use cacheCtx
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

fix
  x/vaults/keeper/keeper_test.go
  x/vaults/keeper/msg_deposit_test.go
  x/vaults/keeper/msg_withdraw.go
Due: none

refactor: use the built-in max/min to simplify the code
  x/commitment/types/commitments.go
Due: none

query fixes
  api/elys/masterchef/query.pulsar.go
  proto/elys/masterchef/query.proto
  x/masterchef/autocli.go
  x/masterchef/client/cli/query_apr.go
  x/masterchef/keeper/query_aprs.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

comment
  x/masterchef/autocli.go
Due: none

add query
  api/elys/tier/query.pulsar.go
  api/elys/tier/query_grpc.pb.go
  proto/elys/tier/query.proto
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/query.pb.go
  x/tier/types/query.pb.gw.go
Due: tier_queries

fixing join pool accounted pool
  x/amm/types/pool_join_pool.go
Due: none

adding comments
  x/amm/types/pool_join_pool.go
Due: none

[Amm]: Pass on balance reward as token in (#1255)
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
Due: amm_keeper, masterchef_lifecycle

add vaults tests
  api/elys/vaults/tx.pulsar.go
  app/keepers/keepers.go
  proto/elys/vaults/tx.proto
  testutil/keeper/vaults.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_add_vault_test.go
  x/vaults/keeper/msg_deposit_test.go
  x/vaults/types/expected_keepers.go
  x/vaults/types/tx.pb.go
  x/vaults/types/utils.go
  x/vaults/types/vault_address.go
Due: none

remove band
  go.mod
  go.sum
  x/oracle/keeper/hooks.go
  x/oracle/module_ibc.go
  x/oracle/oracle.go
  x/oracle/types/band_calldata_encode_test.go
Due: none

removed oracle ibc and band features
  api/elys/oracle/query.pulsar.go
  api/elys/oracle/query_grpc.pb.go
  app/keepers/keepers.go
  go.mod
  go.sum
  proto/elys/oracle/query.proto
  x/oracle/autocli.go
  x/oracle/genesis.go
  x/oracle/keeper/band_request.go
  x/oracle/keeper/band_request_test.go
  x/oracle/keeper/grpc_query_band_price.go
  x/oracle/keeper/hooks.go
  x/oracle/keeper/keeper.go
  x/oracle/module_ibc.go
  x/oracle/oracle.go
  x/oracle/types/band_calldata_encode_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: oracle_keeper, oracle_queries

removed oracle ibc and band features
  go.mod
Due: none

removed oracle ibc and band features (#1262)
  api/elys/oracle/query.pulsar.go
  api/elys/oracle/query_grpc.pb.go
  app/keepers/keepers.go
  go.mod
  go.sum
  proto/elys/oracle/query.proto
  x/oracle/autocli.go
  x/oracle/genesis.go
  x/oracle/keeper/band_request.go
  x/oracle/keeper/band_request_test.go
  x/oracle/keeper/grpc_query_band_price.go
  x/oracle/keeper/hooks.go
  x/oracle/keeper/keeper.go
  x/oracle/module_ibc.go
  x/oracle/oracle.go
  x/oracle/types/band_calldata_encode_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: oracle_keeper, oracle_queries

fixing join pool accounted pool (#1260)
  x/amm/types/pool_join_pool.go
Due: none

[Masterchef]: Query Apr fixes (#1259)
  api/elys/masterchef/query.pulsar.go
  proto/elys/masterchef/query.proto
  x/masterchef/autocli.go
  x/masterchef/client/cli/query_apr.go
  x/masterchef/keeper/query_aprs.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries
