Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

perp fixes
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none

fix
  x/tradeshield/keeper/msg_server_perpetual_order.go
Due: none

add migration
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/migrations/v5_migrator.go
  x/tradeshield/module.go
Due: none

add validations
  x/tradeshield/types/message_execute_orders.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_spot_order.go
Due: none

fix tests
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/client/cli/tx_spot_order_test.go
  x/tradeshield/types/message_execute_orders.go
  x/tradeshield/types/message_execute_orders_test.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
Due: none

more validations
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_spot_order.go
Due: none

more
  x/tradeshield/types/messages_pending_spot_order.go
Due: none

fix
  x/tradeshield/types/messages_pending_spot_order_test.go
Due: none

remove
  x/perpetual/keeper/process_mtp.go
Due: none

[Masterchef]: Tests (#892)
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/external_incentive_test.go
Due: masterchef_lifecycle

app and ante fixes
  app/ante/ante.go
  app/modules.go
Due: none

updates
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/types/messages_pending_perpetual_order.go
Due: none

fix tests
  x/tradeshield/client/cli/tx_perpetual_order_test.go
Due: none

fix migration
  x/tradeshield/migrations/v4_migrator.go
  x/tradeshield/migrations/v5_migrator.go
  x/tradeshield/module.go
Due: none

tests were added for perpetual module
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/calc_min_collateral_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/force_close_short_test.go
  x/perpetual/keeper/get_epoch_position_test.go
  x/perpetual/keeper/hooks_amm_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_broker_close.go
  x/perpetual/keeper/msg_server_broker_close_test.go
  x/perpetual/keeper/msg_server_broker_open_test.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_close_test.go
  x/perpetual/keeper/msg_server_dewhitelist_test.go
  x/perpetual/keeper/msg_server_update_params_test.go
  x/perpetual/keeper/msg_server_whitelist_test.go
  x/perpetual/keeper/open_test.go
Due: none

add migration
  proto/elys/amm/pool.proto
  proto/elys/amm/pool_asset.proto
  x/amm/migrations/v5_migration.go
  x/amm/migrations/v6_migration.go
  x/amm/module.go
  x/amm/types/pool.pb.go
  x/amm/types/pool_asset.pb.go
Due: none

add logic for multiple external liq ratio
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/types/pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_transactions

update
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
Due: amm_transactions

fix tests
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/types/swap_in_amt_given_out_test.go
Due: amm_transactions, amm_keeper

fix tests
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/perpetual/keeper/get_amm_pool_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: amm_keeper

add tests
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
Due: amm_transactions

more coverage
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
Due: amm_transactions

fixing trade shield merge conflicts
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_spot_order.go
Due: none

[Tradeshield]: Close order (#897)
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/migrations/v4_migrator.go
  x/tradeshield/migrations/v5_migrator.go
  x/tradeshield/module.go
  x/tradeshield/types/messages_pending_perpetual_order.go
Due: none

new tests were added to perpetual module
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_open_test.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_mtp_test.go
  x/perpetual/keeper/reset_store_test.go
Due: none

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: bump version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

fix(tradeshield): wrong module version
  x/tradeshield/module.go
Due: none

ci: bump snap gen version (#899)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
  x/tradeshield/module.go
Due: none

patch
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: none

updates
  x/amm/types/swap_out_amt_given_in.go
Due: none

fix
  x/amm/types/swap_out_amt_given_in.go
Due: none

fix: add cosmos-sdk module's cli query using autocli
  cmd/elysd/cmd/root.go
Due: none

fixing query
  cmd/elysd/cmd/root.go
  x/leveragelp/module.go
Due: none

[Perpetual]: Remove take profit trigger from health function (#896)
  x/perpetual/keeper/process_mtp.go
Due: none
