Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

fix: setup handler
  app/setup_handlers.go
Due: none

test(leveragelp): fix tests
  x/leveragelp/keeper/msg_server_open_test.go
Due: leverage_lp_transactions

test(amm): fix tests
  x/amm/keeper/msg_server_create_pool_test.go
Due: amm_transactions

test(perpetual): fix test
  x/perpetual/keeper/get_amm_pool_test.go
Due: none

feat(amm): weight recovery reward applied to weight balance bonuses (#870)
  app/setup_handlers.go
  proto/elys/amm/pool.proto
  proto/elys/amm/pool_params.proto
  x/amm/client/cli/query_pool_test.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_update_pool_params_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
  x/amm/migrations/v5_migration.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool.pb.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/pool_params.pb.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/amm/types/utils.go
  x/perpetual/keeper/get_amm_pool_test.go
Due: amm_transactions

fix(leveragelp): migration
  proto/elys/incentive/genesis.proto
  proto/elys/incentive/query.proto
  proto/elys/incentive/tx.proto
  x/leveragelp/migrations/v15_migration.go
Due: none

fix(leveragelp): fix data structure
  proto/elys/leveragelp/pool.proto
  x/leveragelp/migrations/v15_migration.go
  x/leveragelp/types/pool.pb.go
Due: none

fix(leveragelp): new pool
  x/leveragelp/types/pool.go
Due: none

fix(leveragelp): migration
  proto/elys/leveragelp/pool.proto
  x/leveragelp/types/pool.pb.go
Due: none

fix(leveragelp): fix tests and doc
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/spec/07_pool_status.md
Due: leverage_lp_transactions

fix
  x/perpetual/keeper/mtp.go
Due: none

clean up
  docs/static/openapi.yml
  proto/elys/incentive/genesis.proto
  proto/elys/incentive/query.proto
  proto/elys/incentive/tx.proto
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/query_mtp.go
Due: none

fix
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/query_mtp.go
Due: none

show liability
  x/perpetual/keeper/mtp.go
Due: none

remove unecessary field
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/query_mtp.go
Due: none

Dev 1930 set max value for pool (#863)
  proto/elys/incentive/genesis.proto
  proto/elys/incentive/query.proto
  proto/elys/incentive/tx.proto
  proto/elys/leveragelp/pool.proto
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/pool.go
  x/leveragelp/migrations/v15_migration.go
  x/leveragelp/module.go
  x/leveragelp/spec/07_pool_status.md
  x/leveragelp/types/pool.go
  x/leveragelp/types/pool.pb.go
Due: leverage_lp_transactions

fix
  x/perpetual/keeper/pool.go
Due: none

undoing tvl fixes
  x/amm/client/wasm/query_earn_mining_pool_all.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_pool.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool.go
  x/amm/types/pool_join_pool.go
  x/leveragelp/keeper/hooks_amm.go
  x/masterchef/keeper/abci.go
Due: amm_transactions, amm_keeper, masterchef_lifecycle

return coin
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/types/query.pb.go
Due: none

fix test
  x/perpetual/client/cli/query_mtp_test.go
Due: none

fix
  x/perpetual/keeper/query_open_estimation_test.go
Due: none

fix all tests
  x/perpetual/keeper/query_open_estimation_test.go
Due: none

[Perpetual]: Fix estimatedPnL (#882)
  docs/static/openapi.yml
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/query_mtp.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/query.pb.go
Due: none

chore(perpetual): gen proto
  x/perpetual/types/query.pb.go
Due: none

[Perpetual]: Funding Rate Display (#880)
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/get_net_open_interest.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/types/query.pb.go
Due: none

feat(amm): add test case that valid the possible exploit of join pool flow due to positive effect of weight breaking fee on rebalancing without new liquidities to the pool
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_join_pool_test.go
Due: amm_transactions, amm_keeper

fixing unit test cases, and close position swap type
  x/amm/keeper/abci_test.go
  x/amm/keeper/calc_out_route_spot_price_test.go
  x/amm/keeper/fee_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/msg_server_swap_exact_amount_out_test.go
  x/amm/keeper/pool_test.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_out_test.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/pool_test.go
  x/amm/types/pow.go
  x/amm/types/solve_constant_function_invariant.go
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils_test.go
  x/perpetual/keeper/calc_mtp_take_profit_liabilities.go
  x/perpetual/keeper/calc_total_liabilities_test.go
  x/perpetual/keeper/get_amm_pool_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/keeper/query_pool_test.go
  x/perpetual/types/calc_mtp_take_profit_custody.go
  x/transferhook/keeper/swap_test.go
Due: leveragelp_keeper, amm_transactions, amm_lifecycle, amm_keeper

fixing test cases
  x/leveragelp/keeper/msg_server_open_test.go
Due: leverage_lp_transactions

effectiveLeverage and migration fixes
  proto/elys/perpetual/query.proto
  x/accountedpool/keeper/hooks_leveragelp.go
  x/leveragelp/keeper/pool.go
  x/leveragelp/migrations/v13_migration.go
  x/leveragelp/migrations/v14_migration.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_leverage.go
  x/perpetual/keeper/mtp_leverage_test.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/updated_leverage.go
  x/perpetual/migrations/v10_migration.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/types.go
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v7_migration.go
Due: none

fixing variable name
  proto/elys/leveragelp/pool.proto
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/pool.go
  x/leveragelp/migrations/v15_migration.go
  x/leveragelp/types/pool.pb.go
  x/perpetual/types/query.pb.go
Due: leverage_lp_transactions

enable disable TakeProfitCustodyLiabilities
  proto/elys/perpetual/params.proto
  x/accountedpool/keeper/accounted_pool_update_test.go
  x/accountedpool/keeper/hooks_perpetual.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/force_close_long.go
  x/perpetual/keeper/force_close_short.go
  x/perpetual/keeper/msg_server_update_params.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/migrations/v11_migration.go
  x/perpetual/module.go
  x/perpetual/types/hooks.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/tier/keeper/hooks_perpetual.go
Due: none

correcting TakeProfitBorrowFactor for short
  x/perpetual/keeper/calc_mtp_take_profit_borrow_rate.go
Due: none

tvl fixes for accounted pool
  app/app.go
  testutil/keeper/leveragelp.go
  x/amm/client/wasm/query_earn_mining_pool_all.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_pool.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/pool_test.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/abci.go
Due: leverage_lp_lifecycle, leveragelp_keeper, amm_transactions, amm_keeper, masterchef_lifecycle

fixing unit test case
  x/accountedpool/keeper/accounted_pool_update_test.go
Due: none

fixes after merge with main
  x/leveragelp/types/pool.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/types.go
Due: none

effective leverage (#884)
  proto/elys/leveragelp/pool.proto
  proto/elys/perpetual/query.proto
  x/accountedpool/keeper/hooks_leveragelp.go
  x/amm/types/params.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/migrations/v13_migration.go
  x/leveragelp/migrations/v14_migration.go
  x/leveragelp/migrations/v15_migration.go
  x/leveragelp/types/pool.go
  x/leveragelp/types/pool.pb.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_leverage.go
  x/perpetual/keeper/mtp_leverage_test.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/keeper/updated_leverage.go
  x/perpetual/migrations/v10_migration.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/types.go
  x/stablestake/keeper/params.go
  x/stablestake/migrations/v7_migration.go
Due: leverage_lp_transactions

enable disable TakeProfitCustodyLiabilities (#885)
  proto/elys/perpetual/params.proto
  x/accountedpool/keeper/accounted_pool_update_test.go
  x/accountedpool/keeper/hooks_perpetual.go
  x/perpetual/keeper/calc_mtp_take_profit_borrow_rate.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/force_close_long.go
  x/perpetual/keeper/force_close_short.go
  x/perpetual/keeper/msg_server_update_params.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/migrations/v11_migration.go
  x/perpetual/module.go
  x/perpetual/types/hooks.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/tier/keeper/hooks_perpetual.go
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
