Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

fixing version
  x/estaking/keeper/query_edenb_burn.go
  x/estaking/keeper/query_edenb_burn_test.go
Due: estaking_queries

feat: Add EdenB burn calculation query and tests (#1293)
  api/elys/estaking/query.pulsar.go
  api/elys/estaking/query_grpc.pb.go
  proto/elys/estaking/query.proto
  x/estaking/autocli.go
  x/estaking/keeper/query_edenb_burn.go
  x/estaking/keeper/query_edenb_burn_test.go
  x/estaking/types/query.pb.go
  x/estaking/types/query.pb.gw.go
Due: estaking_queries

fixing upgrade store and make proto
  app/setup_handlers.go
  scripts/protocgen.sh
Due: none

proto updates
  api/elys/perpetual/params.pulsar.go
  api/elys/perpetual/pool.pulsar.go
  api/elys/perpetual/query.pulsar.go
  x/perpetual/migrations/v17_migration.go
  x/perpetual/types/mtp_test.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/query.pb.go
Due: none

remove redundant file
  x/perpetual/types/is_take_profit_price_inifite.go
Due: none

fixing function name and variables
  x/perpetual/keeper/params.go
  x/perpetual/keeper/pool_health.go
Due: none

add clob queries in proto
  api/elys/clob/query.pulsar.go
  api/elys/clob/query_grpc.pb.go
  proto/elys/clob/query.proto
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
Due: none

add messages
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/unwind.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

update vaults via gov
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  proto/elys/vaults/tx.proto
  x/vaults/keeper/msg_update_vault.go
  x/vaults/module/autocli.go
  x/vaults/types/tx.pb.go
Due: none

fix query proto and api endpoint
  api/elys/clob/query.pulsar.go
  proto/elys/clob/query.proto
  x/clob/types/query.pb.go
  x/clob/types/query.pb.gw.go
Due: none

implement proto queries
  x/clob/keeper/query_perpetual_adl.go
  x/clob/keeper/query_perpetual_order.go
  x/clob/keeper/query_prices.go
  x/clob/types/errors.go
Due: none

removing already keys added [After v5 release] (#1296)
  app/setup_handlers.go
Due: none

add tx message
  api/elys/commitment/airdrop.pulsar.go
  api/elys/commitment/tx.pulsar.go
  api/elys/commitment/tx_grpc.pb.go
  proto/elys/commitment/airdrop.proto
  proto/elys/commitment/tx.proto
  x/commitment/keeper/msg_server_claim.go
  x/commitment/keeper/rewards.go
  x/commitment/migrations/v11_migration.go
  x/commitment/module.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/errors.go
  x/commitment/types/keys.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

add query
  api/elys/commitment/params.pulsar.go
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  proto/elys/commitment/params.proto
  proto/elys/commitment/query.proto
  x/commitment/autocli.go
  x/commitment/keeper/msg_server_claim.go
  x/commitment/keeper/query_rewards_program.go
  x/commitment/types/errors.go
  x/commitment/types/params.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
Due: commitment_transactions, commitment_queries

ckaimned :
  api/elys/commitment/tx.pulsar.go
  proto/elys/commitment/tx.proto
  x/commitment/keeper/msg_server_claim.go
  x/commitment/keeper/msg_server_update_airdrop_params.go
  x/commitment/keeper/rewards.go
  x/commitment/migrations/v11_migration.go
  x/commitment/types/keys.go
  x/commitment/types/tx.pb.go
Due: commitment_transactions

add eden query
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  proto/elys/commitment/query.proto
  x/commitment/autocli.go
  x/commitment/keeper/query_rewards_program.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
Due: commitment_queries

error handling
  x/accountedpool/keeper/hooks_perpetual.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/amm/keeper/msg_server_update_pool_params.go
  x/amm/keeper/pool.go
Due: amm_transactions, amm_keeper

imp
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/update_pool_for_swap.go
Due: amm_queries

improve
  x/amm/types/amm_price.go
  x/amm/types/pool.go
Due: none

update error message in test:
  x/amm/types/amm_price_test.go
Due: none

fixing estimated pnl query and tx to allow 0 take profit price
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/query_open_estimation.go
Due: perpetual_queries

add amm checks for exisiting pool with same assets
  x/amm/keeper/msg_server_create_pool.go
  x/amm/keeper/params.go
  x/amm/keeper/params_test.go
  x/amm/types/errors.go
Due: amm_transactions

combine
  api/elys/commitment/airdrop.pulsar.go
  proto/elys/commitment/airdrop.proto
  x/commitment/keeper/msg_server_claim.go
  x/commitment/keeper/query_rewards_program.go
  x/commitment/keeper/rewards.go
  x/commitment/types/airdrop.pb.go
  x/commitment/types/keys.go
Due: commitment_transactions, commitment_queries

list
  x/commitment/migrations/rewards_program.go
  x/commitment/migrations/v11_migration.go
Due: none

Error handling improvements for AccountedPool and Amm modules (#1301)
  x/accountedpool/keeper/hooks_perpetual.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/amm/keeper/msg_server_update_pool_params.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/amm_price.go
  x/amm/types/amm_price_test.go
  x/amm/types/pool.go
Due: amm_transactions, amm_keeper, amm_queries

add list
  x/commitment/migrations/rewards_program.go
Due: none

update address
  x/commitment/migrations/rewards_program.go
Due: none

update
  x/commitment/migrations/rewards_program.go
Due: none

key
  x/commitment/types/keys.go
Due: none

remove
  x/commitment/types/keys.go
Due: none

remove
  x/commitment/migrations/rewards_program.go
Due: none

add checks for adding entry in assetprofile
  x/assetprofile/keeper/msg_server_add_entry.go
Due: assetprofile_transactions

register
  x/commitment/types/codec.go
Due: none

rewards-program
  x/commitment/keeper/msg_server_claim_reward_program_test.go
  x/commitment/migrations/rewards_program.go
  x/commitment/migrations/v11_migration.go
Due: commitment_transactions

block heights
  x/commitment/migrations/v11_migration.go
Due: none

update chain id
  x/commitment/migrations/v11_migration.go
Due: none

Update devnet-deploy.yml
  .github/workflows/devnet-deploy.yml
Due: none
