Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

Ignore auto generate files
  codecov.yml
Due: none

ci: use latest snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

fixing add/remove pool tx logic, improving validate basic of msgs and add all their test cases
  proto/elys/leveragelp/tx.proto
  x/leveragelp/client/cli/tx_add_pool.go
  x/leveragelp/keeper/msg_server_add_pool.go
  x/leveragelp/keeper/msg_server_update_pool.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/types/message_update_stop_loss.go
  x/leveragelp/types/message_update_stop_loss_test.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
  x/leveragelp/types/tx.pb.go
Due: leverage_lp_transactions

fixing test cases
  x/leveragelp/keeper/msg_server_update_pool_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_get_position_test.go
Due: leverage_lp_transactions

codecov components updates (#743)
  codecov.yml
Due: none

feat: refactor hooks
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/types/hooks.go
  x/tier/keeper/hooks_leveragelp.go
Due: leverage_lp_transactions, leveragelp_keeper

update
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/query_get_position_test.go
Due: leverage_lp_transactions

refactor: get possition query
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/query_committed_tokens_locked.go
  x/leveragelp/keeper/query_get_positions_for_address.go
  x/leveragelp/keeper/utils.go
  x/tier/keeper/portfolio.go
  x/tier/types/expected_keepers.go
Due: none

update
  x/leveragelp/keeper/msg_server_close_positions.go
Due: leverage_lp_transactions

fix: pr suggestion
  app/app.go
  x/amm/types/expected_keepers.go
  x/leveragelp/keeper/keeper.go
Due: leveragelp_keeper

feat:test query
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils.go
Due: none

feat:add hooks test
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
Due: leverage_lp_transactions

lifetime must be > 0
  x/parameter/keeper/msg_server_update_rewards_data_lifetime.go
Due: parameter_transactions

add forward calc
  proto/elys/incentive/query.proto
  x/incentive/keeper/queries.go
  x/incentive/types/query.pb.go
  x/masterchef/keeper/pool_rewards_accum.go
Due: none

improving positions validate functions
  x/leveragelp/types/position.go
  x/leveragelp/types/position_test.go
Due: none

add test
  x/parameter/keeper/msg_server_update_rewards_data_lifetime_test.go
Due: parameter_transactions

more tests
  x/masterchef/keeper/pool_rewards_accum_test.go
Due: none

cover
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/keeper/pool_rewards_accum_test.go
Due: none

pool
  x/leveragelp/keeper/position.go
  x/leveragelp/migrations/v10_migration.go
Due: none

check
  x/leveragelp/keeper/position_close.go
Due: none

user
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
Due: none

remove
  x/leveragelp/keeper/position.go
Due: none

optimizing BeginBlocker for leveragelp, improving it's nomenclature, increasing it's test coverage to 90%
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/begin_blocker_test.go
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/migrations/v8_migration.go
Due: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper

adding test cases for close positions tx
  x/leveragelp/keeper/begin_blocker_test.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/keeper/msg_server_close_positions_test.go
Due: leverage_lp_transactions, leverage_lp_lifecycle

[critical] Removed IsPoolEnabled function which add pool without governance
  x/amm/client/wasm/query_earn_mining_pool_all.go
  x/leveragelp/keeper/add_collateral.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/msg_server_update_stop_loss.go
  x/leveragelp/keeper/pool.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/utils.go
Due: leverage_lp_transactions, leveragelp_keeper

accum
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/keeper/pool_rewards_accum_test.go
Due: none

ci: update snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

adding more validations
  x/leveragelp/keeper/msg_server_add_collateral_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
Due: leverage_lp_transactions

Fixing tx
  proto/elys/leveragelp/tx.proto
  x/leveragelp/keeper/msg_server_update_pool.go
  x/leveragelp/keeper/msg_server_update_pool_test.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
  x/leveragelp/types/tx.pb.go
Due: leverage_lp_transactions

correcting test structure
  x/leveragelp/keeper/begin_blocker_test.go
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_add_collateral_test.go
  x/leveragelp/keeper/msg_server_add_pool_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_positions_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_remove_pools_test.go
  x/leveragelp/keeper/msg_server_update_pool_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils_test.go
Due: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper

Ci/update snap gen version (#749)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: enable commitment data within snap gen
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

add data type
  proto/elys/masterchef/types.proto
  x/masterchef/keeper/fee_info.go
  x/masterchef/types/keys.go
Due: none

fee keeper
  proto/elys/masterchef/types.proto
  x/masterchef/keeper/fee_info.go
  x/masterchef/types/types.pb.go
Due: none

add info
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/fee_info.go
Due: masterchef_lifecycle

add tests
  x/masterchef/keeper/fee_info.go
  x/masterchef/keeper/fee_info_test.go
Due: none

delete old data
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/fee_info.go
Due: masterchef_lifecycle

add fee queries
  docs/static/openapi.yml
  proto/elys/masterchef/query.proto
  x/leveragelp/keeper/query_position.go
  x/masterchef/client/cli/query.go
  x/masterchef/client/cli/query_list_fee_info.go
  x/masterchef/client/cli/query_show_fee_info.go
  x/masterchef/keeper/query_list_fee_info.go
  x/masterchef/keeper/query_show_fee_info.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: none
