Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

test(commitment): improve code coverage to 81%
  x/commitment/keeper/keeper_test.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
  x/commitment/keeper/msg_server_commit_claimed_rewards_test.go
Due: commitment_transactions, commitment_keeper

fix
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: none

fix
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/msg_server_close_test.go
Due: leverage_lp_transactions

unit test fixes
  app/test_setup.go
  testutil/keeper/perpetual.go
  x/accountedpool/keeper/accounted_pool_update_test.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/message_create_pool_test.go
  x/estaking/spec/03_keeper.md
  x/estaking/spec/05_functions.md
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/external_incentive_test.go
  x/perpetual/client/cli/tx_open.go
  x/perpetual/keeper/get_amm_pool_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/pool_health_test.go
  x/tradeshield/types/messages_pending_spot_order_test.go
  x/transferhook/spec/03_keeper.md
  x/transferhook/spec/05_functions.md
Due: amm_transactions, amm_keeper, masterchef_lifecycle

fix cli command use statement for perpetual module
  x/perpetual/client/cli/tx_update_stop_loss.go
  x/perpetual/client/cli/tx_update_take_profit_price.go
Due: none

fix cli command use statement for perpetual module (#903)
  x/perpetual/client/cli/tx_update_stop_loss.go
  x/perpetual/client/cli/tx_update_take_profit_price.go
Due: none

improving perpetual short logic
  x/perpetual/keeper/calc_mtp_take_profit_liabilities.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/mtp_leverage.go
  x/perpetual/keeper/mtp_leverage_test.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/process_open.go
  x/perpetual/types/errors.go
  x/perpetual/types/message_broker_open.go
  x/perpetual/types/message_broker_open_test.go
  x/perpetual/types/message_open.go
  x/perpetual/types/message_open_test.go
Due: none

test(commitment): improve code coverage to 81% (#901)
  x/commitment/keeper/keeper_test.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
  x/commitment/keeper/msg_server_commit_claimed_rewards_test.go
Due: commitment_transactions, commitment_keeper

improving validations
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_test.go
Due: none

[Amm]: Weight breaking fee fixes (#902)
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/leveragelp/keeper/msg_server_close_test.go
Due: leverage_lp_transactions

improving perpetual short logic (#904)
  x/perpetual/keeper/calc_mtp_take_profit_liabilities.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/mtp_leverage.go
  x/perpetual/keeper/mtp_leverage_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/process_open.go
  x/perpetual/types/errors.go
  x/perpetual/types/message_broker_open.go
  x/perpetual/types/message_broker_open_test.go
  x/perpetual/types/message_open.go
  x/perpetual/types/message_open_test.go
Due: none

add broker-open cli cmd for BrokerOpen tx
  x/perpetual/client/cli/tx.go
  x/perpetual/client/cli/tx_broker_open.go
  x/perpetual/types/message_broker_open.go
Due: none

add broker-close cli cmd for BrokerClose tx
  x/perpetual/client/cli/tx.go
  x/perpetual/client/cli/tx_broker_close.go
Due: none

add tests
  x/perpetual/client/cli/tx_broker_close_test.go
  x/perpetual/client/cli/tx_broker_open_test.go
Due: none

Add Broker Open/Close CLI cmd (#905)
  x/perpetual/client/cli/tx.go
  x/perpetual/client/cli/tx_broker_close.go
  x/perpetual/client/cli/tx_broker_close_test.go
  x/perpetual/client/cli/tx_broker_open.go
  x/perpetual/client/cli/tx_broker_open_test.go
  x/perpetual/types/message_broker_open.go
Due: none

removing unused constants
  x/burner/types/message_msg_update_params.go
  x/commitment/types/message_cancel_vest.go
  x/perpetual/types/message_broker_open.go
Due: none

fixing ibc param subspace issue
  app/keepers/keepers.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/msg_server_create_pool_test.go
Due: amm_transactions, amm_keeper

Update app/ante/gov_expedited_ante.go
  app/ante/gov_expedited_ante.go
Due: none

Update app/ante/validator_tx_fee.go
  app/ante/validator_tx_fee.go
Due: none

new tests were added in the perpetual module to queries and types
  x/perpetual/keeper/query_close_estimation_test.go
  x/perpetual/keeper/query_get_all_to_pay_test.go
  x/perpetual/keeper/query_get_positions_by_pool_test.go
  x/perpetual/keeper/query_get_positions_for_address_test.go
  x/perpetual/keeper/query_get_positions_test.go
  x/perpetual/keeper/query_get_status_test.go
  x/perpetual/keeper/query_get_whitelist_test.go
  x/perpetual/keeper/query_is_whitelisted_test.go
  x/perpetual/keeper/query_mtp_test.go
  x/perpetual/types/calc_mtp_take_profit_custody_test.go
  x/perpetual/types/calc_take_amount_test.go
Due: none

new tests were added in the perpetual module to queries and types
  x/perpetual/keeper/msg_server_broker_close.go
Due: none

test(commitment): improve code coverage queries and types
  x/commitment/keeper/msg_server_uncommit_tokens_test.go
  x/commitment/keeper/msg_server_vest_now.go
  x/commitment/keeper/query_commitment_vesting_info_test.go
  x/commitment/keeper/query_params_test.go
  x/commitment/keeper/query_test.go
  x/commitment/types/commitments_test.go
  x/commitment/types/message_cancel_vest_test.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: commitment_transactions

test(commitment): improve code coverage queries and types (#908)
  x/commitment/keeper/msg_server_uncommit_tokens_test.go
  x/commitment/keeper/msg_server_vest_now.go
  x/commitment/keeper/query_commitment_vesting_info_test.go
  x/commitment/keeper/query_params_test.go
  x/commitment/keeper/query_test.go
  x/commitment/types/commitments_test.go
  x/commitment/types/message_cancel_vest_test.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: commitment_transactions

perpetual tests were improved
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/force_close_short_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_update_params_test.go
Due: none

fixing short stop loss price and long take profit price
  x/perpetual/keeper/open.go
  x/perpetual/types/keys.go
Due: none

remove redundant check
  x/perpetual/keeper/open.go
Due: none

Avkr003/short fixes (#909)
  x/perpetual/keeper/open.go
  x/perpetual/types/keys.go
Due: none

feeder fix
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
Due: amm_transactions

fix
  x/amm/types/swap_out_amt_given_in.go
Due: none

fix
  x/amm/types/swap_in_amt_given_out.go
Due: none

add tests
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/msg_server_update_params_test.go
Due: stablestake_transactions, stablestake_lifecycle

snapshot fix
  x/amm/keeper/pool.go
Due: none

use accounted
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
Due: none

use accounted
  x/amm/keeper/calc_in_route_spot_price.go
Due: none

fixed all unit test cases
  app/test_setup.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/commitment/keeper/commitments_test.go
  x/commitment/keeper/deposit_liquid_tokens_test.go
  x/commitment/keeper/keeper_test.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
  x/commitment/keeper/msg_server_claim_vesting_test.go
  x/commitment/keeper/msg_server_commit_claimed_rewards_test.go
  x/commitment/keeper/msg_server_stake_test.go
  x/commitment/keeper/msg_server_unstake_test.go
  x/commitment/keeper/msg_server_update_vesting_info_test.go
  x/commitment/keeper/msg_server_vest_liquid_test.go
  x/commitment/keeper/msg_server_vest_now_test.go
  x/estaking/keeper/keeper_shares_test.go
  x/estaking/types/message_withdraw_reward.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/utils_test.go
  x/leveragelp/types/msgs_test.go
  x/masterchef/keeper/apr_pool_test.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/pool_test.go
  x/perpetual/client/cli/query_get_positions_by_pool_test.go
  x/perpetual/client/cli/query_get_positions_for_address_test.go
  x/perpetual/client/cli/query_get_positions_test.go
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/client/cli/query_pool_test.go
  x/perpetual/client/cli/suite_test.go
  x/perpetual/keeper/borrow_rate_test.go
  x/perpetual/keeper/check_same_asset_position_test.go
  x/perpetual/keeper/msg_servers_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/message_broker_open_test.go
  x/perpetual/types/message_open_test.go
  x/perpetual/types/perpetual_test.go
  x/perpetual/types/pool_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
Due: leverage_lp_transactions, amm_transactions, commitment_transactions, commitment_keeper, estaking_keeper

fixing test cases after merge
  x/commitment/client/cli/tx_cancel_vest.go
  x/commitment/keeper/msg_server_uncommit_tokens_test.go
  x/commitment/keeper/query_commitment_vesting_info_test.go
  x/commitment/keeper/query_test.go
  x/commitment/types/commitments_test.go
  x/commitment/types/message_cancel_vest_test.go
Due: commitment_transactions

fixing simulation test
  app/simulation_test.go
Due: none

ci(ci): bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

external
  x/amm/keeper/pool.go
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
