Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

test(amm): increase test coverage
  scripts/examples/wasm/wasm.sh
  x/amm/keeper/abci_test.go
  x/amm/keeper/apply_exit_pool_state_change_test.go
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/calc_out_route_spot_price_test.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/fee_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/msg_server_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_update_pool_params_test.go
  x/amm/keeper/oracle_pool_slippage_track_test.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_out_test.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/estaking/keeper/keeper_test.go
  x/perpetual/keeper/keeper_test.go
Due: amm_transactions, amm_lifecycle, amm_keeper, estaking_keeper

test(amm): fix minor
  x/estaking/keeper/keeper_test.go
Due: estaking_keeper

updating upgrade height for release
  .github/workflows/release.yml
Due: none

updating upgrade height for release (#935)
  .github/workflows/release.yml
Due: none

test(estaking): improve test coverage
  x/estaking/keeper/hooks_staking_test.go
Due: none

ci: set version to goreleaser
  .goreleaser.yaml
Due: none

ci: set version to goreleaser (#936)
  .goreleaser.yaml
Due: none

refactor(auth): improve queryAddresses function robustness and performance
  wasmbindings/externals/auth/query_addresses.go
Due: none

fix(auth): update HandleQuery to use QueryAddressesParams struct
  wasmbindings/externals/auth/querier.go
Due: none

add to ante handler
  app/ante/ante.go
  app/ante/vested.go
Due: none

add more types
  app/ante/vested.go
Due: none

test(amm): increase test coverage (#933)
  scripts/examples/wasm/wasm.sh
  x/amm/keeper/abci_test.go
  x/amm/keeper/apply_exit_pool_state_change_test.go
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/calc_out_route_spot_price_test.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/fee_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/msg_server_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_update_pool_params_test.go
  x/amm/keeper/oracle_pool_slippage_track_test.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_out_test.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/estaking/keeper/hooks_staking_test.go
  x/estaking/keeper/keeper_test.go
  x/perpetual/keeper/keeper_test.go
Due: amm_transactions, amm_lifecycle, amm_keeper, estaking_keeper

ci: fix goreleaser config
  .goreleaser.yaml
Due: none

ci: fix goreleaser config (#939)
  .goreleaser.yaml
Due: none

update
  app/ante/vested.go
Due: none

Fix tradeshield types
  proto/elys/tradeshield/tx.proto
Due: none

update pb.go files
  go.mod
  proto/elys/clock/v1/genesis.proto
  proto/elys/clock/v1/params.proto
  proto/elys/clock/v1/query.proto
  proto/elys/clock/v1/tx.proto
  x/tradeshield/types/tx.pb.go
Due: none

test(amm): increase test coverage
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/batch_processing_test.go
  x/amm/keeper/calc_in_amt_given_out_test.go
  x/amm/keeper/calc_out_amt_given_in_test.go
  x/amm/keeper/elys_routed_multihop.go
  x/amm/keeper/estimate_price_test.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
Due: amm_transactions, amm_keeper

test(amm): increase test coverage (#941)
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/batch_processing_test.go
  x/amm/keeper/calc_in_amt_given_out_test.go
  x/amm/keeper/calc_out_amt_given_in_test.go
  x/amm/keeper/elys_routed_multihop.go
  x/amm/keeper/estimate_price_test.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
Due: amm_transactions, amm_keeper

test statuses
  codecov.yml
Due: none

tradeshield amino signing fix
  proto/elys/tradeshield/order.proto
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/types/order.pb.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: none

testing
  .github/workflows/test.yml
Due: none

reducing upgrade time to 1 hour in ci
  .github/workflows/release.yml
Due: none

Fix tradeshield types (#940)
  .github/workflows/release.yml
  go.mod
  proto/elys/clock/v1/genesis.proto
  proto/elys/clock/v1/params.proto
  proto/elys/clock/v1/query.proto
  proto/elys/clock/v1/tx.proto
  proto/elys/tradeshield/order.proto
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/types/order.pb.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: none

fixing go releaser
  .goreleaser.yaml
Due: none

coverage-improve
  .github/workflows/test.yml
Due: none

fix: remove remaining wasm code
  .goreleaser.yaml
  app/ante/ante.go
  app/ante/handler_options.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  app/simulation_test.go
  app/test_setup.go
  app/wasm_configuration.go
  cmd/elysd/cmd/root.go
  go.mod
  go.sum
  testutil/network/network.go
  x/parameter/keeper/msg_server_update_wasm_config.go
Due: parameter_transactions

fix: minor
  Makefile
  architecture.md
Due: none

fix: minor
  .goreleaser.yaml
Due: none

fix: add wasm storekey in order to be able to remove wasm store keys
  app/keepers/keys.go
Due: none

Fix/remove remaining wasm code (#947)
  .goreleaser.yaml
  Makefile
  app/ante/ante.go
  app/ante/handler_options.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  app/simulation_test.go
  app/test_setup.go
  app/wasm_configuration.go
  architecture.md
  cmd/elysd/cmd/root.go
  go.mod
  go.sum
  testutil/network/network.go
  x/parameter/keeper/msg_server_update_wasm_config.go
Due: parameter_transactions

ci: use previous version to raise proposal
  .github/workflows/release.yml
Due: none

ci: use previous version to raise proposal (#948)
  .github/workflows/release.yml
Due: none
