Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add gas apr
  api/elys/masterchef/query.pulsar.go
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/apr_pool.go
  x/masterchef/types/query.pb.go
Due: none

fix pools being set in oracle kv store
  go.mod
  go.sum
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/keeper/abci.go
  x/amm/types/expected_keepers.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: amm_lifecycle

update ojo commit
  go.mod
  go.sum
Due: none

chore(oracle): merged latest ojo team changes + added asset infos
  app/app.go
Due: none

changes
  x/leveragelp/keeper/add_collateral.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/query_chain_tvl.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/interest_rate.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/tvl.go
  x/stablestake/migrations/v8_migration.go
  x/stablestake/types/keys.go
  x/stablestake/types/pool_test.go
  x/tier/types/expected_keepers.go
Due: leveragelp_transactions, masterchef_queries, stablestake_transactions

fixes
  x/stablestake/keeper/debt_test.go
  x/stablestake/types/keys.go
Due: none

fix
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/types/expected_keepers.go
  x/stablestake/keeper/debt_test.go
Due: leveragelp_transactions, leveragelp_queries

migration
  x/leveragelp/keeper/position.go
  x/leveragelp/migrations/v19_migration.go
  x/leveragelp/module.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/migrations/v9_migration.go
  x/stablestake/module.go
Due: none

slippage bug
  x/amm/types/pool_join_pool.go
Due: none

fix
  x/leveragelp/keeper/msg_server_close_test.go
Due: leveragelp_transactions

reducing lpSharesForRepay before exit for CheckAmmBalance check
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/migrations/v18_migration.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

slippage in exit pool
  api/elys/amm/query.pulsar.go
  api/elys/amm/tx.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/amm/tx.proto
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_exit_pool_test.go
  x/amm/keeper/msg_server_exit_pool.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
Due: amm_transactions, amm_keeper, amm_queries

with slippage
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
Due: none

fix
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/types/calc_exit_pool_test.go
  x/leveragelp/keeper/query_estimation_test.go
Due: leveragelp_queries, amm_transactions

fix test cases
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/utils.go
Due: none

add
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

fix
  x/leveragelp/keeper/query_estimation_test.go
Due: leveragelp_queries

fix
  x/amm/types/calc_exit_pool_test.go
Due: none

update error message for zero price
  x/amm/types/calc_exit_pool_test.go
Due: none

add query
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  proto/elys/commitment/query.proto
  x/commitment/keeper/query.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
Due: commitment_queries

add swapFee
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_exit_pool_test.go
  x/amm/keeper/msg_server_exit_pool.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/leveragelp/types/expected_keepers.go
Due: amm_transactions, amm_keeper

fix:
  x/leveragelp/keeper/position_close.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
Due: none

show in query
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

join pool swap fee
  api/elys/amm/query.pulsar.go
  proto/elys/amm/query.proto
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/pool_join_pool.go
  x/amm/types/query.pb.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/expected_keepers.go
Due: leveragelp_queries, amm_keeper, amm_queries

fix tests
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/query_estimation_test.go
Due: leveragelp_transactions, leveragelp_queries

reducing lpSharesForRepay before exit for CheckAmmBalance check (#1142)
  api/elys/leveragelp/query.pulsar.go
  proto/elys/leveragelp/query.proto
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/migrations/v18_migration.go
  x/leveragelp/types/query.pb.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

[Amm]: Slippage bug (#1141)
  x/amm/types/pool_join_pool.go
  x/leveragelp/keeper/msg_server_close_test.go
Due: leveragelp_transactions

Add exit slippage (#1143)
  api/elys/amm/query.pulsar.go
  api/elys/amm/tx.pulsar.go
  api/elys/leveragelp/query.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/amm/tx.proto
  proto/elys/leveragelp/query.proto
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_exit_pool_test.go
  x/amm/keeper/msg_server_exit_pool.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/amm/types/utils.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/expected_keepers.go
  x/leveragelp/types/query.pb.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries, amm_transactions, amm_keeper, amm_queries

merge
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
Due: none

Add gas apr in query (#1140)
  api/elys/masterchef/query.pulsar.go
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/apr_pool.go
  x/masterchef/types/query.pb.go
Due: none

Apply swap fee to single sided asset join and exit (#1145)
  api/elys/amm/query.pulsar.go
  api/elys/amm/tx.pulsar.go
  api/elys/leveragelp/query.pulsar.go
  proto/elys/amm/query.proto
  proto/elys/amm/tx.proto
  proto/elys/leveragelp/query.proto
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_exit_pool_test.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/msg_server_exit_pool.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/types/expected_keepers.go
  x/leveragelp/types/query.pb.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries, amm_transactions, amm_keeper, amm_queries

Create query for EDEN and EDEN Boost supply (#1144)
  api/elys/commitment/query.pulsar.go
  api/elys/commitment/query_grpc.pb.go
  proto/elys/commitment/query.proto
  x/commitment/keeper/query.go
  x/commitment/types/query.pb.go
  x/commitment/types/query.pb.gw.go
Due: commitment_queries

upgrade name for testnet
  app/setup_handlers.go
Due: none

upgrade name for testnet (#1146)
  app/setup_handlers.go
Due: none

fixing subtraction for leverage lp shares
  x/leveragelp/keeper/position_close.go
Due: none

fixing subtraction for leverage lp shares (#1147)
  x/leveragelp/keeper/position_close.go
Due: none

fixing error and check max leverage ratio only after adding lp
  x/leveragelp/keeper/msg_server_open.go
Due: leveragelp_transactions
