Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

adding unit test cases
  x/stablestake/keeper/debt_test.go
Due: none

adding unit test cases
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
Due: none

removing unused function
  x/stablestake/keeper/pool.go
  x/tier/types/expected_keepers.go
Due: none

adding logs for debugging
  x/stablestake/keeper/begin_blocker.go
Due: stablestake_lifecycle

removing redundant code
  x/stablestake/keeper/begin_blocker.go
Due: stablestake_lifecycle

review changes
  x/stablestake/genesis.go
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/migrations/v9_migration.go
Due: stablestake_lifecycle

fix
  x/stablestake/keeper/debt_test.go
Due: none

fix
  app/setup_handlers.go
  x/stablestake/keeper/debt.go
  x/stablestake/migrations/v9_migration.go
Due: none

deposit
  app/setup_handlers.go
  x/stablestake/migrations/v9_migration.go
Due: none

check
  x/stablestake/keeper/interest_rate.go
  x/stablestake/migrations/v9_migration.go
Due: none

check
  x/stablestake/keeper/interest_rate.go
Due: none

pool
  x/stablestake/keeper/pool.go
  x/stablestake/migrations/v9_migration.go
Due: none

remove comments
  x/stablestake/keeper/interest_rate.go
Due: none

test
  x/stablestake/keeper/interest_rate_test.go
Due: none

add query tests
  x/stablestake/keeper/debt_test.go
Due: none

adding logs for panic error (#1220)
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/route_exact_amount_out.go
  x/leveragelp/keeper/begin_blocker.go
  x/perpetual/keeper/process_mtp.go
Due: leveragelp_lifecycle, amm_keeper

total
  x/stablestake/keeper/debt.go
Due: none

testnet
  x/stablestake/keeper/debt.go
Due: none

changes for testnet upgrade handler
  app/setup_handlers.go
Due: none

sut fix
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

sut fix (#1223)
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

add to genesis
  api/elys/stablestake/genesis.pulsar.go
  proto/elys/stablestake/genesis.proto
  x/stablestake/genesis.go
  x/stablestake/types/genesis.pb.go
Due: none

epoch setting funding rate
  api/elys/clob/genesis.pulsar.go
  api/elys/clob/market.pulsar.go
  api/elys/clob/params.pulsar.go
  app/keepers/keepers.go
  proto/elys/clob/genesis.proto
  proto/elys/clob/market.proto
  proto/elys/clob/params.proto
  utils/math.go
  x/clob/genesis.go
  x/clob/keeper/end_blocker.go
  x/clob/keeper/exchange.go
  x/clob/keeper/funding.go
  x/clob/keeper/funding_rate.go
  x/clob/keeper/genesis.go
  x/clob/keeper/hooks_epoch.go
  x/clob/keeper/market.go
  x/clob/keeper/msg_server_markets.go
  x/clob/types/errors.go
  x/clob/types/genesis.go
  x/clob/types/genesis.pb.go
  x/clob/types/keys.go
  x/clob/types/market.pb.go
  x/clob/types/params.go
  x/clob/types/params.pb.go
  x/epochs/migrations/v4_migration.go
  x/epochs/module.go
  x/epochs/types/epoch_info.go
  x/epochs/types/genesis.go
  x/epochs/types/identifier.go
Due: none

Stablestake Fixes (#1221)
  api/elys/stablestake/genesis.pulsar.go
  api/elys/stablestake/query.pulsar.go
  api/elys/stablestake/query_grpc.pb.go
  app/setup_handlers.go
  proto/elys/stablestake/genesis.proto
  proto/elys/stablestake/query.proto
  x/stablestake/autocli.go
  x/stablestake/genesis.go
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/keeper/query.go
  x/stablestake/migrations/v9_migration.go
  x/stablestake/types/genesis.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/query.pb.gw.go
  x/tier/types/expected_keepers.go
Due: stablestake_lifecycle, stablestake_queries

vote
  .github/workflows/vote.yml
Due: none

chore: fix function name in comment
  x/stablestake/keeper/pool.go
Due: none

fixing genesis
  x/clob/genesis.go
  x/clob/keeper/genesis.go
  x/clob/keeper/market_test.go
  x/clob/keeper/perpetual_counter.go
  x/clob/types/genesis.go
Due: none

fix sdkmath double import
  x/leveragelp/types/expected_keepers.go
Due: none

adding market tests
  x/clob/keeper/market.go
  x/clob/keeper/market_test.go
  x/clob/keeper/prices.go
Due: none

fix swap estimation by denom query
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

remove wrong imports in amm expected keepers
  x/amm/types/expected_keepers.go
Due: none

Update query_swap_estimation_by_denom.go
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

Fix swap estimation by denom query (#1226)
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

refactor
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_keeper

update chain tvl query for expanded stablestake vaults
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/expected_keepers.go
Due: masterchef_queries

replacing price by osmosmath BigDec
  go.mod
  go.sum
  x/amm/keeper/estimate_price.go
  x/amm/keeper/track_weight_breaking_slippage.go
  x/amm/types/amm_price.go
  x/amm/types/amm_price_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/expected_keepers.go
  x/amm/types/mocks/oracle_keeper.go
  x/amm/types/pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/keeper/query_pool_rewards.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/price.go
  x/oracle/keeper/price_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/expected_keepers.go
  x/stablestake/types/expected_keepers.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/expected_keepers.go
Due: leveragelp_queries, masterchef_lifecycle, masterchef_queries, perpetual_queries, tier_queries

further fixes
  go.mod
  go.sum
  x/amm/types/amm_price.go
  x/amm/types/expected_keepers.go
  x/amm/types/mocks/oracle_keeper.go
  x/amm/types/solve_constant_function_invariant.go
  x/amm/types/solve_constant_function_invariant_test.go
  x/stablestake/keeper/tvl.go
  x/stablestake/types/expected_keepers.go
Due: none
