Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

update close position events in perpetual
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/types/events.go
Due: none

[Estaking]: Change EdenB mint amount (#995)
  x/estaking/keeper/abci.go
Due: estaking_lifecycle

update event
  x/tradeshield/types/events.go
Due: none

ccv consumer module implementation
  app/ante/ante.go
  app/ante/handler_options.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  go.mod
  go.sum
  x/estaking/keeper/genesis.go
Due: none

add execute response in tradeshield execute order events
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/events.go
Due: none

fix tradeshield tests
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
Due: none

update test msg
  x/tradeshield/keeper/msg_server_spot_order_test.go
Due: none

p
  Makefile
Due: none

update perpetual and tradeshield events
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/types/events.go
Due: leverage_lp_transactions, leverage_lp_lifecycle

fix(tradeshield): remove existing orders without locked order amount
  app/setup_handlers.go
  x/tradeshield/migrations/v6_migrator.go
  x/tradeshield/module.go
Due: none

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

test were added for staked and staked_pool
  x/tier/keeper/keeper_test.go
  x/tier/keeper/query_staked_pool_test.go
  x/tier/keeper/query_staked_test.go
Due: tier_keeper

add events in tradeshield,leveragelp and perpetual (#996)
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/types/events.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/types/events.go
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/msg_server_spot_order_test.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/types/events.go
Due: leverage_lp_transactions, leverage_lp_lifecycle

move usd value functions to amm
  app/keepers/keepers.go
  testutil/keeper/tradeshield.go
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/keeper/estimate_price.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_amm_price.go
  x/tier/types/expected_keepers.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: none

add tradeshield calc in tier
  app/keepers/keepers.go
  testutil/keeper/membershiptier.go
  x/tier/keeper/keeper.go
  x/tier/keeper/portfolio.go
  x/tier/types/expected_keepers.go
Due: tier_keeper

test improve
  x/tier/keeper/portfolio_test.go
Due: none

remove tradeshield mocks utils and update genesis test
  testutil/keeper/tradeshield.go
  x/tradeshield/genesis_test.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
Due: none

Remove tradeshield mocks and update related test (#999)
  testutil/keeper/tradeshield.go
  x/tradeshield/genesis_test.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
Due: none

fix(clock): remove clock related leftovers
  app/modules.go
  codecov.yml
  config.yml
  docs/static/openapi.yml
  scripts/test_scripts/clock/query.sh
  scripts/test_scripts/clock/tx.sh
  scripts/test_scripts/clock/update_params.json
Due: none

fix amm join pool
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation_test.go
  x/amm/types/pool_join_pool.go
Due: amm_keeper

fix(clock): remove clock related leftovers (#1001)
  app/modules.go
  codecov.yml
  config.yml
  docs/static/openapi.yml
  scripts/test_scripts/clock/query.sh
  scripts/test_scripts/clock/tx.sh
  scripts/test_scripts/clock/update_params.json
Due: none

Include Tradeshield TVL in tier calculation (#1000)
  app/keepers/keepers.go
  testutil/keeper/membershiptier.go
  testutil/keeper/tradeshield.go
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/keeper/estimate_price.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/tier/keeper/keeper.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/portfolio_test.go
  x/tier/keeper/query_get_amm_price.go
  x/tier/types/expected_keepers.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/types/expected_keepers.go
Due: tier_keeper

remove legacy structure and code
  api/elys/commitment/commitments.pulsar.go
  api/elys/commitment/params.pulsar.go
  proto/elys/commitment/commitments.proto
  proto/elys/commitment/params.proto
  x/commitment/keeper/commitments.go
  x/commitment/types/commitments.pb.go
  x/commitment/types/params.go
  x/commitment/types/params.pb.go
Due: none

remove legacy keys
  x/commitment/types/keys.go
Due: none

[Commitment]: Remove legacy structure and code (#1003)
  api/elys/commitment/commitments.pulsar.go
  api/elys/commitment/params.pulsar.go
  proto/elys/commitment/commitments.proto
  proto/elys/commitment/params.proto
  x/commitment/keeper/commitments.go
  x/commitment/types/commitments.pb.go
  x/commitment/types/keys.go
  x/commitment/types/params.go
  x/commitment/types/params.pb.go
Due: none

test: add e2e interchain code structure
  .github/workflows/test.yml
  Makefile
  chains.yaml
  e2e/fee_test.go
  e2e/go.mod
  e2e/go.sum
  e2e/utils.go
  simapp/Makefile
  simapp/app.go
  simapp/app.yaml
  simapp/export.go
  simapp/go.mod
  simapp/go.sum
  simapp/legacy.go
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/root.go
  simapp/simd/main.go
Due: none

tier package keeper coverage was increased to 38 until 78
  x/tier/keeper/keeper_test.go
  x/tier/keeper/msg_server_set_portfolio_test.go
  x/tier/keeper/portfolio_test.go
  x/tier/keeper/query_calculate_discount_test.go
  x/tier/keeper/query_get_amm_price_test.go
  x/tier/keeper/query_get_consolidated_price_test.go
  x/tier/keeper/query_get_users_pool_data_test.go
  x/tier/keeper/query_leverage_lp_total_test.go
  x/tier/keeper/query_liquid_total_test.go
  x/tier/keeper/query_params_test.go
  x/tier/keeper/query_perpetual_test.go
  x/tier/keeper/query_rewards_total_test.go
Due: tier_transactions, tier_keeper

makeFile was fixed
  Makefile
Due: none

remove legacy code
  x/estaking/keeper/elys_stake_change.go
  x/estaking/keeper/elys_stake_change_test.go
  x/estaking/keeper/elys_staked.go
  x/estaking/keeper/elys_staked_test.go
  x/estaking/keeper/keeper_test.go
  x/estaking/keeper/msg_server_test.go
  x/estaking/keeper/params.go
  x/estaking/keeper/params_test.go
  x/estaking/migrations/v3_migration.go
Due: estaking_transactions, estaking_keeper

remove legacy structures
  proto/elys/estaking/dex_rewards_tracker.proto
  proto/elys/estaking/incentive.proto
  proto/elys/estaking/params.proto
  x/estaking/types/dex_rewards_tracker.pb.go
  x/estaking/types/incentive.pb.go
  x/estaking/types/params.pb.go
Due: none

remove
  x/estaking/types/params.go
Due: none

changing upgrade time to 2 hours and go releaser to prevent overwrite tag description
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none
