Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

feat: usdc pool check
  proto/elys/amm/params.proto
  x/amm/keeper/msg_server_create_pool.go
  x/amm/types/errors.go
  x/amm/types/params.pb.go
Due: amm_transactions

fix(amm): fix swap fee double payment
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/update_pool_for_swap.go
Due: amm_transactions, amm_keeper

update
  proto/elys/amm/params.proto
  x/amm/types/params.go
  x/amm/types/params_test.go
Due: none

fixing funding settlement on close and open consolidate
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/check_same_asset_position.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_merge_mtp.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/keeper/query_pool_test.go
  x/perpetual/keeper/settle_funding_fee_collection.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/types/errors.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/mocks/pool_checker.go
  x/perpetual/types/pool.go
Due: none

fix(amm): fix swap fee double payment (#869)
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/update_pool_for_swap.go
Due: amm_transactions, amm_keeper

fixing funding fee on close estimation
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/settle_funding_fee.go
  x/perpetual/keeper/settle_funding_fee_collection.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
Due: none

fixing unit test case
  x/perpetual/keeper/query_close_estimation.go
Due: none

fixing unit test case
  x/perpetual/keeper/open_test.go
Due: none

update
  x/perpetual/client/cli/query_mtp_test.go
  x/perpetual/keeper/updated_leverage.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/mocks/asset_profile_keeper.go
Due: none

update
  proto/elys/amm/params.proto
  x/amm/migrations/v5_migration.go
  x/amm/module.go
Due: none

clock tests were fixed
  x/clock/cover.out
  x/clock/genesis_test.go
  x/clock/keeper/keeper_test.go
Due: clock_keeper

clock tests were fixed
  x/clock/cover.out
Due: none

c
  testutil/network/network.go
Due: none

.
  x/amm/keeper/keeper_test.go
Due: amm_keeper

fix merge
  x/amm/keeper/keeper_test.go
Due: amm_keeper

merge
  x/amm/keeper/keeper_test.go
Due: amm_keeper

update amm keeper test
  x/amm/keeper/keeper_test.go
Due: amm_keeper

commitment tests were fixed
  x/commitment/client/cli/tx_update_vesting_info.go
  x/commitment/client/cli/tx_update_vesting_info_test.go
  x/commitment/cover.out
  x/commitment/keeper/deposit_liquid_tokens_test.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
  x/commitment/keeper/msg_server_commit_claimed_rewards_test.go
  x/commitment/keeper/msg_server_commit_liquid_tokens_test.go
  x/commitment/keeper/msg_server_uncommit_tokens_test.go
  x/commitment/keeper/msg_server_update_vesting_info_test.go
  x/commitment/keeper/msg_server_vest_liquid_test.go
  x/commitment/keeper/msg_server_vest_now_test.go
  x/commitment/keeper/msg_server_vest_test.go
  x/commitment/keeper/params_test.go
  x/commitment/types/message_cancel_vest_test.go
Due: commitment_transactions

commitment tests were fixed
  x/commitment/cover.out
Due: none

update network.go
  testutil/network/network.go
Due: none

epochs tests were fixed
  x/epochs/genesis_test.go
  x/epochs/keeper/abci_test.go
Due: epochs_lifecycle

feat(amm): weight recovery reward applied to weight balance bonuses
  proto/elys/amm/pool.proto
  proto/elys/amm/pool_params.proto
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_update_pool_params_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
  x/amm/migrations/v5_migration.go
  x/amm/module.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool.pb.go
  x/amm/types/pool_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/pool_params.pb.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/amm/types/utils.go
Due: amm_transactions

incentives tests were fixed
  x/assetprofile/keeper/query_entry_test.go
  x/incentive/keeper/keeper_test.go
Due: incentive_keeper

estaking some tests were fixed there are tests with pending status
  x/estaking/keeper/abci_test.go
  x/estaking/keeper/genesis_test.go
  x/estaking/keeper/keeper_burn_edenB_test.go
  x/estaking/keeper/keeper_shares_test.go
  x/estaking/keeper/keeper_test.go
  x/estaking/keeper/msg_server_test.go
  x/estaking/keeper/query_test.go
Due: estaking_transactions, estaking_lifecycle, estaking_keeper

test(amm): fix tests
  app/setup_handlers.go
  x/amm/client/cli/query_pool_test.go
Due: none

update
  x/amm/keeper/msg_server_create_pool.go
  x/amm/migrations/v5_migration.go
  x/amm/types/params.go
  x/amm/types/params_test.go
Due: amm_transactions

removing min_borrow_interest_amount as we already have borrow_interest_rate_min
  proto/elys/perpetual/params.proto
  x/perpetual/keeper/calc_mtp_take_profit_borrow_rate.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/params_test.go
Due: none

update
  x/leveragelp/keeper/msg_server_open.go
Due: leverage_lp_transactions

update
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_open_test.go
Due: leverage_lp_transactions

removing redundant take_profit_borrow_interest_rate_min
  proto/elys/perpetual/params.proto
  x/perpetual/keeper/params.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
Due: none

update spec
  x/perpetual/spec/bot.md
Due: none

leveragelp tests were fixed
  x/leveragelp/cover.out
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_add_pool_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_positions_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_dewhitelist_address_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_remove_pools_test.go
  x/leveragelp/keeper/msg_server_update_params_test.go
  x/leveragelp/keeper/msg_server_update_pool_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/msg_server_whitelist_address_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/position_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/types/msgs_test.go
Due: leverage_lp_transactions, leveragelp_keeper

leveragelp tests were fixed
  x/leveragelp/cover.out
Due: none

leveragelp tests were fixed
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/hooks_amm_test.go
Due: leverage_lp_lifecycle

leveragelp tests were fixed
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_update_pool_test.go
  x/leveragelp/keeper/msg_servers_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils_test.go
Due: leverage_lp_transactions, leveragelp_keeper

correcting new mtp setter
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/types/types.go
Due: none

test(amm): fix tests
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/pool_join_pool.go
Due: amm_transactions

Update pool.proto
  proto/elys/perpetual/pool.proto
Due: none

update
  x/perpetual/spec/bot.md
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
