Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

tier address
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

subtract fee from return amount
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

updating events
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_update_stop_loss.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/types/events.go
Due: leveragelp_transactions, leveragelp_lifecycle

updating sut test to test upgrade from snapshot each time
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

updating sut test to test upgrade from snapshot each time (#1354)
  .github/workflows/test-software-upgrade-and-create-new-snapshot.yml
Due: none

add PerpetualFees proto types
  api/elys/perpetual/pool.pulsar.go
  proto/elys/perpetual/pool.proto
  x/perpetual/types/pool.pb.go
Due: none

add perpetualFees helper fucntions
  x/perpetual/types/types.go
Due: none

collect perp fees from different part and emit in the end of tx
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_open.go
Due: perpetual_transactions, perpetual_keeper

update tests
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open_consolidate_test.go
Due: none

update open consolidate event to add new mtp liabilities and custody
  x/perpetual/keeper/open_consolidate.go
Due: none

cleanup
  x/perpetual/types/events.go
Due: none

Perpetual fees updates (#1355)
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/keeper/repay.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper, perpetual_queries

fixing keys
  app/setup_handlers.go
  x/leveragelp/types/keys.go
Due: none

fix
  x/tradeshield/autocli.go
Due: none

fix staking-query
  x/masterchef/keeper/apr_denom.go
Due: none

remove proto message and use go struct
  api/elys/perpetual/pool.pulsar.go
  proto/elys/perpetual/pool.proto
  x/perpetual/types/perp_fees.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/types.go
Due: none

track wbf and slippage
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper

update
  x/perpetual/keeper/keeper.go
Due: perpetual_keeper

track
  x/perpetual/keeper/process_open.go
Due: none

rename
  x/perpetual/keeper/keeper.go
Due: perpetual_keeper

update perp fees event with new design
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

minor change
  x/perpetual/keeper/estimate_and_repay.go
Due: none

send all wbf to pool
  x/perpetual/keeper/keeper.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper

review changes
  x/perpetual/keeper/amm.go
Due: none

changes
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper

Track via amm (#1358)
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper

adding rate limit module
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  go.mod
  go.sum
Due: none

Perpetual events and fixes (#1356)
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/repay.go
  x/perpetual/types/events.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/perp_fees.go
Due: perpetual_transactions, perpetual_keeper

adding store key
  app/setup_handlers.go
Due: none

adding rate limit module (#1359)
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  go.mod
  go.sum
Due: none

Fix estaking query (#1360)
  x/masterchef/keeper/apr_denom.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

set price
  x/vaults/keeper/keeper_test.go
  x/vaults/keeper/query_vault.go
Due: none

remove:
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

remove
  app/setup_handlers.go
Due: none

case
  x/perpetual/keeper/keeper.go
Due: perpetual_keeper

Perps fee case (#1361)
  x/perpetual/keeper/keeper.go
Due: perpetual_keeper
