Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

commitment: move from LegacyDec to osmomath BigDec
  x/commitment/types/commitments.go
Due: none

estaking: move from LegacyDec to osmomath BigDec
  x/estaking/types/params.go
Due: none

leveragelp: move LegacyDec to osmoBigDec
  x/leveragelp/keeper/add_collateral.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/migrations/v6_migration.go
  x/leveragelp/types/expected_keepers.go
  x/leveragelp/types/params.go
  x/leveragelp/types/position.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries

masterchef: move LegacyDec to osmoBigDec
  x/estaking/types/params.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/apr_stable_stake.go
  x/masterchef/keeper/fee_info.go
  x/masterchef/keeper/fee_info_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/keeper/pool_rewards_accum_test.go
  x/masterchef/keeper/query.go
  x/masterchef/keeper/query_all_liquidity_pool_tvl.go
  x/masterchef/keeper/query_apr.go
  x/masterchef/keeper/query_aprs.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/keeper/query_pool_rewards.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/expected_keepers.go
  x/masterchef/types/params.go
  x/masterchef/types/pool.go
Due: masterchef_lifecycle, masterchef_queries

stablestake: move LegacyDec to osmoBigDec
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/interest_rate.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_bond_test.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/pool.go
  x/stablestake/keeper/query.go
  x/stablestake/keeper/tvl.go
  x/stablestake/types/debt.go
  x/stablestake/types/pool.go
  x/stablestake/types/types.go
Due: stablestake_transactions, stablestake_lifecycle, stablestake_queries

tier: move LegacyDec to osmoBigDec
  x/tier/keeper/portfolio.go
  x/tier/keeper/portfolio_test.go
  x/tier/keeper/query_get_amm_price.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/keeper/query_leverage_lp_total.go
  x/tier/keeper/query_liquid_total.go
  x/tier/keeper/query_locked_order.go
  x/tier/keeper/query_perpetual.go
  x/tier/keeper/query_portfolio.go
  x/tier/keeper/query_rewards_total.go
  x/tier/keeper/query_staked.go
  x/tier/keeper/query_staked_pool.go
  x/tier/keeper/query_staked_pool_test.go
  x/tier/types/expected_keepers.go
  x/tier/types/types.go
Due: tier_queries

tradeshield: move LegacyDec to osmoBigDec
  x/tradeshield/keeper/keeper.go
  x/tradeshield/keeper/keeper_test.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/params.go
  x/tradeshield/types/types.go
Due: tradeshield_keeper

route checks
  x/amm/types/message_swap_exact_amount_in.go
Due: none

fix atom pool state
  x/stablestake/keeper/debt.go
Due: none

pool
  x/stablestake/keeper/debt.go
Due: none

upgrading ics to v7
  app/ante/ante.go
  app/ante/handler_options.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/test_setup.go
  go.mod
  go.sum
  x/estaking/keeper/abci.go
  x/estaking/keeper/provider_vesting.go
  x/estaking/modules/distribution/module.go
  x/masterchef/keeper/abci.go
Due: estaking_lifecycle, masterchef_lifecycle

fix
  x/stablestake/keeper/debt.go
Due: none

Migration fixes (#1228)
  x/stablestake/keeper/debt.go
Due: none

removing map from burner and improving DS
  api/elys/burner/history.pulsar.go
  api/elys/burner/query.pulsar.go
  proto/elys/burner/history.proto
  proto/elys/burner/query.proto
  x/burner/autocli.go
  x/burner/keeper/burn.go
  x/burner/keeper/history.go
  x/burner/keeper/query_history.go
  x/burner/types/genesis.go
  x/burner/types/history.pb.go
  x/burner/types/key_history.go
  x/burner/types/keys.go
  x/burner/types/query.pb.go
  x/burner/types/query.pb.gw.go
Due: burner_queries

adding getter for legacy history
  x/burner/keeper/history.go
Due: none

more changes
  x/amm/keeper/estimate_price.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/amm/keeper/track_weight_breaking_slippage.go
  x/estaking/keeper/abci.go
  x/estaking/keeper/keeper_burn_edenB.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/types/params.go
  x/leveragelp/types/pool.go
  x/masterchef/keeper/hooks_masterchef.go
  x/masterchef/keeper/query.go
  x/masterchef/types/pool.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open_consolidate_merge_mtp.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/calc_mtp_take_profit_custody.go
  x/perpetual/types/params.go
  x/perpetual/types/types.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/query.go
  x/stablestake/keeper/query_borrow_ratio.go
  x/tier/keeper/query_get_users_pool_data.go
Due: leveragelp_transactions, amm_transactions, estaking_lifecycle, estaking_keeper, masterchef_queries, stablestake_queries, perpetual_keeper, perpetual_queries, tier_queries

fix interest rate hour usd calculation
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/utils.go
Due: leveragelp_queries

test fix
  x/amm/keeper/msg_server_exit_pool_test.go
Due: amm_transactions

chore: fix function name in comment (#1224)
  x/stablestake/keeper/pool.go
Due: none

fix validate basic check for swap exact amount in msg
  x/amm/types/message_swap_exact_amount_in.go
Due: none

fix validate basic check for swap exact amount out msg
  x/amm/types/message_swap_exact_amount_out.go
Due: none

fix validate basic check for upfront swap exact amount in msg
  x/amm/types/message_upfront_swap_exact_amount_in.go
Due: none

add test cases for validate basic swap messages
  x/amm/types/message_swap_exact_amount_in_test.go
  x/amm/types/message_swap_exact_amount_out_test.go
  x/amm/types/message_upfront_swap_exact_amount_in_test.go
Due: none

adding test cases for volume based twap prices
  api/elys/clob/market.pulsar.go
  proto/elys/clob/market.proto
  x/clob/genesis.go
  x/clob/keeper/exchange.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/params.go
  x/clob/keeper/prices.go
  x/clob/keeper/prices_test.go
  x/clob/types/market.pb.go
  x/clob/types/trade.go
Due: none

Update chain tvl query for expanded stablestake vaults (#1229)
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/expected_keepers.go
Due: masterchef_queries

adding test cases for funding rate
  x/clob/keeper/exchange_test.go
  x/clob/keeper/funding_rate.go
  x/clob/keeper/funding_rate_test.go
  x/clob/keeper/keeper_test.go
  x/clob/keeper/oracle.go
  x/clob/keeper/prices.go
  x/clob/keeper/prices_test.go
  x/clob/types/trade.go
Due: none

adding utility function
  x/clob/keeper/exchange.go
  x/clob/keeper/perpetual.go
Due: none

changing quantity to LegacyDec type
  api/elys/clob/market.pulsar.go
  api/elys/clob/order.pulsar.go
  api/elys/clob/perpetual.pulsar.go
  api/elys/clob/tx.pulsar.go
  proto/elys/clob/market.proto
  proto/elys/clob/order.proto
  proto/elys/clob/perpetual.proto
  proto/elys/clob/tx.proto
  x/clob/cli/create_market.go
  x/clob/cli/place_limit_order.go
  x/clob/cli/place_market_order.go
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/funding.go
  x/clob/keeper/funding_rate_test.go
  x/clob/keeper/msg_server_markets.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/prices.go
  x/clob/keeper/prices_test.go
  x/clob/types/market.pb.go
  x/clob/types/order.pb.go
  x/clob/types/perpetual.go
  x/clob/types/perpetual.pb.go
  x/clob/types/trade.go
  x/clob/types/tx.pb.go
Due: none

adding comments
  proto/elys/clob/perpetual.proto
Due: none

adding validations
  x/clob/keeper/msg_server_markets.go
Due: none

adding validations and comments
  x/clob/keeper/exchange.go
  x/clob/keeper/health.go
  x/clob/keeper/perpetual.go
Due: none

fix rewards
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

fixes
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/msg_server_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in.go
  x/amm/keeper/msg_server_upfront_swap_exact_amount_in_test.go
  x/amm/keeper/update_pool_for_swap.go
  x/leveragelp/keeper/position_test.go
Due: amm_transactions

adding branch for testing
  .github/workflows/unit-test-and-coverage.yml
Due: none

adding branch for testing
  .github/workflows/e2e.yml
  .github/workflows/unit-test-and-coverage.yml
Due: none

remove proto
  api/elys/transferhook/genesis.pulsar.go
  api/elys/transferhook/params.pulsar.go
  api/elys/transferhook/query.pulsar.go
  api/elys/transferhook/query_grpc.pb.go
  proto/elys/transferhook/genesis.proto
  proto/elys/transferhook/params.proto
  proto/elys/transferhook/query.proto
Due: none
