Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

collect
  app/app.go
  testutil/keeper/masterchef.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/keeper.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/keeper.go
Due: masterchef_lifecycle, masterchef_keeper

Ci/fix gov proposals (#826)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/software-upgrade-test.yml
  app/setup_handlers.go
Due: none

update
  x/perpetual/module.go
Due: none

collect perp revenue
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
Due: masterchef_lifecycle

add
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

add test
  x/masterchef/keeper/abci_test.go
Due: masterchef_lifecycle

update consolidate leverage
  x/perpetual/keeper/open_consolidate_long.go
  x/perpetual/keeper/open_consolidate_short.go
Due: none

feat: add additional logic + tests
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/query_close_estimation.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_close_estimation_test.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/query.pb.gw.go
Due: none

[LeverageLp]: Reduce the collateral by the same % as what the position is reduced (#825)
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
Due: none

Deleting all negative mtp custody
  x/perpetual/keeper/mtp.go
  x/perpetual/migrations/v6_migration.go
  x/perpetual/migrations/v9_migration.go
  x/perpetual/module.go
Due: none

add account interest migration
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/debt.go
Due: stablestake_lifecycle

add migration
  x/stablestake/migrations/v6_migration.go
  x/stablestake/module.go
Due: none

fix(perpetual): not check min liabilities anymore as borrow interest payments at closure
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open_long_process.go
  x/perpetual/keeper/open_short_process.go
Due: none

Deleting all negative mtp custody (#829)
  x/perpetual/keeper/mtp.go
  x/perpetual/migrations/v6_migration.go
  x/perpetual/migrations/v9_migration.go
  x/perpetual/module.go
Due: none

test(perpetual): fix tests
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/mocks/account_keeper.go
  x/perpetual/types/mocks/amm_keeper.go
  x/perpetual/types/mocks/asset_profile_keeper.go
  x/perpetual/types/mocks/authorization_checker.go
  x/perpetual/types/mocks/bank_keeper.go
  x/perpetual/types/mocks/close_long_checker.go
  x/perpetual/types/mocks/close_short_checker.go
  x/perpetual/types/mocks/open_checker.go
  x/perpetual/types/mocks/open_long_checker.go
  x/perpetual/types/mocks/open_short_checker.go
  x/perpetual/types/mocks/pool_checker.go
  x/perpetual/types/mocks/position_checker.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
Due: none

add redemption rate
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/params.go
  x/stablestake/types/expected_keepers.go
Due: stablestake_transactions

add tests
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/params.go
  x/stablestake/keeper/params_test.go
Due: stablestake_transactions

fix
  x/stablestake/keeper/msg_server_bond.go
Due: stablestake_transactions

update
  x/stablestake/keeper/begin_blocker.go
Due: stablestake_lifecycle

fix
  x/stablestake/keeper/msg_server_unbond_test.go
Due: stablestake_transactions

feat: fix bug
  x/perpetual/keeper/repay.go
Due: none

update
  x/perpetual/keeper/repay.go
Due: none

fix(perpetual): not check min liabilities anymore as borrow interest payments at closure (#831)
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open_long_process.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_process.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/types/expected_keepers.go
  x/perpetual/types/mocks/account_keeper.go
  x/perpetual/types/mocks/amm_keeper.go
  x/perpetual/types/mocks/asset_profile_keeper.go
  x/perpetual/types/mocks/authorization_checker.go
  x/perpetual/types/mocks/bank_keeper.go
  x/perpetual/types/mocks/close_long_checker.go
  x/perpetual/types/mocks/close_short_checker.go
  x/perpetual/types/mocks/open_checker.go
  x/perpetual/types/mocks/open_long_checker.go
  x/perpetual/types/mocks/open_short_checker.go
  x/perpetual/types/mocks/pool_checker.go
  x/perpetual/types/mocks/position_checker.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
Due: none

[Perpetual/Masterchef]: Add perpetual fee collection function in Masterchef (#827)
  app/app.go
  testutil/keeper/masterchef.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/keeper.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/keeper.go
Due: masterchef_lifecycle, masterchef_keeper

[Stablestake]: Fix USDC earn amount and borrow ratio (#830)
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/debt.go
  x/stablestake/migrations/v6_migration.go
  x/stablestake/module.go
Due: stablestake_lifecycle

[Stablestake]: Dynamic Redemption Rate Implementation (#832)
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/keeper/params.go
  x/stablestake/keeper/params_test.go
  x/stablestake/types/expected_keepers.go
Due: stablestake_transactions, stablestake_lifecycle

fix test
  x/perpetual/keeper/open_long_test.go
Due: none

Fixing upgrade
  app/app.go
  app/encoding.go
  app/genesis.go
  app/keepers/keepers.go
  app/modules.go
  app/setup_handlers.go
  app/test_setup.go
  cmd/elysd/cmd/bech32_convert.go
  cmd/elysd/cmd/root.go
  cmd/elysd/main.go
  go.mod
  go.sum
  proto/elys/accountedpool/tx.proto
  proto/elys/amm/tx.proto
  proto/elys/assetprofile/tx.proto
  proto/elys/burner/tx.proto
  proto/elys/clock/v1/tx.proto
  proto/elys/commitment/tx.proto
  proto/elys/estaking/tx.proto
  proto/elys/incentive/tx.proto
  proto/elys/leveragelp/tx.proto
  proto/elys/masterchef/tx.proto
  proto/elys/oracle/tx.proto
  proto/elys/parameter/tx.proto
  proto/elys/perpetual/tx.proto
  proto/elys/stablestake/tx.proto
  proto/elys/tier/tx.proto
  proto/elys/tokenomics/tx.proto
  proto/elys/tradeshield/tx.proto
Due: none

migration
  x/perpetual/migrations/v10_migration.go
  x/perpetual/module.go
Due: none

migration revert
  x/perpetual/migrations/v10_migration.go
  x/perpetual/module.go
Due: none

add init
  x/tradeshield/types/codec.go
Due: none

[Tradeshield]: Add init to codec (#834)
  x/tradeshield/types/codec.go
Due: none

docs(tradeshield): add bots doc
  x/tradeshield/spec/bot.md
Due: none

add pnl function
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/mtp.go
  x/perpetual/types/query.pb.go
Due: none

fix
  x/perpetual/keeper/update_mtp_health.go
Due: none

fix
  x/perpetual/client/cli/query_mtp_test.go
Due: none

fix(perpetual): fix migrator
  x/perpetual/migrations/v9_migration.go
Due: none

test
  x/perpetual/keeper/close_long_test.go
  x/perpetual/keeper/close_short_test.go
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
