Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

fix for stable stake deposit denom (#1256)
  app/setup_handlers.go
  x/assetprofile/keeper/fix_entries.go
  x/assetprofile/keeper/fix_entries_test.go
  x/assetprofile/types/message_add_entry.go
  x/assetprofile/types/message_add_entry_test.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
Due: stablestake_transactions

Add Elys Network business source license
  LICENSE-Elys-business-source-license.md
Due: none

Update LICENSE-Elys-business-source-license.md
  LICENSE-Elys-business-source-license.md
Due: none

add to cli
  x/tier/autocli.go
Due: none

add command to update taker fees
  api/elys/parameter/tx.pulsar.go
  api/elys/parameter/tx_grpc.pb.go
  proto/elys/parameter/tx.proto
  x/parameter/keeper/msg_server.go
  x/parameter/types/tx.pb.go
Due: parameter_transactions

Add new query to fetch a list of oracle prices (#1263)
  api/elys/tier/query.pulsar.go
  api/elys/tier/query_grpc.pb.go
  proto/elys/tier/query.proto
  x/tier/autocli.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/query.pb.go
  x/tier/types/query.pb.gw.go
Due: tier_queries

update license
  LICENSE
Due: none

refactor: use the built-in max/min to simplify the code (#1258)
  x/commitment/types/commitments.go
Due: none

removing update taker fee address params change
  api/elys/parameter/tx.pulsar.go
  api/elys/parameter/tx_grpc.pb.go
  proto/elys/parameter/tx.proto
  x/parameter/keeper/msg_server.go
  x/parameter/types/tx.pb.go
Due: parameter_transactions

remove
  api/elys/parameter/tx.pulsar.go
  api/elys/parameter/tx_grpc.pb.go
  proto/elys/parameter/tx.proto
  x/parameter/autocli.go
  x/parameter/keeper/msg_server.go
  x/parameter/types/tx.pb.go
Due: parameter_transactions

Add command to update taker fees (#1264)
  api/elys/parameter/tx.pulsar.go
  api/elys/parameter/tx_grpc.pb.go
  proto/elys/parameter/tx.proto
  x/parameter/autocli.go
  x/parameter/keeper/msg_server.go
  x/parameter/types/tx.pb.go
Due: parameter_transactions

adding query to list all pool infos
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  proto/elys/masterchef/query.proto
  proto/elys/tier/query.proto
  x/masterchef/autocli.go
  x/masterchef/keeper/query.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

update mocks
  x/amm/types/mocks/oracle_keeper.go
  x/tradeshield/types/mocks/amm_keeper.go
Due: none

adding validation for converting non oracle to oracle pool
  x/amm/keeper/msg_server_update_pool_params.go
Due: amm_transactions

adding query to list all pool infos (#1265)
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  proto/elys/masterchef/query.proto
  proto/elys/tier/query.proto
  x/masterchef/autocli.go
  x/masterchef/keeper/query.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

add tests for asset price
  x/perpetual/keeper/asset_price_test.go
  x/perpetual/keeper/keeper_test.go
Due: perpetual_keeper

setting in tStore when setting in main store
  x/amm/keeper/abci_test.go
  x/amm/keeper/pool.go
Due: amm_lifecycle

removing pool transient store
  x/amm/keeper/abci.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/estimate_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/params.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: leveragelp_keeper, amm_transactions, amm_lifecycle, amm_keeper, amm_queries

fixing test case
  x/leveragelp/keeper/keeper_test.go
Due: leveragelp_keeper

Exit pool accounted pool usage (#1253)
  x/amm/keeper/abci.go
  x/amm/keeper/abci_test.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/estimate_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_exit_pool.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_exit_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/params.go
  x/amm/types/pool.go
  x/amm/types/pool_exit_pool.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: leveragelp_keeper, amm_transactions, amm_lifecycle, amm_keeper, amm_queries

using cache context
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

adding validation for converting non oracle to oracle pool (#1266)
  x/amm/keeper/msg_server_update_pool_params.go
Due: amm_transactions

fixing minimum vp issue
  app/ante/commission.go
Due: none

use cacheCtx in taker (#1257)
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

fixing minimum vp issue (#1267)
  app/ante/commission.go
Due: none

fixing min slippage swap amounts
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: none

fixing unit test cases
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/types/params.go
  x/perpetual/keeper/close_test.go
Due: amm_transactions

fixing min slippage swap amounts (#1268)
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/types/params.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/perpetual/keeper/close_test.go
Due: amm_transactions

dec changes
  app/modules.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_deposit_test.go
  x/vaults/types/expected_keepers.go
Due: none

add more deposit cases
  x/vaults/keeper/msg_deposit_test.go
Due: none

perform action message
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/msg_add_vault.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

add simulate command
  cmd/elysd/cmd/root.go
Due: none

feat: add simulate command (#1269)
  cmd/elysd/cmd/root.go
Due: none

fix
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

Revert "feat: add simulate command (#1269)"
  cmd/elysd/cmd/root.go
Due: none

update masterchef chain_tvl query and fix stablestake borrow-ratio query
  api/elys/masterchef/query.pulsar.go
  api/elys/stablestake/query.pulsar.go
  proto/elys/masterchef/query.proto
  proto/elys/stablestake/query.proto
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/expected_keepers.go
  x/masterchef/types/query.pb.go
  x/stablestake/autocli.go
  x/stablestake/keeper/tvl.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/query.pb.gw.go
Due: masterchef_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
