Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

tvl fixes for accounted pool (#886)
  app/app.go
  testutil/keeper/leveragelp.go
  x/amm/client/wasm/query_earn_mining_pool_all.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_pool.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/pool_test.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/abci.go
Due: leverage_lp_lifecycle, leveragelp_keeper, amm_transactions, amm_keeper, masterchef_lifecycle

fix
  x/perpetual/keeper/mtp.go
Due: none

[Pereptual]: Fix (#887)
  x/perpetual/keeper/mtp.go
Due: none

fixing funding rate for collateral amt LONG same as trading asset
  proto/elys/perpetual/pool.proto
  x/leveragelp/types/pool.go
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/repay.go
  x/perpetual/migrations/v11_migration.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool.pb.go
Due: none

test(amm): fix test
  x/amm/keeper/msg_server_join_pool_test.go
Due: amm_transactions

Adding check for minimum custody amount
  x/perpetual/keeper/hooks_amm.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/pool_health.go
Due: none

improving code structure
  x/perpetual/keeper/hooks_amm.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/pool_health.go
Due: none

fixing funding rate for collateral amt LONG same as trading asset (#888)
  proto/elys/perpetual/pool.proto
  x/leveragelp/types/pool.go
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/hooks_amm.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/repay.go
  x/perpetual/migrations/v11_migration.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool.pb.go
Due: none

feat(amm): join pool weight recovery reward
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/pool_join_pool.go
Due: amm_transactions, amm_keeper

test(leveragelp): fix test
  x/leveragelp/keeper/msg_server_close_test.go
Due: leverage_lp_transactions

Update x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
Due: amm_transactions

feat(amm): add test case that valid the possible exploit of join pool… (#883)
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/pool_join_pool.go
  x/leveragelp/keeper/msg_server_close_test.go
Due: leverage_lp_transactions, amm_transactions, amm_keeper

feat(tradeshield): add tradeshield commands
  x/tradeshield/client/cli/tx_pending_perpetual_order.go
  x/tradeshield/client/cli/tx_pending_spot_order.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_spot_order.go
  x/tradeshield/types/types.go
Due: none

refactor(tradeshield): rename CLIs and add new CLIs
  proto/elys/tradeshield/query.proto
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/client/cli/tx.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/client/cli/tx_spot_order.go
  x/tradeshield/client/cli/tx_spot_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/module_simulation.go
  x/tradeshield/simulation/perpetual_order.go
  x/tradeshield/simulation/spot_order.go
  x/tradeshield/types/codec.go
  x/tradeshield/types/events.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
  x/tradeshield/types/messages_pending_spot_order.go
  x/tradeshield/types/messages_pending_spot_order_test.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: none

feat(tradeshield): add close order msg server logic
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/migrations/v4_migrator.go
  x/tradeshield/module.go
Due: none

adding more details for perpetual query
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/force_close_long.go
  x/perpetual/keeper/force_close_short.go
  x/perpetual/keeper/get_net_open_interest.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/keeper/query_pool_test.go
  x/perpetual/keeper/repay.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/keeper/take_out_custody.go
  x/perpetual/types/pool.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/types.go
Due: none

code review changes
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/pool_health.go
  x/perpetual/types/query.pb.go
Due: none

adding more details for perpetual query (#890)
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/force_close_long.go
  x/perpetual/keeper/force_close_short.go
  x/perpetual/keeper/get_net_open_interest.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/keeper/query_pool_test.go
  x/perpetual/keeper/repay.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/keeper/take_out_custody.go
  x/perpetual/types/pool.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/types.go
Due: none

code review changes
  x/perpetual/keeper/query_close_estimation.go
Due: none

code review changes
  x/perpetual/keeper/mtp.go
Due: none

query fixes (#891)
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/query_close_estimation.go
Due: none

add external incentive test
  x/masterchef/keeper/abci_test.go
Due: masterchef_lifecycle

feat(tradeshield): add cancel single order CLIs, add tests, marker order executed immediatly, improved UX for open CLIs
  docs/static/openapi.yml
  proto/elys/perpetual/tx.proto
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/perpetual/client/cli/tx.go
  x/perpetual/client/cli/tx_open.go
  x/perpetual/client/cli/tx_open_test.go
  x/perpetual/types/keys.go
  x/perpetual/types/tx.pb.go
  x/tradeshield/client/cli/tx.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_perpetual_order_test.go
  x/tradeshield/client/cli/tx_spot_order.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/module_simulation.go
  x/tradeshield/simulation/cancel_perpetual_order.go
  x/tradeshield/simulation/cancel_spot_order.go
  x/tradeshield/types/codec.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
  x/tradeshield/types/messages_pending_spot_order.go
  x/tradeshield/types/messages_pending_spot_order_test.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: none

migration fixes
  x/accountedpool/migrations/new_migrator.go
  x/accountedpool/migrations/v2_migration.go
  x/accountedpool/module.go
  x/leveragelp/migrations/v16_migration.go
  x/leveragelp/module.go
Due: none

reducing upgrade height
  .github/workflows/release.yml
Due: none

migration fixes (#893)
  .github/workflows/release.yml
  x/accountedpool/migrations/new_migrator.go
  x/accountedpool/migrations/v2_migration.go
  x/accountedpool/module.go
  x/leveragelp/migrations/v16_migration.go
  x/leveragelp/module.go
Due: none

removing incentive upgrade store
  app/setup_handlers.go
Due: none

Update app/setup_handlers.go
  app/setup_handlers.go
Due: none

removing incentive upgrade store (#894)
  app/setup_handlers.go
Due: none

ext
  x/masterchef/keeper/external_incentive_test.go
Due: none

fix: add collateral long and pool health check when leverage lp position changes
  x/accountedpool/keeper/hooks_leveragelp.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/types/hooks.go
  x/perpetual/keeper/calc_total_liabilities_test.go
  x/perpetual/keeper/hooks_amm.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/types/types.go
  x/tier/keeper/hooks_leveragelp.go
Due: leverage_lp_transactions

fixing unit test cases
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/position_open_test.go
Due: leverage_lp_transactions

code review corrections
  x/accountedpool/keeper/hooks_leveragelp.go
  x/leveragelp/keeper/position_close.go
Due: none

fixing get all perpetual query
  x/accountedpool/migrations/v2_migration.go
  x/leveragelp/migrations/v16_migration.go
  x/perpetual/keeper/query_pool.go
Due: none

fix trigger logic
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/types/keys.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.pb.go
Due: none

fix
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/types/expected_keepers.go
Due: none

Avkr003/perp fixes (#895)
  x/accountedpool/keeper/hooks_leveragelp.go
  x/accountedpool/migrations/v2_migration.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/migrations/v16_migration.go
  x/leveragelp/types/hooks.go
  x/perpetual/keeper/calc_total_liabilities_test.go
  x/perpetual/keeper/hooks_amm.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_long_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/types/types.go
  x/tier/keeper/hooks_leveragelp.go
Due: leverage_lp_transactions

refactor
  proto/elys/tradeshield/tx.proto
  proto/elys/tradeshield/types.proto
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/types/keys.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/tx.pb.go
  x/tradeshield/types/types.go
  x/tradeshield/types/types.pb.go
Due: none

fix tests
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
Due: none
