Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

add comment in test
  x/amm/keeper/query_join_pool_estimation_test.go
Due: amm_queries

fix: remove bonus amount from poolAsset
  x/amm/keeper/update_pool_for_swap.go
Due: none

update tests
  x/amm/keeper/fee_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/update_pool_for_swap_test.go
Due: amm_keeper

fix: v0.53.0 patch 1
  app/app.go
Due: none

unbonding fix
  x/estaking/modules/staking/module.go
Due: none

fix: remove begin blocker
  app/app.go
Due: none

fix: dont jail
  x/estaking/modules/staking/module.go
Due: none

fix: minor
  x/estaking/modules/staking/module.go
Due: none

fix: begin blocker back
  app/app.go
Due: none

fix: skip UnbondAllMatureValidators in current block
  app/app.go
  x/estaking/modules/staking/module.go
Due: none

simplify
  x/estaking/keeper/keeper_burn_edenB.go
  x/estaking/keeper/keeper_shares.go
  x/estaking/keeper/keeper_shares_test.go
  x/estaking/modules/distribution/module.go
Due: estaking_keeper

handle error properly
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_vest_now.go
  x/estaking/keeper/abci.go
  x/estaking/keeper/keeper_burn_edenB.go
Due: commitment_transactions, estaking_lifecycle, estaking_keeper

remove
  x/commitment/keeper/msg_server_vest_now.go
Due: commitment_transactions

handle masterchef erros
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

improvements
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

handle
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/errors.go
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

fix tradeshield execute-order cli
  x/tradeshield/client/cli/tx_execute_orders.go
Due: none

added static link option
  Makefile
  chains.yaml
Due: none

fix(amm): collect half weight breaking fee
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
Due: amm_keeper

added static link option (#1015)
  Makefile
  chains.yaml
Due: none

add event
  x/amm/types/calc_out_amt_given_in.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/events.go
Due: masterchef_lifecycle

remove redundant code
  x/masterchef/keeper/external_incentive.go
  x/masterchef/keeper/hooks_user_actions.go
  x/masterchef/keeper/params.go
  x/masterchef/keeper/pool.go
  x/masterchef/keeper/pool_reward_info.go
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/migrations/v5_migration.go
  x/masterchef/types/keys.go
Due: none

test: use elysd local image
  e2e/utils.go
Due: none

fix
  x/amm/types/swap_out_amt_given_in_test.go
Due: none

imp
  x/masterchef/keeper/hooks_masterchef.go
Due: none

increasse coverage for amm keepers
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/estimate_price_test.go
  x/amm/keeper/fee_test.go
  x/amm/keeper/keeper_exit_pool_test.go
  x/amm/keeper/keeper_join_pool_no_swap_test.go
Due: amm_keeper

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: bump snap gen version (#1017)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

ci: use new runner id
  .github/workflows/software-upgrade-test.yml
Due: none

ci: use new runner id (#1018)
  .github/workflows/software-upgrade-test.yml
Due: none

[Tier]: Add query for locked order balances (#1007)
  proto/elys/tier/query.proto
  x/tier/client/cli/query.go
  x/tier/client/cli/query_get_locked_order.go
  x/tier/keeper/query_locked_order.go
  x/tier/types/query.pb.go
  x/tier/types/query.pb.gw.go
Due: tier_queries

[Estaking]: Remove legacy structure and code (#1008)
  proto/elys/estaking/dex_rewards_tracker.proto
  proto/elys/estaking/incentive.proto
  proto/elys/estaking/params.proto
  x/estaking/keeper/elys_stake_change.go
  x/estaking/keeper/elys_stake_change_test.go
  x/estaking/keeper/elys_staked.go
  x/estaking/keeper/elys_staked_test.go
  x/estaking/keeper/keeper_test.go
  x/estaking/keeper/msg_server_test.go
  x/estaking/keeper/params.go
  x/estaking/keeper/params_test.go
  x/estaking/migrations/v3_migration.go
  x/estaking/types/dex_rewards_tracker.pb.go
  x/estaking/types/incentive.pb.go
  x/estaking/types/params.go
  x/estaking/types/params.pb.go
Due: estaking_transactions, estaking_keeper

fix tradeshield execute-order cli (#1013)
  x/tradeshield/client/cli/tx_execute_orders.go
Due: none

add migration
  x/amm/keeper/pool.go
  x/amm/migrations/v9_migration.go
  x/amm/module.go
Due: none

rename
  x/commitment/keeper/commit_liquid_tokens.go
  x/commitment/keeper/commit_liquid_tokens_test.go
Due: none

updated scripts
  scripts/test_scripts/amm/tx.sh
  scripts/test_scripts/amm/update_params.json
  scripts/test_scripts/leveragelp/proposal_add_pool.json
  scripts/test_scripts/leveragelp/proposal_remove_pool.json
  scripts/test_scripts/leveragelp/tx.sh
  scripts/test_scripts/masterchef/tx.sh
  scripts/test_scripts/perpetual/tx.sh
  scripts/test_scripts/tradeshield/tx.sh
Due: none

Fix Join amm pool method (#1004)
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/keeper/query_join_pool_estimation_test.go
  x/amm/migrations/v9_migration.go
  x/amm/module.go
  x/amm/types/pool_join_pool.go
Due: amm_keeper, amm_queries

Masterchef improvements and fixes (#1014)
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/errors.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/commitment/keeper/commit_liquid_tokens.go
  x/commitment/keeper/commit_liquid_tokens_test.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/external_incentive.go
  x/masterchef/keeper/hooks_masterchef.go
  x/masterchef/keeper/hooks_user_actions.go
  x/masterchef/keeper/params.go
  x/masterchef/keeper/pool.go
  x/masterchef/keeper/pool_reward_info.go
  x/masterchef/keeper/pool_rewards_accum.go
  x/masterchef/migrations/v5_migration.go
  x/masterchef/types/events.go
  x/masterchef/types/keys.go
Due: masterchef_lifecycle

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
