Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

review changes
  api/elys/stablestake/params.pulsar.go
  api/elys/stablestake/pool.pulsar.go
  proto/elys/stablestake/params.proto
  proto/elys/stablestake/pool.proto
  x/leveragelp/keeper/hooks_amm_test.go
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position_close_test.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/apr_stable_stake.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/expected_keepers.go
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_add_pool.go
  x/stablestake/keeper/msg_server_add_pool_test.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/keeper/msg_server_update_params_test.go
  x/stablestake/keeper/msg_server_update_pool_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/keeper/query.go
  x/stablestake/keeper/query_borrow_ratio_test.go
  x/stablestake/keeper/query_pool_test.go
  x/stablestake/keeper/tvl.go
  x/stablestake/migrations/v8_migration.go
  x/stablestake/types/message_update_params_test.go
  x/stablestake/types/params.go
  x/stablestake/types/params.pb.go
  x/stablestake/types/params_test.go
  x/stablestake/types/pool.pb.go
  x/stablestake/types/share_denom.go
  x/tier/keeper/keeper_test.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/expected_keepers.go
Due: leveragelp_transactions, leveragelp_keeper, masterchef_lifecycle, masterchef_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, tier_keeper, tier_queries

max withraw
  api/elys/stablestake/query.pulsar.go
  proto/elys/stablestake/query.proto
  x/stablestake/keeper/query.go
  x/stablestake/keeper/query_pool_test.go
  x/stablestake/types/query.pb.go
Due: stablestake_queries

fix
  x/stablestake/keeper/query_pool_test.go
Due: stablestake_queries

max
  api/elys/stablestake/tx.pulsar.go
  proto/elys/stablestake/tx.proto
  x/stablestake/keeper/msg_server_add_pool.go
  x/stablestake/keeper/msg_server_add_pool_test.go
  x/stablestake/types/tx.pb.go
Due: stablestake_transactions

rename to usdcpoolId
  x/leveragelp/keeper/position.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/apr_stable_stake.go
  x/masterchef/keeper/hooks_masterchef.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/keeper/query_test.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/types/pool_test.go
  x/stablestake/types/share_denom.go
  x/stablestake/types/types.go
Due: masterchef_lifecycle, masterchef_queries

add
  x/stablestake/types/share_denom.go
Due: none

refactor
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_users_pool_data.go
Due: tier_queries

fix
  x/tier/keeper/portfolio.go
Due: none

fix
  x/tier/keeper/query_get_users_pool_data.go
Due: tier_queries

upgrade handler
  app/keepers/keepers.go
  app/setup_handlers.go
  go.mod
  go.sum
Due: none

store delete and add
  app/setup_handlers.go
  go.mod
  go.sum
Due: none

set default params in handler
  app/setup_handlers.go
Due: none

fix cancel vest method
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_cancel_vest_test.go
Due: commitment_transactions

update cancel vest tests
  x/commitment/keeper/msg_server_cancel_vest_test.go
Due: commitment_transactions

migrating all asset info
  app/setup_handlers.go
Due: none

allowing upgrade store
  app/setup_handlers.go
Due: none

fixing test cases
  x/stablestake/keeper/keeper_test.go
Due: stablestake_keeper

fixing test cases
  app/setup_handlers.go
Due: none

voting for testnet
  .github/workflows/vote.yml
Due: none

Use a more straightforward return value
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/query_join_pool_estimation.go
Due: amm_keeper, amm_queries

add tolerance
  api/elys/amm/tx.pulsar.go
  proto/elys/amm/tx.proto
  x/amm/keeper/msg_server_swap_by_denom.go
  x/amm/types/tx.pb.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/errors.go
Due: amm_transactions

add to limit buy
  x/tradeshield/keeper/pending_spot_order.go
Due: none

p
  Makefile
Due: none

fix supply migration
  x/commitment/keeper/total_supply.go
  x/commitment/migrations/v10_migration.go
  x/commitment/module.go
Due: none

fix
  x/commitment/keeper/total_supply.go
Due: none

fixing ojo
  app/oracle.go
  app/setup_handlers.go
  go.mod
  go.sum
  x/amm/keeper/abci.go
  x/amm/keeper/keeper_create_pool.go
  x/amm/keeper/oracle.go
  x/amm/types/expected_keepers.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/keeper.go
  x/parameter/types/keys.go
  x/perpetual/types/expected_keepers.go
Due: amm_lifecycle, amm_keeper, oracle_keeper

fixing test cases
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/oracle.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
Due: amm_transactions

remove legacy oracle tx and queries
  api/elys/oracle/query.pulsar.go
  api/elys/oracle/query_grpc.pb.go
  api/elys/oracle/tx.pulsar.go
  api/elys/oracle/tx_grpc.pb.go
  proto/elys/oracle/query.proto
  proto/elys/oracle/tx.proto
  x/oracle/autocli.go
  x/oracle/client/cli/tx.go
  x/oracle/client/cli/tx_create_asset_info.go
  x/oracle/client/cli/tx_price.go
  x/oracle/client/cli/tx_price_feeder.go
  x/oracle/keeper/grpc_query_asset_info.go
  x/oracle/keeper/grpc_query_band_price.go
  x/oracle/keeper/grpc_query_params.go
  x/oracle/keeper/grpc_query_params_test.go
  x/oracle/keeper/grpc_query_price.go
  x/oracle/keeper/grpc_query_price_feeder.go
  x/oracle/keeper/grpc_query_price_feeder_test.go
  x/oracle/keeper/grpc_query_price_test.go
  x/oracle/keeper/msg_server_create_asset_info.go
  x/oracle/keeper/msg_server_feed_multiple_prices.go
  x/oracle/keeper/msg_server_price.go
  x/oracle/keeper/msg_server_price_feeder.go
  x/oracle/keeper/msg_server_price_feeder_test.go
  x/oracle/keeper/msg_server_price_test.go
  x/oracle/keeper/msg_server_proposals.go
  x/oracle/types/codec.go
  x/oracle/types/message_create_asset_info.go
  x/oracle/types/message_create_asset_info_test.go
  x/oracle/types/message_feed_multiple_prices.go
  x/oracle/types/message_feed_multiple_prices_test.go
  x/oracle/types/message_proposals.go
  x/oracle/types/messages_price.go
  x/oracle/types/messages_price_feeder.go
  x/oracle/types/messages_price_feeder_test.go
  x/oracle/types/messages_price_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/oracle/types/tx.pb.go
Due: oracle_transactions, oracle_queries

remove legacy oracle simulation
  x/oracle/module.go
  x/oracle/module_simulation.go
  x/oracle/simulation/create_asset_info.go
  x/oracle/simulation/feed_multiple_prices.go
  x/oracle/simulation/helpers.go
  x/oracle/simulation/price.go
  x/oracle/simulation/price_feeder.go
Due: none

default value for flag
  api/elys/oracle/tx.pulsar.go
  app/app.go
  cmd/elysd/cmd/root.go
  price-feeder.toml
  proto/elys/oracle/tx.proto
  x/oracle/types/tx.pb.go
Due: none

fixing github workflow upgrade version
  app/setup_handlers.go
Due: none

fixing github workflow upgrade version
  Makefile
  app/setup_handlers.go
Due: none

fixing vote extension enabled height
  app/oracle.go
Due: none

voting
  .github/workflows/vote.yml
Due: none

correcting external liquidity for small asset names
  x/amm/types/message_feed_multiple_external_liquidity.go
  x/amm/types/message_feed_multiple_external_liquidity_test.go
Due: none

fix
  x/amm/keeper/keeper_swap_exact_amount_in.go
Due: amm_keeper

add process taker fees
  api/elys/parameter/params.pulsar.go
  proto/elys/parameter/params.proto
  x/amm/keeper/abci.go
  x/amm/keeper/apply_exit_pool_state_change.go
  x/amm/keeper/apply_join_pool_state_change.go
  x/amm/keeper/update_pool_for_swap.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
  x/parameter/migrations/v6_migration.go
  x/parameter/types/params.pb.go
Due: amm_lifecycle, masterchef_lifecycle

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
