Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

remove
  proto/elys/vaults/params.proto
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
Due: none

updating read me
  UPGRADING.md
  readme.md
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/amm_test.go
  x/perpetual/keeper/asset_price.go
  x/perpetual/keeper/get_amm_pool.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
Due: perpetual_queries

updating read me
  UPGRADING.md
  readme.md
Due: none

updating read me (#1290)
  UPGRADING.md
  readme.md
Due: none

fee deduct
  x/vaults/keeper/begin_blocker.go
Due: none

add flow test
  app/keepers/keepers.go
  testutil/keeper/vaults.go
  x/vaults/keeper/flow_test.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/msg_deposit.go
  x/vaults/types/expected_keepers.go
Due: none

withdraw
  x/vaults/keeper/msg_withdraw.go
  x/vaults/types/errors.go
Due: none

todo
  x/vaults/keeper/msg_withdraw.go
Due: none

todo
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_withdraw.go
Due: none

fix tracking
  x/amm/keeper/update_pool_for_swap.go
Due: none

updating pool health
  x/perpetual/keeper/pool_health.go
Due: none

Fix slippage tracking (#1291)
  x/amm/keeper/update_pool_for_swap.go
Due: none

improving enabling pools for leverage lp and perpetuals (#1288)
  api/elys/leveragelp/tx.pulsar.go
  api/elys/perpetual/tx.pulsar.go
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
  x/leveragelp/keeper/msg_server_update_enabled_pools.go
  x/leveragelp/keeper/msg_server_update_enabled_pools_test.go
  x/leveragelp/types/tx.pb.go
  x/perpetual/keeper/msg_server_update_enabled_pool_test.go
  x/perpetual/keeper/msg_server_update_enabled_pools.go
  x/perpetual/types/tx.pb.go
Due: leveragelp_transactions, perpetual_transactions

adding pfm, ibc hooks and ibc wasm, removing ibc fee
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  go.mod
  go.sum
Due: none

adding pfm, ibc hooks and ibc wasm, removing ibc fee
  app/modules.go
Due: none

add query
  api/elys/estaking/query.pulsar.go
  api/elys/estaking/query_grpc.pb.go
  proto/elys/estaking/query.proto
  x/estaking/keeper/query_edenb_burn.go
  x/estaking/types/query.pb.go
  x/estaking/types/query.pb.gw.go
Due: estaking_queries

adding pfm, ibc hooks and ibc wasm, removing ibc fee
  app/keepers/keepers.go
Due: none

Avkr003/pfm (#1292)
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  go.mod
  go.sum
Due: none

add tests
  api/elys/estaking/query.pulsar.go
  proto/elys/estaking/query.proto
  x/estaking/autocli.go
  x/estaking/keeper/query_edenb_burn_test.go
  x/estaking/types/query.pb.go
  x/estaking/types/query.pb.gw.go
Due: estaking_queries

fix
  go.mod
Due: none

fix (#1294)
  go.mod
Due: none

removed ibc wasm
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  go.mod
Due: none

avkr003/fix (#1295)
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  go.mod
Due: none

removing previous upgrade patches
  app/setup_handlers.go
Due: none

vote
  .github/workflows/vote.yml
Due: none

additional checks
  x/estaking/keeper/query_edenb_burn.go
Due: estaking_queries

fixes
  x/leveragelp/keeper/msg_server_update_enabled_pools_test.go
  x/perpetual/keeper/msg_server_update_enabled_pool_test.go
Due: leveragelp_transactions, perpetual_transactions

perpetual types code clean up
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/open_consolidate_merge_mtp.go
  x/perpetual/types/add_or_append_coin.go
  x/perpetual/types/add_or_append_coin_test.go
  x/perpetual/types/calc_funding_rate.go
  x/perpetual/types/calc_funding_rate_test.go
  x/perpetual/types/is_take_profit_price_inifite.go
  x/perpetual/types/mtp.go
  x/perpetual/types/mtp_take_profit_borrow_factor.go
  x/perpetual/types/mtp_test.go
  x/perpetual/types/perpetual.go
  x/perpetual/types/perpetual_test.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool_test.go
  x/perpetual/types/reached_take_profit_price.go
  x/perpetual/types/types.go
  x/perpetual/types/validate_collateral_asset.go
  x/perpetual/types/validate_collateral_asset_test.go
Due: none

updating pool health mechanism
  api/elys/perpetual/params.pulsar.go
  api/elys/perpetual/pool.pulsar.go
  api/elys/perpetual/query.pulsar.go
  go.sum
  proto/elys/perpetual/params.proto
  proto/elys/perpetual/pool.proto
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/tx_update_params.go
  x/perpetual/keeper/params.go
  x/perpetual/keeper/pool_health.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/migrations/v16_migration.go
  x/perpetual/migrations/v17_migration.go
  x/perpetual/module.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/query.pb.go
Due: perpetual_queries

overwrite take profit price
  x/perpetual/keeper/open_consolidate.go
Due: none

fixing test cases
  x/perpetual/keeper/open_consolidate_test.go
Due: none

removing already keys added
  app/setup_handlers.go
Due: none

updating read me and removing unused functions
  UPGRADING.md
  app/setup_handlers.go
  readme.md
  x/assetprofile/keeper/fix_entries.go
  x/assetprofile/keeper/fix_entries_test.go
Due: none

fixing pool health
  x/perpetual/keeper/pool_health.go
Due: none

optimizing big dec
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/keeper.go
Due: perpetual_lifecycle, perpetual_keeper

temporary change for SUT test
  app/setup_handlers.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
