Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

feat: Add txs to cancel all pending perpetual and Spot orders for a user (#1331)
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  api/elys/tradeshield/tx.pulsar.go
  api/elys/tradeshield/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  proto/elys/tradeshield/tx.proto
  scripts/protocgen-pulsar.sh
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/leveragelp/client/cli/tx.go
  x/leveragelp/client/cli/tx_claim_all_user_rewards.go
  x/leveragelp/keeper/msg_server_claim_rewards.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/types/codec.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
  x/leveragelp/types/tx.pb.go
  x/tradeshield/client/cli/tx.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/client/cli/tx_spot_order.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/msg_server_spot_order_test.go
  x/tradeshield/types/codec.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
  x/tradeshield/types/messages_pending_spot_order.go
  x/tradeshield/types/messages_pending_spot_order_test.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/tx.pb.go
Due: leveragelp_transactions, tradeshield_transactions

resetting accounted pool
  app/setup_handlers.go
Due: none

resetting accounted pool (#1334)
  app/setup_handlers.go
Due: none

fixing setter for amm pool
  x/perpetual/keeper/msg_server_add_collateral.go
Due: perpetual_transactions

vote
  .github/workflows/vote.yml
Due: none

add event to track price change of tokens in non oracle pool
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/events.go
Due: none

Vote
  .github/workflows/vote.yml
Due: none

fixeS
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/reward_mechanism_test.go
  x/vaults/keeper/unwind.go
Due: none

add event to track price change of tokens in non oracle pool
  x/amm/keeper/estimate_price.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/events.go
Due: none

merge fixes
  x/amm/keeper/estimate_price.go
Due: none

error
  x/masterchef/types/message_claim_rewards.go
  x/masterchef/types/message_toggle_pool_eden_rewards.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/msg_server_update_params_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_short_test.go
Due: perpetual_transactions

error
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_perpetual_counter_test.go
  x/perpetual/keeper/settle_funding_fee_collection.go
Due: perpetual_queries

test
  x/masterchef/types/message_toggle_pool_eden_rewards_test.go
Due: none

Limit on liabilities on amm poo
  api/elys/leveragelp/params.pulsar.go
  proto/elys/leveragelp/params.proto
  proto/elys/leveragelp/tx.proto
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/migrations/v21_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/params.pb.go
Due: none

validate
  x/leveragelp/types/params.go
Due: none

remove user data ds
  api/elys/vaults/user_data.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/user_data.proto
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/user_data.go
Due: none

add accumulation ds
  x/vaults/keeper/pool_rewards_accum.go
  x/vaults/keeper/pool_rewards_accum_test.go
  x/vaults/types/errors.go
  x/vaults/types/keys.go
Due: none

delete old values
  x/vaults/keeper/begin_blocker.go
Due: none

add to param
  x/leveragelp/types/params.go
Due: none

add comment
  x/masterchef/types/message_claim_rewards.go
Due: none

chore: fix function in comment
  wasmbindings/types/custom_querier.go
Due: none

correcting migration for mainnet
  UPGRADING.md
  readme.md
  x/perpetual/migrations/v18_migration.go
  x/perpetual/module.go
Due: none

correcting migration for mainnet
  x/perpetual/migrations/v18_migration.go
Due: none

update price change event logic, use current pool
  x/amm/keeper/estimate_price.go
  x/amm/keeper/update_pool_for_swap.go
  x/amm/types/amm_price.go
  x/amm/types/events.go
  x/amm/types/pool.go
Due: none

add check to allow oracle pool creation by allowed creators only
  x/amm/keeper/msg_server_create_pool.go
  x/amm/types/errors.go
Due: amm_transactions

todo
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/begin_blocker_test.go
Due: none

updates :
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/types/params.go
Due: none

post upgrade
  app/setup_handlers.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
Due: tradeshield_transactions

perpetual fixes
  readme.md
Due: none

perpetual fixes
  api/elys/perpetual/query.pulsar.go
  proto/elys/perpetual/query.proto
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/query.pb.go
Due: perpetual_keeper, perpetual_queries

perpetual fixes
  x/perpetual/migrations/v18_migration.go
Due: none

perpetual fixes
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_test.go
  x/perpetual/types/keys.go
Due: none

perpetual fixes
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none

perpetual fixes
  app/setup_handlers.go
Due: none

fixing test cases
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none
