Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

perpetual migration for mainnet (#1342)
  readme.md
  x/perpetual/autocli.go
  x/perpetual/client/cli/query.go
  x/perpetual/client/cli/query_open_estimation_by_final.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/migrations/v19_migration.go
  x/perpetual/types/message_open.go
  x/tradeshield/types/messages_pending_perpetual_order.go
Due: perpetual_queries

fix AllPerpetuals query in autocli
  x/clob/autocli.go
Due: none

clob fixes
  api/elys/clob/perpetual.pulsar.go
  proto/elys/clob/perpetual.proto
  x/clob/autocli.go
  x/clob/cli/create_market.go
  x/clob/cli/deposit.go
  x/clob/cli/place_limit_order.go
  x/clob/keeper/msg_server_orders.go
  x/clob/types/perpetual.pb.go
Due: none

fixes tests and redemption
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_deposit_test.go
  x/vaults/keeper/pool_rewards_accum_test.go
  x/vaults/keeper/reward_mechanism_test.go
Due: none

fixing update params logic for estaking
  x/estaking/keeper/msg_server.go
Due: estaking_transactions

vote
  .github/workflows/vote.yml
Due: none

withdraw in usdc
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/begin_blocker_test.go
  x/vaults/keeper/msg_withdraw.go
Due: none

review changes
  api/elys/tradeshield/tx.pulsar.go
  proto/elys/tradeshield/tx.proto
  x/tradeshield/client/cli/tx_execute_orders.go
  x/tradeshield/client/cli/tx_perpetual_order.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/keeper/pending_perpetual_order_partial_close_test.go
  x/tradeshield/types/message_execute_orders.go
  x/tradeshield/types/message_execute_orders_test.go
  x/tradeshield/types/messages_pending_perpetual_order.go
  x/tradeshield/types/messages_pending_perpetual_order_test.go
  x/tradeshield/types/tx.pb.go
Due: tradeshield_transactions

merge
  x/tradeshield/types/messages_pending_perpetual_order.go
Due: none

fix upgrade handler
  app/setup_handlers.go
Due: none

Clob fixes (#1344)
  api/elys/clob/perpetual.pulsar.go
  proto/elys/clob/perpetual.proto
  x/clob/autocli.go
  x/clob/cli/create_market.go
  x/clob/cli/deposit.go
  x/clob/cli/place_limit_order.go
  x/clob/keeper/msg_server_orders.go
  x/clob/types/perpetual.pb.go
Due: none

removing deserialization breaking proposal from testnet
  app/setup_handlers.go
Due: none

chore: fix function in comment (#1339)
  wasmbindings/types/custom_querier.go
Due: none

fixing unit test cases
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
Due: tradeshield_transactions

adding assets for testnet and mainnet
  app/oracle.go
Due: none

adding assets for testnet and mainnet
  app/oracle.go
  app/preblocker.go
Due: none

add genesis state
  api/elys/vaults/genesis.pulsar.go
  proto/elys/vaults/genesis.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/vaults/genesis.go
  x/vaults/types/genesis.go
  x/vaults/types/genesis.pb.go
  x/vaults/types/query.pb.go
  x/vaults/types/tx.pb.go
Due: none

indexer initial commit
  app/app.go
  cmd/elysd/cmd/root.go
  indexer/blocks.go
  indexer/chain.go
  indexer/db/0.sql
  indexer/db/1.sql
  indexer/db/db.go
  indexer/root.go
  indexer/schema/chain/block.go
  indexer/schema/tradeshield/perpetual_order.go
  indexer/transactions.go
Due: none

add migration
  x/leveragelp/migrations/v21_migration.go
  x/leveragelp/module.go
Due: none

remove
  x/leveragelp/migrations/v21_migration.go
Due: none

update
  x/leveragelp/keeper/pool.go
  x/leveragelp/migrations/v21_migration.go
Due: none

fix allocations
  x/estaking/keeper/abci.go
Due: estaking_lifecycle

adding check for whitelisting
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: tradeshield_transactions

add check
  x/commitment/keeper/keeper.go
Due: commitment_keeper

fix allocations in estaking (#1347)
  x/commitment/keeper/keeper.go
  x/estaking/keeper/abci.go
Due: commitment_keeper, estaking_lifecycle

LeverageLp total migration (#1346)
  x/leveragelp/keeper/pool.go
  x/leveragelp/migrations/v21_migration.go
  x/leveragelp/module.go
Due: none

post upgrade (#1341)
  app/setup_handlers.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: tradeshield_transactions

Error handling (#1337)
  x/masterchef/types/message_claim_rewards.go
  x/masterchef/types/message_toggle_pool_eden_rewards.go
  x/masterchef/types/message_toggle_pool_eden_rewards_test.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/msg_server_update_params_test.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_open_price.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_perpetual_counter_test.go
  x/perpetual/keeper/settle_funding_fee_collection.go
Due: perpetual_transactions, perpetual_queries

fix
  x/tradeshield/keeper/keeper_test.go
Due: tradeshield_keeper

Add limit on liabilities on amm pool (#1338)
  api/elys/leveragelp/params.pulsar.go
  proto/elys/leveragelp/params.proto
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/migrations/v22_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/params.go
  x/leveragelp/types/params.pb.go
Due: none

fixing update params logic for estaking (#1345)
  x/estaking/keeper/msg_server.go
Due: estaking_transactions

updating read me
  readme.md
Due: none

indexer v0 implementation for tradeshield perpetual limit order
  indexer/blocks.go
  indexer/db/1.sql
  indexer/schema/chain/block.go
  indexer/transactions.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/types/events.go
Due: tradeshield_transactions

fix
  x/vaults/keeper/begin_blocker_test.go
Due: none

fine-tuning the indexer
  indexer/chain.go
  indexer/db/1.sql
  indexer/schema/tradeshield/perpetual_order.go
  indexer/transactions.go
Due: none

fine-tuning the indexer
  indexer/db/1.sql
  indexer/schema/tradeshield/perpetual_order.go
  indexer/transactions.go
Due: none

review changes
  x/accountedpool/keeper/hooks_perpetual.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/repay.go
  x/perpetual/types/hooks.go
  x/tier/keeper/hooks_perpetual.go
  x/tradeshield/keeper/hooks_perpetual.go
  x/tradeshield/keeper/hooks_perpetual_test.go
Due: none

add query
  api/elys/vaults/query.pulsar.go
  proto/elys/vaults/query.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/vaults/keeper/begin_blocker.go
  x/vaults/types/query.pb.go
  x/vaults/types/tx.pb.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
