Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

fixes to allow swap through allowed baseassets Denoms
  x/amm/keeper/calc_swap_estimation_by_denom.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/msg_server_swap_by_denom.go
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_transactions, amm_queries

update checks for non-oracle to oracle pool conversion
  x/amm/keeper/msg_server_update_pool_params.go
Due: amm_transactions

eden apr, vault positions, total deposits made and used
  x/vaults/keeper/query_vault.go
Due: none

chore: remove redundant word in comment
  x/assetprofile/keeper/msg_server_entry.go
  x/assetprofile/spec/05_functions.md
  x/tokenomics/keeper/msg_server_airdrop.go
  x/tokenomics/keeper/msg_server_time_based_inflation.go
  x/tokenomics/spec/05_functions.md
  x/tradeshield/keeper/msg_server_spot_order.go
Due: assetprofile_transactions, tokenomics_transactions, tradeshield_transactions

fixes:
  app/keepers/keepers.go
  testutil/keeper/vaults.go
  x/vaults/keeper/keeper.go
  x/vaults/keeper/query_vault.go
  x/vaults/keeper/query_vault_test.go
  x/vaults/types/expected_keepers.go
Due: none

fixing unit test cases
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/types/msgs_test.go
  x/tier/keeper/keeper_test.go
Due: leveragelp_transactions, tier_keeper

fixing unit test cases
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/types/msgs_test.go
Due: leveragelp_transactions, leveragelp_keeper

fixing unit test cases
  x/leveragelp/keeper/msg_server_open_test.go
Due: leveragelp_transactions

fixing unit test cases
  x/leveragelp/types/msgs_test.go
Due: none

add estimation logic
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/query_grpc.pb.go
  proto/elys/vaults/query.proto
  x/vaults/autocli.go
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/query_estimation.go
  x/vaults/keeper/query_vault.go
  x/vaults/types/query.pb.go
  x/vaults/types/query.pb.gw.go
Due: none

fix
  api/elys/vaults/query.pulsar.go
  proto/elys/vaults/query.proto
  x/vaults/types/query.pb.go
Due: none

user pnl
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/query_grpc.pb.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/query.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/msg_withdraw.go
  x/vaults/keeper/query_vault.go
  x/vaults/keeper/user_data.go
  x/vaults/types/keys.go
  x/vaults/types/query.pb.go
  x/vaults/types/query.pb.gw.go
  x/vaults/types/user_data.pb.go
  x/vaults/types/vault.pb.go
Due: none

chore: remove redundant word in comment (#1348)
  x/assetprofile/keeper/msg_server_entry.go
  x/assetprofile/spec/05_functions.md
  x/tokenomics/keeper/msg_server_airdrop.go
  x/tokenomics/keeper/msg_server_time_based_inflation.go
  x/tokenomics/spec/05_functions.md
  x/tradeshield/keeper/msg_server_spot_order.go
Due: assetprofile_transactions, tokenomics_transactions, tradeshield_transactions

changing assetinfo and profile for WBTC and WETH
  app/oracle.go
  app/setup_handlers.go
Due: none

removing axl prices
  app/setup_handlers.go
  x/oracle/keeper/price.go
Due: none

removing axl prices (#1350)
  app/setup_handlers.go
  x/oracle/keeper/price.go
Due: none

add perpetual fees event
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/types/events.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper, perpetual_queries

user fixes
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/query.proto
  proto/elys/vaults/vault.proto
  x/vaults/keeper/hooks_user_actions.go
  x/vaults/keeper/msg_claim_rewards.go
  x/vaults/keeper/query_vault.go
  x/vaults/keeper/user_data.go
  x/vaults/types/query.pb.go
  x/vaults/types/query.pb.gw.go
  x/vaults/types/vault.pb.go
Due: none

fix(workflow): Correct event trigger
  .github/workflows/delete-branch-snapshot.yml
Due: none

refactor and review fixes
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/types/events.go
Due: perpetual_keeper, perpetual_queries

trim fees usd value to legacy dec
  x/perpetual/keeper/amm.go
Due: none

Add perpetual fees event (#1351)
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_by_final.go
  x/perpetual/types/events.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper, perpetual_queries

vote
  .github/workflows/vote.yml
Due: none

adding ONDO and LINK assets
  app/oracle.go
  app/setup_handlers.go
Due: none

swap to denom
  api/elys/vaults/tx.pulsar.go
  proto/elys/vaults/tx.proto
  x/vaults/keeper/msg_withdraw.go
  x/vaults/types/tx.pb.go
Due: none

cli
  x/vaults/autocli.go
Due: none

fixing merge conflicts
  app/setup_handlers.go
Due: none

add events for ccxt
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/types/events.go
Due: tradeshield_transactions

truncate fix for given in
  x/amm/keeper/calc_out_amt_given_in.go
  x/amm/keeper/calc_out_amt_given_in_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/types/expected_keepers.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: leveragelp_queries, amm_transactions, perpetual_queries

out precision fixeS
  x/amm/keeper/calc_in_amt_given_out.go
  x/amm/keeper/calc_in_amt_given_out_test.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: leveragelp_keeper, amm_keeper, perpetual_queries

Improve precision in amm (#1353)
  x/amm/keeper/calc_in_amt_given_out.go
  x/amm/keeper/calc_in_amt_given_out_test.go
  x/amm/keeper/calc_out_amt_given_in.go
  x/amm/keeper/calc_out_amt_given_in_test.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/types/expected_keepers.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
Due: leveragelp_keeper, leveragelp_queries, amm_transactions, amm_keeper, perpetual_queries

refactor: replace append slice manipulation with slices.Delete (#1318)
  x/commitment/types/commitments.go
  x/masterchef/keeper/msg_server.go
Due: masterchef_transactions

keep fields number
  api/elys/tradeshield/tx.pulsar.go
  proto/elys/tradeshield/tx.proto
  x/tradeshield/types/tx.pb.go
Due: none

transfer fee when opening position
  x/perpetual/keeper/amm.go
  x/perpetual/keeper/keeper.go
  x/perpetual/types/expected_keepers.go
Due: perpetual_keeper

repay fees
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/keeper/repay.go
Due: perpetual_queries

set id
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/types/events.go
Due: tradeshield_transactions
