Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

add pool
  api/elys/stablestake/debt.pulsar.go
  api/elys/stablestake/tx.pulsar.go
  proto/elys/stablestake/debt.proto
  proto/elys/stablestake/tx.proto
  x/stablestake/keeper/pool.go
  x/stablestake/types/debt.pb.go
  x/stablestake/types/keys.go
  x/stablestake/types/share_denom.go
  x/stablestake/types/tx.pb.go
Due: none

Max leverage (#1093)
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  api/elys/perpetual/pool.pulsar.go
  api/elys/perpetual/query.pulsar.go
  api/elys/perpetual/tx.pulsar.go
  api/elys/perpetual/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/pool.proto
  proto/elys/perpetual/query.proto
  proto/elys/perpetual/tx.proto
  x/leveragelp/keeper/msg_server_update_max_leverage_for_pool.go
  x/leveragelp/keeper/msg_server_update_max_leverage_for_pool_test.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/types/tx.pb.go
  x/perpetual/client/cli/query_pool_test.go
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/force_close_short_test.go
  x/perpetual/keeper/get_net_open_interest_test.go
  x/perpetual/keeper/hooks_leveragelp.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_update_max_leverage_for_pool.go
  x/perpetual/keeper/msg_server_update_max_leverage_for_pool_test.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/pool_health_test.go
  x/perpetual/keeper/pool_test.go
  x/perpetual/keeper/query_pool.go
  x/perpetual/migrations/v16_migration.go
  x/perpetual/module.go
  x/perpetual/types/perpetual_test.go
  x/perpetual/types/pool.go
  x/perpetual/types/pool.pb.go
  x/perpetual/types/pool_test.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/tier/keeper/keeper_test.go
  x/tradeshield/keeper/keeper_test.go
Due: leveragelp_transactions, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_keeper, tradeshield_keeper

include pool id
  api/elys/stablestake/types.pulsar.go
  proto/elys/stablestake/types.proto
  x/stablestake/genesis.go
  x/stablestake/keeper/begin_blocker.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/interest_rate.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/types/keys.go
  x/stablestake/types/types.pb.go
Due: stablestake_lifecycle

feat: add support to dec34
  api/elys/tier/query.pulsar.go
  go.mod
  go.sum
  proto/elys/tier/query.proto
  types/dec34.go
  types/dec34_test.go
  x/amm/keeper/estimate_price.go
  x/amm/types/expected_keepers.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/price.go
  x/oracle/types/pow.go
  x/perpetual/types/expected_keepers.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/expected_keepers.go
  x/tier/types/query.pb.go
Due: tier_queries

refactor: remaining module updated to support dec64 and updated ToLegacyDec to work with decimal places less than -18
  api/elys/leveragelp/query.pulsar.go
  api/elys/perpetual/query.pulsar.go
  proto/elys/leveragelp/query.proto
  proto/elys/perpetual/query.proto
  types/dec34.go
  types/dec34_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/types/expected_keepers.go
  x/leveragelp/types/query.pb.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/types/query.pb.go
  x/tier/keeper/portfolio.go
  x/tier/types/expected_keepers.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/expected_keepers.go
Due: leveragelp_queries, perpetual_queries, tradeshield_keeper

test: fix tests
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/keeper/apply_join_pool_state_change_test.go
  x/amm/keeper/fee_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/update_pool_for_swap_test.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/masterchef/client/cli/query_aprs_test.go
  x/masterchef/client/cli/tx.go
  x/masterchef/keeper/query_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/tier/keeper/query_staked_pool_test.go
  x/tier/keeper/query_staked_test.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/bank_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: amm_transactions, masterchef_queries, perpetual_queries, tier_queries

Fix wrong comment
  x/accountedpool/keeper/accounted_pool.go
Due: none

Fix wrong comment (#1101)
  x/accountedpool/keeper/accounted_pool.go
Due: none

test: fix tests
  types/dec34.go
  types/dec34_test.go
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/types/amm_price_test.go
  x/amm/types/calc_exit_pool_test.go
Due: none

test: fix tests
  types/dec34.go
  x/amm/keeper/estimate_price_test.go
  x/amm/types/calc_exit_pool_test.go
Due: none

test: fix tests
  x/amm/keeper/estimate_price_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/types/pool_test.go
  x/amm/types/swap_out_amt_given_in_test.go
Due: amm_transactions

fix(types): quoint64 operation
  types/dec34.go
  types/dec34_test.go
  x/masterchef/keeper/query_test.go
Due: masterchef_queries

project builds
  app/keepers/keepers.go
  app/modules.go
  go.mod
  go.sum
Due: none

preblocker and pf flags
  app/app.go
  app/preblocker.go
  cmd/elysd/cmd/root.go
  cmd/elysd/price-feeder.example.toml
Due: none

add functions
  api/elys/stablestake/query.pulsar.go
  proto/elys/stablestake/query.proto
  x/leveragelp/types/expected_keepers.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/pool.go
  x/stablestake/keeper/query_borrow_ratio.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/query.pb.gw.go
Due: stablestake_transactions, stablestake_queries

integrate in leveragelp module
  api/elys/leveragelp/types.pulsar.go
  proto/elys/leveragelp/types.proto
  x/leveragelp/keeper/add_collateral.go
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/begin_blocker_test.go
  x/leveragelp/keeper/msg_server_close_positions_test.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/types/errors.go
  x/leveragelp/types/expected_keepers.go
  x/leveragelp/types/types.pb.go
  x/stablestake/keeper/pool.go
  x/tier/keeper/portfolio.go
  x/tier/types/expected_keepers.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

stablestake tests
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_bond_test.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/keeper/query_borrow_ratio_test.go
Due: stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries

feat: add pow function to dec34 interface
  types/dec34.go
  types/dec34_test.go
  x/amm/keeper/calc_in_route_spot_price_test.go
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/keeper/msg_server_swap_exact_amount_out_test.go
  x/amm/keeper/query_join_pool_estimation_test.go
  x/amm/keeper/route_exact_amount_out_test.go
  x/amm/types/pow.go
  x/amm/types/solve_constant_function_invariant.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/amm/types/utils.go
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/query_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/open_short_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/tier/keeper/query_staked_pool_test.go
  x/tier/keeper/query_staked_test.go
Due: amm_transactions, amm_keeper, amm_queries, masterchef_lifecycle, masterchef_queries, perpetual_queries, tier_queries

update lev tests
  x/leveragelp/keeper/keeper_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/position_open.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/keeper/msg_server_unbond_test.go
  x/stablestake/keeper/pool.go
  x/stablestake/keeper/query_borrow_ratio.go
  x/stablestake/types/errors.go
Due: leveragelp_transactions, leveragelp_keeper, leveragelp_queries, stablestake_transactions, stablestake_lifecycle, stablestake_queries

fix
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/params_test.go
  x/tier/keeper/keeper_test.go
  x/tier/keeper/query_get_users_pool_data_test.go
  x/tier/keeper/query_leverage_lp_total_test.go
  x/tier/keeper/query_staked_test.go
Due: tier_keeper, tier_queries

Improving MTP triggers for funding fee and interest payments
  x/leveragelp/keeper/position_close.go
  x/perpetual/client/cli/query_close_estimation.go
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/force_close_long.go
  x/perpetual/keeper/force_close_short.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_close_positions.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp.go
  x/perpetual/keeper/mtp_borrow_interest.go
  x/perpetual/keeper/mtp_health.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_close_estimation.go
  x/perpetual/keeper/settle_funding_fee.go
  x/perpetual/keeper/settle_funding_fee_collection.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/types/events.go
  x/perpetual/types/generate_close_event.go
  x/perpetual/types/generate_open_event.go
  x/perpetual/types/generate_open_event_test.go
  x/perpetual/types/genesis.go
  x/perpetual/types/message_close_positions.go
  x/perpetual/types/message_open.go
  x/perpetual/types/params.go
  x/perpetual/types/types.go
  x/tradeshield/types/events.go
Due: perpetual_transactions, perpetual_keeper, perpetual_queries

update check
  x/leveragelp/keeper/hooks_amm.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/hooks_stablestake.go
  x/stablestake/keeper/hooks.go
  x/stablestake/keeper/msg_server_bond.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/types/interfaces.go
  x/tier/keeper/hooks_stable_stake.go
Due: stablestake_transactions

refactor: pow
  types/dec34.go
  types/dec34_test.go
  x/amm/types/solve_constant_function_invariant.go
  x/amm/types/utils.go
Due: none

price query in ojo oracle
  go.mod
  go.sum
Due: none

test: fix tests
  x/amm/keeper/estimate_price.go
Due: none

refactor: using slices.Contains to simplify the code
  x/amm/types/params.go
Due: none

hooks
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/hooks_amm_test.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/apr_stable_stake.go
  x/masterchef/keeper/query_all_liquidity_pool_tvl.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/expected_keepers.go
  x/stablestake/keeper/tvl.go
Due: masterchef_lifecycle, masterchef_queries

leverage migration
  api/elys/leveragelp/types.pulsar.go
  proto/elys/leveragelp/types.proto
  x/leveragelp/keeper/position.go
  x/leveragelp/migrations/v18_migration.go
  x/leveragelp/module.go
  x/leveragelp/types/types.pb.go
  x/masterchef/keeper/query_test.go
Due: masterchef_queries

migrate interest
  api/elys/stablestake/debt.pulsar.go
  api/elys/stablestake/types.pulsar.go
  proto/elys/stablestake/debt.proto
  proto/elys/stablestake/types.proto
  x/stablestake/keeper/debt.go
  x/stablestake/migrations/v8_migration.go
  x/stablestake/module.go
  x/stablestake/types/debt.pb.go
  x/stablestake/types/keys.go
  x/stablestake/types/types.pb.go
Due: none

ignite config
  app/README.md
  buf.work.yaml
  config.yml
  go.mod
  go.sum
  proto/buf.gen.sta.yaml
  proto/buf.gen.swagger.yaml
  proto/buf.gen.ts.yaml
Due: none

refactor: move decimal normalization away from price functions
  x/amm/keeper/estimate_price.go
  x/amm/keeper/estimate_price_test.go
  x/amm/keeper/msg_server_create_pool_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/track_weight_breaking_slippage.go
  x/amm/types/amm_price.go
  x/amm/types/amm_price_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/expected_keepers.go
  x/amm/types/mocks/oracle_keeper.go
  x/amm/types/one_token_unit.go
  x/amm/types/pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/pool_test.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/keeper/apr_stable_stake.go
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/keeper/query_pool_rewards.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/price.go
  x/oracle/types/pow.go
  x/perpetual/types/expected_keepers.go
  x/stablestake/keeper/tvl.go
  x/stablestake/types/expected_keepers.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/expected_keepers.go
Due: leveragelp_queries, amm_transactions, masterchef_lifecycle, masterchef_queries, tier_queries

add pool and update pool
  api/elys/stablestake/tx.pulsar.go
  api/elys/stablestake/tx_grpc.pb.go
  proto/elys/stablestake/tx.proto
  x/stablestake/keeper/msg_server_add_pool.go
  x/stablestake/keeper/msg_server_update_pool.go
  x/stablestake/keeper/pool.go
  x/stablestake/types/tx.pb.go
Due: stablestake_transactions

todo
  x/leveragelp/keeper/msg_server_open.go
  x/masterchef/keeper/abci.go
  x/stablestake/keeper/msg_server_add_pool.go
Due: leveragelp_transactions, masterchef_lifecycle, stablestake_transactions

add stablestake pools
  x/masterchef/keeper/abci.go
  x/masterchef/spec/03_keeper.md
  x/masterchef/types/expected_keepers.go
  x/stablestake/keeper/pool.go
Due: masterchef_lifecycle

voting through github workflow
  .github/workflows/vote.yml
Due: none

ojo oracle without param subspace
  app/keepers/keepers.go
  go.mod
  go.sum
Due: none

pool id
  x/stablestake/keeper/pool.go
Due: none

fixing test cases
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
Due: perpetual_transactions

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
