Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add ojo with elys price feeder
  go.mod
  go.sum
Due: none

withdrawal limit
  api/elys/stablestake/params.pulsar.go
  proto/elys/stablestake/params.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/migrations/v8_migration.go
  x/stablestake/module.go
  x/stablestake/types/params.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/transferhook/types/query.pb.go
Due: stablestake_transactions

funding fee fixes
  api/elys/perpetual/types.pulsar.go
  proto/elys/perpetual/types.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/pool.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/perpetual/types/types.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/transferhook/types/query.pb.go
Due: perpetual_lifecycle

add checks
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/settle_funding_fee_distribution.go
Due: perpetual_lifecycle

fix
  x/stablestake/types/params.go
Due: none

updating query for net staking amount
  api/elys/masterchef/query.pulsar.go
  proto/elys/leveragelp/tx.proto
  proto/elys/masterchef/query.proto
  proto/elys/perpetual/tx.proto
  x/masterchef/keeper/query_chain_tvl.go
  x/masterchef/types/query.pb.go
Due: masterchef_queries

tests
  x/perpetual/keeper/mtp_trigger_test.go
Due: none

minor fix
  x/masterchef/keeper/query_chain_tvl.go
Due: masterchef_queries

remove param
  api/elys/commitment/params.pulsar.go
  proto/elys/commitment/params.proto
  x/commitment/keeper/keeper.go
  x/commitment/keeper/total_supply.go
  x/commitment/types/keys.go
  x/commitment/types/params.pb.go
Due: commitment_keeper

move from params
  api/elys/commitment/commitments.pulsar.go
  proto/elys/commitment/commitments.proto
  x/commitment/keeper/commitments.go
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_cancel_vest.go
  x/commitment/keeper/msg_server_vest.go
  x/commitment/keeper/msg_server_vest_now.go
  x/commitment/keeper/params.go
  x/commitment/keeper/params_test.go
  x/commitment/keeper/total_supply.go
  x/commitment/types/commitments.pb.go
  x/commitment/types/params.go
Due: commitment_transactions, commitment_keeper

voting on testnet
  .github/workflows/vote.yml
Due: none

preventing single token exit from amm
  x/amm/types/message_exit_pool.go
Due: none

add explorer links
  readme.md
Due: none

migrate
  x/commitment/keeper/params.go
  x/commitment/keeper/total_supply.go
  x/commitment/migrations/v9_migration.go
Due: none

stop loss
  x/leveragelp/keeper/begin_blocker.go
Due: leveragelp_lifecycle

ICS staking keeper
  app/app.go
  app/export.go
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  app/preblocker.go
  go.mod
  go.sum
Due: none

add usdc fee collection event
  x/masterchef/keeper/abci.go
  x/masterchef/types/events.go
Due: masterchef_lifecycle

update tradeshield spot order tx
  api/elys/tradeshield/tx.pulsar.go
  proto/elys/tradeshield/tx.proto
  x/tradeshield/types/tx.pb.go
Due: none

update attributes name
  x/masterchef/keeper/abci.go
Due: masterchef_lifecycle

refactor
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/weight_fees.go
Due: none

remove
  x/amm/types/calc_exit_pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/weight_fees.go
Due: none

remove breaking fee for lower threshold
  x/amm/keeper/keeper_swap_exact_amount_in_test.go
  x/amm/keeper/keeper_swap_exact_amount_out_test.go
  x/amm/keeper/msg_server_exit_pool_test.go
  x/amm/keeper/msg_server_join_pool_test.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/amm/types/weight_fees.go
  x/perpetual/keeper/close_test.go
Due: amm_transactions, amm_keeper

update
  x/perpetual/keeper/query_open_estimation_test.go
Due: perpetual_queries

update tradeshield spot order tx (#1115)
  api/elys/tradeshield/tx.pulsar.go
  proto/elys/tradeshield/tx.proto
  x/tradeshield/types/tx.pb.go
Due: none

Add usdc fee collection event in Masterchef ABCI (#1114)
  x/masterchef/keeper/abci.go
  x/masterchef/types/events.go
Due: masterchef_lifecycle

voting
  .github/workflows/vote.yml
Due: none

reveiw changes
  x/stablestake/keeper/debt.go
  x/stablestake/types/codec.go
  x/stablestake/types/keys.go
Due: none

add query
  api/elys/stablestake/query.pulsar.go
  api/elys/stablestake/query_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  proto/elys/perpetual/tx.proto
  proto/elys/stablestake/query.proto
  proto/elys/stablestake/tx.proto
  x/stablestake/keeper/query.go
  x/stablestake/types/codec.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/query.pb.gw.go
Due: stablestake_queries

reward
  x/amm/types/calc_exit_pool.go
Due: none

fixing gov txs of leverage lp
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_update_pool.go
  x/leveragelp/keeper/msg_server_update_pool_test.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/types/codec.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/transferhook/types/query.pb.go
Due: leveragelp_transactions

Update proto/elys/leveragelp/tx.proto
  proto/elys/leveragelp/tx.proto
Due: none

position health based on oracle price
  x/leveragelp/keeper/position.go
Due: none

fixing test cases
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/keeper/utils_test.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
Due: leveragelp_transactions

optimizing health calculation
  x/leveragelp/keeper/position.go
Due: none

fixing query response for leverage lp
  x/leveragelp/keeper/utils.go
Due: none

fixing open position for leverage lp
  x/leveragelp/keeper/position_open.go
Due: none

fixing gov txs of leverage lp (#1118)
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/tx_grpc.pb.go
  proto/elys/leveragelp/tx.proto
  x/leveragelp/keeper/msg_server_open.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_update_pool.go
  x/leveragelp/keeper/msg_server_update_pool_test.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/keeper/utils_test.go
  x/leveragelp/types/codec.go
  x/leveragelp/types/msgs.go
  x/leveragelp/types/msgs_test.go
  x/leveragelp/types/tx.pb.go
Due: leveragelp_transactions
