Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

fixing for v7
  api/elys/leveragelp/pool.pulsar.go
  api/elys/leveragelp/query.pulsar.go
  api/elys/leveragelp/tx.pulsar.go
  api/elys/leveragelp/types.pulsar.go
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/adl_test.go
  x/leveragelp/keeper/end_blocker_test.go
  x/leveragelp/keeper/fallback_counter.go
  x/leveragelp/keeper/position.go
  x/leveragelp/keeper/position_counter.go
  x/leveragelp/keeper/position_counter_test.go
  x/leveragelp/types/genesis.pb.go
  x/leveragelp/types/pool.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/leveragelp/types/types.pb.go
Due: leveragelp_lifecycle

fixing for v7
  app/setup_handlers.go
Due: none

fix
  go.mod
  go.sum
Due: none

one call
  x/perpetual/keeper/begin_blocker.go
Due: perpetual_lifecycle

optimizing events
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/events.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/types/events.go
Due: leveragelp_transactions

add equal condition
  x/perpetual/keeper/begin_blocker.go
Due: perpetual_lifecycle

optimizing variables
  x/perpetual/keeper/begin_blocker.go
Due: perpetual_lifecycle

Perpetual rates (#1403)
  api/elys/perpetual/params.pulsar.go
  proto/elys/perpetual/params.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/keeper/begin_blocker.go
  x/perpetual/keeper/keeper.go
  x/perpetual/migrations/v22_migration.go
  x/perpetual/module.go
  x/perpetual/types/params.go
  x/perpetual/types/params.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
Due: perpetual_lifecycle, perpetual_keeper

Add events attributes for fees values during leveragelp exit position (#1396)
  x/leveragelp/keeper/begin_blocker.go
  x/leveragelp/keeper/msg_server_close.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/keeper/position_close_test.go
  x/leveragelp/keeper/query_estimation.go
Due: leveragelp_transactions, leveragelp_lifecycle, leveragelp_queries

vote
  .github/workflows/vote.yml
Due: none

updating events
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/events.go
  x/leveragelp/keeper/msg_server_close.go
Due: leveragelp_transactions

updating ojo commit
  go.mod
  go.sum
Due: none

Avkr003/indexer (#1404)
  go.work
  go.work.sum
  indexer/Dockerfile
  indexer/Makefile
  indexer/README.md
  indexer/cmd/indexer/main.go
  indexer/config.yaml
  indexer/docker-compose.yml
  indexer/go.mod
  indexer/go.sum
  indexer/internal/cache/interface.go
  indexer/internal/cache/redis.go
  indexer/internal/config/config.go
  indexer/internal/database/db.go
  indexer/internal/database/db_integration_test.go
  indexer/internal/database/repository.go
  indexer/internal/database/repository_test.go
  indexer/internal/database/simple_test.go
  indexer/internal/events/perpetual_parser.go
  indexer/internal/events/tradeshield_parser.go
  indexer/internal/indexer/indexer.go
  indexer/internal/models/models.go
  indexer/internal/testutil/mocks.go
  indexer/internal/websocket/client_test.go
  indexer/internal/websocket/server.go
  indexer/internal/websocket/server_test.go
  indexer/run_tests.sh
  indexer/sql/schema.sql
  indexer/test_all.sh
Due: none

updating ojo commit (#1405)
  go.mod
  go.sum
Due: none

fixing after merging with main
  go.mod
  go.work.sum
  indexer/go.mod
  indexer/go.sum
  x/clob/types/expected_keeper.go
Due: none

changes for removing ojo
  go.work.sum
  indexer/go.mod
  indexer/go.sum
  indexer/internal/events/perpetual_parser.go
  indexer/internal/events/tradeshield_parser.go
  x/stablestake/keeper/keeper_test.go
Due: stablestake_keeper

cli fixes
  x/vaults/autocli.go
  x/vaults/keeper/query_vault.go
Due: none

dic
  go.work.sum
  x/vaults/keeper/query_vault.go
Due: none

reduce BigDec usage
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/hooks_vaults.go
  x/vaults/keeper/pool_rewards_accum.go
  x/vaults/keeper/pool_rewards_accum_test.go
  x/vaults/types/reward_pool.go
Due: none

fix
  x/vaults/keeper/pool_rewards_accum_test.go
Due: none

removing redundant files
  go.mod
  go.sum
  indexer/go.mod
  indexer/go.sum
  x/oracle/client/cli/flags.go
  x/oracle/types/expected_ibc_keeper.go
Due: none

updating oracle end blocker
  go.work.sum
  x/oracle/keeper/abci.go
Due: oracle_lifecycle

Revert "updating oracle end blocker"
  go.work.sum
  x/oracle/keeper/abci.go
Due: oracle_lifecycle

updating oracle end blocker
  x/oracle/keeper/abci.go
Due: oracle_lifecycle

updating oracle module
  x/oracle/types/params.go
Due: none

updating go work
  go.work.sum
Due: none

review changes
  api/elys/vaults/query.pulsar.go
  api/elys/vaults/tx.pulsar.go
  proto/elys/vaults/query.proto
  proto/elys/vaults/tx.proto
Due: none

remove
  api/elys/vaults/tx.pulsar.go
  proto/elys/vaults/tx.proto
Due: none

fix unit test cases
  x/perpetual/keeper/keeper_test.go
Due: perpetual_keeper

use oracle price for execution
  go.work.sum
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none

remove
  go.work.sum
Due: none

restore
  go.work.sum
Due: none

add allowed actions
  Makefile
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/tx_grpc.pb.go
  proto/buf.gen.gogo.yaml
  proto/elys/vaults/tx.proto
  x/vaults/keeper/flow_test.go
  x/vaults/keeper/msg_perform_action.go
  x/vaults/keeper/msg_update_vault.go
  x/vaults/keeper/reward_mechanism_test.go
  x/vaults/types/errors.go
  x/vaults/types/vault_validation.go
  x/vaults/types/vault_validation_test.go
Due: none

add update message
  x/vaults/keeper/msg_update_vault.go
  x/vaults/types/tx.pb.go
Due: none

fix
  x/vaults/types/vault_validation_test.go
Due: none

distribute fees
  app/keepers/keepers.go
  go.work.sum
  testutil/keeper/leveragelp.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/keeper/position_close.go
  x/leveragelp/types/expected_keepers.go
Due: leveragelp_keeper

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
