Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

ci: bump snap gen version
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
Due: none

use tier structure
  proto/elys/tier/query.proto
  proto/elys/tier/userdata.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_out.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/portfolio_test.go
  x/tier/keeper/query_calculate_discount.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tier/types/userdata.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/transferhook/types/query.pb.go
Due: none

update tests
  x/accountedpool/types/mocks/amm_keeper.go
  x/accountedpool/types/mocks/bank_keeper.go
  x/accountedpool/types/mocks/perpetual_keeper.go
  x/amm/types/mocks/accounted_pool_keeper.go
  x/amm/types/mocks/oracle_keeper.go
  x/burner/types/mocks/bank_keeper.go
  x/leveragelp/types/mocks/bank_keeper.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/amm_keeper.go
  x/tradeshield/types/mocks/perpetual_keeper.go
  x/tradeshield/types/mocks/tier_keeper.go
Due: none

fixing tier keeper pointers (#958)
  app/keepers/keepers.go
  app/modules.go
  testutil/keeper/tradeshield.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/keeper/msg_server_test.go
  x/transferhook/keeper/keeper.go
  x/transferhook/keeper/swap.go
Due: transferhook_keeper

fix
  app/keepers/keepers.go
  testutil/keeper/tradeshield.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/keeper/msg_server_test.go
Due: none

fix
  x/tradeshield/keeper/pending_spot_order_test.go
Due: none

add discoumt to perpetual
  app/keepers/keepers.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/mtp_health.go
  x/perpetual/keeper/process_open.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_pool_test.go
Due: none

fix tests
  x/perpetual/keeper/estimate_swap.go
Due: none

review changes
  proto/elys/tier/userdata.proto
  x/tier/keeper/portfolio.go
  x/tier/types/types.go
  x/tier/types/userdata.pb.go
  x/tradeshield/keeper/pending_spot_order_test.go
Due: none

use silver
  x/tradeshield/keeper/pending_spot_order_test.go
Due: none

update test with testsuite
  x/masterchef/keeper/query_show_fee_info_test.go
Due: none

merging discount branch
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/msg_server_open.go
  x/perpetual/keeper/open.go
  x/perpetual/keeper/open_define_assets.go
  x/perpetual/keeper/process_open.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/types/expected_keepers.go
Due: none

add address instead of discount
  proto/elys/amm/query.proto
  proto/elys/amm/tx.proto
  x/amm/client/cli/query_swap_estimation.go
  x/amm/client/cli/query_swap_estimation_by_denom.go
  x/amm/client/cli/tx.go
  x/amm/client/cli/tx_swap_by_denom.go
  x/amm/client/cli/tx_swap_exact_amount_in.go
  x/amm/client/cli/tx_swap_exact_amount_out.go
  x/amm/keeper/abci.go
  x/amm/keeper/abci_test.go
  x/amm/keeper/calc_swap_estimation_by_denom.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/msg_server_swap_by_denom.go
  x/amm/keeper/msg_server_swap_exact_amount_in.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/msg_server_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_exact_amount_out_test.go
  x/amm/keeper/query_swap_estimation_by_denom.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_out.go
  x/amm/keeper/route_exact_amount_out_test.go
  x/amm/types/message_swap_exact_amount_in.go
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/perpetual/client/cli/tx.go
  x/transferhook/keeper/swap.go
Due: amm_transactions, amm_lifecycle

replace discount field in perpetual
  proto/elys/perpetual/query.proto
  x/perpetual/client/cli/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/query.pb.go
Due: none

fix: fix ibc hooks and add amm tests (#955)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
  app/keepers/keepers.go
  app/setup_handlers.go
  x/amm/keeper/oracle_pool_slippage_track_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
  x/amm/keeper/query_balance_test.go
  x/amm/keeper/query_in_route_by_denom_test.go
  x/amm/keeper/query_out_route_by_denom_test.go
  x/amm/keeper/query_slippage_track_test.go
  x/amm/keeper/query_swap_estimation_by_denom_test.go
  x/amm/keeper/query_swap_estimation_test.go
Due: none

Update x/masterchef/keeper/hooks_masterchef_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
Due: none

fix
  x/amm/keeper/query_swap_estimation_by_denom_test.go
Due: none

handle empty
  x/amm/keeper/calc_swap_estimation_by_denom.go
Due: none

Migrate masterchef module test (#959)
  x/masterchef/keeper/abci_test.go
  x/masterchef/keeper/apr_pool_test.go
  x/masterchef/keeper/external_incentive_test.go
  x/masterchef/keeper/fee_info_test.go
  x/masterchef/keeper/hooks_masterchef_test.go
  x/masterchef/keeper/keeper_test.go
  x/masterchef/keeper/msg_server_toggle_pool_eden_rewards_test.go
  x/masterchef/keeper/params_test.go
  x/masterchef/keeper/pool_reward_info_test.go
  x/masterchef/keeper/pool_rewards_accum_test.go
  x/masterchef/keeper/pool_test.go
  x/masterchef/keeper/query_apr_test.go
  x/masterchef/keeper/query_params_test.go
  x/masterchef/keeper/query_show_fee_info_test.go
  x/masterchef/keeper/user_reward_info_test.go
Due: masterchef_transactions, masterchef_lifecycle, masterchef_keeper

Replace discount with address (#960)
  proto/elys/amm/query.proto
  proto/elys/amm/tx.proto
  proto/elys/perpetual/query.proto
  x/amm/client/cli/query_swap_estimation.go
  x/amm/client/cli/query_swap_estimation_by_denom.go
  x/amm/client/cli/tx.go
  x/amm/client/cli/tx_swap_by_denom.go
  x/amm/client/cli/tx_swap_exact_amount_in.go
  x/amm/client/cli/tx_swap_exact_amount_out.go
  x/amm/keeper/abci.go
  x/amm/keeper/abci_test.go
  x/amm/keeper/calc_swap_estimation_by_denom.go
  x/amm/keeper/calc_swap_estimation_by_denom_test.go
  x/amm/keeper/msg_server_swap_by_denom.go
  x/amm/keeper/msg_server_swap_exact_amount_in.go
  x/amm/keeper/msg_server_swap_exact_amount_in_test.go
  x/amm/keeper/msg_server_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_exact_amount_out_test.go
  x/amm/keeper/query_swap_estimation_by_denom.go
  x/amm/keeper/query_swap_estimation_by_denom_test.go
  x/amm/keeper/route_exact_amount_in.go
  x/amm/keeper/route_exact_amount_in_test.go
  x/amm/keeper/route_exact_amount_out.go
  x/amm/keeper/route_exact_amount_out_test.go
  x/amm/types/message_swap_exact_amount_in.go
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/perpetual/client/cli/query_open_estimation.go
  x/perpetual/client/cli/tx.go
  x/perpetual/keeper/query_open_estimation.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/perpetual/types/query.pb.go
  x/transferhook/keeper/swap.go
Due: amm_transactions, amm_lifecycle

fixes
  proto/elys/amm/tx.proto
  x/amm/client/cli/tx_swap_by_denom.go
  x/amm/client/cli/tx_swap_exact_amount_in.go
  x/amm/client/cli/tx_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/types/message_swap_by_denom.go
  x/amm/types/message_swap_exact_amount_in.go
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/tx.pb.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
Due: amm_transactions

remove
  x/tradeshield/keeper/keeper.go
Due: none

Discount fixes in amm (#961)
  proto/elys/amm/tx.proto
  x/amm/client/cli/tx_swap_by_denom.go
  x/amm/client/cli/tx_swap_exact_amount_in.go
  x/amm/client/cli/tx_swap_exact_amount_out.go
  x/amm/keeper/msg_server_swap_by_denom_test.go
  x/amm/types/message_swap_by_denom.go
  x/amm/types/message_swap_exact_amount_in.go
  x/amm/types/message_swap_exact_amount_out.go
  x/amm/types/tx.pb.go
  x/tradeshield/keeper/keeper.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
Due: amm_transactions

reducing upgrade height to half an hour
  .github/workflows/release.yml
Due: none

reducing upgrade height to half an hour (#962)
  .github/workflows/release.yml
Due: none

make adjustments to discounts
  proto/elys/tier/userdata.proto
  x/tier/keeper/portfolio.go
  x/tier/types/types.go
  x/tier/types/userdata.pb.go
Due: none

update amm migration, return error
  x/amm/migrations/v7_migration.go
Due: none

fixing test cases
  x/masterchef/keeper/msg_server_toggle_pool_eden_rewards_test.go
  x/tradeshield/keeper/pending_spot_order_test.go
Due: masterchef_transactions

not allow vested tokens to be staked
  app/keepers/keepers.go
  testutil/keeper/commitment.go
  x/commitment/keeper/keeper.go
  x/commitment/keeper/msg_server_stake.go
Due: commitment_transactions, commitment_keeper
