Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

add test
  api/elys/masterchef/query.pulsar.go
  go.mod
  go.sum
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/query.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/query.pb.go
Due: masterchef_queries

check
  x/masterchef/keeper/query.go
Due: masterchef_queries

add pagination
  api/elys/masterchef/query.pulsar.go
  go.sum
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/query.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

change default limit
  x/masterchef/keeper/query.go
Due: masterchef_queries

add query
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  proto/elys/masterchef/query.proto
  x/masterchef/keeper/query.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

adding logs
  x/amm/keeper/calc_in_route_spot_price.go
Due: none

adding logs
  x/amm/keeper/query_swap_estimation_by_denom.go
Due: amm_queries

vote
  .github/workflows/vote.yml
Due: none

add migration
  app/setup_handlers.go
  x/masterchef/autocli.go
  x/masterchef/keeper/query.go
Due: masterchef_queries

add query, transfer funds
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  app/setup_handlers.go
  proto/elys/masterchef/query.proto
  x/masterchef/autocli.go
  x/masterchef/keeper/query.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

coverage
  x/masterchef/keeper/query_test.go
Due: masterchef_queries

add amm actions and checks:
  x/vaults/keeper/msg_perform_action.go
  x/vaults/types/errors.go
  x/vaults/types/expected_keepers.go
Due: none

add handle reward messages
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

log
  app/setup_handlers.go
Due: none

correcting ics validator
  app/app.go
  app/export.go
  app/keepers/ics_staking_keeper.go
  app/keepers/keepers.go
  app/modules.go
  x/accountedpool/keeper/abci.go
  x/accountedpool/keeper/ojo_oracle.go
Due: accountedpool_lifecycle

add user data
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/user_data.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/user_data.proto
  x/vaults/keeper/msg_deposit.go
  x/vaults/keeper/user_data.go
  x/vaults/types/keys.go
  x/vaults/types/tx.pb.go
  x/vaults/types/user_data.pb.go
Due: none

fee
  x/vaults/keeper/begin_blocker.go
  x/vaults/keeper/vault.go
  x/vaults/module/module.go
Due: none

[Masterchef]: add query, transfer funds (#1279)
  api/elys/masterchef/query.pulsar.go
  api/elys/masterchef/query_grpc.pb.go
  app/setup_handlers.go
  proto/elys/masterchef/query.proto
  x/masterchef/autocli.go
  x/masterchef/keeper/query.go
  x/masterchef/keeper/query_test.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/query.pb.gw.go
Due: masterchef_queries

adding ADL KV store and fixing forced liquidations
  api/elys/clob/adl.pulsar.go
  api/elys/clob/genesis.pulsar.go
  api/elys/clob/perpetual.pulsar.go
  proto/elys/clob/adl.proto
  proto/elys/clob/genesis.proto
  proto/elys/clob/perpetual.proto
  x/clob/genesis.go
  x/clob/keeper/adl.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/health.go
  x/clob/keeper/liquidations.go
  x/clob/keeper/margin_pnl.go
  x/clob/keeper/margin_pnl_test.go
  x/clob/keeper/msg_server_orders.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/perpetual.go
  x/clob/keeper/prices.go
  x/clob/keeper/prices_test.go
  x/clob/types/adl.pb.go
  x/clob/types/errors.go
  x/clob/types/genesis.pb.go
  x/clob/types/keys.go
  x/clob/types/market.go
  x/clob/types/msgs.go
  x/clob/types/perpetual.go
  x/clob/types/perpetual.pb.go
  x/clob/types/sub_account.go
  x/clob/types/trade.go
Due: none

adding unit test for market liquidations
  x/clob/keeper/adl.go
  x/clob/keeper/exchange.go
  x/clob/keeper/exchange_test.go
  x/clob/keeper/execute_order.go
  x/clob/keeper/liquidations_test.go
  x/clob/keeper/margin_pnl.go
  x/clob/keeper/margin_pnl_test.go
  x/clob/keeper/order_matching.go
  x/clob/keeper/perpetual_owner.go
  x/clob/keeper/prices_test.go
  x/clob/types/order.go
  x/clob/types/trade.go
Due: none

update ojo module version
  go.mod
  go.sum
Due: none

upgrading go and library versions (#1278)
  go.mod
  go.sum
Due: none

micro optimization for 10^n (#1277)
  utils/math.go
  x/amm/keeper/estimate_price.go
  x/assetprofile/types/errors.go
  x/masterchef/keeper/apr_denom.go
  x/perpetual/keeper/asset_price.go
  x/tier/keeper/query_get_consolidated_price.go
Due: tier_queries

fixing all test cases
  x/clob/keeper/keeper_test.go
  x/clob/keeper/liquidation_price.go
  x/clob/keeper/liquidation_price_test.go
  x/clob/keeper/liquidations.go
  x/clob/keeper/liquidations_test.go
  x/clob/keeper/margin_pnl_test.go
Due: none

handling an edge case
  x/clob/keeper/liquidations.go
Due: none

update mocks and fix test
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/mocks/accounted_pool_keeper.go
Due: none

update mocks and fix test
  x/amm/types/calc_exit_pool_test.go
Due: none

update ojo module version to latest commit
  go.mod
  go.sum
Due: none

Update code to accommodate changes in ojo-module
  app/keepers/keepers.go
  app/oracle.go
  x/amm/keeper/keeper_test.go
  x/amm/types/types_test.go
  x/leveragelp/keeper/keeper_test.go
  x/masterchef/keeper/keeper_test.go
  x/perpetual/keeper/asset_price_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/process_mtp_test.go
  x/perpetual/keeper/query_open_estimation_test.go
  x/stablestake/keeper/keeper_test.go
  x/tier/keeper/keeper_test.go
  x/tier/keeper/portfolio_test.go
  x/tradeshield/keeper/keeper_test.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
Due: leveragelp_keeper, amm_keeper, masterchef_keeper, stablestake_keeper, perpetual_transactions, perpetual_keeper, perpetual_queries, tier_keeper, tradeshield_transactions, tradeshield_keeper

add normalize and tests
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/types/amm_price.go
  x/amm/types/amm_price_test.go
Due: none

Update mocks and fix tests (#1280)
  x/amm/types/calc_exit_pool_test.go
  x/amm/types/mocks/accounted_pool_keeper.go
Due: none

chore: fix some function names in comment
  x/commitment/keeper/keeper_test.go
  x/commitment/keeper/msg_server_unstake_test.go
  x/commitment/keeper/msg_server_update_vesting_info_test.go
Due: commitment_transactions, commitment_keeper

fixing merge conflicts
  utils/math.go
Due: none

fixing merge conflicts
  x/clob/keeper/oracle.go
  x/clob/types/expected_keeper.go
Due: none

updating ojo version
  cmd/elysd/cmd/root.go
  go.mod
  go.sum
Due: none

updating ojo version
  cmd/elysd/cmd/root.go
Due: none

Update oracle functions to use legacy price handlers
  app/oracle.go
  x/oracle/genesis.go
  x/oracle/keeper/abci.go
  x/oracle/keeper/price.go
Due: oracle_lifecycle

remove ibc logic from legacy oracle module
  app/keepers/keepers.go
  x/oracle/keeper/keeper.go
  x/oracle/types/expected_ibc_keeper.go
Due: oracle_keeper

fixing test cases
  x/epochs/genesis_test.go
Due: none
