Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*

remove comments
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order_test.go
Due: none

remove dependency
  x/accountedpool/keeper/accounted_pool_update_test.go
  x/accountedpool/keeper/keeper.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_share_test.go
  x/amm/keeper/pool_test.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_remove_pools_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/types/msgs_test.go
  x/masterchef/keeper/keeper_test.go
  x/masterchef/keeper/query_test.go
  x/perpetual/keeper/borrow_rate_test.go
  x/perpetual/types/mtp_take_profit_borrow_factor.go
  x/perpetual/types/types.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: leverage_lp_transactions, accountedpool_keeper, amm_transactions, masterchef_keeper

Remove double import (#984)
  x/accountedpool/keeper/accounted_pool_update_test.go
  x/accountedpool/keeper/keeper.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_share_test.go
  x/amm/keeper/pool_test.go
  x/amm/keeper/swap_out_amt_given_in.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_in_amt_given_out_test.go
  x/amm/types/swap_out_amt_given_in.go
  x/amm/types/swap_out_amt_given_in_test.go
  x/leveragelp/keeper/msg_server_claim_rewards_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/msg_server_remove_pools_test.go
  x/leveragelp/keeper/msg_server_update_stop_loss_test.go
  x/leveragelp/keeper/position_open_test.go
  x/leveragelp/types/msgs_test.go
  x/masterchef/keeper/keeper_test.go
  x/masterchef/keeper/query_test.go
  x/perpetual/keeper/borrow_rate_test.go
  x/perpetual/types/mtp_take_profit_borrow_factor.go
  x/perpetual/types/types.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
Due: leverage_lp_transactions, accountedpool_keeper, amm_transactions, masterchef_keeper

Update x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
Due: none

Add tradeshield query tests
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_test.go
Due: none

update comment
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
Due: none

Add test suite for Tradeshield module's tests and removed mockery (#982)
  x/tradeshield/keeper/keeper_test.go
  x/tradeshield/keeper/msg_server_test.go
  x/tradeshield/keeper/params_test.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/keeper/query_params_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_for_address_test.go
  x/tradeshield/keeper/query_pending_perpetual_order_test.go
  x/tradeshield/keeper/query_pending_spot_order_for_address_test.go
  x/tradeshield/keeper/query_pending_spot_order_test.go
Due: none

ci: check snapshot height gth upgrade height
  .github/workflows/software-upgrade-test.yml
Due: none

add perpetual order tests
  x/tradeshield/keeper/keeper_test.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
Due: none

add spot order test
  x/tradeshield/keeper/msg_server_spot_order_test.go
Due: none

add execute order and update params tests
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_update_params_test.go
Due: none

handle zero price
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/errors.go
Due: none

remove price
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
Due: amm_transactions

remove asset price test
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
Due: amm_transactions

add checks in UpdatePerpetualOrder txn
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/types/expected_keepers.go
Due: none

add getParams mock in tradeshield and update msgServerTest
  x/tradeshield/keeper/msg_server_test.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: none

fix query open estimation
  x/perpetual/keeper/query_open_estimation.go
Due: none

ci: check snapshot height gth upgrade height (#986)
  .github/workflows/software-upgrade-test.yml
Due: none

Add Tradeshield module tests (#987)
  x/tradeshield/keeper/keeper_test.go
  x/tradeshield/keeper/msg_server_execute_order_test.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/tradeshield/keeper/msg_server_spot_order_test.go
  x/tradeshield/keeper/msg_server_update_params_test.go
Due: none

Avoid tx when market price is zero, remove price from external liquidity (#988)
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/errors.go
Due: amm_transactions

Add check in UpdatePerpetualOrder (#989)
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_test.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: none

fix query open estimation in perpetual module (#990)
  x/perpetual/keeper/query_open_estimation.go
Due: none

fix: jailed validators
  app/setup_handlers.go
Due: none

fix: cli to create pool
  x/amm/client/cli/tx_create_pool.go
  x/amm/client/cli/tx_update_pool_params.go
  x/amm/keeper/params.go
Due: none

fix: jailed validators (#991)
  app/setup_handlers.go
Due: none

fix: cli to create pool (#992)
  x/amm/client/cli/tx_create_pool.go
  x/amm/client/cli/tx_update_pool_params.go
  x/amm/keeper/params.go
Due: none

add tests
  x/estaking/keeper/keeper.go
  x/estaking/keeper/keeper_test.go
  x/estaking/keeper/reward_test.go
  x/estaking/modules/distribution/module.go
Due: estaking_keeper

verified
  x/estaking/keeper/reward_test.go
Due: none

allocate edenb
  x/estaking/keeper/abci_test.go
  x/estaking/keeper/query_test.go
  x/estaking/keeper/reward_test.go
  x/estaking/modules/distribution/module.go
Due: estaking_lifecycle

fix GetAssetPriceFromDenom calculations
  x/amm/keeper/estimate_price.go
  x/amm/types/amm_price.go
  x/amm/types/calc_exit_pool.go
  x/amm/types/expected_keepers.go
  x/amm/types/mocks/oracle_keeper.go
  x/amm/types/pool.go
  x/amm/types/pool_join_pool.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/hooks_amm.go
  x/leveragelp/keeper/query_position.go
  x/leveragelp/keeper/utils.go
  x/masterchef/keeper/abci.go
  x/masterchef/keeper/apr_denom.go
  x/masterchef/types/expected_keepers.go
  x/oracle/keeper/price.go
  x/perpetual/types/expected_keepers.go
  x/stablestake/keeper/tvl.go
  x/stablestake/types/expected_keepers.go
  x/tier/keeper/portfolio.go
  x/tier/keeper/query_get_amm_price.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/expected_keepers.go
Due: masterchef_lifecycle

test
  x/estaking/keeper/reward_test.go
Due: none

add more details
  x/estaking/modules/distribution/module.go
Due: none

[Estaking]: Reward distribution fixes (#993)
  x/estaking/keeper/abci_test.go
  x/estaking/keeper/keeper.go
  x/estaking/keeper/keeper_test.go
  x/estaking/keeper/query_test.go
  x/estaking/keeper/reward_test.go
  x/estaking/modules/distribution/module.go
Due: estaking_lifecycle, estaking_keeper

change mint amount
  x/estaking/keeper/abci.go
Due: estaking_lifecycle

add comment
  x/estaking/keeper/abci.go
Due: estaking_lifecycle

add execute order events in tradeshield
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/types/events.go
Due: none

add close positions events in leveragelp
  x/leveragelp/keeper/msg_server_close_positions.go
  x/leveragelp/types/events.go
Due: leverage_lp_transactions
