Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

upgrading cosmos sdk to v0.50.14
  go.mod
  go.sum
Due: none

commenting for testnet
  app/setup_handlers.go
Due: none

updating params value for exit buffer
  app/setup_handlers.go
  x/perpetual/migrations/v20_migration.go
Due: none

upgrading cosmos sdk to v0.50.14 (#1362)
  app/setup_handlers.go
  go.mod
  go.sum
  x/perpetual/migrations/v20_migration.go
Due: none

enabling rate limiting for mainnet upgrade
  app/setup_handlers.go
Due: none

updating read me
  UPGRADING.md
  readme.md
Due: none

vote
  .github/workflows/vote.yml
Due: none

Mainnet v6.3.0 (#1363)
  UPGRADING.md
  app/setup_handlers.go
  readme.md
Due: none

track
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
Due: perpetual_keeper

add description field
  api/elys/vaults/tx.pulsar.go
  api/elys/vaults/vault.pulsar.go
  proto/elys/vaults/tx.proto
  proto/elys/vaults/vault.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
  x/vaults/keeper/msg_add_vault.go
  x/vaults/types/query.pb.go
  x/vaults/types/tx.pb.go
  x/vaults/types/vault.pb.go
Due: none

fix tests
  x/tradeshield/keeper/pending_perpetual_order_partial_close_test.go
Due: none

Perp fee fixes (#1364)
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/process_open.go
Due: perpetual_keeper

commenting for testnet (#1365)
  app/setup_handlers.go
Due: none

uncommenting for mainnet
  app/setup_handlers.go
Due: none

uncommenting for mainnet (#1366)
  app/setup_handlers.go
Due: none

commenting after upgrade
  app/setup_handlers.go
Due: none

patch for v6.4
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
Due: none

variant checks
  api/elys/perpetual/query.pulsar.go
  api/elys/perpetual/query_grpc.pb.go
  proto/elys/perpetual/query.proto
  x/accountedpool/types/query.pb.go
  x/accountedpool/types/tx.pb.go
  x/amm/types/query.pb.go
  x/amm/types/tx.pb.go
  x/assetprofile/types/query.pb.go
  x/assetprofile/types/tx.pb.go
  x/burner/types/query.pb.go
  x/burner/types/tx.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
  x/epochs/types/query.pb.go
  x/estaking/types/query.pb.go
  x/estaking/types/tx.pb.go
  x/leveragelp/types/query.pb.go
  x/leveragelp/types/tx.pb.go
  x/masterchef/types/query.pb.go
  x/masterchef/types/tx.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/parameter/types/query.pb.go
  x/parameter/types/tx.pb.go
  x/perpetual/keeper/query_invariant.go
  x/perpetual/types/query.pb.go
  x/perpetual/types/query.pb.gw.go
  x/perpetual/types/tx.pb.go
  x/stablestake/types/query.pb.go
  x/stablestake/types/tx.pb.go
  x/tier/types/query.pb.go
  x/tier/types/tx.pb.go
  x/tokenomics/types/query.pb.go
  x/tokenomics/types/tx.pb.go
  x/tradeshield/types/query.pb.go
  x/tradeshield/types/tx.pb.go
Due: perpetual_queries

emit execution price when position is closed
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/force_close.go
  x/perpetual/keeper/force_close_test.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/mtp_trigger.go
  x/perpetual/keeper/mtp_trigger_test.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
  x/perpetual/keeper/query_close_estimation.go
Due: perpetual_transactions, perpetual_queries

convert
  x/perpetual/keeper/estimate_and_repay.go
Due: none

updating read me
  readme.md
Due: none

fix perp and taker fees during close
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/repay.go
Due: none

add maxTotalFees to limit total fees to max limit
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

remove
  x/perpetual/keeper/query_close_estimation.go
Due: perpetual_queries

fix
  x/perpetual/keeper/mtp_trigger.go
Due: none

logging for test
  x/leveragelp/keeper/begin_blocker.go
Due: leveragelp_lifecycle

logging for test
  app/setup_handlers.go
Due: none

removing gate
  app/oracle.go
Due: none

chore: fix some function names in comment
  x/amm/keeper/route_exact_amount_out.go
  x/amm/types/new_balancer_pool.go
  x/amm/types/pool_exit_pool.go
Due: none

calculate net pnl and add pnl attributes in close events
  x/perpetual/keeper/close.go
  x/perpetual/keeper/close_position.go
  x/perpetual/keeper/estimate_and_repay.go
  x/perpetual/keeper/events.go
  x/perpetual/keeper/msg_server_add_collateral.go
  x/perpetual/keeper/msg_server_update_stop_loss.go
  x/perpetual/keeper/msg_server_update_take_profit_price.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/process_mtp.go
Due: perpetual_transactions

chore: fix some function names in comment (#1372)
  x/amm/keeper/route_exact_amount_out.go
  x/amm/types/new_balancer_pool.go
  x/amm/types/pool_exit_pool.go
Due: none

add borrow interest paid in close event
  x/perpetual/keeper/close.go
  x/perpetual/keeper/events.go
Due: none

patch for v6.4 (#1367)
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/setup_handlers.go
  readme.md
  x/amm/types/mocks/oracle_keeper.go
Due: none

fix
  x/amm/types/mocks/oracle_keeper.go
Due: none
