Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leverage_lp_transactions, leverage_lp_lifecycle, leveragelp_keeper, accountedpool_transactions, accountedpool_lifecycle, accountedpool_keeper, amm_transactions, amm_lifecycle, amm_keeper, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, burner_transactions, burner_lifecycle, burner_keeper, clock_transactions, clock_lifecycle, clock_keeper, commitment_transactions, commitment_lifecycle, commitment_keeper, epochs_transactions, epochs_lifecycle, epochs_keeper, estaking_transactions, estaking_lifecycle, estaking_keeper, incentive_transactions, incentive_lifecycle, incentive_keeper, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, oracle_transactions, oracle_lifecycle, oracle_keeper, parameter_transactions, parameter_lifecycle, parameter_keeper, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, tier_transactions, tier_lifecycle, tier_keeper, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, transferhook_transactions, transferhook_lifecycle, transferhook_keeper

review updates
  x/amm/keeper/abci.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/create_elys_multihop_expected_swap_outs.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/estimate_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/calc_in_amt_given_out.go
  x/amm/types/calc_out_amt_given_in.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: leveragelp_keeper, amm_lifecycle, amm_keeper, masterchef_lifecycle

update
  x/amm/keeper/pool.go
Due: none

more tests
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/migrations/v5_migration.go
  x/stablestake/migrations/v6_migration.go
Due: none

more
  x/stablestake/keeper/query_borrow_ratio_test.go
  x/stablestake/keeper/query_params_test.go
Due: none

update
  x/stablestake/keeper/query_borrow_ratio_test.go
Due: none

add
  x/stablestake/client/cli/query_borrow_ratio_test.go
  x/stablestake/client/cli/query_params_test.go
  x/stablestake/client/cli/suite_test.go
Due: none

[Amm]: Impact and weight field fixes (#910)
  .github/workflows/delete-branch-snapshot.yml
  .github/workflows/software-upgrade-test.yml
  x/amm/keeper/abci.go
  x/amm/keeper/calc_in_route_spot_price.go
  x/amm/keeper/calc_out_route_spot_price.go
  x/amm/keeper/create_elys_multihop_expected_swap_outs.go
  x/amm/keeper/create_multihop_expected_swap_outs.go
  x/amm/keeper/estimate_price.go
  x/amm/keeper/fee.go
  x/amm/keeper/keeper_join_pool_no_swap.go
  x/amm/keeper/keeper_swap_exact_amount_in.go
  x/amm/keeper/keeper_swap_exact_amount_out.go
  x/amm/keeper/msg_server_feed_multiple_external_liquidity.go
  x/amm/keeper/pool.go
  x/amm/keeper/query_join_pool_estimation.go
  x/amm/types/swap_in_amt_given_out.go
  x/amm/types/swap_out_amt_given_in.go
  x/leveragelp/keeper/keeper.go
  x/leveragelp/types/expected_keepers.go
  x/masterchef/keeper/abci.go
  x/masterchef/types/expected_keepers.go
  x/perpetual/keeper/estimate_swap.go
  x/perpetual/types/expected_keepers.go
Due: leveragelp_keeper, amm_transactions, amm_lifecycle, amm_keeper, masterchef_lifecycle

del
  x/stablestake/keeper/begin_blocker_test.go
Due: stablestake_lifecycle

add
  x/stablestake/keeper/interest_rate_test.go
Due: none

more
  x/stablestake/types/message_bond_test.go
  x/stablestake/types/message_unbond_test.go
  x/stablestake/types/message_update_params_test.go
Due: none

tests
  x/stablestake/types/errors.go
  x/stablestake/types/message_update_params.go
  x/stablestake/types/message_update_params_test.go
Due: none

improve keeper
  x/stablestake/keeper/keeper_test.go
Due: stablestake_keeper

fix fields
  x/tradeshield/keeper/msg_server_spot_order.go
Due: none

mig
  x/tradeshield/migrations/v5_migrator.go
  x/tradeshield/module.go
Due: none

[Tradeshield]: Fix missing fields (#912)
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/migrations/v5_migrator.go
  x/tradeshield/module.go
Due: none

test(estaking): test refactor
  testutil/keeper/estaking.go
  x/estaking/keeper/keeper_burn_edenB_test.go
  x/estaking/keeper/keeper_test.go
  x/estaking/keeper/msg_server_test.go
  x/estaking/keeper/params_test.go
  x/estaking/keeper/query_params_test.go
Due: estaking_transactions, estaking_keeper

[Stablestake]: E2E (#911)
  x/stablestake/client/cli/query_borrow_ratio_test.go
  x/stablestake/client/cli/query_params_test.go
  x/stablestake/client/cli/suite_test.go
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/debt.go
  x/stablestake/keeper/debt_test.go
  x/stablestake/keeper/interest_rate_test.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_update_params_test.go
  x/stablestake/keeper/query_borrow_ratio_test.go
  x/stablestake/keeper/query_params_test.go
  x/stablestake/migrations/v5_migration.go
  x/stablestake/migrations/v6_migration.go
  x/stablestake/types/errors.go
  x/stablestake/types/message_bond_test.go
  x/stablestake/types/message_unbond_test.go
  x/stablestake/types/message_update_params.go
  x/stablestake/types/message_update_params_test.go
Due: stablestake_transactions, stablestake_lifecycle, stablestake_keeper

test(estaking): fix test cases
  x/estaking/keeper/keeper_burn_edenB_test.go
Due: estaking_keeper

test(estaking): test code improvement
  x/estaking/keeper/keeper_burn_edenB_test.go
  x/estaking/keeper/keeper_test.go
Due: estaking_keeper

test(estaking): minor
  x/estaking/keeper/keeper_test.go
Due: estaking_keeper

new query to get users pool data
  docs/static/openapi.yml
  proto/elys/tier/query.proto
  proto/elys/tier/userdata.proto
  x/commitment/keeper/commitments.go
  x/commitment/types/keys.go
  x/tier/client/cli/query.go
  x/tier/client/cli/query_get_users_pool_data.go
  x/tier/keeper/query_get_users_pool_data.go
  x/tier/types/expected_keepers.go
  x/tier/types/query.pb.go
  x/tier/types/query.pb.gw.go
  x/tier/types/userdata.pb.go
Due: none

Avkr003/short fixes (#909)
  x/perpetual/keeper/open.go
  x/perpetual/types/keys.go
Due: none

perpetual was added codecov
  codecov.yml
Due: none

fixing unit test cases
  x/stablestake/client/cli/query_borrow_ratio_test.go
  x/stablestake/client/cli/query_params_test.go
  x/stablestake/client/cli/suite_test.go
  x/stablestake/keeper/begin_blocker_test.go
  x/stablestake/keeper/keeper_test.go
  x/stablestake/keeper/msg_server_update_params_test.go
  x/stablestake/keeper/query_borrow_ratio_test.go
Due: stablestake_transactions, stablestake_lifecycle, stablestake_keeper

test(perpetual): improve code coverage (#907)
  codecov.yml
  x/perpetual/keeper/begin_blocker_test.go
  x/perpetual/keeper/calc_min_collateral_test.go
  x/perpetual/keeper/close_test.go
  x/perpetual/keeper/force_close_short_test.go
  x/perpetual/keeper/get_epoch_position_test.go
  x/perpetual/keeper/hooks_amm_test.go
  x/perpetual/keeper/keeper_test.go
  x/perpetual/keeper/msg_server_broker_close_test.go
  x/perpetual/keeper/msg_server_broker_open_test.go
  x/perpetual/keeper/msg_server_close_positions_test.go
  x/perpetual/keeper/msg_server_close_test.go
  x/perpetual/keeper/msg_server_dewhitelist_test.go
  x/perpetual/keeper/msg_server_open_test.go
  x/perpetual/keeper/msg_server_update_params_test.go
  x/perpetual/keeper/msg_server_update_stop_loss_test.go
  x/perpetual/keeper/msg_server_update_take_profit_price_test.go
  x/perpetual/keeper/msg_server_whitelist_test.go
  x/perpetual/keeper/open_consolidate.go
  x/perpetual/keeper/open_consolidate_test.go
  x/perpetual/keeper/open_test.go
  x/perpetual/keeper/query_close_estimation_test.go
  x/perpetual/keeper/query_get_all_to_pay_test.go
  x/perpetual/keeper/query_get_positions_by_pool_test.go
  x/perpetual/keeper/query_get_positions_for_address_test.go
  x/perpetual/keeper/query_get_positions_test.go
  x/perpetual/keeper/query_get_status_test.go
  x/perpetual/keeper/query_get_whitelist_test.go
  x/perpetual/keeper/query_is_whitelisted_test.go
  x/perpetual/keeper/query_mtp_test.go
  x/perpetual/keeper/reset_store_test.go
  x/perpetual/types/calc_mtp_take_profit_custody_test.go
  x/perpetual/types/calc_take_amount_test.go
Due: none

disable close perp, fix event for cancel
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/types/events.go
Due: none

remove
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/migrations/v5_migrator.go
Due: none

handle edge
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/types/expected_keepers.go
Due: none

disable
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none

edge case
  x/tradeshield/keeper/msg_server_perpetual_order.go
Due: none

mock
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: none

fix
  x/tradeshield/keeper/pending_perpetual_order.go
Due: none

[Tradeshield]: Disable close orders, test open orders (#915)
  x/tradeshield/keeper/msg_server_execute_orders.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order.go
  x/tradeshield/keeper/pending_perpetual_order_test.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/keeper/pending_spot_order_test.go
  x/tradeshield/migrations/v5_migrator.go
  x/tradeshield/types/events.go
  x/tradeshield/types/expected_keepers.go
  x/tradeshield/types/mocks/perpetual_keeper.go
Due: none

fix(amm): fund treasury balance with half weight breaking fee prior to sending from treasury addr to recipient
  x/amm/keeper/update_pool_for_swap.go
Due: none

review changes
  x/perpetual/keeper/check_same_asset_position.go
  x/tradeshield/keeper/msg_server_perpetual_order.go
  x/tradeshield/keeper/msg_server_spot_order.go
  x/tradeshield/keeper/pending_spot_order.go
  x/tradeshield/types/codec.go
Due: none

Path conditions:
  leverage_lp_transactions: any of: x/leveragelp/**/msg_server*
  leverage_lp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*
  accountedpool_keeper: any of: x/accountedpool/**/keeper*
  amm_transactions: any of: x/amm/**/msg_server*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*
  amm_keeper: any of: x/amm/**/keeper*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*
  burner_transactions: any of: x/burner/**/msg_server*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*
  burner_keeper: any of: x/burner/**/keeper*
  clock_transactions: any of: x/clock/**/msg_server*
  clock_lifecycle: any of: x/clock/**/abci*, x/clock/**/*blocker*
  clock_keeper: any of: x/clock/**/keeper*
  commitment_transactions: any of: x/commitment/**/msg_server*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*
  commitment_keeper: any of: x/commitment/**/keeper*
  epochs_transactions: any of: x/epochs/**/msg_server*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*
  epochs_keeper: any of: x/epochs/**/keeper*
  estaking_transactions: any of: x/estaking/**/msg_server*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*
  estaking_keeper: any of: x/estaking/**/keeper*
  incentive_transactions: any of: x/incentive/**/msg_server*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*
  incentive_keeper: any of: x/incentive/**/keeper*
  masterchef_transactions: any of: x/masterchef/**/msg_server*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*
  masterchef_keeper: any of: x/masterchef/**/keeper*
  oracle_transactions: any of: x/oracle/**/msg_server*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*
  oracle_keeper: any of: x/oracle/**/keeper*
  parameter_transactions: any of: x/parameter/**/msg_server*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*
  parameter_keeper: any of: x/parameter/**/keeper*
  stablestake_transactions: any of: x/stablestake/**/msg_server*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*
  stablestake_keeper: any of: x/stablestake/**/keeper*
  tier_transactions: any of: x/tier/**/msg_server*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*
  tier_keeper: any of: x/tier/**/keeper*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*
  transferhook_transactions: any of: x/transferhook/**/msg_server*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*
  transferhook_keeper: any of: x/transferhook/**/keeper*
