Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

vote
  .github/workflows/vote.yml
Due: none

adding docker cleaner
  .github/workflows/create-release.yml
Due: none

adding manual trigger
  .github/workflows/create-release.yml
Due: none

chore: fix some minor issues in the comments
  utils/pow_approx.go
  x/commitment/keeper/keeper.go
  x/commitment/types/types_cw.pb.go
Due: commitment_keeper

refactor: omit unnecessary reassignment
  x/epochs/types/genesis_test.go
  x/vaults/client/cli/tx_test.go
Due: none

modifying adl mechanism
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/adl_test.go
  x/leveragelp/keeper/end_blocker.go
  x/leveragelp/keeper/msg_server_open.go
Due: leveragelp_transactions, leveragelp_lifecycle

cleaning for releaser
  .github/workflows/create-release.yml
Due: none

release refactor
  .github/workflows/create-release.yml
Due: none

auto close modifications
  x/leveragelp/keeper/adl.go
Due: none

auto close modifications
  x/leveragelp/keeper/adl.go
  x/leveragelp/keeper/end_blocker.go
Due: leveragelp_lifecycle

fixing upgrade handler
  app/setup_handlers.go
Due: none

fixing amm balances
  x/amm/migrations/v14_migration.go
  x/amm/module.go
Due: none

preventing opening new perps position
  x/perpetual/keeper/msg_server_open.go
Due: perpetual_transactions

fixing perp close bug
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

fixing perps
  x/perpetual/keeper/keeper.go
  x/perpetual/keeper/repay.go
Due: perpetual_keeper

update read me
  readme.md
Due: none

update rebalancer transfer
  x/amm/migrations/v14_migration.go
Due: none

fixing module version
  x/amm/module.go
Due: none

update
  app/setup_handlers_test.go
Due: none

adding for removal of stablestake bonds
  x/commitment/keeper/commitments.go
  x/stablestake/keeper/end_blocker.go
  x/stablestake/keeper/keeper.go
  x/stablestake/migrations/v10_migration.go
  x/stablestake/module.go
  x/stablestake/types/keys.go
Due: stablestake_lifecycle, stablestake_keeper

adding for removal of lp
  x/amm/keeper/abci.go
  x/amm/keeper/keeper.go
  x/amm/types/keys.go
Due: amm_lifecycle, amm_keeper

bumping cosmos version
  go.mod
  go.sum
  x/leveragelp/keeper/adl.go
  x/stablestake/module.go
Due: none

bumping cosmos version
  go.mod
Due: none

bumping cosmos version
  .github/workflows/create-release.yml
  go.sum
Due: none

bumping cosmos version
  go.mod
  go.sum
Due: none

matching cometbft version
  .github/workflows/create-release.yml
Due: none

remove redundant update handler code
  app/setup_handlers.go
  x/amm/keeper/abci.go
Due: amm_lifecycle

setting max count
  x/amm/keeper/abci.go
  x/stablestake/keeper/end_blocker.go
Due: amm_lifecycle, stablestake_lifecycle

fixing probable panic handling and max gas per block for faster close
  app/setup_handlers.go
  x/amm/keeper/abci.go
  x/stablestake/keeper/end_blocker.go
Due: amm_lifecycle, stablestake_lifecycle

preventing join pool
  x/amm/keeper/msg_server_join_pool.go
Due: amm_transactions

migration
  api/elys/amm/query.pulsar.go
  api/elys/amm/query_grpc.pb.go
  api/elys/amm/types.pulsar.go
  app/setup_handlers.go
  go.mod
  go.sum
  proto/elys/amm/query.proto
  proto/elys/amm/types.proto
  x/amm/autocli.go
  x/amm/keeper/abci.go
  x/amm/keeper/keeper.go
  x/amm/keeper/query.go
  x/amm/keeper/walletTransfer.go
  x/amm/migrations/v15_migration.go
  x/amm/module.go
  x/amm/types/expected_keepers.go
  x/amm/types/keys.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
  x/amm/types/types.pb.go
Due: amm_lifecycle, amm_keeper, amm_queries

migration
  x/amm/autocli.go
Due: none

migration
  x/amm/keeper/walletTransfer.go
Due: none

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*
