Repository elys-network/elys: changes, and which Codecov flags are due for each by the changed paths.
All: leveragelp_transactions, leveragelp_lifecycle, leveragelp_keeper, leveragelp_queries, accountedpool_transactions, accountedpool_lifecycle, accountedpool_queries, amm_transactions, amm_lifecycle, amm_keeper, amm_queries, assetprofile_transactions, assetprofile_lifecycle, assetprofile_keeper, assetprofile_queries, burner_transactions, burner_lifecycle, burner_keeper, burner_queries, commitment_transactions, commitment_lifecycle, commitment_keeper, commitment_queries, epochs_transactions, epochs_lifecycle, epochs_keeper, epochs_queries, estaking_transactions, estaking_lifecycle, estaking_keeper, estaking_queries, incentive_transactions, incentive_lifecycle, incentive_keeper, incentive_queries, masterchef_transactions, masterchef_lifecycle, masterchef_keeper, masterchef_queries, oracle_transactions, oracle_lifecycle, oracle_keeper, oracle_queries, parameter_transactions, parameter_lifecycle, parameter_keeper, parameter_queries, stablestake_transactions, stablestake_lifecycle, stablestake_keeper, stablestake_queries, perpetual_transactions, perpetual_lifecycle, perpetual_keeper, perpetual_queries, tier_transactions, tier_lifecycle, tier_keeper, tier_queries, tokenomics_transactions, tokenomics_lifecycle, tokenomics_keeper, tokenomics_queries, transferhook_transactions, transferhook_lifecycle, transferhook_keeper, transferhook_queries, tradeshield_transactions, tradeshield_lifecycle, tradeshield_keeper, tradeshield_queries

Path conditions:
  leveragelp_transactions: any of: x/leveragelp/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_lifecycle: any of: x/leveragelp/**/abci*, x/leveragelp/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_keeper: any of: x/leveragelp/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  leveragelp_queries: any of: x/leveragelp/**/*query*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_transactions: any of: x/accountedpool/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_lifecycle: any of: x/accountedpool/**/abci*, x/accountedpool/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  accountedpool_queries: any of: x/accountedpool/**/*query*, but not: **/*.pb*, **/*.pulsar*
  amm_transactions: any of: x/amm/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  amm_lifecycle: any of: x/amm/**/abci*, x/amm/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  amm_keeper: any of: x/amm/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  amm_queries: any of: x/amm/**/*query*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_transactions: any of: x/assetprofile/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_lifecycle: any of: x/assetprofile/**/abci*, x/assetprofile/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_keeper: any of: x/assetprofile/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  assetprofile_queries: any of: x/assetprofile/**/*query*, but not: **/*.pb*, **/*.pulsar*
  burner_transactions: any of: x/burner/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  burner_lifecycle: any of: x/burner/**/abci*, x/burner/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  burner_keeper: any of: x/burner/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  burner_queries: any of: x/burner/**/*query*, but not: **/*.pb*, **/*.pulsar*
  commitment_transactions: any of: x/commitment/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  commitment_lifecycle: any of: x/commitment/**/abci*, x/commitment/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  commitment_keeper: any of: x/commitment/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  commitment_queries: any of: x/commitment/**/*query*, but not: **/*.pb*, **/*.pulsar*
  epochs_transactions: any of: x/epochs/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  epochs_lifecycle: any of: x/epochs/**/abci*, x/epochs/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  epochs_keeper: any of: x/epochs/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  epochs_queries: any of: x/epochs/**/*query*, but not: **/*.pb*, **/*.pulsar*
  estaking_transactions: any of: x/estaking/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  estaking_lifecycle: any of: x/estaking/**/abci*, x/estaking/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  estaking_keeper: any of: x/estaking/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  estaking_queries: any of: x/estaking/**/*query*, but not: **/*.pb*, **/*.pulsar*
  incentive_transactions: any of: x/incentive/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  incentive_lifecycle: any of: x/incentive/**/abci*, x/incentive/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  incentive_keeper: any of: x/incentive/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  incentive_queries: any of: x/incentive/**/*query*, but not: **/*.pb*, **/*.pulsar*
  masterchef_transactions: any of: x/masterchef/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  masterchef_lifecycle: any of: x/masterchef/**/abci*, x/masterchef/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  masterchef_keeper: any of: x/masterchef/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  masterchef_queries: any of: x/masterchef/**/*query*, but not: **/*.pb*, **/*.pulsar*
  oracle_transactions: any of: x/oracle/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  oracle_lifecycle: any of: x/oracle/**/abci*, x/oracle/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  oracle_keeper: any of: x/oracle/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  oracle_queries: any of: x/oracle/**/*query*, but not: **/*.pb*, **/*.pulsar*
  parameter_transactions: any of: x/parameter/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  parameter_lifecycle: any of: x/parameter/**/abci*, x/parameter/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  parameter_keeper: any of: x/parameter/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  parameter_queries: any of: x/parameter/**/*query*, but not: **/*.pb*, **/*.pulsar*
  stablestake_transactions: any of: x/stablestake/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  stablestake_lifecycle: any of: x/stablestake/**/abci*, x/stablestake/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  stablestake_keeper: any of: x/stablestake/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  stablestake_queries: any of: x/stablestake/**/*query*, but not: **/*.pb*, **/*.pulsar*
  perpetual_transactions: any of: x/perpetual/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  perpetual_lifecycle: any of: x/perpetual/**/abci*, x/perpetual/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  perpetual_keeper: any of: x/perpetual/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  perpetual_queries: any of: x/perpetual/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tier_transactions: any of: x/tier/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tier_lifecycle: any of: x/tier/**/abci*, x/tier/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tier_keeper: any of: x/tier/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tier_queries: any of: x/tier/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_transactions: any of: x/tokenomics/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_lifecycle: any of: x/tokenomics/**/abci*, x/tokenomics/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_keeper: any of: x/tokenomics/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tokenomics_queries: any of: x/tokenomics/**/*query*, but not: **/*.pb*, **/*.pulsar*
  transferhook_transactions: any of: x/transferhook/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  transferhook_lifecycle: any of: x/transferhook/**/abci*, x/transferhook/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  transferhook_keeper: any of: x/transferhook/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  transferhook_queries: any of: x/transferhook/**/*query*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_transactions: any of: x/tradeshield/**/msg_server*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_lifecycle: any of: x/tradeshield/**/abci*, x/tradeshield/**/*blocker*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_keeper: any of: x/tradeshield/**/keeper*, but not: **/*.pb*, **/*.pulsar*
  tradeshield_queries: any of: x/tradeshield/**/*query*, but not: **/*.pb*, **/*.pulsar*

Support expedited voting period in CI deployment workflow (#1063)
  .github/workflows/mainnet-deploy.yml
  .github/workflows/release-and-testnet-deploy.yml
  cmd/elysd/cmd/upgrade.go
Due: none

Implement stable stake hooks for leverage pools and enhance unbonding checks
  app/keepers/keepers.go
  x/leveragelp/keeper/hooks_stablestake.go
  x/leveragelp/keeper/msg_server_open_test.go
  x/leveragelp/keeper/utils.go
  x/leveragelp/types/errors.go
  x/stablestake/keeper/msg_server_unbond.go
  x/stablestake/types/expected_keepers.go
Due: leveragelp_transactions, stablestake_transactions

fix(commitment): add missing msgs to codec
  x/commitment/types/codec.go
Due: none

chore(commitment): add missing genesis fields
  api/elys/commitment/genesis.pulsar.go
  proto/elys/commitment/genesis.proto
  x/commitment/genesis.go
  x/commitment/types/genesis.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
Due: none

fix(commitment): add missing msgs to codec (#1066)
  api/elys/commitment/genesis.pulsar.go
  proto/elys/commitment/genesis.proto
  x/commitment/genesis.go
  x/commitment/types/codec.go
  x/commitment/types/genesis.pb.go
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
Due: none

Update readme.md
  readme.md
Due: none

fix(oracle): increase lifetime in blocks value to avoid price expiration during chain setup
  app/app.go
Due: none

fixing amino signing for MsgClaimKol
  api/elys/commitment/tx.pulsar.go
  proto/elys/commitment/tx.proto
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
Due: none

updating version
  app/setup_handlers.go
Due: none

fixing amino signing for MsgClaimKol (#1067)
  api/elys/commitment/tx.pulsar.go
  app/setup_handlers.go
  proto/elys/commitment/tx.proto
  x/commitment/types/query.pb.go
  x/commitment/types/tx.pb.go
Due: none

ci: use correct keyring backend deployment
  .github/workflows/mainnet-deploy.yml
  .github/workflows/release-and-testnet-deploy.yml
Due: none

ci: use correct keyring backend deployment (#1068)
  .github/workflows/mainnet-deploy.yml
  .github/workflows/release-and-testnet-deploy.yml
Due: none

fix(oracle): set expired price data
  app/app.go
Due: none

fix(tier): refactor get amm price query response to work with grpc
  api/elys/tier/query.pulsar.go
  proto/elys/tier/query.proto
  x/tier/keeper/query_get_amm_price.go
  x/tier/types/query.pb.go
Due: tier_queries

chore: fix some typos and function names in comment
  x/amm/types/pool.go
  x/amm/types/utils.go
  x/burner/spec/02_state.md
  x/commitment/keeper/msg_server_vest.go
  x/epochs/spec/05_hooks.md
  x/estaking/modules/distribution/module.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/transferhook/module_ibc.go
Due: commitment_transactions, tradeshield_transactions

add all prices query
  api/elys/tier/query.pulsar.go
  api/elys/tier/query_grpc.pb.go
  proto/elys/tier/query.proto
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/expected_keepers.go
  x/tier/types/query.pb.go
  x/tier/types/query.pb.gw.go
Due: tier_queries

add cli
  x/tier/client/cli/query.go
  x/tier/client/cli/query_get_all_prices.go
Due: tier_queries

fix
  x/tier/keeper/query_get_consolidated_price.go
Due: tier_queries

increase test coverage
  x/assetprofile/keeper/entry_test.go
  x/assetprofile/keeper/query_entry_test.go
  x/assetprofile/keeper/query_params_test.go
  x/commitment/keeper/commit_liquid_tokens_test.go
  x/commitment/keeper/commitments_test.go
  x/commitment/keeper/msg_server_commit_claimed_rewards_test.go
  x/commitment/keeper/msg_server_stake_test.go
  x/commitment/keeper/msg_server_unstake_test.go
  x/commitment/keeper/query_airdrop_test.go
  x/leveragelp/keeper/hooks_amm_test.go
  x/leveragelp/keeper/msg_server_add_pool_test.go
  x/leveragelp/keeper/msg_server_close_test.go
  x/leveragelp/keeper/msg_server_remove_pool_test.go
  x/leveragelp/keeper/position_test.go
  x/leveragelp/keeper/query_committed_tokens_locked_test.go
  x/leveragelp/keeper/query_estimation_test.go
  x/leveragelp/keeper/query_get_position_test.go
Due: leveragelp_transactions, leveragelp_queries, assetprofile_queries, commitment_transactions, commitment_queries

remove unused code
  x/leveragelp/keeper/add_collateral.go
Due: none

Create a new endpoint on chain that return list of latest asset prices (#1071)
  api/elys/tier/query.pulsar.go
  api/elys/tier/query_grpc.pb.go
  proto/elys/tier/query.proto
  x/tier/client/cli/query.go
  x/tier/client/cli/query_get_all_prices.go
  x/tier/keeper/query_get_consolidated_price.go
  x/tier/types/expected_keepers.go
  x/tier/types/query.pb.go
  x/tier/types/query.pb.gw.go
Due: tier_queries

chore: fix some typos and function names in comment (#1070)
  x/amm/types/pool.go
  x/amm/types/utils.go
  x/burner/spec/02_state.md
  x/commitment/keeper/msg_server_vest.go
  x/epochs/spec/05_hooks.md
  x/estaking/modules/distribution/module.go
  x/tradeshield/keeper/msg_server_perpetual_order_test.go
  x/transferhook/module_ibc.go
Due: commitment_transactions, tradeshield_transactions

fix(tier): grpc codec issue with decimal field in response message
  api/elys/tier/query.pulsar.go
  proto/elys/tier/query.proto
  x/tier/keeper/query_get_amm_price.go
  x/tier/types/query.pb.go
Due: tier_queries

fix(tier): grpc codec issue with decimal field in response message (#1072)
  api/elys/tier/query.pulsar.go
  proto/elys/tier/query.proto
  x/tier/keeper/query_get_amm_price.go
  x/tier/types/query.pb.go
Due: tier_queries

chore: update version
  app/setup_handlers.go
Due: none

chore: update version (#1073)
  app/setup_handlers.go
Due: none

ci: update mainnet deploy workflows
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/mainnet-deploy-48h.yml
Due: none

ci: update mainnet deploy workflows (#1074)
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/mainnet-deploy-48h.yml
Due: none

ci: update buffer time for deployment workflows
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/mainnet-deploy-48h.yml
Due: none

add autoCli for accountedpool
  x/accountedpool/autocli.go
  x/accountedpool/client/cli/query.go
  x/accountedpool/client/cli/query_accounted_pool.go
  x/accountedpool/client/cli/query_accounted_pool_test.go
  x/accountedpool/module.go
Due: accountedpool_queries

add autoCli query for amm
  x/amm/autocli.go
  x/amm/module.go
Due: none

remove amm query code
  x/amm/autocli.go
  x/amm/client/cli/query.go
  x/amm/client/cli/query_balance.go
  x/amm/client/cli/query_denom_liquidity.go
  x/amm/client/cli/query_denom_liquidity_test.go
  x/amm/client/cli/query_exit_pool_estimation.go
  x/amm/client/cli/query_in_route_by_denom.go
  x/amm/client/cli/query_join_pool_estimation.go
  x/amm/client/cli/query_out_route_by_denom.go
  x/amm/client/cli/query_params.go
  x/amm/client/cli/query_pool.go
  x/amm/client/cli/query_pool_test.go
  x/amm/client/cli/query_swap_estimation.go
  x/amm/client/cli/query_swap_estimation_by_denom.go
  x/amm/client/cli/query_tracked_slippage.go
Due: amm_queries

add autocli query for burner module
  x/burner/autocli.go
Due: none

add autocli query for commitment module
  x/commitment/autocli.go
Due: none

add autocli query for burner, commitment and epoch module
  x/burner/client/cli/query.go
  x/burner/client/cli/query_history.go
  x/burner/client/cli/query_history_test.go
  x/burner/client/cli/query_params.go
  x/burner/module.go
  x/commitment/client/cli/query.go
  x/commitment/client/cli/query_airdrop.go
  x/commitment/client/cli/query_airdrop_test.go
  x/commitment/client/cli/query_commitment_vesting_info.go
  x/commitment/client/cli/query_kol.go
  x/commitment/client/cli/query_params.go
  x/commitment/client/cli/query_show_commitments.go
  x/commitment/client/cli/query_total_airdrop_claimed.go
  x/commitment/module.go
  x/epochs/autocli.go
  x/epochs/client/cli/query.go
  x/epochs/module.go
Due: burner_queries, commitment_queries, epochs_queries

add autocli query for estaking module
  x/estaking/autocli.go
  x/estaking/module.go
Due: none

add autocli query for leveragelp module
  x/estaking/client/cli/query.go
  x/leveragelp/autocli.go
  x/leveragelp/client/cli/query.go
  x/leveragelp/client/cli/query_close_estimation.go
  x/leveragelp/client/cli/query_committed_tokens_locked.go
  x/leveragelp/client/cli/query_get_positions.go
  x/leveragelp/client/cli/query_get_positions_by_pool.go
  x/leveragelp/client/cli/query_get_positions_for_address.go
  x/leveragelp/client/cli/query_get_status.go
  x/leveragelp/client/cli/query_get_whitelist.go
  x/leveragelp/client/cli/query_is_whitelisted.go
  x/leveragelp/client/cli/query_liquidation_price.go
  x/leveragelp/client/cli/query_open_estimation.go
  x/leveragelp/client/cli/query_params.go
  x/leveragelp/client/cli/query_pool.go
  x/leveragelp/client/cli/query_position.go
  x/leveragelp/client/cli/query_rewards.go
  x/leveragelp/module.go
Due: leveragelp_queries, estaking_queries

ci: update buffer time for deployment workflows (#1075)
  .github/workflows/mainnet-deploy-2h.yml
  .github/workflows/mainnet-deploy-48h.yml
Due: none
